/* 타이틀 영역 */
.title-area .title {
    background: url('assets/images/payment/ic_point_payment_color_40.png') left center no-repeat;
}
/* 토스트 팝업 */
.copy-toast-popup {
    /* display: none; */
    position: fixed;
    left: 50%;
    bottom: 80px;
    transform: translate(-50%, 10px);
    /* margin-left: -120px; */
    color: #fff;
    font-size: 18px;
    background: #3e4259;
    border-radius: 8px;
    padding: 16px 60px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 999999;
}
.copy-toast-popup.active {
    /* display: block; */
    /* animation: toast-ani 1.7s 1 ease; */
    opacity: 0.9;
    visibility: visible;
    transform: translate(-50%, 0);
}

/* ===========================================*/
/* =========================================== */
/* 구매 완료 */
.purchase-complete {
    width: 1240px;
    padding-top: 136px;
    text-align: center;
}
.purchase-complete strong {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #04021f;
    margin-top: 16px;
}
.purchase-complete p {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    color: #3e4259;
    line-height: 1.45;
    margin-top: 25px;
}
.purchase-complete p span {
    font-weight: bold;
    color: #e6458e;
}
.purchase-complete-box {
    width: 912px;
    background: #f2f2fc;
    border-radius: 24px;
    margin: 90px auto 112px;
    padding: 35px 231px;
}
.purchase-complete-box ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.purchase-complete-box ul li:last-child {
    margin-bottom: 0;
}
.purchase-complete-box ul li span {
    font-size: 18px;
    font-weight: normal;
    color: #3e4259;
}
.purchase-complete-box ul li span.value {
    font-size: 20px;
    color: #04021f;
}
.purchase-complete-box ul li button {
    position: absolute;
    right: -127px;
    top: -2px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 14px;
    font-weight: bold;
    color: #e6458e;
    background: none;
    border-radius: 8px;
    border: 1px solid #e6458e;
    padding: 3px 16px;
}
.purchase-complete-box ul li button.copy-btn {
    border: 0;
    right: -52px;
    top: -4px;
}
.purchase-complete .check-btn {
    width: 270px;
    height: 54px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 54px;
    border-radius: 16px;
    background: #e6458e;
}

/* ================================================================================= */
/* Mobile CSS */
/* 포인트 충전 구매 완료 */
.mobile .keyword-purchase-completed-area {
    padding: 0 2.4rem;
    margin-top: 5.6rem;
    text-align: center;
}
.mobile .keyword-purchase-completed-area .completion-phrase {
    font-size: 1.6rem;
    font-weight: bold;
    color: #04021f;
    margin-top: 0.4rem;
}
.mobile .keyword-purchase-completed-area .pay-information {
    font-size: 1.6rem;
    font-weight: normal;
    color: #3e4259;
    line-height: 1.41;
    margin-top: 2.4rem;
}
.mobile .keyword-purchase-completed-area .pay-information span {
    color: #e6458e;
    font-weight: bold;
}
.mobile .keyword-purchase-completed-box {
    background: #f2f2fc;
    border-radius: 16px;
    padding: 2.4rem 1.6rem;
    margin: 3.2rem 0 4.0rem;
}
.mobile .keyword-purchase-completed-box ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 1.1rem;
}
.mobile .keyword-purchase-completed-box ul li:last-child {
    margin-bottom: 0;
}
.mobile .keyword-purchase-completed-box ul li > span {
    color: #3e4259;
}
.mobile .keyword-purchase-completed-box ul li > b {
    color: #04021f;
    font-weight: normal;
}
.mobile .keyword-purchase-completed-box ul li > b input[type='text'] {
    border: none;
    background: inherit;
    width: 19rem;
}
.mobile .keyword-purchase-completed-box ul li .copy-btn {
    width: 1.6rem;
    height: 1.6rem;
    background: none;
    padding: 0;
    margin-left: 0.8rem;
}
.mobile .keyword-purchase-completed-box ul li .copy-btn img {
    width: 100%;
    height: auto;
}
.mobile .keyword-purchase-completed-box ul li:nth-child(2) b {
    display: flex;
    align-items: center;
}
.mobile .keyword-purchase-completed-area .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile .keyword-purchase-completed-area .btn-wrap button {
    width: 14.8rem;
    height: 4.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 4.0rem;
    text-align: center;
    border-radius: 8px;
}
.mobile .keyword-purchase-completed-area .btn-wrap button.using-product-btn {
    color: #e6458e;
    background: #f7f7fc;
    border: 1px solid #e6458e;
}
.mobile .keyword-purchase-completed-area .btn-wrap button.confirm-btn {
    color: #fff;
    background: #e6458e;
    margin-left: 2.2rem;
}