.gnbWrap {
	width: 100%;
	height: 40px;
	margin-top: 20px;
    margin-bottom: 8px;
}
.gnb li {
	float: left;
	display: block;
}
.gnb li a {
	display: block;
	height: 40px;
	padding: 0 22px 0 22px;
	font-family: 'TVING';
	font-weight: 700;
	font-size: 16px;
	color: #1e1e1e;
	line-height: 44px;
}
.gnb li:first-child a {
	padding: 0 22px 0 0px;
}

.gnb li a:hover, .gnb li.active a {
	color: #179cef;
}
.gnb span {
	float: left;
	display: block;
	width: 10px;
	margin-right: 22px;
	margin-left: 22px;
	opacity: 0.3;
	font-family: 'TVING';
	font-weight: 400;
	font-size: 16px;
	color: #1e1e1e;
	line-height: 44px;
}
.gnb .section-menu li a {
	padding: 0 25px 0 25px;
	font-weight: 400;
}
.gnb .section-menu li:first-child a {
	padding: 0 25px 0 22px;
}

.gnb .section-menu li:last-child a {
	padding: 0 0px 0 22px;
}

.gnb .section-menu .last a {
	padding: 0 0 0 25px;
}
.gnb .section-menu li a img {
	vertical-align: middle;
}



/*



*/
/* 
.top-menu-wrap{
    position: relative;
}
ul {
    padding: 8px 0 13px;
    margin-bottom: 0;
    width: 1240px;
    margin: 0 auto;
 
}
.top-menu li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding-right: 52px;
    font-size: 17px;
    color: #212121;
    position: relative;
}
.main-menu {
    padding-right: 58px !important; 
}

.top-menu .menu-last {
    padding-right: 0 !important; 
}


.top-menu li.menu-item1 {
    color: #ea003d; 
}
.top-menu li.first{
}
.top-menu li:last-child{
    padding-right: 0;
    right:-5px;
}
.top-menu .menu-item1 {
    color: #ea003d;
}
.top-menu li:hover{
    color: #ea003d;
}
.display-img{
    display: none;
}
.display-img.active{
    display: inline-block;
    position: absolute;
    bottom: -25px;
    z-index: 999;
    left: 30px;
}

.top-menu .menu-item4 .myct{
    width:100%;
}
.menu-slice {
    padding: 0 30px;
    font-size: 17px;
    color: #929292;
}
.menu-sec-section {
    padding: 0;
    display: inline-block;
    width: auto;
}


 */
