
/* 박스 스타일 */
.box {
    background: #fafbff;
    padding: 32px 40px 48px;
    border-radius: 24px;
    box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
}
.box .box-header {
    margin-bottom: 39px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.41;
}

.box .box-header.box-icon img {
    vertical-align: middle;
    margin-top: -4px;
    margin-left: -8px;
}

/* 결과 테이블 */

.lately-search {
    height: 710px;
}

.lately-search .record-table table {
    border-collapse: collapse;
}

.lately-search .record-table th {
    font-weight: 500;
    color: #3e4259;
    text-align: center;
    line-height: 1.44;
    padding: 17px 0 16px;
    border-bottom: 1px solid #dcdee8;
}

.lately-search .record-table th:nth-child(1),
.lately-search .record-table th:nth-child(2) {
    width: 214px;
    text-align: left;
    padding-left:24px;
}

.lately-search .record-table th:nth-child(3) {
    width: 154px;
}

.lately-search .record-table th:nth-child(4) {
    width: 90px;
}

.lately-search .record-table td {
    font-size: 18px;
    line-height: 1.22;
    color: #3e4259;
    padding: 17px 0;
    padding-left: 24px;
    box-sizing: border-box;
}

.lately-search .record-table td:nth-child(1) > div {
    width: 166px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lately-search .record-table td:nth-child(2) {
    font-weight: bold;
    color: #3f37c9;
    cursor: pointer;
}

.lately-search .record-table td:nth-child(3) {
    text-align: center;
    padding: 17px 0;
}

.lately-search .record-table td:nth-child(4) {
    padding: 8px 25px;
    cursor: pointer;
}

.lately-search .record-table td:last-child {
    position: relative;
}
.lately-search .record-table td:last-child img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

/* 검색 기록 empty */
.lately-search .record-empty {
    width: 100%;
    height: 504px;
    background: #f2f3fa;
}

.lately-search .record-empty p {
    font-size: 18px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    text-align: center;
    color: #b8b6c4;
    line-height: 1.44;
    padding: 90px 203px 0;
}
/* ==================================================================================== */
/* mobile */
/* 검색한 결과 영역 */
.mobile .search-history-area {
    padding: 0 2.4rem;
}
.mobile .search-history {
    padding: 2.0rem 1.6rem 0.2rem;
}
.mobile .search-history-area.null .search-history {
    border-radius: 24px;
    padding: 2.0rem 1.6rem 3.2rem;
} 
.mobile .search-history .search-history-title {
    font-size: 1.6rem;
    font-weight: 500;
    color: #04021f;
    margin-bottom: 2.3rem;
}
.mobile .search-history ul li {
    position: relative;
    margin-bottom: 2.2rem;
}
.mobile .search-history ul li .searching-keyword {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    color: #3e4259;
    margin-bottom: 0.6rem;
}
.mobile .search-history ul li .searching-keyword .search-product {
    display: inline-block;
    max-width: 15rem;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mobile .search-history ul li .searching-keyword .search-keyword {
    color: #3f37c9;
}
.mobile .search-history ul li p {
    font-size: 1.2rem;
    color: #3e4259;
}
.mobile .search-history ul li .delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
}
/* 검색 기록이 비어있을 때 */
.mobile .search-history.null .empty-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: #b8b6c4;
    line-height: 1.36;
    margin: 4.4rem 0 3.2rem;
    text-align: center;
}