<bo-page-header [imgUrl]="'assets/img/03-5-board-2(2).svg'" [title]="'관리자 관리'">
    <bo-page-button-config id = "id-board-create-btn-"
        [title] = "'관리자 등록'"
        [styleType] = "'square-m-white-btn'"
        (click)="createItem()"
        >
    </bo-page-button-config>
</bo-page-header>
<!-- <bo-page-padding></bo-page-padding> -->
<div class="list-section">

    <div class="manager-list">
        <!-- <bs-title-label-ctrl
            [formGroup]="bsForm"
            [title]="'관리자 리스트'">
        </bs-title-label-ctrl> -->

    <!-- 기존 있던 관리자 리스트 -->

    <div class="list-wrap-se list-wrap-se-space">
        
        <div style="margin: auto; max-width: 100%; margin-bottom: 50px;">
        <data-table #bsDatatable
            headerTitle="datatable"
            [header]="true"
            [items]="items"
            [itemCount]="itemCount"
            [indexColumn]="false"
            [selectColumn]="true"
            (reload)="reloadItems($event)"
            [sortBy] = "'manager_seq'"
            [sortAsc] = "false"
             >

            <!-- 선택삭제 버튼-->
            <bs-header-button-config id = "id-board-list-selected-btn"
                [title] = "'선택삭제'"
                [styleType] = "'square-s-greyborder-btn'"
                (click) = "deleteSelectedItem($event, 'manager_seq')">
            </bs-header-button-config>

            <data-table-column
                [property]="'manager_yn'"
                [header]="'관리자 구분'"
                [sortable]="true">
                <ng-template #dataTableCell let-item="item">
                    <span *ngIf="item.manager_yn == 'Y'">관리자</span>
                    <span *ngIf="item.manager_yn == 'N'">부관리자</span>
                </ng-template>
            </data-table-column>
            <!-- <data-table-column
                property="manager_id"
                header="관리자 ID (접속허용 IP)"
                [width]="150">
            </data-table-column> -->
            <data-table-column
                [property]="'manager_id'"
                [header]="'관리자 ID'">
                <!-- <ng-template #dataTableHeader let-item="item">
                    관리자 ID (접속허용 IP)
                </ng-template> -->
                <ng-template #dataTableCell let-item="item">
                    <span>{{item.manager_id}}</span>
                    <!-- <span *ngIf="item.limit_ip">({{item.limit_ip}})</span>
                    <span *ngIf="!item.limit_ip">(미지정)</span> -->
                </ng-template>
            </data-table-column>
            <data-table-column
                [property]="'mname'"
                [header]="'관리자명'"
                [sortable]="true">
            </data-table-column>
            <data-table-column
                [property]="'mcellphone'"
                [header]="'휴대폰'">
                <ng-template #dataTableHeader let-item="item">
                    휴대폰
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                    <span *ngIf="item.mcellphone">{{item.mcellphone}}</span>
                    <span *ngIf="!item.mcellphone">-</span>
                </ng-template>
            </data-table-column>
            <data-table-column
                [property]="'memail'"
                [header]="'이메일'">
            </data-table-column>
            <data-table-column
                [property]="'lastlogin_date'"
                [header]="'최근 접속일'"
                >
                <ng-template #dataTableHeader let-item="item">
                    최근 접속일
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                    <span *ngIf="item.lastlogin_date">{{item.lastlogin_date | date:'yyyy-MM-dd HH:mm'}}</span>
                    <span *ngIf="!item.lastlogin_date">-</span>
                </ng-template>
            </data-table-column>
            <data-table-column
                [property]="'mregdate'"
                [header]="'등록일'"
                >
                <ng-template #dataTableHeader let-item="item">
                    등록일
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                    <span *ngIf="item.mregdate">{{item.mregdate | date:'yyyy-MM-dd HH:mm'}}</span>
                    <span *ngIf="!item.mregdate">-</span>
                </ng-template>
            </data-table-column>
            <data-table-column
                header="manage"
                >
                <ng-template #dataTableHeader let-item="item">
                    수정/삭제
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                    <!-- <bo-button-collection [id]="'edit'" routerLink="{{item.manager_seq}}"></bo-button-collection> -->
                    <bo-button-collection [id]="'edit'" (click)="updateItem(item.manager_seq)"></bo-button-collection>
                    <bo-button-collection [id]="'delete'" (click)="deleteItem(item.manager_seq)"></bo-button-collection>
                </ng-template>
            </data-table-column>
        </data-table>
        </div>
    </div>

</div>
