/* You can add global styles to this file, and also import other style files */
/* @import url("//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700"); */
/* @import url('http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css'); */
/* @import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css); */
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */

/*
@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url("/assets/fonts/NotoSansKR-Regular.woff2") format('woff2'),
         url("/assets/fonts/NotoSansKR-Regular.woff") format('woff'),
         url("/assets/fonts/NotoSansKR-Regular.otf") format('opentype');
} */



/* @font-face{
    font-family: AmericanTypewriter;
    src: url("fonts/american_typewriter.eot");
    src: local(※),
    url("../fonts/american_typewriter.eot?#iefix") format('embedded-opentype'),
    url("../fonts/american_typewriter.woff") format('woff'),
    url("../fonts/americanTypewriter_medium.ttf") format('truetype');
} */
.ng-extra {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
}
.ng-bold {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}
.ng-regular {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
}

.ns-extra{
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'NanumSquare', sans-serif; */
    font-weight: 800;
}
.ns-bold{
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Nanum Square', sans-serif; */
    font-weight: 700;
}
.ns-regular{
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Nanum Square', sans-serif; */
    font-weight: 400;
}
.rb-extra{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.rb-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.rb-regular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.clickable {
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}

blockquote {
    border: none;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* ie10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    html {
        overflow-y:scroll;
        -ms-overflow-style: scroll;
        overflow: auto;
    }
    body {
        overflow-y:scroll;
    }
}


/* ::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: rgb(187,187,187);
} */

*:focus {
    outline: none !important;
}

a {
    color: #000;
}
.none-font-size {
    font-size: 0;
}
a:focus, a:hover{
    color: initial;
    text-decoration: unset !important;
    -webkit-tap-highlight-color: rgba(230,230,230,.5);
}

/* #bsmodal
.modal-dialog.custom{
    width:800px;
}
*/

.mobile {
    /* padding-top: 55px; */
    padding-top:0;
}
.item-size {
    width: 100% !important;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
select {
    -webkit-border-radius: 0;
    background-image: url(/assets/img/dn.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 95% 55%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* date-picker*/
.bs-datepicker-body .days.weeks {
    border: none;
}
/*my page*/

.my-content-wrap .my-content-title {
    font-size: 22px;
    padding: 43px 0 15px 0;
    font-weight: bold;
}
.my-content-wrap .my-box {
    border: 2px solid #e1e1e1;
    height: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
    line-height: 80px;
    margin-bottom: 25px;
    text-align: center;
}
/* .my-content-wrap .my-box img {
    width: 60px;
    height: 60px;
} */
.my-horizontal {
    display: inline-block;
}
/* .my-font-center {
    text-align: center;
} */
.my-item {
    width: 50%;
    font-size: 16px;
    color: #666;
}
/* title right button*/
.my-title-right {
    width: 100%;
}
.my-title-right .title-btn {
    float: right;
    display: inline-block;
    width: 108px;
}
.my-title-right .title-btn button{
    background: #fff;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    padding: 7px 19px;
}
/* 인풋박스 x버튼 */
input::-ms-clear {
    display:none;
}
input:-ms-clear {
    display:none;
}
/* radio 박스*/
.my-radio-item {
    font-size: 14px;
    padding: 12px 20px;
    width: 100%;
}
input[type="radio"] , input[type="checkbox"]{
    width: 20px;
    height: 20px;
    position: relative;
    margin-right:5px;
    top: 5px;
}
input[type="radio"]:checked + label:after {
    background: #ea003d;
    width: 15px;
    height: 15px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-item {
    box-shadow: none;
}
.address-table{
    font-size: 14px;
}

.my-radio-item .radio-right {
    padding-right: 20px;
}
.my-radio-item .my-radio-btn {
    float: right;
}
.my-radio-item .my-radio-btn button {
    background: #fff;
    padding: 7px 15px;
    border: 1px solid #e4e4e4;
}
.pink{
    color: #ea003d;
}

/* 한줄 input */
.my-input-wrap {
    width: 100%;
    font-size: 0px;
}
.my-normal-input {
    width: 315px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #e1e1e1;
}
.my-three-input {
    width: 90px;
    height: 40px;
    padding: 6px;
    font-size: 15px;
    border: 1px solid #e1e1e1;
    vertical-align: middle;
    line-height: 24px;
}
select.my-three-input{
    width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    padding: 0 8px;
    display: inline-block;
    background: url(/assets/img/dn.png) no-repeat 95% 55% #fff;
    border: 1px solid #e1e1e1;
    -webkit-appearance: none;
    /* padding-left: 10px; */
    padding-left: 5px;
    appearance: none;
    vertical-align: middle;
}
.my-midium-input {
    width: 175px;
}
.my-big-input {
    width: 570px;
}
.my-input-wrap span {
    padding: 0 5px;
}
.my-input-wrap .my-textarea-title {
    height: 102px;
    vertical-align: top;
}
.my-input-wrap .my-addr-title {
    height: 163px;
    vertical-align: top;
}
.my-basic-area {
    border: 1px solid #e1e1e1;
    padding: 8px;
    margin-bottom: 10px;
}

/*textarea*/
.my-textarea {
    padding: 10px 10px 10px 0;
    width: calc( 100% - 205px );
}
.my-textarea textarea {
    width: 100%;
    height: 77px;
    resize: none;
    border: 1px solid #e1e1e1;
    padding: 10px;
    font-size: 15px;
}
/* 필수요소 체크*/
.red-star-display {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.red-star-display .red-star {
    position: absolute;
    top: -17px;
    right: 10;
    left: 48px;
    color: red;
}


/* 결제 금액 bold font*/
.my-item-bold {
    font-weight: bold;
    font-size: 20px;
}
/* 최종 결제 금액 bold font*/
.my-big-bold {
    color: #ea003d;
    font-size: 24px;
    padding: 0 5px;
}

.my-pay-box {
    background: #f3f2ee;
}
.my-pay-box ul{
    margin-bottom: 0;
    padding-bottom: 10px !important;
    border-bottom: 1px dotted #e1e1e1;
}

/*title위 padding*/
.my-pay-box .my-pay-lastinfo {
    padding-top: 23px;
    font-size: 18px;
}
.text-font-14 {
    font-size: 14px;
}
/*정보 및 데이터 박스*/
.my-info-box {
    border: 1px solid #e1e1e1;
    border-bottom: none;
    box-sizing: border-box;
    font-size: 0;
}
.my-info-box .my-item-wrap {
    border-right: 1px solid #e1e1e1;
    font-size: 16px;
    color: #666;
}
/* box width*/
.my-item-width {
    width: 180px;
    display: inline-block;
    background: rgb( 247,247,247);
    padding: 18px 20px;
    margin-right: 20px;
    font-size: 16px;
    color: #212121;
}
.my-item-right {
    font-size: 16px;
    display: inline-block;
}
.my-btm-border {
    border-bottom: 1px solid #e1e1e1;
}

.my-addr-area {
    font-size: 16px;
    width: calc(100% - 200px);
    padding-top: 12px;
}
.my-addr-area button {
    background: rgb(153, 153, 153);
    color: #fff;
    border: none;
    /* padding: 9px 32px; */
    margin-left: 5px;
    padding: 0;
}


/*button 영역*/
.type-btn-area {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
}
.normal-btn {
    margin-right: 10px;
    font-size: 18px
}
.normal-btn button {
    width: 150px;
    padding: 14px 15px;
}
.black-btn {
    background: #333333;
    border: 1px solid #333333;
    color: #fff;
}
.white-btn {
    background: #fff;
    color: #000;
    border: 1px solid #e1e1e1;
}
.darkgray-btn {
    background: rgb(102, 102, 102);
    color: #fff;
    border: none;
}
.red-btn {
    background: rgb(234, 000, 061);
    border: none;
    width: 180px;
    color: #fff;
}






/*웹 헤더 사용자정보*/


.my-content-area .my-content {
    padding: 35px 40px 30px 40px;
    font-size: 13px;
    min-height: 848px;
    border-left: 1px solid #e1e1e1;
}
.my-content-area .my-content .my-title{
    padding-bottom: 22px;
    font-size: 26px;
    color: #212121;
}



/*주문번호 헤더 */
.order-header {
    height: 50px;
    line-height: 50px;
    padding: 0 22px;
    border: 1px solid #e1e1e1;
    border-bottom: none;
}
.order-header .or-title , .or-number{
    display: inline-block
}
.order-header .or-title {
    font-size: 15px;
}
.order-header .or-number {
    font-size: 14px;
    color: #999999;
}

.order-header .or-bar {
    color: #999999;
    padding: 0 5px;
}
.my-notice-lightgrey .noti-text {
    padding: 10px 0 0 0 ;
    font-size: 15px;
}


/*my페이지 리스트 */

.my-list-top {
    /* padding: 30px 0 5px 0; */
    padding-bottom: 55px;
    line-height: 55px;
    border-bottom: 1px solid #000;
    font-size: 16px;
}
.my-red-text{
    color: #ea003d !important;
}
.my-list-top .my-list-left {
    float: left;
}

.my-list-top .my-list-right {
    float: right;
}
.my-list-top .my-top-select {
    width: 160px;
    padding: 9px 25px 9px 9px;
    border: 1px solid #e1e1e1;
    font-size: 15px;
}
/* select{
    background: url(/assets/img/dn.png) no-repeat 95% 55% #fff;
    -webkit-appearance: none;
    appearance: none;
} */
/*필수표시*/
.red-star {
    color: #ea003d;
    position: relative;
    top: 4px;
    padding: 0 2px !important;
}
/*기본 테이블*/
.my-basic-table {
    width: 100%;
    text-align: center;
    color: #808080;
}
.my-basic-table th ,.my-basic-table td{
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid #e4e4e4;
}
.my-text-blue {
    color: #3483e6 ;
}

/* .my-content-area .my-content .my-title{
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 26px;
} */
.activity-table .col-btn {
    padding: 0 15px;
}
.activity-table .col-btn button {
    background: #fff;
    border: none;
    padding: 7px 15px;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
}
.col-btn {
    padding: 0 15px;
}
.col-btn button {
    background: #fff;
    border: none;
    padding: 7px 15px;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
}

/* 테이블 */
.cl-table-wrap{
    width: 1240px;
    margin:0 auto;
    padding: 50px 0;
}
.cl-table-wrap .caption{
    font-size: 14px;
    padding-bottom: 35px;
}
.cl-table-wrap .caption span{
    color: #ea003d;
}
.cl-table-wrap select{
    float: right;
    border: 1px solid #979797;
    padding-left: 12px;
    width: 150px;
    height: 34px;
    line-height: 34px;
    background: url('/assets/img/goods/Layer-5-copy-3.png') no-repeat 95% 55%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
table{
    width: 100%;
    border: 1px solid #e1e1e1;
}
.header-table tr:first-child{
    background-color: rgb(247,247,247);
    height: 54px;
    font-size: 16px;
    border-bottom: none !important;
}
.header-table th{
    text-align: center;
}

.header-table td.left{
    text-align: left;
    padding-left: 5px;
    padding-right: 0;
}
.body-table {
    border-top: none;
}
.body-table td{
    background: #fff;
    border-right: 1px solid #ddd;
}
.body-table th{
    background-color: rgb(243,242,238);
    color: rgb(102,102,102);
    padding-left: 25px;
   line-height: 36px;
}
.body-table .sub-title{
    display: inline-block;
    padding-right: 15px;
    font-weight: 500;
}
.body-table .sub-title span{
    color: #aaa;
}
.body-table .sub-title .arrow{
    height: 11px;
    padding-left: 4px;
}
.table-content{
    width: 100%;
    display: flex;
}
.table-content div{
    display: inline-block;
    text-align: center;
    align-self: center;
}
.table-content{
  _height: 140px;
  padding: 25px 0px;
  border-bottom: 1px solid #e1e1e1;
  background: #fff;
}
.table-content:last-child{
    border-bottom: none;
}
.table-content .img-box{
    width: 45%;
}
.table-content .img-box{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    /* padding-left: 25px; */
}
.table-content .img-box img{
    width: 84px;
    vertical-align: text-bottom;
}
.img-box ul{
    display: inline-block;
    padding-left: 10px;
}
.img-box ul.full-ul {
    width: 100%;
    padding-left: 78px;
}

.img-box ul.full-ul .name {
    font-size: 15px;
}

.table-content .img-box .tv-button{
    display: inline-block;
    padding: 3px 8px;
    background-color: #ea003d;
    color: #fff;
    border: none;
    font-size: 12px;
    margin-bottom: 3px;
}

.table-content .name{
    color: rgb(032, 032, 032);
    font-size: 17px;
}
.table-content .bold{
    color: rgb(032, 032, 032);
    font-weight: 600;
    font-size: 18px;
}
.table-content .gray{
    color: #999999;
    line-height: 30px;
    font-size: 15px;
}
.table-content .img-box .crack{
    padding-bottom: 8px;
}
.table-content .price{
    color: rgb(032, 032, 032);
    font-weight: 600;
    line-height: 30px;
    font-size: 17px;
}
.table-content .quantity-box{
    width: 15%;
    font-size: 16px;
}
.price-box{
    width: 20%;
    font-size: 20px;
    font-weight: 600;
}
.price-box .won{
    font-size: 16px;
}
.table-content .status-box{
    width: 20%;
    padding-right: 25px;
    padding: 15px 0;
}
.table-btn {
    width: 95px;
    margin-top:5px;
}
.table-btn button {
    width: 100%;
    border: 1px solid #e1e1e1;
    background: #fff;
    padding: 8px 17px;
    margin-bottom: 5px;
}
.right-button{
    display: inline-block;
    vertical-align: super;
    text-align: right;
    width: calc(100% - 108px);
}
.gray-border-button{
    border: 1px solid #ddd;
    background: #fff;
    padding: 5px 20px;
    margin: 5px auto;
    display: inline-block;
}
li{
    list-style: none;
}
.mytable-li-select {
    border: none;
    text-decoration: underline;
}
.border th{
    border-bottom: 1px solid #ddd;
}


.square-checkbox input[type="checkbox"] {
    /* position: absolute; */
    width: 0px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0
}
.square-checkbox input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #000;
    font-size: 13px;
    margin-bottom: 0;
    left:2px;
}
.vertical-middle {
    vertical-align: middle;
}
.square-checkbox{
    text-align: center;
}
.square-checkbox input[type="checkbox"] + label:before {
    content: ' ';
    display: inline-block;
    width: 23px; /* 체크박스의 너비를 지정 */
    height: 23px; /* 체크박스의 높이를 지정 */
    line-height: 16px; /* 세로정렬을 위해 높이값과 일치 */
    margin: -2px 8px 0 1px;
    text-align: center;
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius : 1px;
}
.square-checkbox input[type="checkbox"]:checked + label:before { /* 체크박스를 체크했을때 */
    background: url(/assets/img/Rounded-Rectangle-2-copy.png) no-repeat 50% #fff;
    border-color: #b3b3b3;
}
.square-checkbox input[type="checkbox"]:disabled + label:before {
    /* background: url(/assets/img/disabled_checked.png) no-repeat 50% #fff; */
    opacity: 0.5;
}
.square-checkbox input[type="checkbox"]:checked:disabled + label:before {
    background: url(/assets/img/disabled_checked.png) no-repeat 100% #fff;
    border: none;
    background-size: contain;
    background-position: center;
    opacity: 1;
}
.ads-btn {
    width: 125px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: rgb(153,153,153);
    border: none;
    float: right;
    border-radius: 0;
}
.ads-btn:hover {
    color: #fff;
}
.header-table td{
    _height: 140px;
    text-align: center;
    padding: 20px;
}
.header-table .img-box{
    text-align: left;
}
.header-table .img-box img{
    vertical-align: unset;
}
.header-table .bold{
    color: rgb(032, 032, 032);
    font-weight: 600;
    font-size: 18px;
}
.header-table .name{
    color: rgb(032, 032, 032);
    font-size: 17px;
    /* padding: 20px; */
}
.header-table .able {
    font-size: 16px;
    padding-bottom: 4px;
}
.header-table li.bold{
    margin-top: 5px;
}
.header-table .gray{
    color: rgb(198, 198, 198);
    line-height: 30px;
}
.header-table .click-option{
    color: rgb(088,088,088);
    text-decoration: underline;
    padding-bottom: 2px;
    text-underline-position: under;
    cursor: pointer;
}
.header-table .click-option img{
    vertical-align: super;
}
.header-table .quantity-input{
    border: 1px solid #ddd;
    width: 120px;
    height: 36px;
    line-height: 36px
}
.header-table .quantity-input.disabled {
    background-color: #fff;
    color: rgb(225,225,225);
    border-color: rgb(225,225,225);
}
.header-table .quantity-input button.down-btn:disabled {
    background-color: #fff;
    background: url(/assets/img/-disable.png) no-repeat 50%;
}
.header-table .quantity-input button.up-btn:disabled {
    background-color: #fff;
    background: url(/assets/img/+disable.png) no-repeat 50%;
}
.header-table .quantity-input button{
    width: 36px;
    height: 34px;
    border: none;
}
.header-table .quantity-input.disabled .up-btn {
    border-color: rgb(225,225,225);
}
.header-table .quantity-input.disabled .down-btn {
    border-color: rgb(225,225,225);
}
.header-table .quantity-input .up-btn{
    background: url(/assets/img/+.png) no-repeat 50%;
    border-left: 1px solid #ddd;
    float: right;
}
.header-table .quantity-input .down-btn{
    background: url(/assets/img/-.png) no-repeat 50%;
    border-right: 1px solid #ddd;
    float: left;
}
.black-border-btn {
    border: 1px solid rgb(211,211,211);;
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 12px;
    color: rgb(211,211,211);
    background: #fff;
}
.header-table .price-box{
    width: auto;
}
.header-table .middle-line{
    font-size: 12px;
    text-decoration: line-through;
    color: #ddd;
}
.header-table.border tr{
    border:1px solid #ddd;
    /* border-bottom: none; */
}
.header-table.border tr.none-bottom-border {
    border-bottom: none;
    border-top: none;
}
.option-td{
    height: auto !important;
    padding: 20px 30px;
    text-align: left !important;
    font-size: 14px;
    background: rgb(247,247,247);
}
.option-td div{
    display: inline-block;
    text-align: left;
}
.option-td .sec-text{
    font-size: 18px;
    line-height: 32px;
    vertical-align: bottom;
}
.option-td .sec-sel{
    padding: 0 40px;
    font-size: 15px;
    line-height: 32px;

}
.option-td .sec-sel select{
    display: inline-block;
    border: 1px solid #ddd;
    margin-left: 15px;
    width: 230px;
    padding: 5px;
    font-size: 14px;
    line-height: 25px;
    background: url(/assets/img/down.png) no-repeat 95% 55% #fff;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.option-td .sec-btn{
    float: right;
}
.option-td .sec-btn .gray-btn{
    height: 36px;
    border: none;
    background: rgb(153,153,153);
    color: #fff;
    width: 70px;
    font-size: 14px;
}
.option-td .sec-btn .white-btn{
    height: 36px;
    border: 1px solid rgb(153,153,153);
    color: rgb(153,153,153);
    background: #fff;
    width: 70px;
    font-size: 14px;
}
.price-wrap {
    font-size: 18px;
    border: 1px solid #ddd;
    border-top: none;
    height: 100px;
    background: rgb(243,242,238);
    padding: 0 60px;
    line-height: 100px;
    text-align: center;
}
.price-wrap img{
    padding: 0 40px;
}
.price-wrap span{
    font-weight: 700;
    font-size: 19px;
}
.total-price{
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
}
.total-price .pink{
    font-weight: 600;
    font-size: 19px;
    color: #ea003d;
}
.total-price .sub{
    font-size: 14px;
}
.btn-div{
    padding: 40px 0;
    text-align: center;
}
.btn-div button{
    width: 180px;
    height: 55px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
}
.btn-div button:last-child{
    margin-right: 0;
}
.btn-div .shopping-btn{
    background: rgb(153,153,153);
}
.btn-div .select-order-btn{
    background: rgb(051,051,051);
}
.btn-div .order-btn{
    background: rgb(234,000,061);
}

.notice-box{
    border:1px solid #ddd;
    padding: 25px 40px;;
}
.notice-box li{
    list-style-type: disc;
    list-style-image: url(data:0);
    color: rgb(153,153,153);
}


/* 모달 */
.acution-table{
    padding: 18px 0;
}
.acution-table table{
    border-top: 1px solid #e4e4e4;
    font-size: 18px;
}
.acution-table table tr{
    border-right: none;
    border-bottom: 1px solid #e4e4e4;
}
.acution-table table td{
    text-align: center;
    border-right: none;
    border-bottom: none;
}
.acution-table table td.center{
    text-align: center;
}
.center div{
    width: calc(100% / 6);
    display: inline-block;
}
.acution-table table th{
    background-color: rgb(247,247,247);
    text-align: center;
    height: 58px;
    padding-left: 0;
}
.back-gray {
    background-color: rgb(247,247,247);
    font-size: 15px;
    text-align: center;
}
.back-gray .top {
    border-bottom: 1px dashed rgb(225,225,225);
    height: 93px;
    padding: 20px 0;
}
.back-gray .top .big-txt {
    font-size: 21px;
}
.back-gray .top .small-txt {
    font-size: 16px;
    line-height: 32px;
}
.back-gray .order-num .tlt{
    padding-right: 5px;
}
.back-gray .order-num {
    line-height: 57px;
    height: 60px;
}
.modal-notice {
    padding: 20px;
    background-color: rgb(244,244,244);
    font-size: 15px;
}
.modal-notice li {
    list-style-type: disc;
    list-style-image: url(data:0);
    list-style-position: inside;
}
.modal-notice li .black{
    color: #000;
}

.acution-table .img-box ul{
    display: inline-block;
    vertical-align: top;
    max-width: 355px;
}



/* tab 2단 */
.two-tabs {
    width: 100%;
    box-sizing: border-box;
    font-size: 0;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}
.two-tabs .normal-tab {
    width: 50%;
    height: 50px;
    border: 1px solid #e1e1e1;
    /* background: #000; */
    background: initial;
    color: rgb(128, 128,128);
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
}
.two-tabs .other-tab {
    border-left: none;
    background: #fff;
    color: rgb(128, 128,128);
}



/*공지 사항 text*/
.my-notice-box-area {
    padding: 30px 28px 22px 28px;
    background: rgb( 244, 244, 244);
    margin-top: 15px;
    list-style-type: disc;
    list-style-image: url(data:0);
    letter-spacing: -0.5px;
    font-size: 15px;
}


.my-notice-box-area .my-notice-title {
    font-size: 18px;
    font-weight: bold;
}
.my-notice-box-area ul {
    color: #999999;
    padding: 10px 22px;
    margin-bottom: 0;
    padding-bottom: 0;

}
.my-notice-box-area ul li{
    padding-bottom: 5px;
    list-style-type: disc;
    list-style-image: url(data:0);
}

.my-notice-box-none {
    padding: 20px;
    background: rgb( 244, 244, 244);
    margin-bottom: 20px;
    font-size: 15px;
}

.my-notice-box-none ul {
    color: #999999;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.my-notice-box-none ul li {
    padding-bottom: 5px;
    list-style-type: disc;
    list-style-image: url(data:0);
}

.my-notice-gray {
    color: rgb(102, 102, 102);
}

.my-notice-lightgray {
    color: rgb(153, 153, 153);
}
.my-notice-style-none {
    list-style-type: none;
}

.my-notice-box-area-new{
    padding: 30px 28px 22px 28px;
    background: none;
    border: 1px solid #e1e1e1;
    margin-top: 15px;
    list-style-type: disc;
    list-style-image: url(data:0);
    letter-spacing: -0.5px;
    font-size: 15px;
    line-height: 25px;
}

.my-notice-box-area .my-notice-title {
    font-size: 18px;
    font-weight: bold;
}

.my-notice-box-area-new ul li{
    list-style-type: disc;
    list-style-image: url(data:0);
}

/*환불정보 box */
.pay-three-table td, .pay-three-table tr{
    border-right: 1px solid #e4e4e4;
    height: 58px;
    font-size: 15px;
}
.pay-three-table td {
    vertical-align: top;
}
.pay-three-table ul {
    padding: 0;
    margin: 0;
}
.pay-three-table li {
    display: flow-root;
    font-size: 16px;
    line-height: 29px;
}
.pay-three-table .pay-col-left {
    display: inline-block;
    float: left;
}
.pay-three-table .pay-col-right {
    display: inline-block;
    float: right;
}
.pay-three-table .pay-background {
    background: rgb( 247,247 ,247);
    padding: 16px 20px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 16px;
    line-height: 20px;
}
.pay-three-table .price {
    font-size: 18px;
    padding-right: 3px;
}
.pay-three-table td {
    padding: 14px 20px;
}

/* title 사이드 버튼*/
.content-side-btn {
    float: right;
    font-size: 14px;
}
.content-side-btn button{
    background: #fff;
    padding: 8px 20px;
    border: 1px solid #e4e4e4;
}

/*적립금 포인트 이머니 title img*/
.my-sub-img {
    display: inline-block;
    position: relative;
    top: -13px;
    padding-right: 11px;
}


.no-table-data {
    font-size: 16px;
    color: #999999;
    height: 330px !important;
    text-align: center;
    display: table;
    width: 100%;
}
.no-table-data .img-area {
    margin: 0 auto;
    padding-bottom: 15px;
    position: relative;
    top: 27%;
    height: auto !important;
    display: table-cell;
}
.no-table-data .img-area .img {
    width: 70px;
    _padding-bottom: 18px;
}
.no-table-data .img-area .text {
    height: auto !important;;
    display: block !important;;
}


.bar {
    padding: 0 5px;
    color: #e1e1e1;
}
.font-18 {
    font-size: 18px;
}
.font-16 {
    font-size: 16px;
}

:host-context(bs-alert){
    width:100%;
}


.custom .modal-content{
    border-radius: 0;
    border: none;
}
/* .custom .modal-header {
    background-color: rgb(051,051,051);
    color: #fff;
    font-size: 24px;
    text-align: center;
    height: 66px;
    line-height: 66px;
    padding: 0 15px;
    z-index: 999;
    width: 600px;
} */


/* .custom .modal-content .modal-header .close{
    line-height: 66px;
} */

.custom.point .modal-content {
    width: 520px;
    margin: auto;
    height: 260px;
}

.textarea.l{
    border: 1px solid #ddd;
    width: 570px;
    height: 70px;
    padding-left: 10px;
    resize: none;
    line-height: 19px;
    font-size: 15px;
}
.textarea{
    border: 1px solid #ddd;
    width: 300px;
    height: 70px;
    padding-left: 10px;
    resize: none;
    line-height: 19px;
    font-size: 15px;
}

/*컬러*/

.light-grey {
    color: #999999;
}
.dark-grey {
    color: #666666;
}
.basic-color {
    color: #212121;
}
.red-color {
    color: #ea003d !important;
}


.mobile .font-15  {
    font-size: 15px;
}
.mobile .font-14  {
    font-size: 14px;
}
.mobile .font-12  {
    font-size: 12px;
}
.mobile .font-13  {
    font-size: 13px;
}
.mobile .light-grey {
    color: #999999;
}
.mobile .dark-grey {
    color: #666666;
}
.mobile .basic-color {
    color: #212121;
}
.mobile .red-color {
    color: #ea003d;
}
.mobile .blue-color {
    color: #3483e6;
}

/* 리뷰팝업 */

/* .modal-content{
    width: 880px;
    display: flex;
    height: 630px;
    border-radius: 0;
} */


/* #bsmodal
    .modal-content{
    width: 800px;
    display: flex;
    height: 100%;
    border-radius: 0;
}*/

.modal-popup .modal-content{
    border-radius: 0;
    border: none;
    margin: 0 auto;
}
.modal-popup .modal-header {
    background-color: rgb(051,051,051);
    color: #fff;
    font-size: 24px;
    text-align: center;
    height: 66px;
    line-height: 66px;
    padding: 0 15px;
}
/* .modal-header .close{
    line-height: 66px;
} */



.modal-popup .modal-content {
    font-size: 0;
}

.custom .modal-content {
    font-size: 0;
}
.slide{
    width: 55% !important;
    border-right: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle !important;
}
.review{
    width: 45%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.review .close{
    /* padding: 5px; */
    font-size: 58px;
    font-weight: 100;
    line-height: 0.6;
    padding: 10px 6px 10px 0;
    position: absolute;
    right: 0;
}
.review .title{
    display: inline-block;
    /* width: calc(100% - 70px);
    padding: 20px 14px 14px 0;
    margin-left: 20px;*/
    font-size: 16px;
    letter-spacing: -1px;
    border-bottom: 1px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    padding: 20px 14px 14px 0;
    margin-left: 20px;
    margin-right: 20px;
}
.review .title-text {
    display: inline-block;
    position: relative;
    bottom: 11px;
    font-size: 15px;
    color: #212121;
    padding-left: 16px;
    /* width: 216px; */
    width: calc(100% - 54px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.review .title .title-img-box {
    width:50px;
    height:50px;
    display: inline-block;
    background-size: cover;

}
.review .rating{
    height: auto;
    padding: 20px 0 18px;
    border-bottom: 1px solid #ccc;
}
.review .body{
    overflow-y: auto;
    height: calc( 100% - 125px);
    padding: 17px 20px;
    color: #aaa;
    font-size: 16px;
    overflow-x: hidden;
}
.review .body .info-item {
    font-size: 14px;
    display: inline-block;
    color: #999;
    padding-left: 5px;
}
.review .name-bar {
    padding: 0 5px;
    color: #e1e1e1;
}
/* .review .body .date {
    font-size: 14px;
    display: inline-block;
    color: #999;
} */
.review .text{
    color:#666666;
    padding: 16px 0;
    font-size: 15px;
    overflow: hidden;
    overflow-y: scroll;
    word-break: break-all;
    _max-height: 129px;
    max-height: 400px;
    white-space: pre-wrap;
}
.review .text::-webkit-scrollbar {
    display: none;
}
.review .none-img {
    padding: 32px 14px 30px 0;
}
.review .none-img .title-text {
    top: 1px;
    bottom: 0;
    padding-left: 0;
}

.progress {
    height: 9px;
    margin-bottom: 5px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: rgb(238, 238, 238);

}
 progressbar{
    margin: 10px 0;
    height: 7px;
}
 progressbar .progress-bar{
    background: url('/assets/img/goods/Rounded-Rectangle-3.png') no-repeat 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.detail-info {
    display: inline-block;
    font-size: 16px;
    color: #666666;
    padding-top: 12px;
 }
 .detail-info .add-data {
     min-width: 22px;
     display: inline-block;
 }
 .rating .level{
     text-align: left;
     padding-bottom: 11px;
     font-size: 0;

 }
 .rating div:last-child .level{
     padding-bottom: 0;
     width: 100%;
 }
 .rating .level span{
     width: 33%;
     font-size: 14px;
     color: #999999;
     display: inline-block;
     letter-spacing: -0.2px;
     line-height: 18px;
 }
 .rating .level .center{
     text-align: center;
 }
 .rating .level .right{
     text-align: right;
 }
 .rating .score-label {
     color: #000;
     font-size: 15px;
 }
 .disabled {
    background-color: rgb(235, 235, 228);
    cursor: default;
 }

 .swiper-pagination-bullets .swiper-pagination-bullet{
    width: 4px;
    height: 4px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 4px;
    margin-right: 4px;
    border: solid 2px #c7c7c7 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active{   
    border: solid 2px #222222 !important;
    background-color: #222222 !important;
}

.modal-dialog.photo {
    width: fit-content;
    padding: 0;
}
.photo .modal-content {
    width: 100%;
    display: inline-block !important;
    height: auto;
}
.photo .modal-content .photo-header {
    _width:100%;
    height: 65px;
    background-color: #000;
    color: #fff;
    line-height: 30px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.photo .modal-content .photo-header .close{
    line-height: 35px;
}
.photo .modal-content .photo-header .close span{
    color: #fff;
}

.photo .modal-content .photo-header .close{
    font-weight: 400;
    opacity: 1.2;
}

.photo .modal-content .photo-header.close img{
    width: 25px;
}

select::-ms-expand { display: none; }

td .suboption-box {
    border-top: 1px solid rgb(240,240,240);
    margin-left: 98px;
    /* padding: 19px 0 0;
    padding: 19px 0 0;
    margin-top: 9px; */
}
td .suboption-box .suboption-content {
    color: rgb(169,169,169);
    font-size: 14px;
    padding: 10px 0;
    min-height: 47px;
    line-height: 27px;
    vertical-align: middle;
    text-align: left;
}
td .suboption-box .suboption-content img {
    margin-left: 10px;
}
td .suboption-price-box .suboption-content.quantity-input {
    min-height: 38px;
}
td .change-option-box {
    position: absolute;
    left: -77px;
    /* bottom: -21px; */
    width: 1240px;
    border: 2px solid rgb(153,153,153);
    z-index: 1;
    background-color: rgb(247,247,247);
    padding: 16px 50px;
}
td .change-option-box .top {
    padding-bottom: 9px;
}
td .change-option-box .top .box-title {
    width: 122px;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 600;
}
td .change-option-box .top .option-title {
    display: inline-block;
    width: 130px;
    vertical-align: middle;
    font-size: 16px;
    /* font-weight: 600; */
}
td .change-option-box .top .option-select {
    width: calc(100% - 261px);
    display: inline-block;
    vertical-align: middle;
}
td .change-option-box .top .option-select select.full {
    width: 100%;
}
td .change-option-box .top .option-select select {
    width: 724px;
    height: 40px;
    background-color: #fff;
    border: 1px solid rgb(225,225,225);
    float: left;
    background-position: 98% 55%;
    padding-left: 10px;
    font-size: 16px;
}
td .change-option-box .top .option-select input {
    width: 724px;
    height: 40px;
    background-color: #fff;
    border: 1px solid rgb(225,225,225);
    float: left;
    background-position: 98% 55%;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
}
td .change-option-box .top .option-select button {
    /* float: right; */
    width: 70px;
    height: 40px;
    background-color: rgb(51,51,51);
    color: #fff;
    border: none;
    font-size: 16px;
    margin-left: 18px;
}
td .change-option-box .top .option-select button:disabled {
    opacity: 0.5;
}
td .change-option-box .bottom {
    text-align: center;
    font-size: 0;
    padding-top: 9px;
}
td .change-option-box .bottom .option-submit {
    width: 180px;
    height: 40px;
    background-color: rgb(51,51,51);
    border: 1px solid rgb(51,51,51);
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}
td .change-option-box .bottom .option-close {
    width: 180px;
    height: 40px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(225,225,225);
    color: rgb(102,102,102);
    font-size: 16px;
}
td .suboption-price-box {
    border-top: 1px solid rgb(240,240,240);
    padding: 0;
    /* margin-top: 10px; */
}
td .suboption-price-box .suboption-content {
    /* color: rgb(169,169,169); */
    font-size: 18px;
    padding: 10px 0;
    min-height: 47px;
    line-height: 27px;
}
td .option-btn {
    margin-left: 100px;
    text-align: left;
}
td .option-btn button {
    width: 100px;
    height: 30px;
    background: rgb(51,51,51);
    color: #fff;
    border: none;
}
swiper.s-wrapper>.swiper .swiper-wrapper .swiper-slide {
    overflow: hidden;
}

@media screen and (max-width: 767px) {

    .mobile html, body{
        height: 100%;
        background-color: #fff;
        margin: 0px;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        overflow-x: hidden;
    }
    .mobile  bs-datepicker-container {
         left: 16px !important;
     }

     .mobile .mobile-goodsbox-checkbox {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
    }
    .mobile .mobile-goodsbox-content {
        display: inline-block;
        vertical-align: middle;
    }
    .mobile .square-checkbox input[type="checkbox"] + label{
        font-size: 14px;
    }
    .mobile.custom.modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        /* overflow: hidden; */
    }

    .mobile .mobile-modal {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 999;
        height: 100%;
        overflow-y: auto;
    }
    .mobile.custom .modal-content {
        width: 100%;
        height: -webkit-fill-available;
        background: #fff;
        display: inline-block;
        /* font-size: 0; */
    }
    .mobile .swiper-pagination-bullets .swiper-pagination-bullet{
        width: 4px;
        height: 4px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 4px;
        margin-right: 4px;
        border: solid 2px #c7c7c7 !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #ffffff;
    }
    .mobile swiper.s-wrapper>.swiper .swiper-wrapper .swiper-slide {
        overflow: hidden;
    }
    .mobile .swiper-pagination-bullets .swiper-pagination-bullet-active{   
        border: solid 2px #222222 !important;
        background-color: #222222 !important;
    }
    
    .mobile .modal-open .modal::-webkit-scrollbar {
        display: none;
    }

    .mobile .sticky{
        position: sticky;
        position: -webkit-sticky;
        bottom: 0;
    }
    .mobile.custom.point .modal-content {
        width: 100%;
        height: 100%;
    }

    .mobile .brand-box .item-box{
        padding: 0;
        border-top: none;
        font-size: 0;
    }
    .mobile .item-box .img-box{
        width: 92px;
        height: 80px;
        padding-right: 12px;
        display:inline-block;
        text-align: center;
        vertical-align: top;
    }
    .mobile .item-box .img-box img{
        width:100%;
    }
    .mobile .item-box .txt-box{
        font-size: 15px;
        width: calc(100% - 93px);
        display: inline-block;
    }
    .mobile .item-box .txt-box.full {
        width: 100%;
    }
    .mobile .item-box .txt-box .price{
        font-size: 17px;
    }
    .mobile .item-box .txt-box .shiping-gray{
        color: rgb(153,153,153);
        font-size: 15px;
    }
    .mobile .item-box .bottom{
        padding: 12px 0;
        font-size: 14px;
        color: #999999

    }
    .mobile .mobile-goodsbox-content {
        width: calc(100% - 40px);
    }
    .mobile .item-box .bottom .bottom-left{
        width:80px;
        display: inline-block;
        margin-right: 12px;
        vertical-align: middle;
    }
    .mobile .item-box .bottom .bottom-left select {
        width: 80px;
        height: 33px;
        padding: 0 10px;
        border-color: rgb(225,225,225);
        color: rgb(225,225,225);
    }
    .mobile .item-box .bottom .bottom-right{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 100px);
    }
    .mobile .item-box .bottom .bottom-right .options {
        overflow: hidden;
        /* white-space: nowrap; */
        word-break: break-word;
        text-overflow: ellipsis;

    }
    .mobile .item-box .bottom .options img{
        vertical-align: middle;
        padding-left: 5px;
    }
}
 @media screen and (min-width: 768px) {

    /* 적용이 안되서 숨김처리
        body .mobile   {
        height: 100%;
        background-color: #f9f9f9;
    } */
    .mobile bs-datepicker-container {
         left: 16px !important;
     }

    .mobile .mobile-goodsbox-checkbox {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
    }
    .mobile .mobile-goodsbox-content {
        display: inline-block;
        vertical-align: middle;
    }
    .mobile .square-checkbox input[type="checkbox"] + label{
        font-size: 14px;
    }
    .mobile.custom.modal-dialog {
        height: 100%;
        width: 767px;
        margin: auto;
    }

    .mobile .mobile-modal {
        width: 767px;
        position: fixed;
        top: 0;
        /* left: 0; */
        background: #fff;
        z-index: 999;
        height: 100%;
        overflow-y: auto;
    }
    .mobile.custom .modal-content {
        width: 767px;
        height: 100%;
        background: #fff;
        overflow-y: auto;
    }
    

    .mobile .modal-open .modal::-webkit-scrollbar {
        display: none;
    }

    .mobile .sticky{
        position: sticky;
        position: -webkit-sticky;
        bottom: 0;
    }
    .mobile.custom.point .modal-content {
        width: 100%;
        height: 100%;
    }

    .mobile .brand-box .item-box{
        padding: 0;
        border-top: none;
        font-size: 0;
    }
    .mobile .item-box .img-box{
        width: 92px;
        height: 80px;
        padding-right: 12px;
        display:inline-block;
        text-align: center;
        vertical-align: top;
    }
    .mobile .item-box .img-box img{
        width:100%;
    }
    .mobile .item-box .txt-box{
        font-size: 15px;
        width: calc(100% - 93px);
        display: inline-block;
    }
    .mobile .item-box .txt-box.full {
        width: 100%;
    }
    .mobile .item-box .txt-box .price{
        font-size: 17px;
    }
    .mobile .item-box .txt-box .shiping-gray{
        color: rgb(153,153,153);
        font-size: 15px;
    }
    .mobile .item-box .bottom{
        padding: 12px 0;
        font-size: 14px;
        color: #999999

    }
    .mobile .mobile-goodsbox-content {
        width: calc(100% - 40px);
    }
    .mobile .item-box .bottom .bottom-left{
        width:80px;
        display: inline-block;
        margin-right: 12px;
        vertical-align: middle;
    }
    .mobile .item-box .bottom .bottom-left select {
        width: 80px;
        height: 33px;
        padding: 0 10px;
        border-color: rgb(225,225,225);
        color: rgb(225,225,225);
    }
    .mobile .item-box .bottom .bottom-right{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 100px);
    }
    .mobile .item-box .bottom .bottom-right .options {
        overflow: hidden;
        /* white-space: nowrap; */
        word-break: break-word;
        text-overflow: ellipsis;

    }
    .mobile .item-box .bottom .options img{
        vertical-align: middle;
        padding-left: 5px;
    }

 }

 @media screen and (min-width: 360px){
    .mobile swiper.s-wrapper>.swiper .swiper-wrapper .swiper-slide{
        overflow: hidden;
    }

 }

 @media screen and (max-width: 320px) {

    .mobile .my-notice-box-area-new{
        padding: 30px 28px 22px 0px;
        background: none;
        border: none;
        margin-top: 0;
        list-style-type: disc;
        list-style-image: url(data:0);
        letter-spacing: -0.5px;
        font-size: 15px;
        line-height: 25px;
    }
}











