@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	-webkit-text-size-adjust:none; 
    -moz-text-size-adjust:none; 
    -ms-text-size-adjust:none;
}
body {
	font-size: 16px;
	line-height: 1;
    color: #3e4259;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ol, ul, li, dl {
	list-style: none;
}

img {
	border-style: none;
}
a {
    text-decoration: none;
    color: #3e4259;
    outline: none;
}


strong {
	font-weight: 700;
}
button {
	cursor: pointer;
	border: 0;
    background: none;
    padding: 0;
    outline: 0;
}

a:link,
a:hover,
a:visited {
	text-decoration: none; 
}

.clickable {
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}

blockquote {
    border: none;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
input:focus, select:focus, option:focus, textarea:focus, button:focus{
	outline: none;
}
/* 인풋박스 x버튼 */
input::-ms-clear {
    display:none;
}
input:-ms-clear {
    display:none;
}
/* 모바일 */
/* @media screen and (max-width: 767px) {

    .mobile html, body{
        height: 100%;
        background-color: #fff;
    }
    .mobile  bs-datepicker-container {
         left: 16px !important;
     }

     .mobile .mobile-goodsbox-checkbox {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
    }
    .mobile .mobile-goodsbox-content {
        display: inline-block;
        vertical-align: middle;
    }
    .mobile .square-checkbox input[type="checkbox"] + label{
        font-size: 14px;
    }
    .mobile.custom.modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .mobile .mobile-modal {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 999;
        height: 100%;
        overflow-y: auto;
    }
    .mobile.custom .modal-content {
        width: 100%;
        height: -webkit-fill-available;
        background: #fff;
        display: inline-block;

    }
    
    .mobile swiper.s-wrapper>.swiper .swiper-pagination .swiper-pagination-handle{
        margin: 0;
    }
    .mobile .swiper-pagination-bullets .swiper-pagination-bullet{
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border: solid 3px #c7c7c7;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background-color: #ffffff;
    }
    .mobile .swiper-pagination-bullets .swiper-pagination-bullet-active{
        border: solid 3px #222222;
	    background-color: #222222;	
    }

    .mobile .modal-open .modal::-webkit-scrollbar {
        display: none;
    }

    .mobile .sticky{
        position: sticky;
        position: -webkit-sticky;
        bottom: 0;
    }
    .mobile.custom.point .modal-content {
        width: 100%;
        height: 100%;
    }

    .mobile .brand-box .item-box{
        padding: 0;
        border-top: none;
        font-size: 0;
    }
    .mobile .item-box .img-box{
        width: 92px;
        height: 80px;
        padding-right: 12px;
        display:inline-block;
        text-align: center;
        vertical-align: top;
    }
    .mobile .item-box .img-box img{
        width:100%;
    }
    .mobile .item-box .txt-box{
        font-size: 15px;
        width: calc(100% - 93px);
        display: inline-block;
    }
    .mobile .item-box .txt-box.full {
        width: 100%;
    }
    .mobile .item-box .txt-box .price{
        font-size: 17px;
    }
    .mobile .item-box .txt-box .shiping-gray{
        color: rgb(153,153,153);
        font-size: 15px;
    }
    .mobile .item-box .bottom{
        padding: 12px 0;
        font-size: 14px;
        color: #999999

    }
    .mobile .mobile-goodsbox-content {
        width: calc(100% - 40px);
    }
    .mobile .item-box .bottom .bottom-left{
        width:80px;
        display: inline-block;
        margin-right: 12px;
        vertical-align: middle;
    }
    .mobile .item-box .bottom .bottom-left select {
        width: 80px;
        height: 33px;
        padding: 0 10px;
        border-color: rgb(225,225,225);
        color: rgb(225,225,225);
    }
    .mobile .item-box .bottom .bottom-right{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 100px);
    }
    .mobile .item-box .bottom .bottom-right .options {
        overflow: hidden;
        word-break: break-word;
        text-overflow: ellipsis;

    }
    .mobile .item-box .bottom .options img{
        vertical-align: middle;
        padding-left: 5px;
    }
} */
/* 
 @media screen and (min-width: 768px) {
    .mobile bs-datepicker-container {
         left: 16px !important;
     }

    .mobile .mobile-goodsbox-checkbox {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
    }
    .mobile .mobile-goodsbox-content {
        display: inline-block;
        vertical-align: middle;
    }
    .mobile .square-checkbox input[type="checkbox"] + label{
        font-size: 14px;
    }
    .mobile.custom.modal-dialog {
        height: 100%;
        width: 767px;
        margin: auto;
    }

    .mobile .mobile-modal {
        width: 767px;
        position: fixed;
        top: 0;
        background: #fff;
        z-index: 999;
        height: 100%;
        overflow-y: auto;
    }
    .mobile.custom .modal-content {
        width: 767px;
        height: 100%;
        background: #fff;
        overflow-y: auto;
    }
    .mobile .swiper-pagination-bullets .swiper-pagination-bullet{
        background: rgba(200,200,200);
        opacity: 1;
        border: none !important;
    }

    .mobile .modal-open .modal::-webkit-scrollbar {
        display: none;
    }

    .mobile .sticky{
        position: sticky;
        position: -webkit-sticky;
        bottom: 0;
    }
    .mobile.custom.point .modal-content {
        width: 100%;
        height: 100%;
    }

    .mobile .brand-box .item-box{
        padding: 0;
        border-top: none;
        font-size: 0;
    }
    .mobile .item-box .img-box{
        width: 92px;
        height: 80px;
        padding-right: 12px;
        display:inline-block;
        text-align: center;
        vertical-align: top;
    }
    .mobile .item-box .img-box img{
        width:100%;
    }
    .mobile .item-box .txt-box{
        font-size: 15px;
        width: calc(100% - 93px);
        display: inline-block;
    }
    .mobile .item-box .txt-box.full {
        width: 100%;
    }
    .mobile .item-box .txt-box .price{
        font-size: 17px;
    }
    .mobile .item-box .txt-box .shiping-gray{
        color: rgb(153,153,153);
        font-size: 15px;
    }
    .mobile .item-box .bottom{
        padding: 12px 0;
        font-size: 14px;
        color: #999999

    }
    .mobile .mobile-goodsbox-content {
        width: calc(100% - 40px);
    }
    .mobile .item-box .bottom .bottom-left{
        width:80px;
        display: inline-block;
        margin-right: 12px;
        vertical-align: middle;
    }
    .mobile .item-box .bottom .bottom-left select {
        width: 80px;
        height: 33px;
        padding: 0 10px;
        border-color: rgb(225,225,225);
        color: rgb(225,225,225);
    }
    .mobile .item-box .bottom .bottom-right{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 100px);
    }
    .mobile .item-box .bottom .bottom-right .options {
        overflow: hidden;
        word-break: break-word;
        text-overflow: ellipsis;

    }
    .mobile .item-box .bottom .options img{
        vertical-align: middle;
        padding-left: 5px;
    }

}

@media screen and (min-width: 360px){
.mobile swiper.s-wrapper>.swiper .swiper-wrapper .swiper-slide{
    overflow: hidden;
}

}

@media screen and (max-width: 320px) {

    .mobile .my-notice-box-area-new{
        padding: 30px 28px 22px 0px;
        background: none;
        border: none;
        margin-top: 0;
        list-style-type: disc;
        list-style-image: url(data:0);
        letter-spacing: -0.5px;
        font-size: 15px;
        line-height: 25px;
    }
} */


/* =============================================================================== */
/* =============================================================================== */
/* techb */

/* web font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/GmarketSansMedium.woff);
    src: url(./assets/fonts/GmarketSansMedium.woff) format('opentype');
}

@font-face {
    font-family: 'GmarketSansBold';
    font-style: normal;
    font-weight: bold; 
    src: url(./assets/fonts/GmarketSansBold.woff);
    src: url(./assets/fonts/GmarketSansBold.woff) format('opentype');
}

/* @font-face {
    font-family: 'SpoqaHanSansNeoRegular';
    font-style: normal;
    font-weight: normal; 
    src: url(./assets/fonts/SpoqaHanSansNeo-Regular.woff);
    src: url(./assets/fonts/SpoqaHanSansNeo-Regular.woff) format('opentype');
}

@font-face {
    font-family: 'SpoqaHanSansNeoMedium';
    font-style: normal;
    font-weight: 500; 
    src: url(./assets/fonts/SpoqaHanSansNeo-Medium.woff);
    src: url(./assets/fonts/SpoqaHanSansNeo-Medium.woff) format('opentype');
}

@font-face {
    font-family: 'SpoqaHanSansNeoBold';
    font-style: normal;
    font-weight: bold; 
    src: url(./assets/fonts/SpoqaHanSansNeo-Bold.woff);
    src: url(./assets/fonts/SpoqaHanSansNeo-Bold.woff) format('opentype');
} */
@font-face {
    font-family: 'GmarketSans';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Neo Medium'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Neo Light'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: local('Spoqa Han Sans Neo Thin'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}



/* CSS */

/* input 기본 달력 스타일 삭제 */
input[type="date"]::-webkit-clear-button, input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: none;
}
input[type=date]::-webkit-datetime-edit-text { -webkit-appearance: none; display: none; }
input[type=date]::-webkit-datetime-edit-month-field{ -webkit-appearance: none; display: none; }
input[type=date]::-webkit-datetime-edit-day-field { -webkit-appearance: none; display: none; }
input[type=date]::-webkit-datetime-edit-year-field { -webkit-appearance: none; display: none; }

/* input number 화살표 없애기 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* IE */
select::-ms-expand { 
    display: none;
}

select {
-o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Gmarket 폰트 */
.num {
    font-family: 'GmarketSans';
    vertical-align: middle;
}
.num-strong {
    font-family: 'GmarketSansBold';
    vertical-align: middle;
}

/* HOME Page */
/* box CSS */
.tb-box {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    position: relative;
    background-color: #fafbff;
    width: 552px;
    height: 418px;
    border-radius: 24px;
    margin: 32px 56px 0 0;
    box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
}

.tb-box-header {
    /* height: 74px; */
    width: 552px;
    display: flex;
    padding: 16px 24px;
    align-items: center;
}

.tb-box-header h1 {
    float: left;
    color: #04021f;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25;
    margin-right: 6px;
}

.tb-box-subtitle {
    color: #04021f;
    font-size: 18px;
    line-height: 1.4;
}

.tb-box-date {
    font-family: 'GmarketSans';
    position: absolute;
    right: 24px;
    color: #3e4259;
    line-height: 1.19;
    margin: 10px 0 3px 0;
}

.tb-saperator {
    display: block;
    background:#dcdee8;
    width: 504px;
    height: 1px;
    margin: 0 24px 8px 24px;
}


/* Section Pages */
/* 키워드 검색창 CSS */
.tb-keyword-search-box {
    font-family: 'Spoqa Han Sans Neo';
    position: relative;
    font-weight: bold;
    width: 700px;
    height: 192px;
    /* margin-left: 230px; */
    /* margin-top: 106px; */
}

.tb-keyword-search {
    position: relative;
    width: 700px;
    height: 72px;
    padding: 12px 24px 12px 32px;
    box-shadow: 0 6px 6px 0 rgba(36, 51, 179, 0.1);
    border-radius: 0 13px 13px 13px;
    background-color: #FFF;
}

.tb-keyword-search input {
    position: absolute;
    height: 28px;
    width: 528px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    outline: transparent;
    border: none;
    top: 22px;
    /* appearance: none; */
}

.web .search-btn {
    position: absolute;
    background: url('assets/images/home/ic_search_purple_48.png') center center no-repeat;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    width: 48px;
    height: 48px;
    right: 24px;
}

/* 박스 스타일 */
.box {
    background: #fafbff;
    /* padding: 32px 40px 48px; */
    padding: 16px 24px;
    border-radius: 24px;
    box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
}
.box .box-header {
    display: flex;
    margin-bottom: 31px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.41;
}
.box .box-header.box-icon {
    padding-left: 48px;
    background: url('assets/images/home/thum_navershoping_32.png') left center no-repeat;
    background-size: 32px 32px;
}
.box .box-header.box-icon img {
    vertical-align: middle;
    margin-top: -4px;
}
.box .contents-title {
    font-size: 18px;
    color: #04021f;
    font-weight: 500;
    line-height: 1.44;
}


  /* ------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------- */
  /* 컨텐츠 타이틀 영역 */
.title-area {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin-top: 58px;
}
.title-area .title {
    height: 40px;
    font-weight: bold;
    font-size: 30px;
    color: #04021f;
    padding-left: 48px;
    background-size: 40px;
    line-height: 38px;
}
.title-area .sub-title {
    display: block;
    padding-left: 48px;
    margin-top: 14px;
    color: #3f37c9;
}
.title-area .location-history {
    display: flex;
    align-items: center;
}
.title-area .location-history li {
    font-size: 18px;
    color: #b8b6c4;
}
.title-area .location-history li:not(:last-child) {
    position: relative;
    font-weight: bold;
    margin-right: 40px;
    cursor: pointer;
}
.title-area .location-history li:not(:last-child)::before {
    content: "";
    position: absolute;
    right: -33px;
    top: -3px;
    width: 24px;
    height: 24px;
    background: url('assets/images/ranking-search/ic_arrow_right_gray_24.png') center no-repeat;
}

/* //////////////////////////////////////////////////// */
/* 도움말 툴팁 */
.help-tool-tip {
    position: relative;
    width: 32px;
    height: 32px;
}
.help-tool-tip::after {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: max-content;
    padding: 16px;
    background: #3e4259a9;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #fff;
    line-height: 1.29;
    white-space:pre;
    transform: translateX(-46%);
    border-radius: 16px;
}
.help-tool-tip:hover::after {
    display: block;
}
/* ================================================================================================================ */
/* ================================================================================================================ */
/* ====================================================================================== */
/* Mobile */ 
/* contents */
.mobile #contents {
    position: relative;
    width: 100%; 
    z-index: 10;
}
.mobile #contents.null {
    height: 95vh;
}


/* 박스 스타일 */
.mobile .box {
    padding: 14px 0 20px 16px;
    border-radius: 16px;
    background: #fafbff;
    box-shadow: 0 3px 10px 0 rgba(36, 51, 179, 0.1);
    margin-bottom: 24px;
}
.mobile .box .box-header {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0;
    font-weight: 500;
    color: #04021f;
    line-height: 1;
}
/* 컨텐츠 타이틀 영역 */
.contents-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    /* margin-top: 34px; */
    padding: 0 2.4rem;
    margin-top: 9.6rem;
    margin-bottom: 3.2rem;
}
.contents-header .contents-title {
    display: flex;
    align-items: center;
}
.contents-header .contents-title img {
    width: 2.4rem;
    height: 2.4rem;
}
.contents-header .contents-title h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #04021f;
    padding-left: 5px;
}
.contents-header p {
    font-size: 1.2rem;
    color: #3f37c9;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
}

/* 공통 팝업 */
.m-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1040;
    display: none;
}
.m-popup .m-popup-box {
    width: 100%;
    background: #fff;
}
.m-popup.active {
    display: block;
}
.m-popup .m-popup-box .popup-header {
    position: relative;
    width: 100%;
    height: 4.8rem;
    line-height: 4.8rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #3e4259;
    text-align: center;
}
.m-popup .m-popup-box .popup-header .close-btn {
    position: absolute;
    right: 0rem;
    top: 0.4rem;
    width: 4.0rem;
    height: 4.0rem;
    background: none;
    padding: 0;
}
/* 모바일 */
    @media screen and (max-width: 767px) {
        bs-datepicker-container {
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
        }
        .bs-datepicker-container {
            padding: 1rem 0;
            width: 22rem;
            font-family: 'Spoqa Han Sans Neo';
            font-size: 1.4rem;
            font-weight: 500;
            color: #3e4259;
            margin: 0 1.2rem;
        }
        .theme-green .bs-datepicker-head {
            background: #fff;
            min-width: 100%;
            padding: 1rem 0;
        }
        .bs-datepicker-head button {
            color: #3e4259;
        }
        .bs-datepicker-head button.current {
            padding: 0;
        }
        .bs-datepicker-body {
            /* margin: 0 1.2rem; */
            border: none;
            min-width: 100%;
            min-height: 0;
            padding: 0 1rem 0 0;
        }
        .theme-green .bs-datepicker-body table td.week span {
            display: none;
        }
        .theme-green .bs-datepicker-body table td span.selected {
            background: #3f37c9;
        }
    }