.select-column {
    text-align: center;
}

.row-expand-button {
    cursor: pointer;
    text-align: center;
}

.clickable {
    cursor: pointer;
}
.text-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 20px;
}

.row-expansion {
    background: #f7f7f7;
}
/*
.checkbox{
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 9px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
} */



    .checks {position: relative;} .checks input[type="checkbox"] {
        position: absolute;
        width: 1px;
        height:1px; padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0
    }
    .checks input[type="checkbox"] + label {
        display: inline-block;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
    }
    .checks input[type="checkbox"] + label:before {
        /* // 가짜 체크박스 */
        content: ' ';
        display: inline-block;
        width: 14px; /* 체크박스의 너비를 지정 */
        height: 14px; /* 체크박스의 높이를 지정 */
        line-height: 15px; /* 세로정렬을 위해 높이값과 일치 */
        margin: -2px 8px 0 0;
        text-align: center;
        vertical-align: middle;
        background: #fff;
        border: 1px solid #cacece;
        border-radius : 3px;
    }
    .checks input[type="checkbox"] + label:active:before, .checks input[type="checkbox"]:checked + label:active:before {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }
    .checks input[type="checkbox"]:checked + label:before {
        /*체크박스를 체크했을때  */
        background: url(/assets/img/bo_checkbox_checked.png) no-repeat;
        background-position: 50% 50%;
        border-radius: 3px;
        color: #99a1a7;
        background-color: #fff;
        text-shadow: 1px 1px #fff;
        border-color: 1px solid #fff;
        box-shadow: 0px 1px 2px rgba(53, 31, 31, 0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    }


    .selected,
    .selected:hover {background:#FBFBFB !important;}





