<div class="data-table-wrapper">
    <data-table-header *ngIf="header" [buttons]="headerButons" [selectedRows]="selectedRows"></data-table-header>

    <div class="data-table-box" [ngClass]="{'has-scrollbar-x' : hasScrollBarX, 'has-scrollbar-y' : hasScrollBarY, 'hide-scrollbar': hideScrollbar}">
        <table class="table table-condensed table-bordered data-table" [style.width]="tableWidth"  [class.table-margin]="hasScrollBarX">
            <thead
                [class.thdisplay]="freezeTableHeader" [class.headerfixed]="tableHeaderPosition">
                <tr *ngIf="appendTableHeaderTemplate" [ngTemplateOutlet]="appendTableHeaderTemplate">
                    <!-- <th style="background:rgb(242, 246, 255)" colspan="3">A.거래처</th>
                    <th style="background:rgb(242, 246, 255)" colspan="5">B.상품</th>
                    <th style="background:rgb(242, 246, 255)" colspan="2">C.매입</th>
                    <th style="background:rgb(242, 246, 255)" colspan="2">D.출고</th>
                    <th style="background:rgb(242, 246, 255)" colspan="2">E.재고</th>
                    <th style="background:rgb(242, 246, 255)" colspan="5"> 입출고</th> -->
                </tr>
                <tr *ngIf="tableHeader">
                    <th [hide]="!expandColumnVisible" class="expand-column-header">

                    <!-- 선택박스 -->
                    <th [hide]="!selectColumnVisible" class="select-column-header">
                        <div class="checks">
                            <input id="checks-input{{id}}" [hide]="!multiSelect" type="checkbox" [(ngModel)]="selectAllCheckbox" class="checkmark"/>
                            <label for="checks-input{{id}}"></label>
                        </div>
                    </th>

                    <!-- 인덱스 -->
                    <th [hide]="!indexColumnVisible" class="index-column-header">
                        <span [textContent]="indexColumnHeader"></span>
                    </th>

                    <!-- columns : data-table-column -->
                    <th *ngFor="let column of columns" #th [hide]="!column.visible" (click)="headerClicked(column, $event)"
                        [class.sortable]="column.sortable" [class.resizable]="column.resizable"
                        [ngClass]="column.styleClassObject" class="column-header"
                        [style.width]="column.width | px"
                        [style.vertical-align]="column.middle"
                        [style.background-color]="column.backgroundColor">
                        <span *ngIf="!column.headerTemplate" [textContent]="column.header"></span>
                        <span *ngIf="column.headerTemplate" [ngTemplateOutlet]="column.headerTemplate" [ngTemplateOutletContext]="{column: column}"></span>
                        <span class="column-sort-icon" *ngIf="column.sortable">
                            <span class="glyphicon glyphicon-sort column-sortable-icon" [hide]="column.property === sortBy"></span>
                            <span [hide]="column.property !== sortBy">
                                <span class="glyphicon glyphicon-triangle-top" [hide]="!sortAsc"></span>
                                <span class="glyphicon glyphicon-triangle-bottom" [hide]="sortAsc"></span>
                            </span>
                        </span>
                        <span  class="column-resize-handle"
                            [class.thresizebar]="column.resizable"
                            (mousedown)="resizeColumnStart($event, column, th)">
                        </span>
                    </th>
                </tr>
            </thead>

            <!-- rows : 아이템 만큼 데이타를 출력합니다. -->
            <ng-container *ngIf="!useRowSpan">
                <tbody *ngFor="let item of items; let index=index" class="data-table-row-wrapper"
                    dataTableRow #row
                    [class.tbdisplay]="freezeTableHeader"
                    [item]="item"
                    [index]="index"
                    [expanded]= "expanded"
                    [disabled] = "item.disabled"
                    [columes] = "columns"
                    [appendItemCount] = "appendItemCount"
                    (selectedChange)="onRowSelectChanged(row)">
                </tbody>
            </ng-container>

            <!-- tbody -> tr 구조로 하면 rowspan안먹어서 tr을 앞으로 빼서 구조를 바꾼 버전 -->
            <ng-container *ngIf="useRowSpan">
                <tr	*ngFor="let item of items; let index=index"
                    class="data-table-row"
                    dataTableRow #row
                    [useRowSpan] = "useRowSpan"
                    [item]="item"
                    [index]="index"
                    [class.tbdisplay]="freezeTableHeader"
                    [expanded]= "expanded"
                    [disabled] = "item.disabled"
                    [columes] = "columns"
                    [appendItemCount] = "appendItemCount"
                    (selectedChange)="onRowSelectChanged(row)"
                    
                    [style.background-color]="getRowColor(item, index, row)"
                    [class.row-odd]="index % 2 === 0"
                    [class.row-even]="index % 2 === 1"
                    [class.row-sub]="item.sub"
                    [class.clickable]="selectOnRowClick || useRowClick"
                    (dblclick)="rowDoubleClicked(row, $event)"
                    (click)="rowClicked(row, $event)">
                </tr>
            </ng-container>
            
            <!-- 하위 잔여 아이템 출력 부분 pagenation #temp substituteItems -->
            <tbody *ngIf="pagination && substituteRows" class="substitute-rows"  >
                <tr *ngFor="let item of substituteItems, let index = index"
                    [class.row-odd]="(index + items.length) % 2 === 0"
                    [class.row-even]="(index + items.length) % 2 === 1">
                    <td [hide]="!expandColumnVisible"></td>
                    <td [hide]="!selectColumnVisible"></td>
                    <td [hide]="!indexColumnVisible">&nbsp;</td>
                    <td *ngFor="let column of columns" [hide]="!column.visible">
                </tr>
            </tbody>
        </table>
        <div class="loading-cover" *ngIf="showReloading && reloading"></div>
    </div>

    <data-table-pagination *ngIf="pagination"></data-table-pagination>
    <!-- <div class="total-rows">
        결제완료 합계
        <span class="number">5</span>
        <span class="txt">건</span>
        <span class="red-number">23,482,000</span>
        <span class="txt">원</span>
    </div> -->
</div>
