<!-- <bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'인쇄 배포용 쿠폰등록/수정'">
    <bo-page-button-config
        [title] = "'쿠폰 리스트'"
        [styleType] = "'square-m-black-btn'"
        (click) = "gotoListPage()">
    </bo-page-button-config>
    <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'저장하기'"
        [styleType] = "'square-m-white-btn'"
        (click) = "onSubmit()">
    </bo-page-button-config>
  </bo-page-header>
  <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
    <div class="section">
        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'쿠폰 인증번호'"
                [description]="'쿠폰 인증번호에 대한 정보를 입력하세요'">
            </bs-title-label-ctrl>

                <div class="content-box">
                        <div class="content-title content-title-large">
                            자동생성(권장) <img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content content-large content-top-line">
                            <div >
                                <input type="radio" id="offline_type_free" value="random" name="offline_type" formControlName="offline_type"  (change)="onClickOfflineType($event)" [checked]="offlineType == 'random'"/>
                                <label for="offline_type_free" class="check-label">랜덤한 인증번호
                                        <bs-input [name]="'offline_random_num'" [formGroup]="bsForm"  [style]="'small-input'"  [disabled]="offlineType != 'random'"  ></bs-input>
                                        개 자동생성(최대 1만개까지 가능)
                                </label>
                            </div>
                            <div>
                                    <input type="radio" id="offline_type_one" value="one" name="offline_type"  (change)="onClickOfflineType($event)" formControlName="offline_type" />
                                    <label for="offline_type_one" class="check-label">동일 인증번호 1개를 자동생성하여 (인증기간 동안)
                                            <bs-select [name]="'offline_limit'" [formGroup]="bsForm" [defaultValue]="''" (change)="clickChange($event)" [disabled]="offlineType != 'one'">
                                                <bs-option-config [value]= "'unlimit'" [label] = "'제한없이'"></bs-option-config>
                                                <bs-option-config [value]= "'limit'" [label] = "'선착순'"></bs-option-config>
                                            </bs-select>
                                            쿠폰 인증 허용
                                            <div [hidden]="offlineType != 'one' && offlineLimitAuto != limit ">
                                                <bs-input [name]="'offline_limit_ea'" [formGroup]="bsForm" [placeholder]="''" [style]="'small-input'" [required]="true" [disabled]="offlineLimitAuto != 'limit'"></bs-input>
                                                번까지 쿠폰 인증 허용
                                            </div>
                                    </label>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="content-box">
                        <div class="content-title content-title-large">
                            수동생성(권장안함) <img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content content-large">
                            <div>
                                <input type="radio" id="offline_type_file" value="file" name="offline_type" (change)="onClickOfflineType($event)" formControlName="offline_type" />
                                <label for="offline_type_file" class="check-label">인증번호 수동 등록</label>
                            </div>
                            <div>
                                    <input type="radio" id="offline_type_input" value="input" name="offline_type" (change)="onClickOfflineType($event)" formControlName="offline_type"/>
                                    <label for="offline_type_input" class="check-label">동일 인증번호
                                            <bs-input [name]="'offline_input_serialnumber'" [formGroup]="bsForm" [placeholder]="'　'" [style]="'small-input'" [disabled]="offlineType != 'input'" ></bs-input>
                                            로 (인증기간동안)

                                            <bs-select [name]="'offline_limit'" [formGroup]="bsForm" [defaultValue]="''" (change)="clickChange2($event)" [disabled]="offlineType != 'input'">
                                                <bs-option-config [value]= "'unlimit'" [label] = "'제한없이'"></bs-option-config>
                                                    <bs-option-config [value]= "'limit'" [label] = "'선착순'"></bs-option-config>
                                            </bs-select>
                                            쿠폰 인증 허용
                                            <div [hidden]="offlineLimit != 'limit' && offlineType != 'input'">
                                                    <bs-input [name]="'offline_limit_ea'" [formGroup]="bsForm" [placeholder]="''" [style]="'small-input'" [required]="true"  [disabled]="offlineLimit != 'limit'"></bs-input>
                                                번까지 쿠폰 인증 허용
                                            </div>

                                    </label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrap">
                <bs-title-label-ctrl
                    [title]="'쿠폰 제한'"
                    [description]="'쿠폰 제한에 관련된 정보를 입력하세요'">
                </bs-title-label-ctrl>

                <div class="content-box">
                        <div class="content-title">
                            수량제한 <img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content">
                            <bs-select [name]="'download_limit'" [formGroup]="bsForm" [defaultValue]="'limit'" (change)=onChangeLimit()>
                                    <bs-option-config [value]= "'limit'" [label] = "'누적제한'"></bs-option-config>
                                    <bs-option-config [value]= "'unlimit'" [label] = "'제한없음'"></bs-option-config>
                            </bs-select>
                            <div class="item-horizontal ">
                                <bs-input [name]="'download_limit_ea'" [formGroup]="bsForm" [placeholder]="''" [style]="'small-input'" [required]="true" ></bs-input>
                            </div>
                        </div>
                </div>

                <div class="content-box">
                        <div class="content-title">
                            기간 제한 <img class="required-img" src="assets/img/must_txt.png"/>

                        </div>
                        <div class="content">

                            <bo-date-time-input
                                [formGroup]="bsForm"
                                [name] = "'download_startdate'"
                                [isTime] = "true"
                                [required]="true">
                            </bo-date-time-input>
                            <span>~</span>
                            <bo-date-time-input
                                [formGroup]="bsForm"
                                [name] = "'download_enddate'"
                                [isTime] = "true"
                                [required]="true">
                            </bo-date-time-input>
                        </div>
                </div>

        </div>





        <div class="content-wrap two-line-content">
                <bs-title-label-ctrl
                    [title]="'쿠폰정보'"
                    [description]="'쿠폰정보를 입력하세요'">
                </bs-title-label-ctrl>

                <div class="content-box">
                        <div class="content-title">
                             생성일 :
                        </div>
                        <div class="content">
                            {{data?.regist_date | date: 'yyyy-MM-dd'}}


                        </div>
                </div>
                <div class="content-box">
                        <div class="content-title">
                             수정일 :
                        </div>
                        <div class="content">
                                {{data?.update_date | date: 'yyyy-MM-dd'}}

                        </div>
                </div>
                <div class="content-box">
                        <div class="content-title">
                            쿠폰명 <img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content">
                            <bs-input [name]="'coupon_name'" [formGroup]="bsForm" [placeholder]="' 쿠폰명을 입력하세요.'" [style]="'big-input'" [required]="true"></bs-input>

                        </div>
                </div>
                <div class="content-box">
                        <div class="content-title">
                             쿠폰설명 :
                        </div>
                        <div class="content">
                            <bs-input [name]="'coupon_desc'" [formGroup]="bsForm" [placeholder]="' 쿠폰설명을 입력하세요.'" [style]="'big-input'"></bs-input>

                        </div>
                </div>


                <div class="content-box">
                        <div class="content-title">
                             사용제한 :
                        </div>
                        <div class="content content-top-line">
                                <input type="radio" id="coupon_same_time_y" value="Y" name="coupon_same_time" formControlName="coupon_same_time" [checked]="true"/>
                                <label for="coupon_same_time_y" class="check-label">동시사용가능</label>
                                <input type="radio" id="coupon_same_time_n" value="N" name="coupon_same_time" formControlName="coupon_same_time" />
                                <label for="coupon_same_time_n" class="check-label">단독사용</label>

                        </div>
                </div>
                <div class="content-box">
                        <div class="content-title">
                            사용금액 <img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content">

                                <bs-input [name]="'limit_goods_price'" [formGroup]="bsForm" [placeholder]="''" [style]="'small-input'" [required]="true"></bs-input>
                                원 이상이면 사용가능

                        </div>
                </div>
                <div class="content-box">
                        <div class="content-title">
                             사용환경 :
                        </div>
                        <div class="content content-top-line">
                            <input type="radio" id="sale_agent_all" value="a" name="sale_agent" formControlName="sale_agent" [checked]="true"/>
                            <label for="sale_agent_all" class="check-label">모든 환경</label>
                            <input type="radio" id="sale_agent_m" value="m" name="sale_agent" formControlName="sale_agent" />
                            <label for="sale_agent_m" class="check-label">모바일</label>

                        </div>
                </div>
                <div class="content-box">
                        <div class="content-title">
                             결제수단 :
                        </div>
                        <div class="content content-top-line">
                            <input type="radio" id="sale_payment_all" value="a" name="sale_payment" formControlName="sale_payment" [checked]="true"/>
                            <label for="sale_payment_all" class="check-label">모든 결제수단</label>
                            <input type="radio" id="sale_payment_b" value="b" name="sale_payment" formControlName="sale_payment" />
                            <label for="sale_payment_b" class="check-label">무통장</label>

                        </div>
                </div>

        </div>

        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'혜택'"
                [description]="'쿠폰 혜택에 관련된 정보를 입력하세요'">
            </bs-title-label-ctrl>

            <div class="content-box" *ngIf="categoryType != 'shipping'">
                    <div class="content-title">
                         금액<img class="required-img" src="assets/img/must_txt.png"/>
                    </div>
                    <div class="content">
                            <input type="radio" id="sale_type_per" value="percent" name="sale_type" formControlName="sale_type" [checked]="true"/>
                            <label for="sale_type_per" class="check-label">
                                <div class="label-to-radio">
                                    상품 할인가 (판매가) x 수량 1개의
                                    <bs-input [name]="'percent_goods_sale'" [formGroup]="bsForm" [placeholder]="'　'"
                                        [style]="'small-input'"  ></bs-input>
                                    % 할인 , 최대
                                    <bs-input [name]="'max_percent_goods_sale'" [formGroup]="bsForm" [placeholder]="'　'"
                                    [style]="'small-input'"  ></bs-input>
                                    원
                                </div>
                            </label>
                            <input type="radio" id="sale_type_won" value="won" name="sale_type" formControlName="sale_type" />
                            <label for="sale_type_won" class="check-label">
                                <div class="label-to-radio">
                                    <bs-input [name]="'won_goods_sale'" [formGroup]="bsForm" [placeholder]="'　'"
                                        [style]="'small-input'" [required]="true"></bs-input>
                                    원 할인
                                </div>
                            </label>
                    </div>
            </div>
            <div class="content-box" *ngIf="categoryType == 'shipping'">
                    <div class="content-title">
                         금액 :
                    </div>
                    <div class="content">
                            <input type="radio" id="shipping_type_fr" value="free" name="shipping_type"
                            formControlName="shipping_type" [checked]="true"/>
                            <label for="shipping_type_fr" class="check-label">
                                <div class="label-to-radio">
                                    기본 배송비 무료, 최대
                                    <bs-input [name]="'max_percent_shipping_sale'" [formGroup]="bsForm" [placeholder]="'　'"
                                        [style]="'small-input'" ></bs-input>
                                    원(개별 배송 상품 제외)
                                </div>
                            </label>

                            <input type="radio" id="shipping_type_nofr" value="won" name="shipping_type"
                            formControlName="shipping_type" />
                            <label for="shipping_type_nofr" class="check-label">
                                <div class="label-to-radio">
                                    기본 배송비
                                    <bs-input [name]="'won_shipping_sale'" [formGroup]="bsForm" [placeholder]="'　'"
                                        [style]="'small-input'"  ></bs-input>
                                    원 할인(개별 배송 상품 제외)
                                </div>
                            </label>
                    </div>

            </div>

            <div class="content-box">
                <div class="content-title">
                    사용 유효기간<img class="required-img" src="assets/img/must_txt.png"/>
                </div>
                <div class="content">
                        <input type="radio" id="issue_priod_type_date" value="date" name="issue_priod_type" formControlName="issue_priod_type" [checked]="true"/>
                        <label for="issue_priod_type_date" class="check-label">
                            <div class="label-to-radio">
                                <bo-period-input
                                [formGroup]="bsForm"
                                [name] = "'issue_startdate'"
                                [endDateName] = "'issue_enddate'">
                            </bo-period-input>
                            </div>
                        </label>
                        <input type="radio" id="issue_priod_type_day" value="day" name="issue_priod_type" formControlName="issue_priod_type" />
                        <label for="issue_priod_type_day" class="check-label">
                            <div class="label-to-radio">
                                발급일로부터
                                <bs-input [name]="'after_issue_day'" [formGroup]="bsForm" [placeholder]="''" [style]="'small-input'" ></bs-input>
                                일 동안 사용가능
                            </div>
                        </label>

                </div>
                <div class="content-box">
                    <div class="content-title">
                        중복 할인
                    </div>
                    <div class="content">
                        <bs-checkbox [formGroup]="bsForm" [name]="'duplication_use'" [label]="'중복 사용 가능'"
                            [value]="1">
                        </bs-checkbox>
                    </div>
                </div>
        </div>
        </div>

        <div class="content-wrap">
                <bs-title-label-ctrl
                    [title]="'대상 상품 선택'"
                    [description]="'대상상품 정보를 입력하세요'">
                </bs-title-label-ctrl>

                <div class="content-box">
                        <div class="content-title">
                            대상 상품 <img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content content-top-line">
                            <div class="content-inline">
                                <input type="radio" id="issue_type_all" value="all" [name]="'issue_type'" (change)="onClickSelectItem($event)" formControlName="issue_type"  [checked]="issueType === 'all' "/>
                                <label for="issue_type_all" class="check-label">전체상품</label>
                            </div>
                            <div class="content-inline">
                                <input type="radio" id="issue_type_cate" value="issue" [name]="'issue_type'" (change)="onClickSelectItem($event)" formControlName="issue_type"  />
                                <label for="issue_type_cate" class="check-label">특정 상품/카테고리에서만 쿠폰사용 가능</label>
                            </div>
                             <div class="content-inline">
                                <input type="radio" id="issue_type_view" value="except" [name]="'issue_type'" (change)="onClickSelectItem($event)" formControlName="issue_type"  />
                                <label for="issue_type_view" class="check-label">특정 상품/카테고리에서는 쿠폰사용 불가</label>
                            </div>

                        </div>
                        <div class="content">

                            <div *ngIf="issueType == 'issue'">

                                                <div class="none-padding-td-table content-table">
                                                    <table>
                                                        <colgroup>
                                                            <col width="20%" />
                                                            <col width="20%" />
                                                            <col width="20%" />
                                                            <col width="20%" />
                                                            <col width="20%" />
                                                        </colgroup>
                                                        <tr>
                                                            <th>1차 카테고리</th>
                                                            <th>2차 카테고리</th>
                                                            <th>3차 카테고리</th>
                                                            <th>4차 카테고리</th>
                                                            <th>등록</th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="category-con">
                                                                    <li class="clickable" *ngFor="let item of category[1]" (click)="onClickCategory('2',item)" [ngClass]="{'active' : selectCategory[0]?.category_code == item.category_code}">{{item.title}}</li>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="category-con">
                                                                    <li class="clickable" *ngFor="let item of category[2]" (click)="onClickCategory('3',item)" [ngClass]="{'active' : selectCategory[1]?.category_code == item.category_code}">{{item.title}}</li>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="category-con">
                                                                    <li class="clickable" *ngFor="let item of category[3]" (click)="onClickCategory('4',item)" [ngClass]="{'active' : selectCategory[2]?.category_code == item.category_code}">{{item.title}}</li>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="category-con">
                                                                    <li class="clickable" *ngFor="let item of category[4]" (click)="onClickCategory('',item)" [ngClass]="{'active' : selectCategory[3]?.category_code == item.category_code}">{{item.title}}</li>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="category-con">
                                                                    <div class="btn-pos"><bo-page-button [title]="'선택'" [type]="'square-s-red'" (click)="onClickSelectCategory()"></bo-page-button></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="content-box">
                                                    <div class="content-title">
                                                          등록된 카테고리:
                                                    </div>
                                                    <div class="content">

                                                    </div>
                                                </div>
                                                <div class="content-table">
                                                    <table style="border: 1px solid #979797;">
                                                        <colgroup>
                                                            <col width="100%" />
                                                        </colgroup>
                                                        <tr>
                                                            <th class="inner-two-line-table" style="font-size: 13px;">선택된 카테고리</th>
                                                        </tr>
                                                        <tr *ngFor="let item of categoryList;let i = index; let last = last;">

                                                            <td class="inner-two-line-table align-left" style="font-size: 13px;" >
                                                                <span>{{item.category_name}}</span>
                                                                <img src="/assets/img/mi.svg" style="float: right; padding-right: 15px;" (click)="onClickRemoveCategory(i)" />
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>

                                <div *ngIf="goodsRuleItem == 'goods_view'">
                                        <button type="button" (click)="onClickGoodsNumber()">상품 선택</button>
                                        <div class="content-table">
                                            <table>
                                                <colgroup>
                                                    <col width="10%" />
                                                    <col width="40%" />
                                                    <col width="10%" />
                                                </colgroup>
                                                <tr>
                                                    <th>번호</th>
                                                    <th>상품명</th>
                                                    <th>관리</th>
                                                </tr>
                                                <tr *ngFor="let item of goodsItems">
                                                    <td>{{item?.goods_seq}}</td>
                                                    <td class="align-left">
                                                        <div class="thumb-image-box " [style.background-image]="'url('+item.image+')'"></div>
                                                        {{item?.goods_name}}
                                                    </td>
                                                    <td><button type="button" (click)="onClickDelGoods(item)">삭제</button></td>
                                                </tr>

                                            </table>
                                        </div>
                                </div>
                            </div>
                            <div *ngIf="issueType == 'except'">
                                    <button type="button" (click)="onClickGoodsNumber()">상품 선택</button>
                                    <div class="content-table">
                                        <table>
                                            <colgroup>
                                                <col width="10%" />
                                                <col width="40%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr>
                                                <th>번호</th>
                                                <th>상품명</th>
                                                <th>관리</th>
                                            </tr>
                                            <tr *ngFor="let item of goodsItems">
                                                <td>{{item?.goods_seq}}</td>
                                                <td>
                                                    <div class="thumb-image-box" [style.background-image]="'url('+item.image+')'"></div>
                                                    {{item?.goods_name}}
                                                </td>
                                                <td><button type="button" (click)="onClickDelGoods(item)">삭제</button></td>
                                            </tr>

                                        </table>
                                    </div>
                            </div>
                        </div>

                </div>
                <div class="content-box">
                        <div class="content-title">
                            <img src="/assets/img/group-6.svg"/><img class="required-img" src="assets/img/must_txt.png"/>제외 상품 :

                        </div>
                        <div class="content content-top-line">
                                <div class="content-inline">
                                    <bs-checkbox [formGroup]="bsForm"
                                        [name]="'except_goods'"
                                        [label]="'특정 카테고리'"

                                        [value]="'y'">
                                    </bs-checkbox>

                                </div>
                                <div class="content content-inline" >
                                    <bs-checkbox [formGroup]="bsForm"
                                        [disabled]="issueType == 'except'"
                                        [name]="'except'"
                                        [label]="'특정 상품'"

                                        [value]="'y'">
                                    </bs-checkbox>
                                </div>
                        </div>
                </div>
        </div>
        <div class="content-wrap">
          <bo-submit-button-form                 [hasCancelBtn]="true"                 (clickCancel)="gotoListPage()">             </bo-submit-button-form>
        </div>
    </div>
</form> -->
