.bo-btn-section {
    text-align: center;
    padding: 5px 0 10px 0;
}
.btn-sec{
    text-align: center;
    /* padding: 40px 10px 50px !important; */
}
/* .btn-sec button{
    background-image: linear-gradient(to bottom, #788691, #4d5d68);
    border: solid 1px #46505d;
    border-radius: 4px;
    color: #fff;
    min-width: 270px;
    height: 40px;
    font-size: 15px;
} */


.btn-sec button.square-m-white-btn  {
    min-width: 120px;
    height: 30px;
    line-height: 29px;
    border: solid 1px rgb(33,33,33);
    color: rgb(33,33,33);
    background-color: #ffffff;
    border-radius: 0;
    font-size: 13px;
}
.btn-sec button.square-m-black-btn{
    min-width: 120px;
    height: 30px;
    line-height: 29px;
    border: solid 1px rgb(33,33,33);
    color: rgb(255,255,255);
    background-color: rgb(33,33,33);
    border-radius: 0;
    font-size: 12px;
}
