<!-- <div (click)="onClickShowSearchbox()">
  <img src="/assets/img/search-icon.svg">
</div>
<div class="search-wrap" [hidden]="!isShowSearchbox">
  <div class="arrow-img">
    <img src="/assets/img/arrow.png">
  </div>
  <div class="search-box">
    <div class="search-header-icon"><img src="/assets/img/small-search.png" /></div>
    <div class="search-header-txt">통합검색</div>
    <div class="search-content">
      <input type="search" />
      <button>검색</button>
    </div>
    <div class="search-info">
      메뉴, 상품, 회원, 주문번호 검색
    </div>
  </div>
</div> -->