.grid-list-item {
    padding: 0 7.5px;
    margin-top: 20px;
}
.grid-list-item .item-info{
    padding: 0 ;
    font-size: 16px;
}
.item-dummy-block{
    position: relative;
    background: #f3f3f3;
}
.item-dummy{
    padding-top: 100%;
}
.item-img{
    background-image: url('/assets/img/ian-avatar.png');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.item-name{
    width: 100%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
}