<!-- header-->
<bo-page-header [imgUrl]="'assets/img/coupon-title-img.svg'" [title]="'기획전 리스트 '">


    <bo-page-button-config
        [title] = "'기획전 화면보기'"
        [styleType] = "'square-m-white-btn'"
        (click) = "goToPageClient()">
    </bo-page-button-config>
    <!-- 게시글등록 버튼-->
    <bo-page-button-config id = "id-board-content-list-btn-online-create"
        [title]="'기본형 기획전 등록'"
        [styleType] = "'square-m-black-btn'"
        (click) = "createItem($event)">
    </bo-page-button-config>

    <bo-page-button-config id = "id-board-content-list-btn-online-create"
        [title]="'확장형 기획전 등록'"
        [styleType] = "'square-m-black-btn'"
        (click) = "createItem2()">
    </bo-page-button-config>

</bo-page-header>

<div class="list-section">

    <!-- query form -->
    <event-planshop-query-form [setQuery]="query"(query)="reloadWithQuery($event)"></event-planshop-query-form>
    <!-- <goods-query-form></goods-query-form> -->
    <!-- <app-board-list-query-form></app-board-list-query-form> -->
    <!-- space -->
    <bo-page-padding></bo-page-padding>

    <div class="list-wrap-se">
        <!-- list -->
        <div style="margin: auto; max-width: 100%; margin-bottom: 50px;">
            <data-table #bsDatatable
                headerTitle="datatable"
                [header]="true"
                [items]="items"
                [itemCount]="itemCount"
                [indexColumn]="true"
                [selectColumn]="true"
                (reload)="reloadItems($event)"
                [sortBy] = "'seq'"
                [sortAsc] = "false"
                 >

                <!-- 선택삭제 버튼-->
                <bs-header-button-config id = "id-board-list-selected-btn"
                    [title] = "'선택삭제'"
                    [styleType] = "'square-s-greyborder-btn'"
                    (click) = "deleteSelectedItem($event, 'seq')">
                </bs-header-button-config>
                <!-- 선택삭제 버튼-->
                <!-- 오른쪽정렬은 버튼순서 역순입니다 -->
                <!-- <bs-header-button-config id = "id-board-content-list-deleteall-btn2"
                [title] = "'버튼2'"
                [styleType] = "'round-m-white'"
                [align]="'right'"
                (click) = "onClickDTHeaderBtn($event)">
                </bs-header-button-config>
                <bs-header-button-config id = "id-board-content-list-deleteall-btn2"
                [title] = "'버튼3'"
                [styleType] = "'round-m-white'"
                [align]="'right'"
                (click) = "onClickDTHeaderBtn($event)">
                </bs-header-button-config> -->

                <!-- <data-table-column
                    [property]="'seq'"
                    [header]="'번호'"
                    [sortable]="true"
                    [width]="80">
                </data-table-column> -->

                <data-table-column
                    [property]="'regist_date'"
                    [header]="'타입'"
                    [sortable]="true"
                    [width]="70">
                    <ng-template #dataTableCell let-item="item">
                        {{item.skin == 'planshop'?'확장형':'일반형'}}
                    </ng-template>
                </data-table-column>

                <!-- <data-table-column
                    [property]="'ext_date'"
                    [header]="'당첨발표일'"
                    [sortable]="true"
                    [width]="150">
                    <ng-template #dataTableCell let-item="item">
                        {{item.ext_date | date: 'yyyy-MM-dd HH:mm'}}
                    </ng-template>
                </data-table-column> -->

                <data-table-column
                    [property]="'subject'"
                    [header]="'제목'"
                    [align]="'left'"
                    >
                </data-table-column>

                <data-table-column
                    [property]="'banner_url'"
                    [header]="'리스트이미지(PC)'"
                    [width]="90"
                    [sortable]="true">
                    <ng-template #dataTableCell let-item="item" >
                        <img [src] = "item.thumbnail_url"  style="width: 44px; height: 44px;">
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [property]="'banner_url'"
                    [header]="'리스트이미지(모바일)'"
                    [width]="90"
                    [sortable]="true">
                    <ng-template #dataTableCell let-item="item" >
                        <img [src] = "item.mobile_thumbnail"  style="width: 44px; height: 44px;">
                    </ng-template>
                </data-table-column>


                <data-table-column
                    [header]="'이벤트기간'"
                    [sortable]="true"
                    [width]="200">
                    <ng-template #dataTableCell let-item="item">
                            {{item.m_date | date: 'yyyy-MM-dd HH:mm'}}<br/>
                            {{item.d_date | date: 'yyyy-MM-dd HH:mm'}}
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [property]="'regist_date'"
                    [header]="'등록일'"
                    [sortable]="true"
                    [width]="150">
                    <ng-template #dataTableCell let-item="item">
                            {{item.regist_date | date: 'yyyy-MM-dd HH:mm'}}
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [header]="'사용자화면'"
                    [width]="120">
                    <!-- <ng-template #dataTableHeader let-item="item">
                        이벤트 보기
                    </ng-template> -->
                    <ng-template #dataTableCell let-item="item">
                        <a *ngIf="item.skin && item.skin == 'planshop'" target="_blank"
                            href="{{apiURL + '/admin/gateway/entrance?returnUrl=' + clientURL + '/goods/plan/' +item.seq }}">
                            <bo-page-button [type]="'s-darkblue'" [title]="'사용자화면'"></bo-page-button>
                        </a>
                        <a *ngIf="item.link_url" target="_blank" href="{{clientURL + item.link_url }}">
                            <bo-page-button [type]="'s-lightnavy'" [title]="'연결URL'"></bo-page-button>
                        </a>
                        <a *ngIf="!item.link_url && item.contents" target="_blank"
                            href="{{apiURL + '/admin/gateway/entrance?returnUrl=' + clientURL + '/board/planshop/view/' +item.seq }}">
                            <bo-page-button [type]="'s-darkblue'" [title]="'사용자화면'"></bo-page-button>
                        </a>
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [property]="'finish'"
                    [header]="'진행여부'"
                    [width]="80">
                </data-table-column>

                <data-table-column
                    [property]="'hidden'"
                    [header]="'노출'"
                    [width]="80">
                    <ng-template #dataTableCell let-item="item">
                        <ui-switch (change)="onClickChangeHiddenStatus($event, item)" [checked]="item.hidden == 0" size="small" color="#e7e7e7" switchColor="rgb(234,0,61)" switchOffColor="rgb(150,150,150)" defaultBgColor="#dadada" defaultBoColor="#dadada"></ui-switch>
                    </ng-template>
                </data-table-column>

                <data-table-column
                    header="comment"
                    [width]="80">
                    <ng-template #dataTableHeader let-item="item">
                        댓글관리
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                        <bo-page-button [type]="'s-lightnavy'" [title]="'댓글관리'" (click)="onClickCommentManageBtn(item, template)"></bo-page-button>
                    </ng-template>
                </data-table-column>

                <data-table-column
                    header="manage"
                    [width]="300">
                    <ng-template #dataTableHeader let-item="item">
                        수정
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                            <bo-button-collection class="margin-class" [id]="'edit'" (click)="updateItem(item)" ></bo-button-collection>
                            <bo-button-collection [id]="'copy'" (click)="onClickCopy(item.boardid , item.seq)"></bo-button-collection>
                            <bo-button-collection class="margin-class" [id]="'delete'" (click)="deleteItem(item.seq)"></bo-button-collection>
                    </ng-template>
                </data-table-column>
            </data-table>
        </div>
    </div>
</div>

<ng-template #template>
    <board-comment-view 
        [oriContentData]="selectedItem" 
        [boardConfig]="boardConfig" 
        [boardId]="selectedBoardId" 
        [parentContentId]="parentContentId" 
        (onClickButton)="onClickButton($event)">
    </board-comment-view>
</ng-template>
