<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->


       <!-- formGroup : bsForm -->
       <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
            <div class="query-wrap">

                <div class="form-block">

                    <!-- 검색어 -->
                    <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">검색어</div>
                                <input type="text" class="form-control search-input item-horizontal" formControlName="keyword" >
                            </div>
                        </div>
                    <!-- <bo-searchkeyword-form [formGroup]="bsForm"></bo-searchkeyword-form> -->

                    <!-- <bo-period-form [formGroup]="bsForm"></bo-period-form> -->
                    <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">등록일</div>
                                <bo-period-query [formGroup]="bsForm" [name]="'period'">
                                    <bo-period-query-option-config [value]="'regist_date'" [label]="'등록일'">
                                    </bo-period-query-option-config>

                                </bo-period-query>
                            </div>
                        </div>
                    <!-- <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">등록일자 :</div>
                            <bo-period-query [formGroup]="bsForm" [name]="'r_date'">
                            </bo-period-query>
                        </div>
                    </div> -->
                    <div class="form-box" *ngIf="!appConfig.isProvider"  style="min-height: 50px; height: auto; padding-top: 5px;">
                        <div class="form-item" style="height: auto; line-height: 25px;">
                            <div class="form-title">입점사</div>
                            <bo-provider-query-view [formGroup]="bsForm"></bo-provider-query-view>
                        </div>
                    </div>

                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">평점</div>
                            <select class="form-selectbox item-horizontal medium-input" formControlName="score">
                                <option [selected]="true" value="">- 평점전체 -</option>
                                <option value="1">★</option>
                                <option value="2">★★</option>
                                <option value="3">★★★</option>
                                <option value="4">★★★★</option>
                                <option value="5">★★★★★</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">분류</div>
                                <!-- <bs-select [name]="'category'"
                                    [formGroup]="bsForm"
                                    [optionApiUrl]="'admin/board/boardmanager/'+boardId"
                                    [optionRoot]="'category'">
                                </bs-select> -->
                                <bo-group-checkbox [formGroup]="bsForm" [name]="'is_upload'">
                                    <bo-checkbox-config [title]="'일반후기'" [value]="'n'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'포토후기'" [value]="'y'"></bo-checkbox-config>
                                </bo-group-checkbox>
                        </div>
                    </div>

                    <div class="form-box" *ngIf="!appConfig.isProvider">
                        <div class="form-item">
                            <div class="form-title">베스트</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'best'">
                                    <bo-checkbox-config [title]="'베스트'" [value]="'checked'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'일반'" [value]="'none'"></bo-checkbox-config>
                            </bo-group-checkbox>
                            <!-- <bs-checkbox [formGroup]="bsForm"
                                [name]="'favorite_chk'"
                                [label]="'베스트'"
                                [value]="'checked'">
                            </bs-checkbox>
                            <bs-checkbox [formGroup]="bsForm"
                                [name]="'favorite_chk'"
                                [label]="'일반'"
                                [value]="'none'">
                            </bs-checkbox> -->
                        </div>
                    </div>

                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">답변상태</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'reply'">
                                <bo-checkbox-config [title]="'답변'" [value]="'0'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'미답변'" [value]="'1'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>
                    </div>
                    
                    <!-- 노출 -->
                    <!-- <bo-showhide-form [formGroup]="bsForm"></bo-showhide-form> -->

                    <div class="form-box" *ngIf="!appConfig.isProvider">
                        <div class="form-item">
                            <div class="form-title">노출</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'hidden'">
                                <bo-checkbox-config [title]="'노출'" [value]="'0'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'미노출'" [value]="'1'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>
                    </div>


                    <!-- 기간 -->
                    <!-- <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">기간조회 :</div>
                                <bo-period-query [formGroup]="bsForm" [name]="'period'" [defaultValue]="'regist_date'">
                                    <bo-period-query-option-config [value]="'regist_date'" [label]="'등록일'">
                                    </bo-period-query-option-config>
                                    <bo-period-query-option-config [value]="'update_date'" [label]="'수정일'">
                                    </bo-period-query-option-config>
                                </bo-period-query>
                            </div>
                        </div> -->



                </div>
            </div>

       <!-- 검색 버튼 -->
       <!-- <div class="button-area">
           <button type="submit" class="btn search-btn">
               <img src="../assets/img/board/board-search-icon.svg"/>
               검색
           </button>
       </div> -->

       <bo-search-button-form></bo-search-button-form>
       </form>
</div>
