<div class="content_header_box">
  <div *ngFor="let item of areas" class="header" [ngClass]="{'active': item.selected}"  (click)="onClickAreaTab(item.name)">{{item.name}}</div>
</div>

<div class="content_box">
  <div class="content_menu_box" [hidden]="!isShowSidebar" [style.height.px]="parkMapContainerHeight">
    
    <!-- 공지사항 박스 -->
    <!-- <div class="notice_box">
      <div class="ic_notice">
        <img src="/assets/img/ic_notice_grey_32.png">
      </div>

      <div class="notice_text">
        해당 층의 공지사항이 나오는 영역입니다
      </div>

      <div class="ic_next">
        <img src="/assets/img/ic_arrow_right_grey_32.png">
      </div>
    </div> -->

    <div class="leftbox_status_view">
      <ul class="leftbox_main_board_above">
        <li class="leftbox_parking_status_box">

          <div class="leftbox_parking_status">
            <div class="leftbox_parking_status_title">
              <span><img src="assets/img/ic_parking_current_grey_24.png"></span>
              <span>주차 현황</span>
            </div>

            <div class="leftbox_parking_subtitle">
              <span>주차</span>
              <span>출차</span>
              <span>이슈</span>
            </div>

            <div class="leftbox_parking_value">
              <span>{{selAreaData?.stats.parkState.park}}</span>
              <span>{{selAreaData?.stats.parkState.exit}}</span>
              <span>{{selAreaData?.stats.parkState.issue}}</span>
            </div>

          </div>        

        </li>

        <li>
          <div class="leftbox_management_status">
            <div class="leftbox_management_status_title">
              <span><img src="assets/img/ic_management_grey_24.png"></span>
              <span>운영 현황</span>
            </div>

            <div class="leftbox_management_subtitle">
              <span>정상</span>
              <span>교체 필요</span>
              <span>이슈</span>
            </div>

            <div class="leftbox_management_value">
              <span>{{selAreaData?.stats.operState.normal}}</span>
              <span>{{selAreaData?.stats.operState.abnormal}}</span>
              <span>{{selAreaData?.stats.operState.issue}}</span>
            </div>

          </div>

        </li>

      </ul>

    </div>

    <div class="divide_bar">
    </div>

    <div class="leftbox_statistics_view">
      <ul class="leftbox_main_board_bottom">
        <li>
          <div class="leftbox_parking_statistics">
            <div class="leftbox_parking_statistics_title">
              <span><img src="assets/img/ic_statistics_grey_24.png"></span>
              <span>주차 현황 통계</span>
            </div>

            <div class="leftbox_statistics_value_text_box">   
                <div class="leftbox_statistics_value_image">
                  <bs-chart #chart 
                    [datasets]="chartDatasetsParkState" 
                    [labels]="" 
                    [colors]="chartConfig.colors"
                    [chartType]="'doughnut'"
                    [options]="chartOptions" 
                    [width]="500" [height]="500">
                  </bs-chart>  
                </div>
                
                <div class="leftbox_park_content_text">
                  <ul>
                    <li class="leftbox_park">주차</li>
                    <li class="leftbox_leave">출차</li>
                    <li class="leftbox_park_issue">이슈</li>
                  </ul>
                </div>

                <div class="leftbox_park_content_value">
                  <ul>
                    <li>{{selAreaData?.stats.parkStatics.park * 100}}%</li>
                    <li>{{selAreaData?.stats.parkStatics.exit * 100}}%</li>
                    <li>{{selAreaData?.stats.parkStatics.issue * 100}}%</li>
                  </ul>
                </div>
            </div>

          </div>
          
        </li>


        <li>
          <div class="leftbox_management_statistics">
            <div class="leftbox_management_statistics_title">
              <span><img src="assets/img/ic_statistics_grey_24.png"></span>
              <span>운영 현황 현황 통계</span>
            </div>

            <div class="leftbox_statistics_value_text_box">  
               <div class="leftbox_statistics_value_image">
                  <bs-chart #chart2 
                    [datasets]="chartDatasetsOperState" 
                    [labels]="chartLablesSample"
                    [colors]="chartConfig2.colors"
                    [chartType]="'doughnut'"
                    [options]="chartOptions" 
                    [width]="500" [height]="500">
                  </bs-chart>  
                </div>
              <div class="leftbox_management_content_text">
                <ul>
                  <li class="leftbox_management_normal">정상</li>
                  <li class="leftbox_management_change">교체 필요</li>
                  <li class="leftbox_management_issue">이슈</li>
                </ul>
              </div>

              <div class="leftbox_management_content_value">
                <ul>
                  <li>{{selAreaData?.stats.operStatics.normal * 100}}%</li>
                  <li>{{selAreaData?.stats.operStatics.abnormal * 100}}%</li>
                  <li>{{selAreaData?.stats.operStatics.issue * 100}}%</li>
                </ul>
              </div>

            </div>
            
          </div>
          
        </li>   

      </ul>

    </div>


    <!-- <div class="divide_bar_bottom">
    </div>

    <div class="real_time_view">
      <div class="real_time_title_box">
        <span class="leftbox_ic_log"><img src="assets/img/ic_log_grey_24.png"></span>
        <span class="leftbox_real_time_text">실시간 입/출차 차량 로그</span>
      </div>

      <div class="real_time_value_box">
        <div class="real_time_value">
          <div class="leftbox_date">11/12</div>
          <div class="leftbox_time">11:00:11</div>
          <div class="leftbox_status">출차</div>
        </div>

        <div class="real_time_value">
          <div class="leftbox_date">11/12</div>
          <div class="leftbox_time">10:49:10</div>
          <div class="leftbox_status">출차</div>
        </div>

        <div class="real_time_value">
          <div class="leftbox_date">11/12</div>
          <div class="leftbox_time">08:21:43</div>
          <div class="leftbox_status">출차</div>
        </div>

        <div class="real_time_value">
          <div class="leftbox_date">11/12</div>
          <div class="leftbox_time">07:32:28</div>
          <div class="leftbox_status">출차</div>
        </div>
      </div>
    </div> -->
  </div>

  
  <div class="content_image_box" [style.width.px]="parkMapContainerWidth" [style.height.px]="parkMapContainerHeight">
    <div class="park-map-container" [style.width.px]="parkMapContainerWidth" [style.height.px]="parkMapContainerHeight">
      <canvas #parkCanvas id="parkCanvas"  (click)="onClickCanvas($event)">
      </canvas>   
    </div>

    <div class="choice_box" a href="#" >
      <div class="ic_parking_status" [ngClass]="{'active': isShowParkStatus }" (click)="onClickShowParkStatus(true)">
        <div class="parking-image" [ngClass]="{'active': isShowParkStatus }"> </div>
        <span class="parking-text">주차 현황</span>
      </div>

      <div class="choice_bar">
      </div>

      <div class="ic_management_status" [ngClass]="{'active': !isShowParkStatus }" (click)="onClickShowParkStatus(false)">
        <div class="management-image" [ngClass]="{'active': !isShowParkStatus }"> </div>
        <span class="parking-text">운영 현황</span>
      </div>
    </div>

    <!-- <div class="date-search-box-a">
      <div class="date-search-box">
        <div class="ic-search-box">
          <img class="main-search-image" src="/assets/img/ic_time_grey_32.png">

          <div class="search-bar">
          </div>

          <span class="date-text">2022-04-06</span>
          <span class="time-text">23:59:59</span> 
        </div>
        
      </div>

      <div class="date-search-btn-box">
          <span class="search-text">조회</span>
      </div>
    </div> -->

    <div class="arrow_box">
      <div class="arrow_left clickable" (click)="onClickHideSidebar()">
        <img src="/assets/img/btn_accordion_unfold.png">
      </div>
    </div>
    
    
    <!-- <div class="parking-log-box">
      <div class="log-result-box">
        <div class="log-result">
          <span class="log-contents log-date">2022-04-06 11:28:28</span>
          <span class="log-contents">4316</span>
          <span class="log-contents log-value">2cf7f12032304cd2</span>
          <span class="log-contents">P5</span>
          <span class="log-contents">status:1</span>
          <span class="log-contents">batt:3.51</span>
          <span class="log-contents">status: 주차</span>
        </div>

        <div class="log-result">
          <span class="log-contents log-date">2022-04-06 11:28:28</span>
          <span class="log-contents">4316</span>
          <span class="log-contents log-value">2cf7f12032304cd2</span>
          <span class="log-contents">P5</span>
          <span class="log-contents">status:1</span>
          <span class="log-contents">batt:3.51</span>
          <span class="log-contents">status: 주차</span>
        </div>

        <div class="log-result">
          <span class="log-contents log-date">2022-04-06 11:28:28</span>
          <span class="log-contents">4316</span>
          <span class="log-contents log-value">2cf7f12032304cd2</span>
          <span class="log-contents">P5</span>
          <span class="log-contents">status:1</span>
          <span class="log-contents">batt:3.51</span>
          <span class="log-contents">status: 주차</span>
        </div>
      </div>

    </div> -->


    <div class="sizecontrol_box">
      <div class="size_big clickable" (click)="onClickZoomIn()">
        <img src="/assets/img/btn_plus_grey_56.png">
      </div>

      <div class="size_bar">
      </div>

      <div class="size_small clickable" (click)="onClickZoomOut()">
        <img src="/assets/img/btn_minus_grey_56.png">
      </div>
    </div>  

  </div>

  


</div>
















<!-- 
<!DOCTYPE HTML>
<html>

<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>
  <style>
    body {
      margin: 0px;
      padding: 0px;
    }
    
    #wrapper {
      position: relative;
      border: 1px solid #9C9898;
      width: 578px;
      height: 200px;
    }
    
    #buttonWrapper {
      position: absolute;
      width: 30px;
      top: 2px;
      right: 2px;
    }
    
    input[type="button"] {
      padding: 5px;
      width: 30px;
      margin: 0px 0px 2px 0px;
    }
  </style>
  <script>
    function draw(scale, translatePos) {
      var canvas = document.getElementById("myCanvas");
      var context = canvas.getContext("2d");

      // clear canvas
      context.clearRect(0, 0, canvas.width, canvas.height);

      context.save();
      context.translate(translatePos.x, translatePos.y);
      context.scale(scale, scale);
      context.beginPath(); // begin custom shape
      context.moveTo(-119, -20);
      context.bezierCurveTo(-159, 0, -159, 50, -59, 50);
      context.bezierCurveTo(-39, 80, 31, 80, 51, 50);
      context.bezierCurveTo(131, 50, 131, 20, 101, 0);
      context.bezierCurveTo(141, -60, 81, -70, 51, -50);
      context.bezierCurveTo(31, -95, -39, -80, -39, -50);
      context.bezierCurveTo(-89, -95, -139, -80, -119, -20);
      context.closePath(); // complete custom shape
      var grd = context.createLinearGradient(-59, -100, 81, 100);
      grd.addColorStop(0, "#8ED6FF"); // light blue
      grd.addColorStop(1, "#004CB3"); // dark blue
      context.fillStyle = grd;
      context.fill();

      context.lineWidth = 5;
      context.strokeStyle = "#0000ff";
      context.stroke();
      context.restore();
    }

    window.onload = function() {
      var canvas = document.getElementById("myCanvas");

      var translatePos = {
        x: canvas.width / 2,
        y: canvas.height / 2
      };

      var scale = 1.0;
      var scaleMultiplier = 0.8;
      var startDragOffset = {};
      var mouseDown = false;

      // add button event listeners
      document.getElementById("plus").addEventListener("click", function() {
        scale /= scaleMultiplier;
        draw(scale, translatePos);
      }, false);

      document.getElementById("minus").addEventListener("click", function() {
        scale *= scaleMultiplier;
        draw(scale, translatePos);
      }, false);

      // add event listeners to handle screen drag
      canvas.addEventListener("mousedown", function(evt) {
        mouseDown = true;
        startDragOffset.x = evt.clientX - translatePos.x;
        startDragOffset.y = evt.clientY - translatePos.y;
      });

      canvas.addEventListener("mouseup", function(evt) {
        mouseDown = false;
      });

      canvas.addEventListener("mouseover", function(evt) {
        mouseDown = false;
      });

      canvas.addEventListener("mouseout", function(evt) {
        mouseDown = false;
      });

      canvas.addEventListener("mousemove", function(evt) {
        if (mouseDown) {
          translatePos.x = evt.clientX - startDragOffset.x;
          translatePos.y = evt.clientY - startDragOffset.y;
          draw(scale, translatePos);
        }
      });

      draw(scale, translatePos);
    };



    jQuery(document).ready(function() {
      $("#wrapper").mouseover(function(e) {
        $('#status').html(e.pageX + ', ' + e.pageY);
      });
    })
  </script>
</head>

<body onmousedown="return false;">
  <div id="wrapper">
    <canvas id="myCanvas" width="578" height="200">
    </canvas>
    <div id="buttonWrapper">
      <input type="button" id="plus" value="+"><input type="button" id="minus" value="-">
    </div>
  </div>
  <h2 id="status">
    0, 0
  </h2>
</body>

</html> -->
