 <div class="dialog">
    <div class="modal-content" style="width:400px;"> 
    
        <div class="modal-header ns-regular custom">
            {{title}}
            <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true"><img src="/assets/img/LP_X.png" /></span>
            </button>
        </div>
        <div class="modal-body ns-regular">
            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-area">
                    <div class="content-wrap" style="margin: 15px;">
                        <div class="content-box">
                            <div class="content-title">
                                쿠폰 명 :
                            </div>
                            <div class="content content-top-line item-horizontal">
                                <input class="form-control" formControlName='name' name='name' [formGroup]="form" [required]="true">
                            </div>
                        
                        </div>
                        <div class="content-box">
                            <div class="content-title">
                                쿠폰 내용 :
                            </div>
                            <div class="content content-top-line item-horizontal">
                                <input class="form-control" formControlName='title' name='title' [formGroup]="form" [required]="true">
                            </div>                  
                        </div>
                    </div>
                </form>
            </div>
            <div class="type-btn-area" *ngIf="btnCancelText != null">
                <div class="my-horizontal">
                    <button class="black-btn" type="submit" (click)="onSubmit()">{{btnOkText}}</button>
                    <button class="white-btn" type="button" (click)="onCancel()">{{btnCancelText}}</button>
                </div>
            </div>
            <div class="type-btn-area" *ngIf="btnCancelText == null">
                <div class="my-horizontal modal-btn">
                    <button class="black-btn" type="submit" (click)="onOk()">{{btnOkText}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
