/* .dialog{
    text-align: center;
}

.content-title{
    min-width: 100px;
}

.my-horizontal{
    padding:15px;
}

*/

/* .my-horizontal .black-btn{
    width:120px;
    height:40px;
}

.my-horizontal .white-btn{
    width:120px;
    height:40px;
} */
