<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->


        <!-- formGroup : formNotice -->
        <form [formGroup]="bsForm" (ngSubmit)="onSubmit()" class="form-area">
            <div class="query-wrap">

                <div class="form-block">

                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">검색어</div>
                            <bs-input [name]="'keyword'" [formGroup]="bsForm"
                            placeholder="회원아이디, 회원프로필, 회원고유번호, 내역" [style]="'big-input'"></bs-input>
                        </div>
                    </div> 
                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">상태</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'withdraw_state'">
                                <bo-checkbox-config [title]="'신청'" [value]="'request'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'완료'" [value]="'complete'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'취소'" [value]="'complete'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>
                    </div>
                    <!-- <div class="form-box">
                        <div class="form-item">                     
                            <div class="form-title">사용일</div>
                            <div class="item-horizontal">
                                <bo-period-query [formGroup]="bsForm" [name]="'period'">
                                    <bo-period-query-option-config [value]="'regist_date'" [label]="'사용일'">
                                    </bo-period-query-option-config>                                                                 
                                </bo-period-query>
                               
                            </div>
                        </div>                   
                    </div> -->   

                </div> <!-- 전체 form-block end -->
                <!-- <div class="more-form">
                    <div class="more-form-btn" (click)="onClickShowMoreForm()">
                    상세검색 <span *ngIf="!isShowMoreForm">열기</span><span *ngIf="isShowMoreForm">닫기</span>
                    <div class="more-btn-img" [class.hide-form]="isShowMoreForm"></div>
                    </div>
                </div> -->
            </div>
            <div class="button-area">
                <button type="submit" class="btn new-search-btn">
                    검색
                </button>
            </div>
         </form>
</div>
