<!-- sidemenu -->
<section class="sidemenu">
    <h3 class="logo">
        <a href="" routerLink= "/main">
        <img class="logo-img" src="/assets/images/home/logo_purple_130.png" alt="TOP RANK">
        </a>
    </h3>

    <button class="login-btn" (click)="onClickLoginBtn()" [hidden]="isLogined">
        로그인
    </button>
    
    <div class="profile-btn-box"  [hidden]="!isLogined" >
        <button class="login-btn user-btn" (click)="onClickUserBtn()">
            <div class="user-btn-box">
                <p>{{userName}}</p>
                <span>님</span>
                <img *ngIf="!appService.isShowMenuPopup" src="assets/images/home/ic_unfold_white_24.png" />
                <img *ngIf="appService.isShowMenuPopup" src="assets/images/home/ic_fold_white_24.png" />
            </div>
        </button>

        <div class="user-page-box" [ngClass]="{active:appService.isShowMenuPopup}">
            <ul>
                <li routerLink= "/main/section/mypage/home/point" routerLinkActive="active">마이페이지</li>
                <li (click)="onClickLogout()" >로그아웃</li>
            </ul>
        </div>
    </div>  

    <div class="gnbWrap">
        <nav class="gnb">
        <ul>
            <li class="gnb-item" routerLinkActive="active"><a href="" routerLink = "/main/section/search-keyword">
                <img src="assets/images/home/ic_keyword_purple_32.png" alt="키워드 검색" />
                키워드 검색
                </a>
            </li>
            <li class="gnb-item" routerLinkActive="active"><a href="" routerLink="/main/section/ranking-search">
                <img src="assets/images/home/ic_ranking_purple_32.png" alt="상품순위 검색">
                상품순위 검색
                </a>
            </li>
            <li class="gnb-item" routerLinkActive="active"><a href="" routerLink="/main/section/subscription/products">
                <img src="assets/images/home/ic_subscription_purple_32.png" alt="이용 중인 상품"/>
                이용 중인 상품
                </a>
            </li>
            <!-- <li class="gnb-item" routerLinkActive="active"><a href="" routerLink="/main/section/trend">
                <img src="assets/images/home/ic_trend_purple_32.png" alt="쇼핑트렌드"/>
                쇼핑 트렌드
                </a>
            </li>
            <li class="gnb-item" routerLinkActive="active"><a href="" routerLink="/main/section/popular-keyword">
                <img src="assets/images/home/ic_popular_purple_32.png" alt="인기 검색어"/>
                인기 검색어
                </a>
            </li> -->
        </ul>
        <div class="line"></div>

            <ul>
                <li class="gnb-item board-menu" routerLinkActive="active">
                    <button type="button" (click)="onClickBoardBtn()">
                        <img src="assets/images/home/ic_board_purple_32.png" alt="게시판" />
                        게시판
                        <img *ngIf="!selectedBoardMenu" src="assets/images/home/ic_unfold_32.png">
                        <img *ngIf="selectedBoardMenu" src="assets/images/subscription/ic_fold_32.png">
                    </button>
                    <ul [ngClass]="{active: selectedBoardMenu}" >
                        <li routerLink="/main/section/board/notice" routerLinkActive="active">공지사항</li>
                        <li routerLink="/main/section/board/faq" routerLinkActive="active">FAQ</li>
                    </ul>
                </li>
                <li class="gnb-item" routerLinkActive="active"><a href="" routerLink="/main/section/payment/purchase-keyword/141">
                    <img src="assets/images/home/ic_board_purple_32.png" alt="임시" />
                    [임시] 키워드 구매하기    
                    </a>
                </li>
                <li class="gnb-item" routerLinkActive="active"><a href="" routerLink="/main/section/payment/point-charge">
                    <img src="assets/images/home/ic_board_purple_32.png" alt="임시" />
                    [임시] 포인트 충전하기    
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</section>
<!-- sidemenu end -->