<!--pc 웹 검색 팝업창  -->
<div class="back ns-regular" id="back" (click)="clickClose($event)">
    <div class="layer" >
        <div id="collapseExample" class="search-box-layer ns-regular">
            <div class="close-btn" (click)="clickClose()"><img src="/assets/img/X_bold.png"/></div>

            <!-- <input class="ns-bold" type="text"  placeholder="검색어 입력"
                [(ngModel)]="keyword"
                (input)="onSearchChange($event.target.value)"
                (keyup.enter)="onClickSearch($event.target.value, 0)"  />

            <div class="clean" *ngIf="showXBtn" (click)="onClickClean()"><img src="/assets/img/1.3.01.03_x.png"/></div>
            <div class="search-img" (click)="onClickSearch($event.target.value, 0)"><img src="/assets/img/1.3.01.01_search.png"/></div> -->

            <!-- 검색 중인 팝업창 : 자동완성 텍스트-->
            <div class="popular-searches showword" *ngIf="showWord">
                <ul class="popular-word ns-regular">
                    <li *ngFor="let item of autoList">
                        <div class="word" [innerHTML]= "item.keyword | highlightKeyword : searchText" (click)="onClickKeyword($event)"></div>
                        <div class="conut">{{item.cnt}}</div>
                        <!-- <div class="conut">{{item.cnt}}</div> -->
                    </li>
                </ul>
            </div>

            <div class="popular-searches">
                <div class="box">
                    <div class="basic ns-bold" (click)="onClickTab();" *ngIf="showPopular || showLatest" [ngClass] = "{'click' : showPopular}">인기검색어</div>
                    <div class="basic ns-bold" (click)="onClickTab();" *ngIf="showPopular || showLatest" [ngClass] = "{'click' : showLatest}">최근검색어</div>
                </div>

                 <!-- 인기검색어 텝 -->
                <ul class="popular-word ns-regular" *ngIf="showPopular">

                    <!-- 1위 : 추천 -->
                    <li *ngIf="popularList[0].search_result_link" class="ns-extra">
                        <a class="left" target="_blank" 
                            [href]="popularList[0]?.search_result_link">
                            <!--추천이미지 1  -->
                            <span><img *ngIf="isDisplayRecommend" src="/assets/img/1.3.01.01_item.png" /></span>
                            <span class="ns-extra num" *ngIf="!isDisplayRecommend">1</span>
                            <span style="font-weight:400;">{{popularList[0]?.keyword}}</span>
                        </a>
                        <a target="_blank" [href]="popularList[0]?.search_result_link">
                            <div class="right">
                                <img *ngIf="isDisplayRecommend" src="/assets/img/next-btn.png" />
                            </div>
                        </a>
                    </li>

                    <!-- 1위 : 추천아닌경우 -->
                    <li *ngIf="!popularList[0].search_result_link" (click)="onClickWord(popularList[0]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">1</span> {{popularList[0]?.keyword}}
                    </li>                    

                    <li (click)="onClickWord(popularList[5]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">6</span>
                        <span class="ns-extra num" *ngIf="isDisplayRecommend">3</span> {{popularList[5]?.keyword}}
                    </li>

                    <!-- 2위 : 추천 -->
                    <li *ngIf="popularList[1] && popularList[1].search_result_link" class="ns-extra">
                        <a class="left" target="_blank" [href]="popularList[1]?.search_result_link">
                            <!--추천이미지 2  -->
                            <img src="/assets/img/1.3.01.01_item.png" *ngIf="isDisplayRecommend"/>
                            <span class="ns-extra num" *ngIf="!isDisplayRecommend">2</span> <span style="font-weight:400;">{{popularList[1]?.keyword}}</span>
                        </a>
                        <a target="_blank" [href]="popularList[1]?.search_result_link">
                            <div class="right"><img src="/assets/img/next-btn.png" *ngIf="isDisplayRecommend"/></div>
                        </a>
                    </li>

                     <!-- 2위 : 추천아닌경우 -->
                     <li *ngIf="!popularList[1] || !popularList[1].search_result_link" (click)="onClickWord(popularList[1]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">2</span> {{popularList[1]?.keyword}}
                    </li>

                    <li (click)="onClickWord(popularList[6]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">7</span>
                        <span class="ns-extra num" *ngIf="isDisplayRecommend">4</span> {{popularList[6]?.keyword}}
                    </li>

                    <!-- 3위 -->
                    <li *ngIf="popularList[2] && popularList[2].search_result_link" class="ns-extra">
                        <a class="left" target="_blank" [href]="popularList[2]?.search_result_link">
                            <!--추천이미지 3 -->
                            <img src="/assets/img/1.3.01.01_item.png" *ngIf="isDisplayRecommend"/>
                            <span class="ns-extra num" *ngIf="!isDisplayRecommend">3</span> <span style="font-weight:400;">{{popularList[2]?.keyword}}</span>
                        </a>
                        <a target="_blank" [href]="popularList[2]?.search_result_link">
                            <div class="right"><img src="/assets/img/next-btn.png" *ngIf="isDisplayRecommend"/></div>
                        </a>
                    </li>
                     <!-- 3위 : 추천아닌경우 -->
                     <li *ngIf="!popularList[2] || !popularList[2].search_result_link" (click)="onClickWord(popularList[2]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">3</span> {{popularList[2]?.keyword}}
                    </li>

                    <li (click)="onClickWord(popularList[7]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">8</span>
                        <span class="ns-extra num" *ngIf="isDisplayRecommend">5</span> {{popularList[7]?.keyword}}
                    </li>
                    <li (click)="onClickWord(popularList[3]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">4</span>
                        <span class="ns-extra num" *ngIf="isDisplayRecommend">1</span>  {{popularList[3]?.keyword}}
                    </li>
                    <li (click)="onClickWord(popularList[8]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">9</span>
                        <span class="ns-extra num" *ngIf="isDisplayRecommend">6</span>  {{popularList[8]?.keyword}}
                    </li>
                    <li (click)="onClickWord(popularList[4]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">5</span>
                        <span class="ns-extra num" *ngIf="isDisplayRecommend">2</span>  {{popularList[4]?.keyword}}
                    </li>
                    <li (click)="onClickWord(popularList[9]?.keyword,1)">
                        <span class="ns-extra num" *ngIf="!isDisplayRecommend">10</span>
                        <span class="ns-extra num" *ngIf="isDisplayRecommend">7</span>  {{popularList[9]?.keyword}}
                    </li>
                </ul>

                 <!-- 최근검색어 -->
                <ul class="latest-word ns-regular" *ngIf="showLatest">
                    <span  *ngIf="auth.isLogined()">
                        <li *ngFor="let item of recentList">
                            <div class="txt" (click)="onClickSearch(item.keyword, 2)">{{item.keyword}}</div>
                            <div class="img">
                                <img src="/assets/img/1.3.01.02_x.png" (click)="onClickRecentSearchWord(item.search_recent_seq)" />
                            </div>
                        </li>
                        <li *ngIf="recentList?.length%2"><div class="txt"></div><div class="img"></div></li>
                    </span>
                    <li class="none" *ngIf="recentList?.length == 0">
                        <div class="img-box"><img class="notice-img" src="/assets/img/main/1.4.03.02.!.png" /></div>
                        <div class="txt-box">최근 검색한 기록이 없습니다.</div>
                    </li>
                    <li class="none" *ngIf="!auth.isLogined()">
                        <div class="img-box"><img class="notice-img" src="/assets/img/main/1.4.03.02.!.png" /></div>
                        <div class="txt-box">로그인을 하세요.</div>
                    </li>
                    <div class="full" *ngIf="recentList?.length > 0 && auth.isLogined()"><div class="txt">전체삭제</div><div class="img" (click)="onClickAllRecentSearch()"><img src="/assets/img/1.3.01.02_x.png" /></div></div>
                </ul>
            </div>
        </div>
    </div>
</div>
