:host-context(settlement-list-page){
    display: inline-block;
    width: calc(100% - 225px);
}


.table1{
    /* width: calc(100% - 300px); */
    width: calc(100% - 317px);
    float: left;
    overflow-y: hidden !important;
    margin-top: 41px;
}
.table2{
    float: left;
    display: inline-block;
    border-bottom: solid 1px #dfdfdf;
}

.table2 tr{
    height: 93px;
}
.table1 tr{
    height: 47px;
}

.list-wrap-se .table1 tr{
    height: 47px;
}

.table2 tr.settle-height{
    height: 50px;
}

.list-wrap-se .table1 tr > th{
    overflow: hidden;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
}

.list-wrap-se .table1 tr > td{
    overflow: hidden;
    border: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    background: rgb(244,244,244);
}
.settle {
    background: rgb(242, 246, 255);
}
.table2 thead {
    height: 93px !important;
    background: rgb(242, 246, 255) !important;
}
.table2 tr > th.settle-height {
    height: 93px !important;
    background: rgb(242, 246, 255) !important;
} 
.list-wrap-se .table1 tr > td.settle-list{
    height: 47px;
}


.checks {
    
}