<div class="web" *ifDesktop>
    <!-- 컨텐츠 타이틀 영역 start -->
    <div class="title-area">
        <div class="title-wrap">
        <h2 class="title">상품 상세 분석</h2>
        </div>
        <nav>
        <ol class="location-history">
            <li routerLink="/main/home">HOME</li>
            <li routerLink="/main/section/subscription">이용 중인 상품</li>
            <li>상품 상세 분석</li>
        </ol>
        </nav>
    </div>
    <!-- //컨텐츠 타이틀 영역 end -->

    <!-- 상세 분석 start -->
    <div class="detail-wrap">
        <ul>
        <li>
            <strong>상품고유번호</strong>
            <span class="num">{{data?.product_mid}}</span>
        </li>
        <li>
            <strong>가격 비교 MID</strong>
            <span class="num">{{data?.price_mid}}</span>
        </li>
        <li>
            <strong>컨텐츠 MID</strong>
            <span class="num">{{data?.content_mid}}</span>
        </li>
        <li>
            <strong>옵션 MID</strong>
            <span class="num">{{data?.option_mid}}</span>
        </li>
        </ul>
        <div class="detail-box box">
            <div class="top-section">
                <div class="product-name">
                <span class="analysis-title">판매자 상품명</span>
                <div class="shop">
                    <img src="assets/images/home/thum_navershoping_56.png" alt="네이버 쇼핑">
                    <div class="shop-store">
                    <span>{{data?.goods?.store_name}}</span>
                    <span>{{data?.goods?.goods_name}}</span>
                    </div>
                </div>
                <div class="ranking-keyword">
                    <span class="analysis-title">순위 측정 키워드</span>
                    <div class="btn-wrap">
                        <button class="keyword">{{data?.keyword}}</button>
                        <button class="keyword-add" 
                            routerLink="/main/section/payment/purchase-keyword/{{data?.goods_seq}}" >+키워드 추가</button>
                    </div>
                </div>
                </div>
                <div class="sale-ranking">
                <span class="analysis-title">판매 순위</span>
                <div class="ranking-num">
                    <strong class="num-strong">{{data?.goods?.sales_rank_current_rank}}</strong>위
                    <span class="paging">
                    <span class="num">{{data?.goods?.sales_rank_page_count}}</span>페이지
                    <span class="num">{{data?.goods?.sales_rank_page_rank}}</span>위
                    </span>
                </div>
                <span class="all-count">/ <strong class="num">{{data?.goods?.sales_rank_total_rank | number}}</strong>개</span>
                </div>
            </div>
        <div class="bottom-section">
            <div class="product-kinds">
            <div class="kinds-wrap">
                <span class="analysis-title">상품 종류</span>
                <span class="all-date">상품 {{data?.product_type}} - {{data?.product_period}}일</span>
            </div>
            <div class="deadline-wrap">
                <span class="analysis-title">상품 시작 마감일</span>
                <span class="deadline">
                <span class="deadline-date">{{data?.start_date | date: 'yyyy-MM-dd'}}  ~  {{data?.end_date | date: 'yyyy-MM-dd'}}</span>
                <strong>(잔여 <span class="leftover">{{data?.remainingDays}}일</span>)</strong>
                <!-- <p>2022-05-13 19:59에 데이터가 초기화되었습니다.</p> -->
                </span>
            </div>
            </div>
            <div class="option">
            <div class="use-whether">
                <span class="analysis-title">사용 여부</span>
                <button class="toggle-btn" [ngClass]="{active: data?.enabled  == 'Y'}" (click)="onClickEnabledBtn(data?.enabled)">
                    <span></span>
                </button>
            </div>
            <div class="auto-extension">
                <span class="analysis-title">자동 연장 여부</span>
                <ul (click)="onClickIsAutoExtensionBtn(data?.auto_extension)">
                    <li [ngClass]="{active: data?.auto_extension == 'N'}">수동</li>
                    <li [ngClass]="{active: data?.auto_extension == 'Y'}">자동</li>
                </ul>
            </div> 
            <div class="auto-check" *ngIf="data?.auto_extension == 'Y'">
                <span class="analysis-title">
                    자동 연장 우선순위 지정
                    <div class="help-tool-tip automatic-extensions">
                        <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                    </div>
                </span>
                <label>
                    <input type="checkbox" [checked]="data?.is_auto_extension_priority == 'Y'" (click)="onClickIsAutoExtensionPriorityBtn(data?.is_auto_extension_priority)">
                    <span class="check"></span>
                </label>
            </div> 
            </div>
        </div>
        </div>
    </div>
    <!-- //상세 분석 end -->

    <!-- 키워드 추적 비교 start -->
    <div class="keyword-tracking-graph box">
        <div class="contents-title" id="rank_widget">
        <span>키워드 추적 비교</span>
        <div class="help-tool-tip keyword-tracking-comparison">
            <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
        </div>
        <div class="time-tab">
            <ul>
                <li class="active">시간별</li>
                <li>일별</li>
                <li>주별</li>
            </ul>
        </div>
        </div>
        <!-- <span class="data-reset">2022-05-13 19:59에 데이터가 초기화되었습니다.</span> -->
        <div class="graph"></div>
        <div class="keyword-wrap">
            <span class="first-keyword">{{activeKeyword}}</span>
            <div class="other-keyword">
                <span *ngFor="let keyword of data?.otherKeywords" class="clickable" (click)="onClickKeyword(keyword)">{{keyword}}</span>
            </div>
        </div>
        <span class="description">키워드를 추가로 등록하시면 그래프를 비교해서 확인할 수 있습니다.</span>
        <button class="apply">적용</button>
    </div>
    <!-- //키워드 추적 비교 end -->
    <!-- 하단 그래프 start -->
    <div class="bottom-graph-wrap">
        <!-- 리뷰 추적 start -->
        <div class="review-tracking box">
        <div class="contents-title">
            <span>리뷰 추적</span>
            <div class="help-tool-tip tracking-reviews">
                <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
            </div>
            <div class="time-tab">
            <ul>
                <li class="active">일별</li>
                <li>주별</li>
                <li>월별</li>
            </ul>
            </div>
        </div>
        <div class="graph"></div>
        </div>
        <!-- //리뷰 추적 end -->
        <!-- 가격 추적 start -->
        <div class="price-tracking box" id="sales_rank_chart_widget">
            <div class="contents-title">
                <span>가격 추적</span>
                <div class="help-tool-tip price-reviews">
                    <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                </div>
                <div class="time-tab">
                <ul>
                    <li class="active">일별</li>
                    <li>주별</li>
                    <li>월별</li>
                </ul>
                </div>
            </div>
            <div class="graph"></div>
        </div>
        <!-- //가격 추적 end -->
        <!-- 일일 검색 수 start -->
        <div class="saerch-count box">
        <div class="contents-title">
            <span>일일 검색 수</span>
            <div class="help-tool-tip daily-searches-count">
                <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
            </div>
        </div>
        <div class="graph"></div>
        </div>
        <!-- //일일 검색 수 end -->
        <!-- 일일 검색 비율 start -->
        <div class="search-ratio box">
        <div class="contents-title">
            <span>일일 검색 비율</span>
            <div class="help-tool-tip daily-searches-rate">
                <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
            </div>
            <div class="device-tab">
            <ul>
                <li>모바일</li>
                <li>PC</li>
            </ul>
            </div>
        </div>
        <div class="graph"></div>
        </div>
        <!-- //일일 검색 비율 end -->
    </div>
    <!-- //하단 그래프 end -->

</div>

<div class="mobile" id="wrap" *ifMobile>
    <div id="contents">
        <!-- 상품 상세 분석 헤더 영역 start -->
        <div class="contents-header">
            <div class="contents-title">
                <img src="assets/images/svg/ic_subscription_color_40.svg" alt="">
                <h2>상품 상세 분석</h2>
            </div>
        </div>
        <!-- //상품 상세 분석 헤더 영역 end -->
        <!-- 상품 대시보드 start -->
        <div class="product-dashboard-wrap">
            <div class="product-dashboard">
                <div class="top-product-info" [ngClass]="{active: isShowProductInfo }">
                    <ul>
                        <li>
                            <span>상품 고유번호</span>
                            <span class="product-num">{{data?.product_mid}}</span>
                        </li>
                        <li>
                            <span>가격 비교 MID</span>
                            <span class="product-num">{{data?.price_mid}}</span>
                        </li>
                        <li>
                            <span>컨텐츠 MID</span>
                            <span class="product-num">{{data?.content_mid}}</span>
                        </li>
                        <li>
                            <span>옵션 MID</span>
                            <span class="product-num">{{data?.option_mid}}</span>
                        </li>
                    </ul>
                    <button type="button" class="unfold-btn" [ngClass]="{on : isShowProductInfo}" (click)="onClickMoreProductInfo()"></button>
                </div>
                <div class="product-info-section">
                    <div class="product-name">
                        <img src="assets/images/svg/thum_navershoping_24.svg" alt="네이버 쇼핑">
                        <span>{{data?.goods?.goods_name}}</span>
                    </div>
                    <div class="product-keyword">
                        <span>키워드</span>
                        <div class="keyword-wrap">
                            <span>{{data?.keyword}}</span>
                            <button routerLink="/main/section/payment/purchase-keyword/{{data?.goods_seq}}">+키워드 추가</button>
                        </div>
                    </div>
                    <div class="sales-ranking">
                        <span>판매 순위</span>
                        <div class="sales-ranking-num">
                            <b class="g-num">{{data?.goods?.sales_rank_current_rank}}</b>위
                            <span class="page-ranking"><b class="g-num">{{data?.goods?.sales_rank_page_count}}</b>페이지 <b class="g-num">{{data?.goods?.sales_rank_page_rank}}</b>위</span>
                            <div class="all-count">
                                / <b class="g-num">{{data?.goods?.sales_rank_total_rank | number}}</b>개
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info-option">
                    <ul>
                        <li>
                            <span class="option-title">상품 종류</span>
                            <p>상품 {{data?.product_type}} <br>
                                {{data?.product_period}}일</p>
                        </li>
                        <li>
                            <span class="option-title">상품 시작 마감일</span>
                            <p>
                                <span class="period">{{data?.start_date | date: 'yyyy-MM-dd'}} ~ {{data?.end_date | date: 'yyyy-MM-dd'}}</span>
                                <span class="remaining-day">(잔여: {{data?.remainingDays}}일)</span>
                                <!-- <p>2022-05-13 19:59에 데이터가 초기화되었습니다.</p> -->
                            </p>
                        </li>
                        <li>
                            <span class="option-title">사용 여부</span>
                            <div [class]="data?.enabled  == 'Y'? 'active' : 'use-whether'" (click)="onClickEnabledBtn(data?.enabled)"></div>
                        </li>
                        <li>
                            <span class="option-title">자동 연장 여부</span>
                            <ul class="auto-extension" (click)="onClickIsAutoExtensionBtn(data?.auto_extension)">
                                <li class="manual" [ngClass]="{on: data?.auto_extension == 'N'}">수동</li>
                                <li class="auto" [ngClass]="{on: data?.auto_extension == 'Y'}">자동</li>
                            </ul>
                        </li>
                        <li *ngIf="data?.auto_extension == 'Y'">
                            <span class="option-title">
                                자동 연장 우선순위 지정
                                <div class="help-tool-tip automatic-extension-tip">
                                    <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                                </div>
                            </span>
                            <label for="check">
                                <input type="checkbox" id="check" name="check" [checked] = "data?.is_auto_extension_priority == 'Y'" (click)="onClickIsAutoExtensionPriorityBtn(data?.is_auto_extension_priority)">
                                <span class="checkbox"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //상품 대시보드 end -->
        <!-- 키워드 추적 비교 start -->
    <div class="keyword-tracking-wrap">
        <div class="keyword-tracking box">
            <div class="keyword-tracking-inner">
                <div class="data-title">
                    키워드 추적 비교
                    <div class="help-tool-tip keyword-tracking-tip">
                        <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                    </div>
                </div>
            </div>
            <div class="keyword-tracking-inner">
                <ul class="data-times">
                    <li class="active">시간별</li>
                    <li>일별</li>
                    <li>주별</li>
                </ul>
            </div>
            <div class="graph-scroll-wrap">
                <div class="graph-scroll">
                    <div class="graph">이 친구를 일단 그래프라고 할게요!  ....... Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="keyword-tracking-inner">
                <div class="registered-keywords">
                    <span>애플망고</span>
                </div>
                <p>키워드를 추가로 등록하시면 <br>
                    그래프를 비교해서 확인할 수 있습니다.
                </p>
                <button class="apply-btn">적용</button>
            </div>
        </div>
    </div>
    <!-- 키워드 추적 비교 end -->
    <!-- 상품 데이터 영역 start -->
    <div class="product-data">
        <div class="data-box box">
            <div class="data-title">
                리뷰 추적
                <div class="help-tool-tip review-tracking-tip">
                    <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                </div>
            </div>
            <ul class="data-times">
                <li class="active">일별</li>
                <li>주별</li>
                <li>월별</li>
            </ul>
            <div class="graph"></div>
        </div>
        <div class="data-box box">
            <div class="data-title">
                가격 추적
                <div class="help-tool-tip price-tracking-tip">
                    <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                </div>
            </div>
            <ul class="data-times">
                <li class="active">일별</li>
                <li>주별</li>
                <li>월별</li>
            </ul>
            <div class="graph"></div>
        </div>
        <div class="data-box box">
            <div class="data-title">
                일일 검색 수
                <div class="help-tool-tip day-search-tip">
                    <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                </div>
            </div>
            <div class="graph"></div>
        </div>
        <div class="data-box box">
            <div class="data-title">
                일일 검색 비율
                <div class="help-tool-tip day-search-rate-tip">
                    <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                </div>
            </div>
            <ul class="device-data">
                <li>모바일</li>
                <li>PC</li>
            </ul>
            <div class="graph"></div>
        </div>
    </div>
    <!-- 상품 데이터 영역 end -->
    </div>
</div>