:host {
    min-width: 225px;
    background-color: #3a3a3a;
    box-shadow: 0 0 4px 0 ,rgba(0,0,0,0.5);
    display: inline-flex;
    /* min-height: 1100px; */
    float: left;
}

.menu-header {
    height: 300px;
    background-color: #313659;
}

.menu-header .title {
    width: 192px;
    height: 66px;
    font-family:  "Noto Sans KR" ,sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fafaff;
    margin: 24px 27px;
}

.menu-header .menu-btn {
    width: 198px;
    height: 74px;
    /* padding: 24px 50px 23px 22px; */
    border-radius: 8px;
    background-color: #454e73;
    flex-direction: row;   
    cursor: pointer;
}

.menu-header .menu-btn.active {
    background-color: #6683cc;
    cursor: default;
}

.menu-header .menu-btn.home {
    line-height: 0px;
    display: flex;
    align-items: center;
    margin: 16px 24px 24px 23px;
    /* justify-content: center;     */
}

.menu-header .menu-btn.home .menu-image-status {
    /* background-color: cyan; */
    margin-left: 22px;
    /* background-color: lawngreen; */
}

.menu-header .menu-btn.home .menu-text-status {
    /* background-color: black; */
    color: #f0f1f7;
    font-size: 18px;
    margin-left: 32px;
    font-family:  "Noto Sans KR" ,sans-serif;
    width: 500px;
}

.menu-header .menu-btn.park {
    line-height: 0px;
    display: flex;
    align-items: center;
    margin: 0px 24px 24px 23px
}

.menu-header .menu-btn.park .menu-image-park {
    margin-left: 22px;
    /* background-color: greenyellow; */
}

.menu-header .menu-btn.park .menu-text-park {
    color: #f0f1f7;
    font-size: 18px;
    margin-left: 32px;
}

.icon-image { 
    border: 0;
    margin-right: 16px;
    /* background-color: hotpink; */
}

.icon-arrow {
    border: 0;
    margin-right: 16px;
    margin-top: -12px;
    margin-left: -6px;
    /* background-color: skyblue; */
}