<ul class="board-side">
  <!-- 메뉴 1단 -->
  <li *ngFor="let item of config">
    <div *ngIf="item.isShow || item.isShow === undefined" class="side-menu-box" (click)="openContent(item)" [routerLink]='item.url'>
      <span>
        <!-- <div class="management-image"></div> -->
        <img src="{{item.image}}" class="icon-image">
        {{item.title}}
        <div class="menu-btn active" [hidden]="item.isOpen !== false">
            <button ><img src="/assets/img/menu-1.png" class="icon-arrow"></button>
        </div>
        <div class="menu-btn" [hidden]="item.isOpen === false">
            <button ><img src="/assets/img/menu-2.png" class="icon-arrow"></button>
        </div>
        <div class="top-menu-alarm" *ngIf="item.notiCount && item.notiCount !=0">
            <div class="top-menu-number">{{item.notiCount}}</div>
        </div>
      </span>
    </div>

    <!-- 메뉴 2단 -->
    <div *ngIf="item.items && (item.isShow || item.isShow === undefined)" class="sub-menu-area" [hidden]="item.isOpen === false">
      <ul class="board-subside">
        <ng-container *ngFor="let subitem of item.items;" >
            <li *ngIf="subitem.isShow || subitem.isShow === undefined" class="subside-area" 
              [routerLink]='subitem.url' 
              routerLinkActive ="active" 
              [ngClass]="{'side-box-border': subitem.important}">
              <span>
                {{subitem.title}}
              </span>
            </li>
        </ng-container>
      </ul>
    </div>
  </li>
  
</ul>

