<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->


       <!-- formGroup : bsForm -->
       <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
            <div class="query-wrap">

                <div class="form-block">
                    <!-- 검색어 -->
                    <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">검색어</div>
                                <input type="text" class="form-control search-input item-horizontal" formControlName="search_text" >
                            </div>
                        </div>
                    <!-- <bo-searchkeyword-form [formGroup]="bsForm"></bo-searchkeyword-form> -->

                    <!-- <bo-period-form [formGroup]="bsForm"></bo-period-form> -->
                    <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">등록일</div>
                                <bo-period-query [formGroup]="bsForm" [name]="'period'">
                                    <bo-period-query-option-config [value]="'regist_date'" [label]="'등록일'">
                                    </bo-period-query-option-config>
                                </bo-period-query>
                            </div>
                        </div>
                    <!-- <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">등록일자 :</div>
                            <bo-period-query [formGroup]="bsForm" [name]="'r_date'">
                            </bo-period-query>
                        </div>
                    </div> -->
                    <div class="form-box" *ngIf="!appConfig.isProvider"  style="min-height: 50px; height: auto; padding-top: 5px;">
                        <div class="form-item" style="height: auto; line-height: 25px;">
                            <div class="form-title">입점사</div>
                            <bo-provider-query-view [formGroup]="bsForm"></bo-provider-query-view>
                        </div>
                    </div>

                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">분류</div>
                            <bs-select [name]="'category'"
                                [formGroup]="bsForm"
                                [optionApiUrl]="'admin/board/boardmanager/goods_qna'"
                                [optionRoot]="'category'">
                            </bs-select>
                        </div>
                    </div>

                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">답변상태</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'reply'">
                                <bo-checkbox-config [title]="'답변'" [value]="'0'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'미답변'" [value]="'1'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>
                    </div>
                    <!-- 노출 -->
                    <!-- <bo-showhide-form [formGroup]="bsForm"></bo-showhide-form> -->

                    <!-- <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">노출</div>
                                <bo-group-checkbox [formGroup]="bsForm" [name]="'hidden'">
                                    <bo-checkbox-config [title]="'노출'" [value]="'0'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'미노출'" [value]="'1'"></bo-checkbox-config>
                                </bo-group-checkbox>
                            </div>
                        </div> -->

                        <!-- <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">카테고리 :</div>
                                    <bs-select [name]="'category'"
                                        [formGroup]="bsForm"
                                        [optionApiUrl]="'board/boardmanager/faq'"
                                        [optionRoot]="'category'">
                                    </bs-select>
                            </div>
                        </div> -->



                    <!-- 기간 -->
                    <!-- <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">기간조회 :</div>
                                <bo-period-query [formGroup]="bsForm" [name]="'period'" [defaultValue]="'regist_date'">
                                    <bo-period-query-option-config [value]="'regist_date'" [label]="'등록일'">
                                    </bo-period-query-option-config>
                                    <bo-period-query-option-config [value]="'update_date'" [label]="'수정일'">
                                    </bo-period-query-option-config>
                                </bo-period-query>
                            </div>
                        </div> -->


                    <div *ngIf="!appConfig.isProvider" class="form-box">
                        <div class="form-item">
                            <div class="form-title">노출여부</div>
                            <!-- <bs-checkbox [formGroup]="bsForm"
                                [name]="'hidden'"
                                [style]="'square-new'"
                                [label]="'비밀글'"
                                [value]="'1'">
                            </bs-checkbox> -->
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'hidden'">
                                    <bo-checkbox-config [title]="'노출'" [value]="'0'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'미노출'" [value]="'1'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">비밀글</div>
                            <!-- <bs-checkbox [formGroup]="bsForm"
                                [name]="'hidden'"
                                [style]="'square-new'"
                                [label]="'비밀글'"
                                [value]="'1'">
                            </bs-checkbox> -->
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'secret'">
                                    <bo-checkbox-config [title]="'비밀글'" [value]="'1'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'공개글'" [value]="'0'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>
                    </div>
                </div>

       <!-- 검색 버튼 -->
       <!-- <div class="button-area">
           <button type="submit" class="btn search-btn">
               <img src="../assets/img/board/board-search-icon.svg"/>
               검색
           </button>
       </div> -->
            </div>
             <bo-search-button-form></bo-search-button-form>
       </form>
</div>
