/*
.list-content{
    font-size: 0;
    text-align: center;
    border: 1px solid #979797;
    border-top: none;
}
.list-content > div{
    display: inline-block;
    border-collapse: separate;
    font-size: 15px;
    padding: 3px 0;
    width: 6.5%;
    height: 50px;
    vertical-align: text-bottom;
    line-height: 40px;
}.list-content > div.wide-header{
    width: 31%;
}
.list-content > div.medium-header{
    width: 15%;
}
.list-content > div.multi-text{
    line-height: unset;
}
.list-content [type="checkbox"]:not(:checked) + label:before, .list-content [type="checkbox"]:checked + label:before{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #b3b3b3;
}
.list-content button{
    border: 1px solid#979797;
    background: #fff;
    color: #5a5a5a;
    height: 30px;
    line-height: 28px;
    border-radius: 4px;
}
.list-content button.delete-btn{
    background: #5a5a5a;
    color: #fff;
    margin-left: 8px;
    font-size: 0;
    text-align: center;
    border: 1px solid #979797;
    border-top: none;
}
.list-content > div{
    display: inline-block;
    border-collapse: separate;
    font-size: 15px;
    padding: 3px 0;
    width: 6.5%;
    height: 50px;
    vertical-align: text-bottom;
    line-height: 40px;
}.list-content > div.wide-header{
    width: 31%;
}
.list-content > div.medium-header{
    width: 15%;
}
.board-list li > div{
    padding: 5px 0;
}
.list-content > div.multi-text{
    line-height: unset;
}
.list-content [type="checkbox"]:not(:checked) + label:before, .list-content [type="checkbox"]:checked + label:before{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #b3b3b3;
}
.list-content button{
    border: 1px solid#979797;
    background: #fff;
    color: #5a5a5a;
    height: 30px;
    line-height: 28px;
    border-radius: 4px;
}
.list-content button.delete-btn{
    background: #5a5a5a;
    color: #fff;
    margin-left: 8px;
} */
