<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->

        <!-- formGroup : bsForm -->
    <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
        <div class="query-wrap">
            <div class="form-block">
                <div class="form-box">
                    <div class="form-item">
                        <div class="form-title">기간조회</div>
                        <bo-period-query [selectedIndexPeriod]="initialIndexOfPeriod" [formGroup]="bsForm" [name]="'period'">
                            <bo-period-query-option-config [value]="'search_date'" [label]="'검색기간'">
                            </bo-period-query-option-config>
                        </bo-period-query>
                    </div>
                </div>
                <div class="form-box">
                    <div class="form-item">
                        <div class="form-title">키워드</div>
                        <input type="text" class="form-control search-input big-input item-horizontal" formControlName="keyword" placeholder="상품명, 상품코드, 상품번호">
                    </div>
                </div>
                <div class="form-box">
                    <div class="form-item">
                        <div class="form-title" *ngIf="!appConfig.isProvider">입점사</div>
                            <bo-provider-query-view [formGroup]="bsForm">
                            </bo-provider-query-view>
                    </div>
                </div>

                <div class="form-box">
                    <div class="form-item">
                        <div class="form-title">카테고리</div>
                        <select class="form-selectbox item-horizontal medium-input" (change)="onClickCategory('0',$event.target.value)">
                            <option value="">1차 카테고리</option>
                            <option *ngFor="let item of category[0]" [value]="item.category_code">{{item.title}}</option>
                        </select>
                        <select class="form-selectbox item-horizontal medium-input" (change)="onClickCategory('1',$event.target.value)">
                            <option value="">2차 카테고리</option>
                            <option *ngFor="let item of category[1]" [value]="item.category_code">{{item.title}}</option>
                        </select>
                        <select class="form-selectbox item-horizontal medium-input" (change)="onClickCategory('2',$event.target.value)">
                            <option value="">3차 카테고리</option>
                            <option *ngFor="let item of category[2]" [value]="item.category_code">{{item.title}}</option>
                        </select>
                        <select class="form-selectbox item-horizontal medium-input" (change)="onClickCategory('3',$event.target.value)">
                            <option value="">4차 카테고리</option>
                            <option *ngFor="let item of category[3]" [value]="item.category_code">{{item.title}}</option>
                        </select>
                        <!-- <bs-checkbox [formGroup]="bsForm"
                            [name]="'goods_category'"
                            [label]="'대표'"
                            [value]="'1'">
                        </bs-checkbox>
                        <bs-checkbox [formGroup]="bsForm"
                            [name]="'goods_location_no'"
                            [label]="'미연결'"
                            [value]="'1'">
                        </bs-checkbox> -->
                    </div>
                </div>
                <div class="form-box">
                    <div class="form-item">
                        <div class="form-title">브랜드</div>
                        <select class="form-selectbox item-horizontal medium-input" (change)="onClickBrand('0',$event.target.value)">
                            <option value="">1차 브랜드</option>
                            <option *ngFor="let item of brand[0]" [value]="item.category_code">{{item.title}}</option>
                        </select>
                        <select class="form-selectbox item-horizontal medium-input" (change)="onClickBrand('1',$event.target.value)">
                            <option value="">2차 브랜드</option>
                            <option *ngFor="let item of brand[1]" [value]="item.category_code">{{item.title}}</option>
                        </select>
                        <select class="form-selectbox item-horizontal medium-input" (change)="onClickBrand('2',$event.target.value)">
                            <option value="">3차 브랜드</option>
                            <option *ngFor="let item of brand[2]" [value]="item.category_code">{{item.title}}</option>
                        </select>
                        <select class="form-selectbox item-horizontal medium-input" (change)="onClickBrand('3',$event.target.value)">
                            <option value="">4차 브랜드</option>
                            <option *ngFor="let item of brand[3]" [value]="item.category_code">{{item.title}}</option>
                        </select>
                        <!-- <bs-checkbox [formGroup]="bsForm"
                            [name]="'goods_brand'"
                            [label]="'대표'"
                            [value]="'1'">
                        </bs-checkbox>
                        <bs-checkbox [formGroup]="bsForm"
                            [name]="'goods_brand_no'"
                            [label]="'미연결'"
                            [value]="'1'">
                        </bs-checkbox> -->
                    </div>
                </div>
            </div>
        <bo-search-button-form></bo-search-button-form>
        </div>
    </form>
</div>
