<bo-page-header [title]="'매출통계 - 상품별'">
    <bo-page-button-config id = "id-statics-excel-download"
        [title] = "'엑셀 다운로드'"
        [styleType] = "'square-m-white-btn'"
        [imgUrl]="'assets/img/excel-icon.svg'"
        (click) = "onClickDownloadExcel(query)">
    </bo-page-button-config>
</bo-page-header>

    <div class="list-section section">

    <div >
        <!-- 쿼리 -->
        <cart-query-form [initialQuery]="true" [setQuery]="query"(query)="reloadWithQuery($event)"></cart-query-form>

        <!-- 쿼리 -->
        <bo-page-padding></bo-page-padding>
        <div class="list-wrap">
            <div style="text-align:right;padding-bottom: 10px;font-size: 15px;">
                <select  class="form-selectbox medium-input" [(ngModel)]="column"
                    [ngModelOptions]="{standalone: true}" (change)="onChangeColumn()">
                    <option value="goods_price">판매 금액</option>
                    <option value="goods_cnt">판매 수량</option>
                </select>
            </div>
            <div class="graph-table">
                <table class="statistics-table">
                <colgroup>
                    <col width="3%">
                    <col width="36%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                </colgroup>
                <tr>
                    <th class="blue-th" colspan="5">검색기간 내</th>
                    <th class="blue-th" colspan="7">해당 상품의 현재 정보</th>
                </tr>
                <tr>
                    <th>순위</th>
                    <th>상품</th>
                    <th>옵션</th>
                    <th>판매수량</th>
                    <th>판매금액</th>
                    <th>재고</th>
                    <th>페이지뷰</th>
                    <th>장바구니</th>
                    <th>위시리스트</th>
                    <th>좋아요</th>
                    <th>재입고알림</th>
                    <th>리뷰</th>
                </tr>
                <tr *ngFor="let item of list">
                    <td>{{item?.lank}}</td>
                    <td style="text-align: left; padding-left: 5px;"><a href="/main/goods/goods/update/{{item.goods_seq}}" style="text-decoration: none;">{{item?.stat_goods_name}}</a></td>
                    <td><div class="op-height">{{item?.option1}}</div><div class="op-height">{{item?.option2}}</div><div class="op-height">{{item?.option3}}</div><div class="op-height">{{item?.option4}}</div><div class="op-height" >{{item?.option5}}</div></td>
                    <td>{{item?.goods_cnt}}</td>
                    <td>{{item?.goods_price}}</td>
                    <td>{{item?.tot_stock}}</td>
                    <td>{{item?.page_view}}</td>
                    <td>{{item?.now_cart_cnt}}</td>
                    <td>{{item?.now_wish_cnt}}</td>
                    <td>{{item?.now_like_cnt}}</td>
                    <td>{{item?.now_restock_cnt}}</td>
                    <td>{{item?.now_review_cnt}}</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>
