<!-- <form #loginForm="ngForm"  (ngSubmit)="login()" >
  <div>
    <div class="form-group">
        <input type="text" class="form-control" id="login_id" name="login_id" [(ngModel)]="user.login_id" #id= "ngModel" placeholder="아이디" required/>
    </div>
    <div class="form-group">
        <input type="password"  class="form-control" id="password"  [(ngModel)]="user.password" #password="ngModel"   name="password" placeholder="비밀번호" required/>
    </div>
    <div>
      <button type="submit">로그인</button>
    </div>
  </div>
</form> -->
