<!-- query form -->
<coupon-issue-query-form [setQuery]="query"[type]="data.type" (query)="reloadWithQuery($event)"></coupon-issue-query-form>

<!-- <bo-page-padding></bo-page-padding> -->

<div class="section">
    <div class="content-wrap">
        <div class="content-table content">
    <!-- list -->
            <div style="margin: auto; max-width: 100%; margin-bottom: 50px;">
                <data-table #bsDatatable
                    headerTitle="datatable"
                    [header]="true"
                    [items]="items"
                    [itemCount]="itemCount"
                    [indexColumn]="true"
                    [selectColumn]="false"
                    (reload)="reloadItems($event)">

                    <bs-header-button-config id = "id-board-content-list-deleteall-btn1"
                        [title] = "'선택삭제'"
                        [styleType] = "'square-s-greyborder-btn'"
                        [enabled] = "isEnableDeleteBtn()"
                        (click) = "onClickDeleteItems()">
                    </bs-header-button-config>

                    <!-- 선택삭제 버튼-->
                    <!-- <bs-header-button-config
                            id = "id-btn-1"
                            [title] = "'선택삭제'"
                            [styleType] = "'square-s-greyborder-btn'"
                            (click) = "_deleteSelectedItem($event, 'download_seq')">
                    </bs-header-button-config> -->

                    <!-- 선택삭제 버튼-->
                    <!-- 오른쪽정렬은 버튼순서 역순입니다 -->
                    <!-- <bs-header-button-config id = "id-board-content-list-deleteall-btn2"
                    [title] = "'버튼2'"
                    [styleType] = "'round-m-white'"
                    [align]="'right'"
                    (click) = "onClickDTHeaderBtn($event)">
                    </bs-header-button-config>
                    <bs-header-button-config id = "id-board-content-list-deleteall-btn2"
                    [title] = "'버튼3'"
                    [styleType] = "'round-m-white'"
                    [align]="'right'"
                    (click) = "onClickDTHeaderBtn($event)">
                    </bs-header-button-config> -->

                    <!-- <data-table-column
                        [property]="'coupon_seq'"
                        [header]="'번호'"

                        [width]="80">
                    </data-table-column> -->


                    <data-table-column

                        [header]="'선택'"
                        [sortable]="false">
                        <ng-template #dataTableCell let-item="item" >
                            <div>
                                <input type="checkbox" id="{{item.download_seq}}"
                                [disabled]="item?.use_status == 'used'"
                                [(ngModel)]="item.checked"
                                [ngModelOptions]="{standalone: true}"/>
                                <label for="{{item.download_seq}}">
                                </label>
                            </div>
                        </ng-template>
                    </data-table-column>

                    <data-table-column
                        [property]="'member'"
                        [header]="'아이디'"

                        [width]="60">
                        <ng-template #dataTableCell let-item="item">
                                {{item?.member?.userid}}
                        </ng-template>
                    </data-table-column>


                    <data-table-column
                        [property]="'user_id'"
                        [header]="'이름'"

                        [width]="60">
                        <ng-template #dataTableCell let-item="item">
                                {{item?.member?.user_name}}
                        </ng-template>
                    </data-table-column>

                    <data-table-column *ngIf="data.type != 'offline_coupon'"
                        [property]="'regist_date'"
                        [header]="'발급일'"
                        [width]="100">
                        <ng-template #dataTableCell let-item="item">
                                {{item.regist_date | date: 'yyyy-MM-dd HH:mm'}}
                        </ng-template>
                    </data-table-column>

                    <data-table-column *ngIf="data.type == 'offline_coupon'"
                        [property]="'regist_date'"
                        [header]="'인증일'"
                        [width]="100">
                        <ng-template #dataTableCell let-item="item">
                                {{item.regist_date | date: 'yyyy-MM-dd HH:mm'}}
                        </ng-template>
                    </data-table-column>

                    <data-table-column *ngIf="data.type == 'offline_coupon'"
                        [property]="'offline_input_serialnumber'"
                        [header]="'인증번호'"
                        [width]="100">
                    </data-table-column>

                    <data-table-column
                        [property]="'coupon_same_time'"
                        [header]="'제한동시'"
                        [width]="35">
                    </data-table-column>

                    <data-table-column
                        [property]="'sale_agent'"
                        [header]="'제한환경'"
                        [width]="35">
                        <ng-template #dataTableCell let-item="item">
                            <div *ngIf="item?.sale_agent == 'a'">X</div>
                            <div *ngIf="item?.sale_agent == m">모바일</div>
                        </ng-template>
                    </data-table-column>

                    <data-table-column
                        [property]="'sale_payment'"
                        [header]="'제한결제'"
                        [width]="35">
                        <ng-template #dataTableCell let-item="item">
                                <div *ngIf="item?.sale_payment == 'a'">X</div>
                                <div *ngIf="item?.sale_payment == 'b'">무통장</div>
                            </ng-template>
                    </data-table-column>

                    <!-- <data-table-column
                        [property]="'sale_referer'"
                        [header]="'제한-유입경로'"

                        [width]="80">
                        <ng-template #dataTableCell let-item="item">
                                <div *ngIf="item?.sale_referer == 'a'">무관</div>
                                <div *ngIf="item?.sale_referer == 'n' || item?.sale_referer == 'y'">제한</div>
                            </ng-template>
                    </data-table-column> -->

                    <data-table-column
                        [property]="'issue_type'"
                        [header]="'제한상품'"
                        [width]="35">
                        <ng-template #dataTableCell let-item="item">
                                <div *ngIf="item?.issue_type == 'all'">전체</div>
                                <div *ngIf="item?.issue_type == 'issue' || item?.issue_type == 'except'">제한</div>
                            </ng-template>
                    </data-table-column>

                    <data-table-column
                        [property]="'limit_goods_price'"
                        [header]="'제한금액'"
                        [width]="100">
                        <ng-template #dataTableCell let-item="item">
                            <div>{{item.limit_goods_price | number }}원</div>
                        </ng-template>
                    </data-table-column>

                    <data-table-column

                        [header]="'유효기간'"
                        [width]="120">
                        <ng-template #dataTableCell let-item="item">
                            <div *ngIf="!item?.after_issue_day || item?.after_issue_day  == ''">{{item?.issue_startdate | date: 'yyyy-MM-dd'}}<br>{{item?.issue_enddate | date: 'yyyy-MM-dd'}} </div>
                            <div *ngIf="item?.after_issue_day">발급일 ~ {{item?.after_issue_day}}일</div>
                        </ng-template>
                    </data-table-column>

                    <data-table-column
                        [header]="'혜택'">
                        <ng-template #dataTableCell let-item="item">
                            <!-- <div>
                                <div *ngIf="item?.percent_goods_sale">{{item?.percent_goods_sale}}%할인, </div>
                                <div *ngIf="item?.max_percent_goods_sale">(최대 {{item?.max_percent_goods_sale | number}}원)</div><br>
                            </div> -->
                            <benefits-list-item-view [item]="item"></benefits-list-item-view>
                        </ng-template>
                    </data-table-column>

                    <data-table-column
                        [property]=""
                        [header]="'할인금액'"
                        [width]="80">
                        <ng-template #dataTableCell let-item="item">
                            <span *ngIf="item.goods_view">
                                {{item.goods_view.coupon_order_saleprice}}원
                            </span>
                            <span *ngIf="!item.goods_view">
                                -
                            </span>
                        </ng-template>
                    </data-table-column>

                    <data-table-column
                        [property]="'use_status'"
                        [header]="'사용여부'"
                        [width]="80">
                        <ng-template #dataTableCell let-item="item">
                            <div *ngIf="item?.use_status == 'used'">사용함</div>
                            <div *ngIf="item?.use_status == 'unused'">미사용</div>
                        </ng-template>
                    </data-table-column>

                    <data-table-column
                        [property]="''"
                        [header]="'구매상품'"
                        [width]="162">
                        <ng-template #dataTableCell let-item="item">
                            <div *ngIf="item.use_status == 'used' && item.goods_view">
                                <!-- <div routerLink="../../../order/order/view/{{item.goods_view.order_seq}}">{{item.goods_view.order_seq}}</div> -->
                                <a target="_blank" href="/main/order/order/view/{{item.goods_view.order_seq}}" style="display: inline-block;">{{item.goods_view.order_seq}}</a>
                                <img src="{{item.goods_view.image}}" style="width: 90px; height: 90px;"/>
                                <!-- <div routerLink="../../../goods/goods/update/{{item.goods_view.goods_seq}}">{{item.goods_view.goods_name}}</div> -->
                                <a target="_blank" href="/main/goods/goods/update/{{item.goods_view.goods_seq}}" style="display: inline-block;">{{item.goods_view.goods_name}}</a>
                            </div>
                        </ng-template>
                    </data-table-column>

                    <data-table-column
                        [property]="'use_date'"
                        [header]="'사용일'"

                        [width]="100">
                        <ng-template #dataTableCell let-item="item">
                                {{item.use_date | date: 'yyyy-MM-dd HH:mm'}}
                        </ng-template>
                    </data-table-column>
                </data-table>
            </div>
        </div>
    </div>
</div>



<ng-template #template>

</ng-template>
