<!-- header-->
<bo-page-header [imgUrl]="'assets/img/member-list.svg'" [title]="'주문관리'">

    <!-- <bo-page-button-config id = "id-board-content-list-btn-smsview"
        [title] = "'SMS 수동발송'"
        [styleType] = "'square-m-white-btn'"
        [imgUrl]="'assets/img/kakao-icon.png'"
        (click) = "onClickSendSMS()">
    </bo-page-button-config>

    <bo-page-button-config id = "id-board-content-list-btn-emailview"
        [title] = "'이메일 수동발송'"
        [styleType] = "'square-m-white-btn'"
        [imgUrl]="'assets/img/email-icon.png'"
        (click) = "onClickSendEmail()">
    </bo-page-button-config> -->
</bo-page-header>

<div class="list-section">

    <!-- query form -->
    <!-- <point-query-form [setQuery]="query"(query)="reloadWithQuery($event)"></point-query-form> -->
   
    <bo-page-padding></bo-page-padding>

    <div class="list-wrap-se">
        <!-- list -->
        <div style="margin: auto; max-width: 100%; margin-bottom: 50px;">
            <data-table #bsDatatable
                headerTitle="datatable"
                [header]="true"
                [items]="items"
                [itemCount]="itemCount"
                [indexColumn]="false"
                [selectColumn]="true"
                [sortBy] = "'order_seq'"
                (reload)="reloadItems($event)">

<!-- 
                <bs-header-button-config
                    id = "id-btn-2"
                    [title] = "'선택 다운로드'"
                    [styleType] = "'square-s-greyborder-btn'"
                    [enabled]="false"
                    (click) = "onClickSelectDownloadExcel($event)">
                </bs-header-button-config>

                <bs-header-button-config
                    id = "id-btn-3"
                    [title] = "'검색 다운로드'"
                    [styleType] = "'square-s-greyborder-btn'"
                    [enabled]="true"
                    (click) = "onClickSearchDownloadExcel()">
                </bs-header-button-config> -->
                <data-table-column
                    [property]="'order_seq'"
                    [header]="'ID'"
                    [sortable]="false"
                    [width]="80">
                </data-table-column>
        
                <data-table-column
                    [property]="'regist_date'"
                    [header]="'주문일'"
                    [sortable]="true"
                    [width]="113">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.regist_date | date:'yyyy-MM-dd HH:mm'}}</span>
                    </ng-template>
                </data-table-column>
        
                <data-table-column
                    [property]="'member_seq'"
                    [header]="'회원'"
                    [width]="82">
                    <ng-template #dataTableCell let-item="item.member">
                        <div><span class="userid_bold">{{item.userid}}</span>({{item.member_seq}}/{{item.nickname}})</div>
                    </ng-template>
                </data-table-column>

                <!-- <data-table-column
                    [property]="'product_seq'"
                    [header]="'상품번호'"
                    [width]="100">                    
                </data-table-column> -->

                <!-- <data-table-column
                    [property]="'goods_name'"
                    [header]="'상품명'"
                    [width]="100">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.product.goods.goods_name}}</span>
                    </ng-template>
                </data-table-column>

                    <data-table-column
                        [property]="'categories'"
                        [header]="'상품종류'"
                        [width]="100">
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.product.goods.categories}}</span>
                        </ng-template>
                </data-table-column> -->

                <!-- <data-table-column
                        [property]="'keyword'"
                        [header]="'키워드'"
                        [width]="100">
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.product.keyword}}</span>
                        </ng-template>
                </data-table-column> -->

                <data-table-column
                        [property]="'use_point'"
                        [header]="'사용포인트'"
                        [width]="100">
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.use_point | number }}</span>
                        </ng-template>
                </data-table-column>

                <data-table-column
                        [property]="'use_free_point'"
                        [header]="'사용무료포인트'"
                        [width]="100">
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.use_free_point | number }}</span>
                        </ng-template>
                </data-table-column>

                <!-- <data-table-column
                    [property]="'state'"
                    [header]="'승인여부'"
                    [width]="86">
                    <ng-template #dataTableCell let-item="item">
                        <span style="color:blue" *ngIf="item?.state =='request'">승인대기</span>
                        <span style="color:green" *ngIf="item?.state =='complete'">승인</span>
                        <span style="color:red" *ngIf="item?.state == 'cancel'">승인취소</span>
                    </ng-template>
                </data-table-column> -->
                <!-- <data-table-column 
                    [width]="100">
                    <ng-template #dataTableHeader let-item="item">
                        관리
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                        <bo-button-collection *ngIf="item?.state =='request'" class="margin-class" 
                            [title] ="'승인'"
                            [id]="'complete'" 
                            (click)="onClickComplete(item)">
                        </bo-button-collection>
                        <bo-button-collection *ngIf="item?.state =='request'" class="margin-class" 
                            [title] ="'취소'"
                            [id]="'cancel'" 
                            (click)="onClickCancel(item)">
                        </bo-button-collection> 
                    </ng-template>
                </data-table-column> -->
            </data-table>
        </div>
    </div>
</div>
