
/* 박스 스타일 */
.box {
    background: #fafbff;
    padding: 32px 40px 48px;
    border-radius: 24px;
    box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
}
.box .box-header {
    margin-bottom: 39px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.41;
}
.box .box-header.box-icon {
    padding-left: 48px;
    background: url('assets/images/home/thum_navershoping_32.png') left center no-repeat;
    background-size: 32px 32px;
}
.box .box-header.box-icon img {
    vertical-align: middle;
    margin-top: -4px;
    margin-left: -8px;
}


/* search */
.search-record {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

/* 검색 결과 */
.search-result {
    width: 1240px;
}
.result-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    padding: 40px;
    height: 264px;
}
.result-box .result-info-1 {
    width: 432px;
    height: 100%;
}
.result-box .result-info-2,
.result-box .result-info-3 {
    width: 239px;
    height: 100%;
}
.result-box .result-info:not(:nth-child(3)) {
    position: relative;
    margin-right: 65px;
}
.result-box .result-info:not(:nth-child(3))::after {
    content: "";
    display: block;
    position: absolute;
    right: -32px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #dcdee8;
}
.result-box .result-info .ad {
    width: 46px;
    height: 23px;
}
.result-box .result-info .ad span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #3f37c9;
    text-align: center;
    padding: 4px 0;
    border: 1px solid #3f37c9;
    border-radius: 10px;
    background: #fff;
}
.result-box .result-info .category {
    display: flex;
    align-items: center;
    padding-left: 80px;
}
.result-box .result-info .category li {
    font-size: 18px;
    font-weight: 500;
}
.result-box .result-info .category li:nth-child(2n) {
    /* margin: 0 8px; */
}
.result-box .result-info .category li img {
    vertical-align: middle;
}
.result-box .result-info .store {
    /* background: url('../images/thum_navershoping_32@2x.png') left center no-repeat;
    background-size: contain;
    padding-left: 80px; */
    display: flex;
    margin-top: 16px;
}
.result-box .result-info .store img {
    width: 56px;
    height: 56px;
    margin-right: 24px;
}
.result-box .result-info .store .store-title {
    font-size: 22px;
    font-weight: 500;
    color: #b8b6c4;
}
.result-box .result-info .store p {
    font-size: 22px;
    font-weight: 500;
    color: #04021f;
    margin-top: 8px;
    line-height: 1.41;
}
.result-box .result-info .result-info-title {
    height: 32px;
    font-size: 22px;
    font-weight: 500;
    color: #3e4259;
    line-height: 1.41;
    background: url('assets/images/ranking-search/ic_ranking_32.png') left center no-repeat;
    padding-left: 48px;
    margin-top: 20px;
    margin-bottom: 32px;
}
.result-box .result-info-3 .result-info-title {
    background: url('assets/images/ranking-search/ic_review_32.png') left center no-repeat;
}
.result-box .result-info .sale-num,
.result-box .result-info .review-num {
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    font-weight: 500;
}
.result-box .result-info .sale-num strong,
.result-box .result-info .review-num strong {
    font-size: 40px;
    font-family: 'GmarketSansBold';
    color: #04021f;
}

.result-box .result-info .sale-num span,
.result-box .result-info .review-num span {
    font-size: 18px;
    font-family: 'GmarketSans';
    color: #b8b6c4;
    margin-left: 16px;
}

.result-box .result-info .sale-num span::before,
.result-box .result-info .review-num span::before {
    content: "/";
}

.result-box .result-info .sale-num p {
    display: inline-block;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    height: 22px;
    line-height: 20px;
    vertical-align: middle;
    color: #b8b6c4;
    margin-left: 2px;
}

.result-box .result-info .review-num p {
    display: inline-block;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    height: 22px;
    line-height: 20px;
    vertical-align: middle;
    color: #3f37c9;
    margin-left: 2px;
}

.result-box .result-info .pageing {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #3f37c9;
    margin-top: 14px;
}

.result-box .result-info .pageing span {
    font-family: 'GmarketSans';
    vertical-align: middle;
}

.result-box .result-info .review-num span {
    color: #3f37c9;
}

.result-box .result-info .purchase-count {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #b8b6c4;
    margin-top: 14px;
}

.result-box .result-info .purchase-count span {
    font-family: 'GmarketSans';
    vertical-align: middle;
}

.result-box .ranking-tracking {
    background: none;
    border: 0;
    outline: 0;
    margin-left: 26px;
}
.result-box .ranking-tracking .tracking-img {
    width: 94px;
    height: 48px;
    background: url('assets/images/ranking-search/ic_tracking_48.png') center no-repeat;
}
.result-box .ranking-tracking.off .tracking-img {
    background: url('assets/images/ranking-search/ic_tracking_ing_48.png') center no-repeat;
}
.result-box .ranking-tracking span {
    display: block;
    width: 94px;
    height: 36px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31;
    color: #fff;
    background: #e6458e;
    border-radius: 24px;
    padding: 8px 0;
}
.result-box .ranking-tracking.off span {
    background: #f2f3fa;
    border: 1px solid #dcdee8;
    color: #3e4259;
}