board-side{
    width: 212px;
    height: -webkit-fill-available;
    background-color: #3a3a3a;
    box-shadow: 0 0 4px 0 ,rgba(0,0,0,0.5);
    display: inline-flex;
    float: left;
}
:host .router-outlet {
    width:calc(100% - 245px);
    min-width: calc(1440px - 212px);
    height: 100%;
    display: inline-flex;
}
board-list {
    height: 100%;
    width:100%;
}
:host {
    width: 100%;
    min-width: calc(1440px - 212px);
    height: 100%;
}
:host-context(app-board) {
    display: inline-flex;
}
:host-context(app-goods) {
    display: inline-flex;
}
/* .outlet-section{
    width:calc(100% - 245px);
    display: inline-block;
} */
