bs-logo{
    width: 212px;
    display: inline-block;
    background-color: #ff0000;
    height: 100%;
    float: left;
}
bs-top-menu{    
    width: calc(100% - 390px);
    display: inline-block;
    background-color: #000;
    height: 100%;
    float: left;
    border: none;
}
bs-account-box{    
    width: 206px;
    display: inline-block;
    background-color: #000;
    height: 100%;
    float: left;
}
.header-wrap{
    height: 66px;
    vertical-align: middle;
    line-height: 66px;
    min-width: 1440px;
}