<form [formGroup]="bsForm" class="form-area" >
<!-- 상품 선택 { -->
<bo-page-button  class="margin-class" [title]="'상품 선택'" (click)="onClickGoodsNumber()" [type]="'square-s-red'"  ></bo-page-button>
<br>
<br>
<!-- <button type="button" (click)="onClickGoodsNumber()">상품 선택</button> -->
<div class="content-table" dnd-sortable-container [sortableData]="selectedGoodsList">
    <table>
        <colgroup>
            <col width="10%" />
            <col width="40%" />
            <col width="10%" />
        </colgroup>
        <tr>
            <th>번호</th>
            <th>상품명</th>
            <th>상태</th>
            <th>승인</th>
            <th>노출</th>
            <th>관리</th>
        </tr>
        <tr *ngFor="let item of selectedGoodsList;let idx=index" dnd-sortable [sortableIndex]="idx">
            <td *ngIf="item">{{item?.goods_seq}}</td>
            <td *ngIf="item" class="align-left">
                <a target="_blank" href="{{clientURL+'/goods/view/'+ item?.goods_seq }}">
                    <div class="thumb-image-box " [style.background-image]="'url('+item?.image+')'"></div>
                    {{item?.goods_name}}
                </a>
            </td>
            <td *ngIf="item">
                <span class="fc-skyblue" *ngIf="item.goods_status == 'normal'">정상</span>
                <span class="fc-skyblue" *ngIf="item.goods_status == 'runout'">품절</span>
                <span class="fc-skyblue" *ngIf="item.goods_status == 'purchasing'">재고확보중</span>
                <span class="fc-skyblue" *ngIf="item.goods_status != 'purchasing' && item.goods_status != 'runout'&& item.goods_status != 'normal'">판매종료</span>
            </td>
            <td *ngIf="item">
                <span *ngIf="item.provider_status == '1'">승인</span>
                <span *ngIf="item.provider_status != '1'">미승인</span>
            </td>
            <td *ngIf="item">
                <span *ngIf="item.goods_view == 'look'">노출</span>
                <span *ngIf="item.goods_view != 'look'">미노출</span>
            </td>
            <td *ngIf="item">
                <bo-page-button  class="margin-class" [title]="'삭제'" (click)="onClickDelGoods(item)" [type]="'s-red'"  ></bo-page-button>
                <!-- <button type="button" (click)="onClickDelGoods(item)">삭제</button> -->
            </td>
        </tr>

    </table>
</div>
<!-- } 상품 선택 -->
</form>
