<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'할인이벤트 등록/수정'">
    <bo-page-button-config *ngIf="id"
        [title] = "'화면보기'"
        [styleType] = "'square-m-black-btn'"
        (click) = "goToPageClient()">
    </bo-page-button-config>
    <bo-page-button-config
        [title] = "'할인이벤트 리스트'"
        [styleType] = "'square-m-black-btn'"
        (click) = "gotoListPage()">
    </bo-page-button-config>
    <bo-page-button-config *ngIf="!isUpdateMode" id = "id-board-content-list-btn-userview"
        [title] = "'저장하기'"
        [styleType] = "'square-m-white-btn'"
        (click) = "onSubmit()">
    </bo-page-button-config>
    <bo-page-button-config *ngIf="isUpdateMode"  id = "id-board-content-list-btn-userview"
    [title] = "'저장 후 리스트'"
    [styleType] = "'square-m-white-btn'"
    (click) = "submitAndBack()">
    </bo-page-button-config>
    <bo-page-button-config *ngIf="isUpdateMode" id = "id-board-content-list-btn-userview"
        [title] = "'저장 후 화면유지'"
        [styleType] = "'square-m-white-btn'"
        (click) = "submitOnly()">
    </bo-page-button-config>

  </bo-page-header>
  <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
    <div class="section">

        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'이벤트 정보'"
                [description]="'이벤트 기본적인 정보를 입력하세요'">
            </bs-title-label-ctrl>
            <div class="content-block">
                <div class="content-box">
                        <div class="content-title">
                            이벤트명<img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content">
                            <bs-input [name]="'title'" [formGroup]="bsForm" [placeholder]="' 이벤트 제목을 입력하세요.'" [style]="'big-input'" [required]="true"></bs-input>
                        </div>
                </div>

                <div class="content-box">
                        <div class="content-title">
                            이벤트 기간<img class="required-img" src="assets/img/must_txt.png"/>

                        </div>
                        <div class="content">

                            <bo-date-time-input
                                [formGroup]="bsForm"
                                [name] = "'start_date'"
                                [isTime] = "true">
                            </bo-date-time-input>
                            <span>~</span>
                            <bo-date-time-input
                                [formGroup]="bsForm"
                                [name] = "'end_date'"
                                [isTime] = "true">
                            </bo-date-time-input>
                        </div>
                </div>
                <div class="content-box">
                    <div class="content-title">
                        사용
                    </div>
                    <div class="content content-top-line">
                            <div class="content">
                                    <div class="content-inline">
                                        <input type="radio" id="event_view_y" [value]="'y'" name="display" formControlName="display" />
                                        <label for="event_view_y" class="check-label">사용</label>
                                    </div>
                                    <div class="content-inline">
                                        <input type="radio" id="event_view_n" [value]="'n'" name="display" formControlName="display" />
                                        <label for="event_view_n" class="check-label">미사용 - 사용자의 이벤트 페이지 접속이 제한되며 상품할인이 적용되지 않습니다.</label>
                                    </div>
                                </div>
                        <!-- <bs-checkbox [formGroup]="bsForm"
                            [name]="'display'"
                            [label]="'PC와 모바일의 전체 이벤트 페이지에 이 이벤트를 노출하지 않습니다.'"
                            [value]="'y'"
                            >
                        </bs-checkbox> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'이벤트 페이지'">
            </bs-title-label-ctrl>
            <div class="content-block">

                <div class="content-box">
                    <div class="content-title content-title-large">
                        배너(PC) 이미지
                    </div >
                    <div class="content">
                        <bo-image-input
                            [formGroup]="bsForm"
                            [name] = "'event_banner'"
                            [imageTypeDesc]="'JPG,PNG'"
                            [imageSizeDesc]="'1920X200'">
                        </bo-image-input>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-title content-title-large">
                        배너(모바일) 이미지
                    </div >
                    <div class="content content-large">
                        <bo-image-input
                            [formGroup]="bsForm"
                            [name] = "'m_event_banner'"
                            [imageTypeDesc]="'JPG,PNG'">
                        </bo-image-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrap" formArrayName ="benefits">
            <div formGroupName = "0">
                    <bs-title-label-ctrl
                    [title]="'혜택'"
                    [description]="'할인이벤트 등록시 헤택정보를 입력하세요'">
                </bs-title-label-ctrl>
                <div class="content-block">
                    <div class="content-box">
                        <input type="radio" id="benefits0" [value]="0" name="target_sale"  [(ngModel)]="checkOthersSelected"
                            formControlName="target_sale" />
                        <label for="benefits0" class="check-label">
                            <div class="label-to-radio">
                                상품 할인가 (판매가) x 수량 의
                                <bs-input [name]="'event_sale'" [formGroup]="getBenefitsFromGroup(0)" [placeholder]="'　'"
                                    [style]="'small-input'"   [disabled]="checkOthersSelected != 0"></bs-input>
                                % 추가할인
                            </div>
                        </label>
                    </div>

                    <div class="content-box">
                        <input type="radio" id="benefits1" [value]="1" name="target_sale"  [(ngModel)]="checkOthersSelected"
                            formControlName="target_sale"  />
                        <label for="benefits1" class="check-label">
                            <div class="label-to-radio">
                                상품 정가  수량을 기준으로
                                <bs-input [name]="'event_sale'" [formGroup]="getBenefitsFromGroup(0)" [placeholder]="'　'" [style]="'small-input'"   [disabled]="checkOthersSelected != 1"></bs-input>
                                % 할인
                            </div>
                        </label>
                    </div>

                    <div class="content-box">

                        <input type="radio" id="benefits2" [value]="2" name="target_sale"  [(ngModel)]="checkOthersSelected"
                            formControlName="target_sale"  />
                        <label for="benefits2" class="check-label">
                            <div class="label-to-radio">
                                상품 할인가 (판매가) x 수량 에서
                                <bs-input [name]="'event_sale'" [formGroup]="getBenefitsFromGroup(0)" [placeholder]="'　'" [style]="'small-input'"   [disabled]="checkOthersSelected != 2"></bs-input>
                                원 x 수량 원 추가할인
                            </div>
                        </label>
                    </div>

                    <div class="content-box">
                        <div class="content">
                            포인트는 상품 실 결제금액의
                            <bs-input [name]="'event_point'" [formGroup]="getBenefitsFromGroup(0)" [placeholder]="'　'" [style]="'small-input'" ></bs-input>
                            % 추가지급, 지급 포인트의 유효기간은 제한하지 않음
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content-wrap">
                <bs-title-label-ctrl
                    [title]="'대상 상품선택'"
                    [description]="'대상상품 정보를 입력하세요'">
                </bs-title-label-ctrl>
                <div class="content-block">
                    <div class="content-box">
                            <div class="content-title">
                                대상 상품<img class="required-img" src="assets/img/must_txt.png"/>
                            </div>
                            <div class="content content-top-line">
                                <div class="content-inline">
                                    <input type="radio" id="goods_rule_all" value="all" name="goods_rule" (change)="onClickSelectItem($event)" formControlName="goods_rule"  [checked]="goodsRuleItem === 'all' "/>
                                    <label for="goods_rule_all" class="check-label">전체상품</label>
                                </div>
                                <div class="content-inline">
                                    <input type="radio" id="goods_rule_cate" value="category" name="goods_rule" (change)="onClickSelectItem($event)" formControlName="goods_rule"  />
                                    <label for="goods_rule_cate" class="check-label">특정 카테고리</label>
                                </div>
                                <div class="content-inline">
                                    <input type="radio" id="goods_rule_view" value="goods_view" name="goods_rule" (change)="onClickSelectItem($event)" formControlName="goods_rule"  />
                                    <label for="goods_rule_view" class="check-label">특정상품</label>
                                </div>

                            </div>
                            <div class="content">
                                <!-- <div *ngIf="goodsRuleItem == 'all'">

                                </div> -->
                                <div *ngIf="goodsRuleItem == 'category'">
                                    <!-- <button type="button" (click)="onClickCategoryBtn()">카테고리 선택</button>
                                    <div>선택된 카테고리</div> -->
                                    <!-- 카테고리 -->
                                        <div class="none-padding-td-table content-table">
                                            <table>
                                                <colgroup>
                                                    <col width="20%" />
                                                    <col width="20%" />
                                                    <col width="20%" />
                                                    <col width="20%" />
                                                    <col width="20%" />
                                                </colgroup>
                                                <tr>
                                                    <th>1차 카테고리</th>
                                                    <th>2차 카테고리</th>
                                                    <th>3차 카테고리</th>
                                                    <th>4차 카테고리</th>
                                                    <th>등록</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="category-con">
                                                            <li class="clickable" *ngFor="let item of category[1]" (click)="onClickCategory('2',item)" [ngClass]="{'active' : selectCategory[0]?.category_code == item.category_code}">{{item.title}}</li>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="category-con">
                                                            <li class="clickable" *ngFor="let item of category[2]" (click)="onClickCategory('3',item)" [ngClass]="{'active' : selectCategory[1]?.category_code == item.category_code}">{{item.title}}</li>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="category-con">
                                                            <li class="clickable" *ngFor="let item of category[3]" (click)="onClickCategory('4',item)" [ngClass]="{'active' : selectCategory[2]?.category_code == item.category_code}">{{item.title}}</li>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="category-con">
                                                            <li class="clickable" *ngFor="let item of category[4]" (click)="onClickCategory('',item)" [ngClass]="{'active' : selectCategory[3]?.category_code == item.category_code}">{{item.title}}</li>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="category-con">
                                                            <div class="btn-pos"><bo-page-button [title]="'선택'" [type]="'square-s-red'" (click)="onClickSelectCategory()"></bo-page-button></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="content-box">
                                            <div class="content-title">
                                                등록된 카테고리
                                            </div>
                                            <div class="content">

                                            </div>
                                        </div>
                                        <div class="content-table">
                                            <table style="border: 1px solid #979797;">
                                                <colgroup>
                                                    <col width="100%" />
                                                </colgroup>
                                                <tr>
                                                    <th class="inner-two-line-table" style="font-size: 13px;">선택된 카테고리</th>
                                                </tr>
                                                <tr *ngFor="let item of categoryList ;let i = index; let last = last;">

                                                    <td class="inner-two-line-table align-left" style="font-size: 13px;" >
                                                        <span>{{item.category_name}}</span>
                                                        <img src="/assets/img/mi.svg" style="float: right; padding-right: 15px;" (click)="onClickRemoveCategory(i)" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                </div>

                                <div *ngIf="goodsRuleItem == 'goods_view'">

                                    <!-- 상품 선택 { -->
                                    <bo-page-button  class="margin-class" [title]="'상품 선택'" (click)="onClickGoodsNumber()" [type]="'square-s-red'"  ></bo-page-button>
                                    <!-- <button type="button" (click)="onClickGoodsNumber()">상품 선택</button> -->
                                    <div class="content-table">
                                        <table>
                                            <colgroup>
                                                <col width="10%" />
                                                <col width="40%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr>
                                                <th>번호</th>
                                                <th>상품명</th>
                                                <th>관리</th>
                                            </tr>
                                            <tr *ngFor="let item of goodsItems">
                                                <td>{{item?.goods_seq}}</td>
                                                <td class="align-left">
                                                    <a target="_blank" href="{{clientURL+'/goods/view/'+ item?.goods_seq }}">
                                                        <div class="thumb-image-box " [style.background-image]="'url('+item.image+')'"></div>
                                                        {{item?.goods_name}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <bo-page-button  class="margin-class" [title]="'삭제'" (click)="onClickDelGoods(item)" [type]="'s-red'"  ></bo-page-button>
                                                    <!-- <button type="button" (click)="onClickDelGoods(item)">삭제</button> -->
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                    <!-- } 상품 선택 -->

                                </div>
                            </div>
                    </div>
                    <!-- <div class="content-box">
                            <div class="content-title">
                                <img class="required-img" src="assets/img/must_txt.png"/>제외 상품 :

                            </div>
                            <div class="content content-top-line">
                                    <div class="content-inline">
                                        <bs-checkbox [formGroup]="bsForm"
                                            [name]="'except_goods'"
                                            [label]="'특정 카테고리'"

                                            [value]="'y'">
                                        </bs-checkbox>

                                    </div>
                                    <div class="content content-inline" >
                                        <bs-checkbox [formGroup]="bsForm"
                                            [disabled]="goodsRuleItem == 'goods_view'"
                                            [name]="'except_goods'"
                                            [label]="'특정 상품'"

                                            [value]="'y'">
                                        </bs-checkbox>
                                    </div>
                            </div>
                    </div> -->
                </div>
        </div>
        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'입점사 판매 수수료'"
                [description]="'입점사 판매 수수료 정보를 입력하세요'">
            </bs-title-label-ctrl>
            <div class="content-block">
                <div class="content-box">
                    <div class="content">
                            이벤트 기간에 판매된 입점사의 이벤트 상품은
                    </div>
                </div>
                <div class="content-box">
                    <div class="content">
                        <input type="radio" id="saller_rate_type0" value="0" name="saller_rate_type"  formControlName="saller_rate_type" (change)="onClickSallRate($event)" [checked]="sallerRate == 0"/>
                        <label for="saller_rate_type0" class="check-label">상품에 저장된 수수료로 그대로 정산에 반영합니다.</label>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content">
                        <input type="radio" id="saller_rate_type1" value="1" name="saller_rate_type"  formControlName="saller_rate_type" (change)="onClickSallRate($event)" />
                        <label for="saller_rate_type1" class="check-label">
                                <bs-input [name]="'saller_rate'" [formGroup]="bsForm" [style]="'small-input'" [disabled]="sallerRate != 1" ></bs-input>&#37;
                                수수료로 그대로 정산에 반영합니다.</label>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content">
                        <input type="radio" id="saller_rate_type2" value="2" name="saller_rate_type"  formControlName="saller_rate_type"  (change)="onClickSallRate($event)"/>
                        <label for="saller_rate_type2" class="check-label">
                            상품에 저장된 수수료에서
                            <bs-select [name]="'saller_rate_num'" [formGroup]="bsForm" [disabled]="sallerRate != 2">
                                    <bs-option-config [value]= "'0'" [label] = "'+'"></bs-option-config>
                                    <bs-option-config [value]= "'1'" [label] = "'-'"></bs-option-config>
                            </bs-select>

                            <bs-input [name]="'saller_rate'" [formGroup]="bsForm" [placeholder]="'　'" [style]="'small-input'" [disabled]="sallerRate != 2" ></bs-input>
                            &#37;조정된 수수료로 정산에 반영합니다.
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="content-wrap">
                <bs-title-label-ctrl
                    [title]="'입점사 판매 수수료'"
                    [description]="'입점사 판매 수수료정보를 입력하세요'">
                </bs-title-label-ctrl>



        </div> -->
        <!-- <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'이벤트 상품'"
                [description]="'게시판 기본적인 정보를 입력하세요'">
            </bs-title-label-ctrl>

            <div class="content-box">
                <div class="content-title">
                    <img class="required-img" src="assets/img/must_txt.png"/>배너 URL :
                </div >
                <div class="content">
                        <bo-image-input
                            [formGroup]="bsForm"
                            [name] = "'event_banner'">
                        </bo-image-input>

                </div>
            </div>



            <div class="content-box">
                <div class="content-title">
                    수수료 기준으로<br>정산되는<br>입점사 상품의<br>판매 수수료 :
                </div>
                <div class="content">
                        이벤트 기간에 판매된 입점사의 상품은<br>
                        <bs-checkbox [formGroup]="bsForm"
                            [name]="'saller_rate_type'"
                            [label]="'상품에 저장된 수수료 그대로 정산에 반영합니다.'"

                            [value]="'0'">
                        </bs-checkbox>

                </div>
            </div>


        </div> -->
        <!-- <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'수수료 기준으로 정산되는 입점사 상품의 판매 수수료'"
                [description]="'수수료 정보를 입력하세요'">
            </bs-title-label-ctrl>
            <div class="content-box">
                <div class="content-title">
                     :
                </div>
                <div class="content">
                        <bs-checkbox [formGroup]="bsForm"
                            [name]="'use_coupon'"
                            [label]="'노출'"
                            [value]="'n'">
                        </bs-checkbox>
                        (이벤트기간에 구매 시 해당 이벤트 상품에는 쿠폰을 사용할 수 없습니다.)
                </div>
             </div>

        </div> -->
        <div class="content-wrap">
                <bs-title-label-ctrl
                    [title]="'이벤트 상품구매 시 쿠폰 및 코드 사용 제한(마진율 감소 방지 기능)'"
                    [description]="'이벤트 상품구매 시 정보를 입력하세요'">
                </bs-title-label-ctrl>
                <div class="content-block">
                    <div class="content-box">
                            <div class="content-title">
                                쿠폰
                            </div>
                            <div class="content content-top-line">
                                <bs-checkbox [formGroup]="bsForm"
                                    [name]="'use_coupon'"
                                    [label]="'이벤트기간에 구매 시 해당 이벤트 상품에는 쿠폰을 사용할 수 없습니다. / 해당 이벤트 상품의 상세페이지에서 쿠폰 미노출'"

                                    [value]="'n'"
                                    [uncheckedValue]="'y'">
                                </bs-checkbox>
                            </div>
                    </div>
                    <div class="content-box">
                            <div class="content-title">
                                배송비 쿠폰
                            </div>
                            <div class="content content-top-line">
                                <bs-checkbox [formGroup]="bsForm"
                                    [name]="'use_coupon_shipping'"
                                    [label]="'이벤트기간에 구매 시 해당 이벤트 상품이 속한 배송은 배송비 쿠폰을 사용할 수 없습니다. / 해당 이벤트 상품의 상세페이지에서 쿠폰 미노출'"

                                    [value]="'n'"
                                    [uncheckedValue]="'y'">
                                </bs-checkbox>

                            </div>
                    </div>
                    <!-- <div class="content-box">
                            <div class="content-title">
                                코드
                            </div>
                            <div class="content content-top-line">
                                <bs-checkbox [formGroup]="bsForm"
                                    [name]="'use_code'"
                                    [label]="'이벤트기간에 구매 시 해당 이벤트 상품에는 코드 할인이 적용되지 않습니다. / 해당 이벤트 상품의 상세페이지에서 쿠폰 미노출'"

                                    [value]="'n'"
                                    [uncheckedValue]="'y'">
                                </bs-checkbox>
                            </div>
                    </div>
                    <div class="content-box">
                            <div class="content-title">
                                배송비 코드
                            </div>
                            <div class="content content-top-line">
                                <bs-checkbox [formGroup]="bsForm"
                                    [name]="'use_code_shipping'"
                                    [label]="'이벤트기간에 구매 시 해당 이벤트 상품이 속한 배송은 배송비 코드 할인이 적용되지 않습니다. / 해당 이벤트 상품의 상세페이지에서 쿠폰 미노출'"

                                    [value]="'n'"
                                    [uncheckedValue]="'y'">
                                </bs-checkbox>
                            </div>
                    </div> -->
                </div>
        </div>

        <!-- <div class="content-wrap">
          <bo-submit-button-form                 [hasCancelBtn]="true"                 (clickCancel)="gotoListPage()">             </bo-submit-button-form>
        </div> -->
        <bo-submit-button-form
            [hasCancelBtn]="true"
            (clickCancel)="gotoListPage()">
        </bo-submit-button-form>
    </div>
  </form>
