<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'점검페이지 전환'">
    <bo-page-button-config id = "id-board-content-list-btn-create"
        [title]="'저장하기'"
        [styleType] = "'square-m-white-btn'"
        (click) = "onSubmit()">
    </bo-page-button-config>
</bo-page-header>
<form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
    <div class="section">
        <div class="content-wrap">
            <bs-title-label-ctrl
                [formGroup]="bsForm"
                [title]="'점검 페이지 노출 설정'">
            </bs-title-label-ctrl>
            <div class="content-block">
                <div class="content-box">
                    <div class="content-title">
                        노출설정
                    </div>
                    <div class="content">
                        <div class="padding-s">
                            <input type="radio" id="goods_view_y" value="look" name="goods_view" formControlName="goods_view" checked />
                            <label for="goods_view_y" class="check-label">노출</label>
                        </div>
                        <div class="padding-s">
                            <input type="radio" id="goods_view_n" value="notLook" name="goods_view" formControlName="goods_view" />
                            <label for="goods_view_n" class="check-label">미노출</label>
                        </div>
                        <div class="padding-s">
                            <input type="radio" id="goods_view_n" value="notLook" name="goods_view" formControlName="goods_view" />
                            <label for="goods_view_n" class="check-label">특정 기간동안 노출</label>
                            <div style="padding: 5px 0 0 25px;">
                                <bo-date-time-input
                                    [formGroup]="bsForm"
                                    [name] = "'account_lock_start_date'"
                                    [isTime] = "true"
                                    [disabled]="!auth.isManager">
                                </bo-date-time-input>
                                ~
                                <bo-date-time-input
                                    [formGroup]="bsForm"
                                    [name] = "'account_lock_end_date'"
                                    [isTime] = "true"
                                    [disabled]="!auth.isManager">
                                </bo-date-time-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'PC 컨텐츠'">
            </bs-title-label-ctrl>
            <div class="content-block">
                <div class="content-box">
                    <div class="content content-newline" style="padding:0;">
                        <bo-editor
                            [name]="'contents'"
                            [formGroup]="bsForm"
                            [width]="'100%'">
                        </bo-editor>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'모바일 컨텐츠'">
            </bs-title-label-ctrl>
            <div class="content-block">
                <div class="content-box">
                    <div class="content content-newline" style="padding:0;">
                        <bo-editor #mobileEditor
                            [name]="'mobile_contents'"
                            [formGroup]="bsForm"
                            [width]="'100%'">
                        </bo-editor>
                    </div>
                </div>
            </div>
        </div>
            <bo-submit-button-form></bo-submit-button-form>
    </div>
</form>
