.alert-danger {
    color: #ff0000;
    background: none;
    border: none;
    /* background-color: #f2dede;
    border-color: #ebccd1; */
    max-width: 425px;
    margin: 5px 0 0 0;
    /* position: absolute; */
    display: inline-block;
    left: 0;
    padding: 0 0 0 4px;
    z-index: 10;
}
:host{
    position: relative;
    display: inline-block;
}
