<div *ngIf="type == 'main'">
    <img src="/assets/images/guide/display_main.jpg"/>
</div>
<div *ngIf="type == 'player'">
    <img src="/assets/images/guide/display_player.jpg"/>
</div>
<div *ngIf="type == 'mainbanner'">
    <img src="/assets/images/guide/display_mainbanner.jpg"/>
</div>
<div *ngIf="type == 'planshop'">
    <img src="/assets/images/guide/display_planshop.jpg"/>
</div>
<div *ngIf="type == 'new'">
    <img src="/assets/images/guide/display_new.jpg"/>
</div>
<div *ngIf="type == 'brand'">
    <img src="/assets/images/guide/display_brand.jpg"/>
</div>
<div *ngIf="type == 'stargoods'">
    <img src="/assets/images/guide/disaplay_stargoods.jpg"/>
</div>
<div *ngIf="type == 'starauction'">
    <img src="/assets/images/guide/display_starauction.jpg"/>
</div>
<div *ngIf="type == 'thatitem'">
    <img src="/assets/images/guide/display_thatitem.jpg"/>
</div>
<div *ngIf="type == 'goodsreview'">
    <img src="/assets/images/guide/display_goodsreview.jpg"/>
</div>
