
<data-table #bsDatatable
    headerTitle="datatable"
    [header]="true"
    [items]="data?.list"
    [itemCount]="data?.list.length"
    [selectColumn]="false"
    [indexColumn]="true"
    [pagination]="false"
    [sortBy] = "'gid'"
    [sortAsc] = "true">

    <!-- <data-table-column
        [property]="'seq'"
        [header]="'번호'"
        [sortable]="false"
        [width]="80">
    </data-table-column> -->

    <data-table-column
        property="name"
        header="작성자"
        [width]="100">
    </data-table-column>

    <data-table-column
        [property]="'category'"
        [header]="'분류'"
        [align]="'center'"
        [width]="160"
        *ngIf="data?.list && data?.list.length > 0 && data?.list[0].category">
    </data-table-column>

    <data-table-column
    *ngIf="boardId !== 'goods_review' && boardId !== 'goods_qna'"
        [property]="'subject'"
        [header]="'제목'"
        [align]="'left'"

        [clickable]="true">
        <ng-template #dataTableCell let-item="item">
            <div class="hov clickable" (click)="onClickViewItem(item, template, boardId)">{{item.subject}}</div>
        </ng-template>
    </data-table-column>

    <data-table-column
        *ngIf="boardId == 'goods_review' || boardId == 'goods_qna'"
        [property]="'goods_image'"
        [header]="'이미지'"
        [width]="80">
        <!-- <ng-template #dataTableCell let-item="item" >
            <img (click)="updateItem(item.goods_seq)" [src] = "item.goods_image"  style="width: 44px; height: 44px;">
        </ng-template> -->
        <ng-template #dataTableCell let-item="item" >
            <a target="_blank" href="{{clientURL+'/goods/view/'+item.goods_seq}}">
                <img  [src] = "item.goods_image"  style="width: 44px; height: 44px;">
            </a>
        </ng-template>
    </data-table-column>

    <data-table-column
        *ngIf="boardId == 'goods_review'"
        [property]="'goods_name'"
        [header]="'상품명'"
        [sortable]="true"
        [align]="'left'"
        [clickable]="true">
        <ng-template #dataTableCell let-item="item" >
            <div (click)="onClickViewItem(item , template , 'goods_review')">
                <span><strong>{{item?.goods?.goods_name}}</strong></span>
                <br><span class="hov">{{item?.contents | stringLimit:50}}</span>
            </div>
        </ng-template>
    </data-table-column>

    <data-table-column
        *ngIf="boardId == 'goods_qna'"
        [property]="'goods_name'"
        [header]="'상품명'"
        [width]="230"
        [align]="'left'"
        [sortable]="false"
        [clickable]="true">
        <ng-template #dataTableCell let-item="item" >
            <!-- <span (click)="onClickViewItem(item , template ,'goodsqna')" >{{item.goods?.goods_name}}</span> -->
            <span class="goods_name clickable"  routerLink="../../goods/goods/update/{{item.goods_seq}}" >{{item.goods?.goods_name}}</span>
        </ng-template>
    </data-table-column>

    <data-table-column
        *ngIf="boardId == 'goods_qna'"
        [property]="'subject'"
        [header]="'제목/내용'"
        [align]="'left'"

        [clickable]="true">
        <ng-template #dataTableCell let-item="item">
            <div (click)="onClickViewItem(item , template, 'goods_qna')" class="hov">
                <div style="max-height:35px; font-weight: bold;"
                    [innerHTML]="item?.subject | removeTag">
                </div>
                <div style="max-height:35px;"
                    [innerHTML]="item?.contents | removeTag">
                </div>
            </div>
        </ng-template>
    </data-table-column>

    <data-table-column
        *ngIf="boardId == 'goods_review'"
        [property]="'score'"
        [header]="'평점'"
        [width]="120"
        [sortable]="true">
        <ng-template #dataTableCell let-item="item" >
            <bs-rating #small [values]="item?.score" [max]="max" [isReadonly]="true" [style]="'star2'"></bs-rating>
        </ng-template>
    </data-table-column>

    <!-- 답변 상태 -->
    <div *ngIf="hasReply">
        <data-table-column
            [property]="'re_contents'"
            [header]="'상태'"

            [width]="100">
            <ng-template #dataTableHeader let-item="item">
                답변상태
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <span *ngIf="item.re_contents">답변</span>
                <span *ngIf="!item.re_contents" class="red">미답변</span>
            </ng-template>
        </data-table-column>
    </div>

    <data-table-column
        [property]="'r_date'"
        [header]="'등록일시'"

        [width]="120">
        <ng-template #dataTableHeader let-item="item">
            등록일시
        </ng-template>
        <ng-template #dataTableCell let-item="item">
            <span>{{item.regist_date | date:'yyyy-MM-dd'}}</span>
        </ng-template>
    </data-table-column>
</data-table>

