<div class="outlet-section">
        <!-- <div class="query-title">검색</div> -->

            <form [formGroup]="bsForm" (ngSubmit)="onSubmit()" class="form-area">
                <div class="query-wrap">
                    <div class="form-block">
                        <div class="form-box">
                            <div class="form-item" style="width: 50%;">
                                <div class="form-title">정산기간</div>
                                <select class="form-selectbox default small-input" name="account_s_y" formControlName="account_s_y" >
                                    <option *ngFor="let item of years" [value]="item.value">{{item.title}}</option>
                                </select>
                                <select class="form-selectbox default small-input" name="account_s_m" formControlName="account_s_m" >
                                    <option *ngFor="let item of month" [value]="item.value">{{item.title}}</option>
                                </select>
                                <div class="dash-bar">-</div>
                                <select class="form-selectbox default small-input"  name="account_e_y" formControlName="account_e_y" >
                                    <option *ngFor="let item of years" [value]="item.value">{{item.title}}</option>
                                </select>
                                <select class="form-selectbox default small-input" name="account_e_m" formControlName="account_e_m" >
                                    <option *ngFor="let item of month" [value]="item.value">{{item.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-box" *ngIf="!appConfig.isProvider"  style="min-height: 50px; height: auto; padding-top: 5px;">
                            <div class="form-item" style="height: auto; line-height: 25px;">
                                <div class="form-title">입점사</div>
                                <bo-provider-query-view [formGroup]="bsForm"></bo-provider-query-view>
                            </div>
                        </div>
                        <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">검색조건</div>
                                <bs-input [name]="'search_text'" [formGroup]="bsForm"
                                [placeholder]="'주문번호,옵션별상세코드,주문자명,수령인명,고객아이디,출고번호'" [style]="'search-input'"></bs-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-area">
                    <button type="submit" class="btn new-search-btn">
                        검색
                    </button>
                </div>
             </form>
    </div>
