<!-- header-->
<bo-page-header [imgUrl]="'assets/img/member-list.svg'" [title]="'카카오톡 발송내역'">

    <!-- <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'회원가입'"
        [styleType] = "'round-m-darkgrey'"
        (click)="createItem()">
    </bo-page-button-config> -->

    <!-- <bo-page-button-config id = "id-board-content-list-btn-create"
        [title]="'회원(승인/등급) 일괄변경'"
        [styleType] = "'round-m-grey'"
        (click) = "onClickHeaderBtn($event)">
    </bo-page-button-config>

    <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'포인트'"
        [styleType] = "'round-m-white'"
        (click) = "onClickHeaderBtn($event)">
    </bo-page-button-config>

    <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'적립금'"
        [styleType] = "'round-m-white'"
        (click) = "onClickHeaderBtn($event)">
    </bo-page-button-config>

    <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'SMS 수동발송'"
        [styleType] = "'round-m-white-red'"
        (click) = "onClickHeaderBtn($event)">
    </bo-page-button-config>

    <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'이메일 수동발송'"
        [styleType] = "'round-m-white-red'"
        (click) = "onClickHeaderBtn($event)">
    </bo-page-button-config> -->
    <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'SMS 수동발송'"
        [styleType] = "'square-m-white-btn'"
        (click) = "onClickSendSMS()">
    </bo-page-button-config>
</bo-page-header>

<div class="list-section">

    <!-- query form -->
    <send-kakao-query-form [setQuery]="query"(query)="reloadWithQuery($event)" [initialQuery]="true"></send-kakao-query-form>
    <!-- space -->
    <bo-page-padding></bo-page-padding>

    <div class="list-wrap-se">
        <!-- list -->
        <div style="margin: auto; max-width: 100%; margin-bottom: 50px;">
            <data-table #bsDatatable
                headerTitle="datatable"
                [header]="true"
                [items]="items"
                [itemCount]="itemCount"
                [indexColumn]="true"
                [selectColumn]="true"
                [sortBy] = "'MSGKEY'"
                [sortAsc] = "false"
                (reload)="reloadItems($event)"

                 >


                <!-- 선택삭제 버튼-->
                <!-- <bs-header-button-config id = "id-board-content-list-deleteall-btn1"
                    [title] = "'선택삭제'"
                    [styleType] = "'s-darkblue'"
                    (click) = "deleteSelectedItem($event, 'MSGKEY')">
                </bs-header-button-config> -->


                <!-- <data-table-column
                    [property]="'MSGKEY'"
                    [header]="'번호'"
                    [width]="53">
                </data-table-column> -->

                <!-- <data-table-column
                    [property]="'SERIALNUM'"
                    [header]="'시리얼 번호'"
                    [width]="53">
                </data-table-column> -->

                <!-- <data-table-column
                    [property]="'ID'"
                    [header]="'ID'"
                    [width]="53">
                </data-table-column> -->

                <!-- <data-table-column
                    [property]="'STATUS'"
                    [header]="'상태값'"
                    [width]="53">
                </data-table-column> -->

                <data-table-column
                    [property]="'PHONE'"
                    [header]="'수신번호'"
                    [width]="116">
                </data-table-column>

                <data-table-column
                [property]="'CALLBACK'"
                    [header]="'송신번호'"
                    [width]="80">
                </data-table-column>

                <data-table-column
                    [property]="'REQDATE'"
                    [header]="'발송예약시간'"
                    [width]="113">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.REQDATE | date:'yy-MM-dd HH:mm'}}</span>
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [property]="'SENTDATE'"
                    [header]="'발송시간'"
                    [width]="100">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.SENTDATE | date:'yy-MM-dd HH:mm'}}</span>
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [property]="'MSG'"
                    [header]="'발송내용'"
                    [width]="350"
                    [align]="'left'">
                </data-table-column>

                <data-table-column
                    [property]="'TEMPLATE_CODE'"
                    [header]="'템플릿 코드'"
                    [width]="70">
                </data-table-column>

                <data-table-column
                    [property]="'FAILED_TYPE'"
                    [header]="'카카오톡 실패시 전송 메세지 타입'"
                    [width]="112">
                </data-table-column>

                <data-table-column
                    [property]="'FAILED_SUBJECT'"
                    [header]="'전송 실패시 전송 할 제목'"
                    [width]="86">
                </data-table-column>

                <data-table-column
                    [property]="'FAILED_MSG'"
                    [header]="'전송 실패시 전송 할 내용'"
                    [width]="350"
                    [align]="'left'">
                </data-table-column>

                <!-- <data-table-column
                    [property]="'FAILED_IMG'"
                    [header]="'전송 실패시 MMS일경우 이미지'"
                    [width]="80">
                </data-table-column> -->

                <!-- <data-table-column
                    [property]="'ETC1'"
                    [header]="'유저번호'"
                    [width]="80">
                </data-table-column> -->

                <!-- <data-table-column
                    [header]="'관리'"[width]="300">
                    <ng-template #dataTableHeader let-item="item">
                        상세
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                        <bo-button-collection class="margin-class" [id]="'edit'" (click)="updateItem(item.seq)" ></bo-button-collection>
                        <bo-button-collection [id]="'copy'" (click)="onClickCopy(item.boardid , item.seq)"></bo-button-collection>
                        <bo-button-collection class="margin-class" [id]="'delete'" (click)="deleteItem(item.seq)"></bo-button-collection>
                    </ng-template>
                </data-table-column> -->

            </data-table>
        </div>
    </div>
</div>
