<div class="login-box" *ifDesktop>
    <div class="contents">
        <!-- 회원가입 박스 start -->
        <div class="join-wrap">
            <h1 class="logo" routerLink="/main"><img src="assets/images/login/logo_purple_130@2x.png" alt="TOP RANK"></h1>
            <div class="join-box">
                <h2 class="join-title">회원가입</h2>
                <button class="email-join" routerLink="/account/signup/email">이메일로 회원가입</button>
                <button class="phone-join" routerLink="/account/signup/phone">휴대폰 번호로 회원가입</button>
            </div>
        </div>
        <!-- //회원가입 박스 end -->
    </div>
</div>
<div class="mobile" id="wrap" *ifMobile>
    <!-- contents start -->
    <div id="contents">
        <!-- 회원가입 박스 start -->
        <div class="join-wrap">
            <div class="join-header">
                <!-- <button class="back-btn"><img src="../images/ic_arrow_left_purple_40.png" alt="뒤로가기"></button>
                <h1 class="logo"><img src="../images/logo_purple_130@2x.png" alt="TOP RANK"></h1> -->
            </div>
            <h2 class="join-title">회원가입</h2>
            <button class="email-join" routerLink="/account/signup/email">이메일로 회원가입</button>
            <button class="phone-join" routerLink="/account/signup/phone">핸드폰 번호로 회원가입</button>
        </div>
        <!-- //회원가입 박스 end -->
    </div>
    <!--// contents end -->
</div>