<div class="list-view">
        <!-- <div class="board-head">
            <div class="board-basic board-user">작성자</div>
            <div class="board-basic board-content">내용</div>
            <div class="board-basic board-date">작성일</div>
        </div> -->
        <bs-list-header></bs-list-header>
        <!-- <bs-list-item *ngFor="let item of data" [item]="item"></bs-list-item> -->
        <bs-list-item *ngFor="let item of data"></bs-list-item>
    </div>
    
    <!--
        1. bs-list      list
        2. bs-listCtrl => 데이타까지 가져와 //  page, limit
    
    
        // pagenation
    
            countperPage = 10
            totalItemsCount = 
            currentPage = 1
         
    -->
