<div class="web" *ifDesktop>
    <!-- 컨텐츠 타이틀 영역 start -->
    <div class="title-area">
        <div class="title-wrap">
            <h2 class="title">포인트 조회</h2>
        </div>
        <nav>
            <ol class="location-history">
                <li routerLink="/main/home">HOME</li>
                <li routerLink="/main/section/mypage/home/point">마이페이지</li>
                <li>포인트 조회</li>
            </ol>
        </nav>
    </div>
    <!-- //컨텐츠 타이틀 영역 end -->

    <!-- 포인트 박스 start -->
    <div class="point-box box">
        <div class="charging-point">
            <strong>충전 포인트</strong>
            <div class="point-content">
                <span>
                    <strong>{{balance?.charge_point | number}}</strong>
                    <b>P</b>
                </span>
                <button class="charging-btn" routerLink="/main/section/payment/point-charge">충전하기</button>
            </div>
        </div>
        <div class="free-point">
            <strong>무료 포인트</strong>
            <div class="point-content">
                <span>
                <strong>{{balance?.free_point | number}}</strong>
                <b>P</b>
                </span>
            </div>
        </div>
        <div class="reward-point">
            <strong>리워드 포인트</strong>
            <div class="point-content">
                <span>
                <strong>{{balance?.reward_point | number}}</strong>
                <b>P</b>
                </span>
                <div class="btn-wrap">
                <button class="change-btn" (click)="onClickPopup('exchange')">전환하기</button>
                <button class="draw-btn" (click)="onClickPopup('draw')">인출하기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //포인트 박스 end -->

    <!-- 포인트 내역 start -->
    <div class="point-history">
        <ul class="point-history-tab">
            <li routerLink="./point" routerLinkActive="active">포인트 내역</li>
            <li routerLink="./reward-point" routerLinkActive="active">리워드 포인트 내역</li>
        </ul>
        <router-outlet></router-outlet>
    </div>

    <!-- 포인트 전환하기 팝업 start -->
    <div class="cm-popup change-popup" *ngIf="isShowExchangePopup">
        <div class="popup-box box">
        <div class="popup-header">
            <h3>포인트 전환하기</h3>
            <button class="close" (click)="onClickHideExchangePopup('exchange')">
                <img src="assets/images/mypage/ic_close_black_40.png" alt="닫기 버튼">
            </button>
        </div>
        <div class="popup-contents">
            <div class="point-exchange">
            <div class="reward-point-now">
                <span>현재 리워드 포인트</span>
                <strong>{{balance?.reward_point | number}} P</strong>
            </div>
            <div class="exchange-point">
                <span>전환 포인트</span>
                <div class="input-area">
                    <input type="number" placeholder="포인트를 입력해주세요." [(ngModel)]="exchangePoint">
                    <button (click)="onClickExchangeFullPoint()" class="all-in-btn">전액</button>
                </div>
            </div>
            </div>
            <div class="precautions">
            <ul>
                <li class="emphasis">리워드 포인트는 무료 포인트로만 적립되며, 전환된 무료 포인트는 유효기간 없이 사용할 수 있습니다.</li>
                <li class="emphasis">전환 완료 후 취소할 수 없으며, 전환된 포인트는 현금 인출이 불가합니다.</li>
                <li>전환된 포인트는 현금영수증 발행 대상이 아닙니다.</li>
                <li>전환된 포인트는 테크비 포인트의 이용정책 및 만료 기준을 따릅니다.</li>
            </ul>
            </div>
            <button type="submit" (click)="onSubmitExchange()" class="exchange-btn" [disabled]="!exchangePoint">전환하기</button>
        </div>
        </div>
    </div>
    <!-- //포인트 전환하기 팝업 end -->

    <!-- 포인트 인출하기 팝업 start -->
    <div class="cm-popup draw-popup" *ngIf="isShowDrawPopup">
        <div class="popup-box box">
            <form [formGroup]="withDrawlForm" (submit)="onSubmitWithDrawl()">
                <div class="popup-header">
                    <h3>포인트 인출하기</h3>
                    <button tpye="button" class="close" (click)="onClickHideExchangePopup('draw')">
                        <img src="assets/images/mypage/ic_close_black_40.png" alt="닫기 버튼">
                    </button>
                </div>
                <div class="popup-contents">
                    <div class="point-exchange point-withdraw">
                        <div class="reward-point-now">
                            <span>현재 리워드 포인트</span>
                            <strong>{{balance?.reward_point | number}} P</strong>
                        </div>
                        <div class="exchange-point">
                            <span>인출할 포인트</span>
                            <div class="input-area">
                                <input type="number" placeholder="포인트를 입력해주세요." [value]="withdraw_point" formControlName="withdraw_point">
                                <button type="button" class="all-in-btn" (click)="onClickDrawlFullPoint()">전액</button>
                            </div>
                        </div>
                    <div class="bank-name">
                        <span>은행명</span>
                        <div class="selectbox">
                            <select formControlName="bank_name">
                                <option value="">은행</option>
                                <option *ngFor="let bank of bankList" [value]="bank.name">{{bank.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="account-number">
                        <span>계좌번호</span>
                        <div class="input-area">
                            <input type="number" placeholder="계좌번호를 입력해주세요." formControlName="bank_account">
                        </div>
                    </div>
                    <div class="account-holder">
                        <span>예금주</span>
                        <div class="input-area">
                            <div>
                                <input type="text" placeholder="예금주를 입력해주세요."
                                (keyup)="onKeyupAccountHolder(withDrawlForm.value.bank_account_holder)" formControlName="bank_account_holder">
                                <p class="account-checking check" *ngIf="isAccountHolder && accountCheck" >실계좌가 확인되었습니다.</p>
                                <p class="account-checking noCheck" *ngIf="isAccountHolder && !accountCheck">실계좌 확인이 필요합니다.</p>
                            </div>
                            <button type="button" (click)="onClickAccountCheck()" class="actual-account-btn" [disabled]="!isAccountHolder">실계좌 확인</button>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
                <div class="precautions">
                    <ul>
                        <li class="emphasis">인출 신청 시 등록하신 계좌로 바로 입금됩니다.</li>
                        <li>계좌번호 작성 시 숫자만 입력해주세요. 계좌번호와 예금주 오입력으로 인한 책임은 본인에게 있습니다.</li>
                        <li>리워드 포인트는 1,000원 이상부터 1원 단위로 인출하실 수 있습니다. 잔액이 1,000원 미만일
                        경우에는 전액 인출이 가능합니다.</li>
                    </ul>
                </div>
                <button class="withdraw-btn" [disabled]="!isValid()">인출하기</button>
                </div>
            </form>
        </div>
    </div>
    <!-- //포인트 인출하기 팝업 end -->
</div>

<div class="mobile" *ifMobile>
    <div>
        <!-- contents header start -->
        <div class="contents-header">
            <div class="contents-title">
            <img src="assets/images/svg/ic_point-history_purple_24.svg" alt="">
            <h2>포인트 조회</h2>
            </div>
        </div>
        <!-- //contents header end -->
        <div class="point-dashboard-wrap">
            <div class="point-dashboard box">
                <ul>
                    <li>
                        <span class="point-title">충전 포인트</span>
                        <div class="point-contents">
                            <span>
                                <strong class="g-num">{{balance?.charge_point | number}}</strong> P
                            </span>
                            <button class="charging-btn" routerLink="/main/section/payment/point-charge">충전</button>
                        </div>
                    </li>
                    <li>
                        <span class="point-title">무료 포인트</span>
                        <div class="point-contents">
                            <span>
                                <strong class="g-num">{{balance?.free_point | number}}</strong> P
                            </span>
                        </div>
                        </li>
                    <li>
                        <span class="point-title">리워드 포인트</span>
                        <div class="point-contents">
                            <span>
                                <strong class="g-num">{{balance?.reward_point | number}}</strong> P
                            </span>
                            <div class="btn-wrap">
                                <button class="change-btn" (click)="onClickPopup('exchange')">전환</button>
                                <button class="withdraw-btn" (click)="onClickPopup('draw')">인출</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="line"></div>

        <!-- 포인트 내역 start -->
        <div class="point-history-wrap">
            <!-- 포인트 내역 탭 start -->
            <ul class="point-history-tab">
                <li routerLink="./point" routerLinkActive="active">포인트 내역</li>
                <li routerLink="./reward-point" routerLinkActive="active">리워드 포인트 내역</li>
            </ul>
            <!-- //포인트 내역 탭 end -->
            <router-outlet></router-outlet>
        </div>
        <!-- 포인트 내역 end -->
    </div>
    <!-- 포인트 전환하기 팝업 start -->
    <div class="m-popup point-change-popup" [ngClass]="{active: isShowExchangePopup}">
        <div class="m-popup-box">
            <div class="popup-header">
                <h3>포인트 전환하기</h3>
                <button class="close-btn" (click)="onClickHideExchangePopup('exchange')">
                    <img src="assets/images/svg/ic_close_bold_black_40.svg" alt="닫기 버튼">
                </button>
            </div>
            <div class="popup-contents">
                <div class="rewards-point">
                    <span class="point-change-title">현재 리워드 포인트</span>
                    <strong>
                        <span>{{balance?.reward_point | number}}</span> P
                    </strong>
                </div>
                <div class="switch-point">
                    <span class="point-change-title">전환 포인트</span>
                    <div class="point-input-area">
                        <input type="number" [(ngModel)]="exchangePoint" placeholder="포인트를 입력해주세요.">
                        <button class="clear-btn">
                            <img src="assets/images/svg/ic_close_black_32.svg" alt="X">
                        </button>
                        <button class="total-amount-btn" (click)="onClickExchangeFullPoint()">전액</button>
                    </div>
                </div>
                <div class="confirmation-box">
                    <div class="confirmation-title">
                        <img src="assets/images/svg/ic_notice_gray_24.svg" alt="!">
                        <span>확인해주세요</span>
                    </div>
                    <ul>
                        <li class="principle">리워드 포인트는 무료 포인트로만 적립되며, 전환된 무료 포인트는 유효기간 없이 사용할 수 있습니다.</li>
                        <li class="principle">전환 완료 후 취소할 수 없으며, 전환된 포인트는 현금 인출이 불가합니다.</li>
                        <li>전환된 포인트는 현금영수증 발행 대상이 아닙니다.</li>
                        <li>전환된 포인트는 테크비 포인트의 이용정책 및 만료 기준을 따릅니다.</li>
                    </ul>
                </div>
                <button class="switch-btn" (click)="onSubmitExchange()" [disabled]="!exchangePoint">전환하기</button>
            </div>
        </div>
    </div>
    <!-- //포인트 전환하기 팝업 end -->

    <!-- 포인트 인출하기 팝업 start -->
    <div class="m-popup point-withdraw-popup" [ngClass]="{active: isShowDrawPopup}">
        <div class="m-popup-box">
            <form [formGroup]="withDrawlForm" (submit)="onSubmitWithDrawl()">
                <div class="popup-header">
                    <h3>포인트 인출하기</h3>
                    <button class="close-btn" (click)="onClickHideExchangePopup('draw')">
                        <img src="assets/images/svg/ic_close_bold_black_40.svg" alt="닫기 버튼">
                    </button>
                </div>
                <div class="popup-contents point-withdraw">
                    <div class="rewards-point">
                        <span class="point-change-title">현재 리워드 포인트</span>
                        <strong>
                            <span>{{balance?.reward_point | number}}</span> P
                        </strong>
                    </div>
                    <div class="switch-point">
                        <span class="point-change-title">인출할 포인트</span>
                        <div class="point-input-area">
                            <input type="text" placeholder="포인트를 입력해주세요." formControlName="withdraw_point">
                            <!-- <button class="clear-btn on">
                                <img src="assets/images/svg/ic_close_black_32.svg" alt="X">
                            </button> -->
                            <button class="total-amount-btn" type="button" (click)="onClickDrawlFullPoint()">전액</button>
                        </div>
                    </div>
                    <div class="bank-name">
                        <span class="point-change-title">은행명</span>
                        <div class="selectbox">
                            <!-- <div class="select-display">은행</div> -->
                            <select class="select-display" formControlName="bank_name">
                                <option value="">은행</option>
                                <option *ngFor="let bank of bankList" [value]="bank.name">{{bank.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="account-number">
                        <span class="point-change-title">계좌번호</span>
                        <div class="input-area">
                            <input type="number" placeholder="계좌번호를 입력해주세요."  formControlName="bank_account">
                            <!-- <button class="clear-btn on">
                                <img src="assets/images/svg/ic_close_black_32.svg" alt="X">
                            </button> -->
                        </div>
                    </div>
                    <div class="account-holder">
                        <span class="point-change-title">예금주</span>
                        <div class="input-area">
                            <div>
                                <input type="text" placeholder="예금주를 입력해주세요."
                                    (keyup)="onKeyupAccountHolder(withDrawlForm.value.bank_account_holder)" 
                                    formControlName="bank_account_holder">
                                <!-- <button class="clear-btn on">
                                <img src="assets/images/svg/ic_close_black_32.svg" alt="X">
                                </button> -->
                                <p class="account-checking-need active" *ngIf="isAccountHolder && accountCheck" >실계좌가 확인되었습니다.</p>
                            </div>
                            <button type="button" (click)="onClickAccountCheck()" class="actual-account-btn" [disabled]="!isAccountHolder">실계좌 확인</button>
                        </div>
                    </div>
                    <div class="confirmation-box">
                        <div class="confirmation-title">
                            <img src="assets/images/svg/ic_notice_gray_24.svg" alt="!">
                            <span>확인해주세요</span>
                        </div>
                        <ul>
                            <li class="principle">인출 신청 시 등록하신 계좌로 바로 입금됩니다.</li>
                            <li>계좌번호 작성 시 숫자만 입력해주세요. 계좌번호와 예금주 오입력으로 인한 책임은 본인에게 있습니다.</li>
                            <li>리워드 포인트는 1,000원 이상부터 1원 단위로 인출하실 수 있습니다. 잔액이 1,000원 미만일 경우에는 전액 인출이 가능합니다.</li>
                        </ul>
                    </div>
            
                    <button class="switch-btn" [disabled]="!isValid()">인출하기</button>
                </div>
            </form>
        </div>
    </div>
    <!-- //포인트 전환하기 팝업 end -->

</div>
<script>
     // 팝업 스크롤 이벤트
     const pointWithdrawBox = pointWithdrawPopup.querySelector('.m-popup-box');

pointWithdrawBox.addEventListener('scroll', (e) => {
  if(pointWithdrawBox.scrollTop > 30) {
    pointWithdrawBox.classList.add('active');
  }else{
    pointWithdrawBox.classList.remove('active');
  }
});
</script>