:host{
    width: 100%;
}
.modal-dialog.modal-alert.alert{
    margin: 10% auto 0;
    width: 450px !important;
    text-align: center;
}
.modal{
    overflow: hidden;
}
.modal-content{
    background: none;
    box-shadow: none;
    border: none;
}
.alert .modal-content{
    width: 450px;
    height: auto;
    border-radius: 0;
    border: 1px solid #000;
    background-color: #fff;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7); */
}
.alert .modal-header.white{
    /* height: 52px; */
    height: 20px;
    background-color: #fff;
    border: none;
    width: auto;
    /* background-color: yellow; */
}
.alert .modal-header.white .close{
    text-shadow: none;
    opacity: 1;
    font-size: 44px;
    font-weight: 100;
    line-height: 14px;
    width: 43px;
    background: url(/assets/img/1.3.01.03_x.png) no-repeat 50%;
}
.alert .modal-header.white .close span{
    /* color: #000; */
    font-size: 0;
}
.modal-body.alert{
    padding: 40px 50px 36px 50px;
    /* background-color: purple; */

}
.alert-content{
    line-height: 25px;
    padding: 0px 0px 32px;
    color: #000000;
    font-size: 16px;
    text-align: center;
    word-break: keep-all;
}
.alert-btn-box{
    /* border-top: 1px solid #ccc; */
    /* padding-top: 12px; */
    font-size: 0;
    text-align: center;
}
.alert-btn{
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #000;
}
.alert-btn button.cancle{
    width: 150px;
    height: 48px;
    /* margin-top: 32px; */
    margin-left: 16px;
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    background-color: #828799;
}
.alert-btn button.ok{
    /* width: 37%; */
    /* height: 100%; */
    width: 150px;
    height: 48px;
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    background-color: #454e73;

}
bs-alert{
    width:100%;
}
@media screen and (max-width: 800px) {
    .modal-dialog.modal-alert.alert{
        width:100%;
        position: absolute;
        margin-top: 50%;
    }
    .alert .modal-content{
        width:100%;
    }

    .alert-btn button.cancle {
        font-size: 15px;
    }
    .alert-btn button.ok {
        font-size: 15px;
    }
    /* .modal-dialog .alert{
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: fit-content;

    } */

}
