@charset "utf-8";

/* G마켓 폰트 */
.g-num {
  font-family: 'Gmarket Sans';
}

/* 순위 관련 알약 모양 스타일 */
.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 24px;
  color: #fff;
  padding: 0.2rem 1.2rem 0 2.4rem;
  margin-left: 8px;
  padding-top: 0.4rem;
}
.pill.rise {
  background: #fc6075 url('../images/ic_up_white_24.svg') 0.6rem 0.5rem no-repeat;
  background-size: 1.6rem;
}
.pill.fall {
  background: #2fbaed url('../images/ic_down_white_24.svg') 0.6rem 0.5rem no-repeat;
  background-size: 1.6rem;
}
.pill.unchange {
  background: #b8b6c4 url('../images/ic_nochange_white_24.svg') 0.6rem 0.5rem no-repeat;
  background-size: 1.6rem;
}
.pill.init {
  height: 2.6rem;
  background: #fafbff;
  border: 1px solid #b8b6c4;
  padding: 0 1.2rem;
}
.pill.init span {
  font-size: 1.4rem;
  font-weight: bold;
  color: #b8b6c4;
  line-height: 2.5rem;
}
.pill-wrap {
  display: flex;
  align-items: center;
}
.pill-wrap .pill:first-child {
  margin-right: 0.8rem;
}

/* 검색한 키워드 스타일 */
.searched-keyword {
  display: flex;
  justify-content: center;
}
.searched-keyword span {
  display: inline-block;
  height: 2.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #3f37c9;
  line-height: 2.4rem;
  padding: 0 1.2rem;
  border: 1px solid #3f37c9;
  border-radius: 24px;
}


#wrap {
  background: #f7f7fc url('../images/png/img_bg_main-dashboard_title-m.png') top center no-repeat;
  background-size: contain;
}


/* 유저 정보 카드 */
.card-dashboard-wrap {
  padding: 0 1.6rem;
}
.card-dashboard {
  position: relative;
  width: 100%;
  background: #f7f7fc;
  border-radius: 16px;
  box-shadow: 0 10px 24px 0 rgba(36, 51, 179, 0.2);
  margin-top: 8.8rem;
}
.card-dashboard .user-info {
  padding: 2.4rem;
}
.card-dashboard .user-info .name-ranking {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.card-dashboard .user-info .name-ranking .name-area {
  display: flex;
  align-items: flex-end;
}
.card-dashboard .user-info .name-ranking .name-area strong {
  font-size: 2.0rem;
  color: #04021f;
}
.card-dashboard .user-info .name-ranking .name-area span {
  font-size: 2.0rem;
  font-weight: normal;
  color: #3e4259;
}
.card-dashboard .user-info .name-ranking .name-area .setting-btn {
  display:  inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  background: #b8b6c4;
  padding: 0;
  border-radius: 6px;
  margin-left: 8px;
}
.card-dashboard .user-info .name-ranking .name-area .setting-btn img {
  width: 1.6rem;
  height: 1.6rem;
}
.card-dashboard .user-info .name-ranking .ranking-tier {
  width: 4.0rem;
  height: 4.0rem;
}
.card-dashboard .user-info .name-ranking .ranking-tier img {
  width: 100%;
  height: auto;
}
/* 랭킹 자세히 보기 */
.ranking-tier-detail {
  display: none;
  position: absolute;
  right: -0.7rem;
  top: 5.0rem;
  padding: 12px 20px;
  margin: 0;
}
.ranking-tier-detail.active {
  display: block;
}
.ranking-tier-detail .next-ranking span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #b8b6c4;
}
.ranking-tier-detail .next-ranking .next-ranking-num {
  color: #3e4259;
}
.ranking-tier-detail .ranking-process {
  position: relative;
  width: 100%;
  height: 0.2rem;
  background: #dcdee8;
  margin-top: 8px;
}
.ranking-tier-detail .ranking-process span {
  position: absolute;
  display: inline-block;
  width: 50.2%;
  height: 0.2rem;
  background: #e6458e;
}
.card-dashboard .user-info .using-info {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 0.8rem; */
}
.card-dashboard .user-info .using-info > div {
  width: 14.0rem;
  text-align: center;
}
.card-dashboard .user-info .using-info .using-product {
  border-right: 1px solid #b8b6c4;
  padding-right: 1.5rem;
}
.card-dashboard .user-info .using-info .using-keyword {
  padding-left: 1.5rem;
}
.card-dashboard .user-info .using-info > div strong {
  font-size: 1.6rem;
  color: #3e4259;
}
.card-dashboard .user-info .using-info > div p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #e6458e;
  margin-top: 1.2rem;
}
.card-dashboard .user-info .using-info > div p b {
  vertical-align: middle;
}
.card-dashboard .bottom-point-area {
  height: 7.3rem;
  background: #f2f2fc;
  padding: 3.1rem 2.4rem 2.7rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  transition: all 0.5s;
}
.card-dashboard .bottom-point-area.active {
  height: 18.3rem;
}
.card-dashboard .bottom-point-area ul li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: #3e4259;
  margin-bottom: 1.8rem;
  padding-left: 2.4rem;
}
.card-dashboard .bottom-point-area ul li:last-child {
  margin-bottom: 0;
}
.card-dashboard .bottom-point-area ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  background: url('../images/ic_payment-point_purple_24.svg') left center no-repeat;
  background-size: 1.6rem;
}
.card-dashboard .bottom-point-area ul li:nth-child(2)::before {
  background: url('../images/ic_free-point_purple_24.svg') left center no-repeat;
  background-size: 1.6rem;
}
.card-dashboard .bottom-point-area ul li:nth-child(3)::before {
  background: url('../images/ic_reward-point_purple_24.svg') left center no-repeat;
  background-size: 1.6rem;
}
.card-dashboard .bottom-point-area ul li:nth-child(4)::before {
  background: url('../images/ic_coupon_purple_24.svg') left center no-repeat;
  background-size: 1.6rem;
}
.card-dashboard .bottom-point-area.active ul li:not(:first-child) {
  display: flex;
}
.card-dashboard .bottom-point-area ul li:not(:first-child) {
  display: none;
}
.card-dashboard .bottom-point-area .point-num {
  color: #e6458e;
  /* font-size: 1.6rem; */
  vertical-align: middle;
}
.card-dashboard .bottom-point-area .point-num span {
  vertical-align: middle;
}
.card-dashboard .unfold-btn {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -1.5rem;
  /* border: 1px solid #dcdee8; */
  background: url('../images/ic_circle_unfold_32.svg') center no-repeat;
  border-radius: 50%;
  margin-left: -1.75rem;
  padding: 0;
}
.card-dashboard .unfold-btn.on {
  background: url('../images/ic_circle_fold_32.svg') center no-repeat;
}
/* .card-dashboard .unfold-btn::before {
  content: "";
  display: block;
  width: 1.56rem;
  height: 0.85rem;
  background: url('../images/ic_unfold_20.svg') center no-repeat;
  opacity: 0.5;
}
.card-dashboard .unfold-btn.on::before {
  background: url('../images/ic_fold_20.svg') center no-repeat;
} */

/* =================================================================================================================== */
/* =================================================================================================================== */
/* 이용 중인 상품 영역 */
.contents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  margin-top: 4.8rem;
  padding: 0 2.4rem;
}
.contents-header .contents-title {
  display: flex;
  align-items: center;
}
.contents-header .contents-title img {
  width: 2.4rem;
  height: 2.4rem;
}
.contents-header .contents-title h2 {
  font-size: 1.8rem;
  color: #04021f;
  padding-left: 5px;
}
.contents-header .all-view {
  font-size: 1.4rem;
  color: #3e4259;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border: 1px solid #dcdee8;
  background: #fafbff;
  border-radius: 24px;
}

/* =================================================================================================================== */
/* =================================================================================================================== */
/* 상품 슬라이드 */
.product-slide-wrap {
  padding: 0 2.4rem;
  margin-top: 2.4rem;
  transition: all 0.2s;
  will-change: transform;
  overflow-x: scroll;
}
/* 스크롤 스타일 없애기 */
.product-slide-wrap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.product-slide-wrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.product-slide-wrap .product-slide {
  width: 320%;
}
.product-slide-wrap .product-slide-item {
  float: left;
  width: 31.2rem;
  height: 18.3rem;
  background: #fafbff;
  border-radius: 24px;
  margin-right: 8px;
  padding: 1.4rem 1.6rem 2.0rem;
  box-shadow: 0 3px 16px 0 rgba(36, 51, 179, 0.1);
}
.product-slide-wrap .product-slide-item:last-child {
  margin-right: 0;
}
.product-slide-wrap .product-slide::after {
  content: "";
  display: block;
  clear: both;
}
.product-slide-wrap .product-slide-item .rep-keyword {
  display: flex;
  justify-content: end;
  align-items: center;
}
.product-slide-wrap .product-slide-item .rep-keyword span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #04021f;
}
.product-slide-wrap .product-slide-item .rep-keyword .keyword-area {
  height: 2.6rem;
  font-weight: bold;
  color: #3f37c9;
  background: #fafbff;
  border: 1px solid #3f37c9;
  line-height: 2.6rem;
  padding: 0 1.2rem;
  border-radius: 24px;
  margin-left: 1.6rem;
}
.product-slide-wrap .product-slide-item .store-name {
  display: flex;
  align-items: center;
}
.product-slide-wrap .product-slide-item .store-name span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #b8b6c4;
  margin-left: 8px;
}
.product-slide-wrap .product-slide-item .store-product {
  display: -webkit-box;
  height: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #04021f;
  line-height: 1.44;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 7px;
  margin-bottom: 17px;
}
.product-slide-wrap .product-slide-item .sales-ranking {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-slide-wrap .product-slide-item .sales-ranking .ranking-num {
  display: flex;
  /* align-items: center; */
  color: #04021f;
}
.product-slide-wrap .product-slide-item .sales-ranking .ranking-num b {
  font-size: 1.6rem;
  vertical-align: middle;
  line-height: 3.0rem;
  margin-right: 0.2rem;
}
.product-slide-wrap .product-slide-item .sales-ranking span {
  font-size: 1.6rem;
  font-weight: 500;
  vertical-align: middle;
  color: #04021f;
}
.product-slide-wrap .product-slide-item .sales-ranking .ranking-num span {
  line-height: 2.5rem;
}

/* =================================================================================================================== */
/* =================================================================================================================== */
/* 대시보드 데이터 영역 */
.dashboard-data-area {
  background: #f2f2fc;
}
.dashboard-data-area .dashboard-data {
  padding: 24px;
}
.dashboard-data .data-box {
  width: 31.2rem;
  height: 18.3rem;
  border-radius: 24px;
  padding: 1.7rem 1.6rem 2.0rem 1.6rem;
  margin: 0 auto 0.8rem;
  box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
}
.dashboard-data .data-box .data-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
}
.dashboard-data .data-box .data-box-header h3 {
  display: flex; 
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #04021f;
}
.dashboard-data .data-box .data-box-header h3 img {
  width: 2.0rem;
  height: 2.0rem;
  margin-left: 3px;
}
.dashboard-data .data-box .searched-keyword {
  margin: 10px 0 14px;
}
.dashboard-data .data-box .sales-ranking-num,
.dashboard-data .data-box .review-count {
  text-align: center;
  font-size: 1.6rem;
  color: #04021f;
}
.dashboard-data .data-box .sales-ranking-num .g-num,
.dashboard-data .data-box .review-count .g-num {
  vertical-align: middle;
}
.dashboard-data .data-box .sales-ranking-num .page-ranking,
.dashboard-data .data-box .review-count .review-score {
  color: #3f37c9;
  vertical-align: middle;
}
.dashboard-data .data-box .sales-ranking-num .page-ranking b,
.dashboard-data .data-box .review-count .review-score b {
  font-weight: 500;
}
.dashboard-data .data-box .all-count,
.dashboard-data .data-box .purchases-num {
  font-weight: 500;
  color: #b8b6c4;
  text-align: center;
  margin-top: 8px;
}
.dashboard-data .data-box .all-count b,
.dashboard-data .data-box .purchases-num b {
  font-weight: 500;
  vertical-align: middle;
}
.dashboard-data .data-box .detail-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3e4259;
  margin-top: 11px;
  /* float: right; */
}
.dashboard-data .data-box .detail-btn img {
  width: 1.7rem;
  height: 1.7rem;
}
.dashboard-data .data-box .graph {
  height: 8.4rem;
  margin-top: 10px;
}
.dashboard-data .data-box .data-box-header .searched-keyword {
  margin: 0;
}
.dashboard-data .data-box .review-count {
  margin-top: 3.1rem;
}
.dashboard-data .data-box .purchases-num {
  margin-bottom: 3.0rem;
  margin-top: 1.4rem;
}
.dashboard-data .data-box .searched-category {
  display: flex;
  justify-content: center;
  margin: 0.3rem 0 1.6rem;
}
.dashboard-data .data-box .searched-category ul {
  display: flex;
  align-items: center;
  height: 2.7rem;
  padding: 0 8px;
  background: #fafbff;
  border: 1px solid #dcdee8;
  border-radius: 24px;
}
.dashboard-data .data-box .searched-category ul li {
  position: relative;
  font-size: 1.4rem;
  font-weight: bold;
  color: #3e4259;
  margin-right: 1.5rem;
}
.dashboard-data .data-box .searched-category ul li:last-child {
  margin-right: 0;
}
.dashboard-data .data-box .searched-category ul li::before {
  content: ">";
  display: block;
  position: absolute;
  left: -1.1rem;
  top: 0;
  font-size: 1.4rem;
  font-weight: 300;
  color: #b8b6c4;
}
.dashboard-data .data-box .searched-category ul li:first-child::before {
  display: none;
}
.dashboard-data .data-box .searches-count {
  font-size: 1.6rem;
  font-weight: 500;
  color: #04021f;
  text-align: center;
  margin-top: 0.3rem;
}
.dashboard-data .data-box .searches-count b {
  vertical-align: middle;
}



/* 반응형 브레이크 포인트 */
@media screen and (max-width: 375px) {
  .age-group-wrap .age-group:last-of-type {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

/* 650px 이상 767px 이하 */
@media screen and (min-width: 650px) and (max-width: 767px) {
  .keyword-search-result {
    margin-top: 15rem;
  }
  .main-tab-area {
    margin-top: 10.0rem;
  }
  .main-tab-area .main-tab li:nth-child(2)::before {
    left: 5.8rem;
    top: -2.3rem;
  }
}

/* 768px 이상 */
@media screen and (min-width: 768px) {
  .keyword-search-result {
    margin-top: 15rem;
  }
  .main-tab-area {
    margin-top: 10.0rem;
  }
  .main-tab-area .main-tab li:nth-child(2)::before {
    left: 5.8rem;
    top: -2.3rem;
  }
}

