<div>
    <a>
        <div class="ns-regular img-box">
            <a target="_blank" href="{{clientURL+'/goods/view/'+item.goods_seq}}">
                <img src="{{item.image}}" style="width:90px;height: 90px;" />
            </a>
            <ul>
            <div *ngIf="isShowBtnBox">
                <!-- <button type="button" class="black-border-btn" *ngIf="item?.cancel_type == 1">청약철회불가</button> -->
                <button type="button" class="black-btn" *ngIf="item?.gift == 1">사은품</button>
            </div>
            <li class="name" [routerLink]="['/main/goods/goods/update/' + item.goods_seq ]" style="cursor: pointer;">
                <div *ngIf="item.provider_name" class="my-horizontal">[{{item.provider_name}}]</div>
                {{item?.goods_name}}
            </li>
            <li class="grey-option" *ngIf="item?.option1" (click)="onClickOption($event, item)">
                옵션: {{item?.option1}}
                <span *ngIf="item?.option2">/{{item?.option2}}</span>
                <span *ngIf="item?.option3">/{{item?.option3}}</span>
                <span *ngIf="item?.option4">/{{item?.option4}}</span>
                <span *ngIf="item?.option5">/{{item?.option5}}</span>
                <span *ngIf="isShowPrice" class="rb-regular">({{price | number}}<span class="ns-regular">원</span>)</span>
                <span *ngIf="isShowEa" class="rb-regular">{{ea | number}}<span class="ns-regular">개</span></span>


                <!-- <img src="/assets/img/goods/Layer-5-copy-3.png" *ngIf="editable == true && item.showOption == false" class="option-arrow-img"/> -->
                <img src="/assets/img/up.png" *ngIf="editable == true && item.showOption == true" class="option-arrow-img"/>
            </li>
            <li class="grey-option sub-input" *ngFor="let input of inputs;let i=index" >
                <span *ngIf="input?.input_value" (click)="onClickInputOption($event, input)">
                    └ 입력 옵션 :
                        {{input?.input_title}}-{{input?.input_value}}
                        <!-- <img src="/assets/img/goods/Layer-5-copy-3.png" *ngIf="editable == true && input.showOption == false" class="option-arrow-img"/> -->
                        <img src="/assets/img/up.png" *ngIf="editable == true && input.showOption == true" class="option-arrow-img"/>
                </span>
            </li>
            <div *ngIf="isSuboptions == true" style="text-align:left;">
                <li class="grey-option sub-input" *ngFor="let subOption of suboptions;let i=index">
                    <span *ngIf="subOption">└ 추가 옵션 : {{subOption?.suboption_title}} - {{subOption?.suboption}}
                    <span *ngIf="isShowPrice">(+<span class="rb-regular">{{subOption?.price | number}}</span>원)</span> <span class="rb-regular">{{subOption?.ea | number}}</span>개</span>
                </li>
            </div>

            <!--가격및 수량은 추가 옵션으로 받아야함 -->
            <!-- <li *ngIf="isShowEa" class="ns-regular grey">수량: {{ea}}</li> -->
            <li *ngIf="isShowTotalPrice" class="bold price rb-regular">{{item?.tot_price | number}}
                <span class="rb-regular">원</span>
            </li>
            </ul>
        </div>
    </a>
</div>

