.img-box {
    width: 100%;
    font-size: 0;
    box-sizing: border-box;
}
.img-box img {
    vertical-align: top;
}
.img-box ul {
    width: calc(100% - 90px);
    display: inline-block;

}
.img-box .name {
    font-size: 18px;
    font-weight: bold;
}
.img-box li.price  {
    font-size: 16px;
}
.grey-option {
    font-size: 14px;
    color: #979797;
    font-family: 'Nanum Square', sans-serif;
    padding: 8px 0;
}
li.grey-option .sub-input {
    padding: 4px 0;
    font-size: 14px;
}
.img-box li .option-arrow-img {
    vertical-align: middle;
    padding-left: 10px;
}

li{list-style:none;}