<bo-page-header [imgUrl]="'assets/img/03-5-board-2(2).svg'" [title]="'인기검색어 설정'">
</bo-page-header>
<!--
<div class="section">
  <div class="content-wrap"> -->
      <app-popular></app-popular>

      <!-- <bo-page-padding></bo-page-padding>
      <bo-page-padding></bo-page-padding>
      <bo-page-padding></bo-page-padding> -->

      <app-recommend></app-recommend>

      <!-- <bo-page-padding></bo-page-padding>
      <bo-page-padding></bo-page-padding>
      <bo-page-padding></bo-page-padding> -->

      <!-- <app-auto-search></app-auto-search> -->

      <!-- <bo-page-padding></bo-page-padding>
      <bo-page-padding></bo-page-padding>
      <bo-page-padding></bo-page-padding>

      <app-basic-search></app-basic-search> -->
  <!-- </div>
</div> -->
