
  <!-- 메인 페이지 -->  
  <div class="container">
    <div class="all-status-container" *ngFor="let data of list">
      <div class="all-status">
        <span class="all-status-image"><img src="/assets/img/ic_dashboard_black_24.png"></span>
        <span class="all-status-text">{{data.name}}</span>
      </div>

      <ul class="main_board">
        <li class="parking_status_box">

          <div class="parking_status">
            <div class="parking_status_title">
              <span class="parking_status_image"><img src="assets/img/ic_parking_current_grey_24.png"></span>
              <span class="parking_status_text">주차 현황</span>
            </div>

            <div class="parking_subtitle">
              <span>주차</span>
              <span>출차</span>
              <span>이슈</span>
            </div>

            <div class="parking_value">
              <span class="parking_value_number">{{data.parkState.park}}</span>
              <span class="leaving_value_number">{{data.parkState.exit}}</span>
              <span class="issue_value_number">{{data.parkState.issue}}</span>
            </div>

          </div>        

        </li>

        <li>
          <div class="management_status">
            <div class="management_status_title">
              <span class="management_status_image"><img src="assets/img/ic_management_grey_24.png"></span>
              <span class="management_status_text">운영 현황</span>
            </div>

            <div class="management_subtitle">
              <span class="normal">정상</span>
              <span class="change">교체 필요</span>
              <span>이슈</span>
            </div>

            <div class="management_value">
              <span>0</span>
              <span>0</span>
              <span>0</span>
            </div>

          </div>

        </li>
       
        <li>
          <div class="parking_status_statistics">
            <div class="parking_status_statistics_title">
              <span class="parking_status_statistics_image"><img src="assets/img/ic_statistics_grey_24.png"></span>
              <span class="parking_status_statistics_text">주차 현황 통계</span>
            </div>

            <div class="statistics_value_text_box">   
                <div class="statistics_value_image">
                  <bs-chart #chart 
                    [datasets]="chartDatasetsParkState[data.name]" 
                    [labels]="" 
                    [colors]="chartConfig.colors"
                    [chartType]="'doughnut'"
                    [options]="chartOptions" 
                    [width]="500" [height]="500">
                  </bs-chart>  
                </div>
                   
                <div class="park_content_text">
                  <ul>
                    <li class="park">주차</li>
                    <li class="leave">출차</li>
                    <li class="park_issue">이슈</li>
                  </ul>
                </div>

                <div class="park_content_value">
                  <ul>
                    <li>{{data.parkStatics.park * 100}}%</li>
                    <li>{{data.parkStatics.exit * 100}}%</li>
                    <li>{{data.parkStatics.issue * 100}}%</li>
                  </ul>
                </div>

            </div>

          </div>
          
        </li>

        <li>
          <div class="management_status_statistics">
            <div class="management_status_statistics_title">
              <span class="management_status_statistics_image"><img src="assets/img/ic_statistics_grey_24.png"></span>
              <span class="management_status_statistics_text">운영 현황 현황</span>
            </div>

            <div class="management_value_text_box">  
              <div class="management_value_image">
                <bs-chart #chart2
                  [datasets]="chartDatasetsOperState"
                  [labels]="" 
                  [colors]="chartConfig2.colors"
                  [chartType]="'doughnut'"
                  [options]="chartOptions" 
                  [width]="500" [height]="500">
                </bs-chart>  
              </div>

              <div class="management_content_text">
                <ul>
                  <li class="management_normal">정상</li>
                  <li class="management_change">교체 필요</li>
                  <li class="management_issue">이슈</li>
                </ul>
              </div>

              <div class="management_content_value">
                <ul>
                  <li>{{data.operStatics.normal * 100}}%</li>
                  <li>{{data.operStatics.abnormal * 100}}%</li>
                  <li>{{data.operStatics.issue * 100}}%</li>
                </ul>
              </div>
            </div>
          </div>
        </li>   
      </ul>
    </div> 
  </div>

