<bo-page-header [title]="'매출통계-전체'">
  <bo-page-button-config id = "id-statics-excel-download"
    [title] = "'엑셀 다운로드'"
    [styleType] = "'square-m-white-btn'"
    [imgUrl]="'assets/img/excel-icon.svg'"
    (click) = "onClickDownloadExcel(query)">
  </bo-page-button-config>
</bo-page-header>
<div class="list-section section">
  <div class="outlet-section">
    <!-- 쿼리 -->
    <sales-statistics-query-form [initialQuery]="true" [setQuery]="query"(query)="reloadWithQuery($event)"
        [hasDataType] = "false">
        
    </sales-statistics-query-form>
    <bo-page-padding></bo-page-padding>
    <div class="list-wrap">

      <!-- graph -->
      <div class="graph">
        <div class="graph-title">매출 - 취급고 통계</div>
        <div class="graph-content">
          <div class="inline-chart-wrap">
            <bs-chart #chart [datasets]="data?.settleprice?.dataset" [labels]="data?.settleprice?.labels" 
                [chartType]="chartType" 
                [width]="width" [height]="height">
            </bs-chart>
          </div>
        </div>
      </div>
      <bo-page-padding></bo-page-padding>

      <!-- graph -->
      <div class="graph">
        <div class="graph-title">매출 - 매출액 통계</div>
        <div class="graph-content">
          <div class="inline-chart-wrap">
            <bs-chart #chart [datasets]="data?.sales_price?.dataset" [labels]="data?.sales_price?.labels" 
                [chartType]="chartType" 
                [width]="width" [height]="height">
            </bs-chart>
          </div>
        </div>
      </div>
      <bo-page-padding></bo-page-padding>

      <!-- graph -->
      <div class="graph">
        <div class="graph-title">매출 - 취소액 통계</div>
        <div class="graph-content">
          <div class="inline-chart-wrap">
            <bs-chart #chart [datasets]="data?.cancel_price?.dataset" [labels]="data?.cancel_price?.labels" 
                [chartType]="chartType" 
                [width]="width" [height]="height">
            </bs-chart>
          </div>
        </div>
      </div>
      <bo-page-padding></bo-page-padding>

      <!-- graph -->
      <div class="graph">
        <div class="graph-title">매출 - 반품액 통계</div>
        <div class="graph-content">
          <div class="inline-chart-wrap">
            <bs-chart #chart [datasets]="data?.refund_price?.dataset" [labels]="data?.refund_price?.labels" 
                [chartType]="chartType" 
                [width]="width" [height]="height">
            </bs-chart>
          </div>
        </div>
      </div>
      <bo-page-padding></bo-page-padding>

      <!-- graph -->
      <div class="graph">
        <div class="graph-title">매출 - 할인쿠폰금액 통계</div>
        <div class="graph-content">
          <div class="inline-chart-wrap">
            <bs-chart #chart [datasets]="data?.coupon_sale?.dataset" [labels]="data?.coupon_sale?.labels" 
                [chartType]="chartType" 
                [width]="width" [height]="height">
            </bs-chart>
          </div>
        </div>
      </div>

      <bo-page-padding></bo-page-padding>
      <bo-page-padding></bo-page-padding>

      <div class="graph-table">
        <table class="statistics-table">
          <colgroup>
            <col width="6.25%">

            <col width="6.25%">
            <col width="6.25%">
            <col width="6.25%">

            <col width="6.25%">
            <col width="6.25%">
            <col width="6.25%">

            <col width="6.25%">
            <col width="6.25%">
            <col width="6.25%">
            
            <col width="6.25%">
            <col width="6.25%">
            <col width="6.25%">

            <col width="6.25%">
            <col width="6.25%">
            <col width="6.25%">
          </colgroup>
          <tr>
            <th class="blue-th">기간</th>
            <th class="blue-th" colspan="3">취급고</th>
            <th class="blue-th" colspan="3">매출액</th>
            <th class="blue-th" colspan="3">취소액</th>
            <th class="blue-th" colspan="3">반품액</th>
            <th class="blue-th" colspan="3">할인쿠폰</th>
          </tr>
          <tr>
            <th></th>
            <th *ngFor="let colume of data?.settleprice.dataset">{{colume.label}}</th>
            <th *ngFor="let colume of data?.sales_price.dataset">{{colume.label}}</th>
            <th *ngFor="let colume of data?.cancel_price.dataset">{{colume.label}}</th>
            <th *ngFor="let colume of data?.refund_price.dataset">{{colume.label}}</th>
            <th *ngFor="let colume of data?.coupon_sale.dataset">{{colume.label}}</th>
          </tr>
         
          <!-- total -->
          <tr *ngIf="data.settleprice.total">
            <td style="color:orange">{{data?.settleprice.total.label}}</td>
            <td *ngFor="let value of data?.settleprice.total.data">{{value | number}}</td>
            <td *ngFor="let value of data?.sales_price.total.data">{{value | number}}</td>
            <td *ngFor="let value of data?.cancel_price.total.data">{{value | number}}</td>
            <td *ngFor="let value of data?.refund_price.total.data">{{value | number}}</td>
            <td *ngFor="let value of data?.coupon_sale.total.data">{{value | number}}</td>
          </tr>

          <tr *ngFor="let label of data?.settleprice?.labels;let row=index">
            <td>{{label}}</td>
            <td *ngFor="let colume of data?.settleprice.dataset">{{colume.data[row] | number}}</td>
            <td *ngFor="let colume of data?.sales_price.dataset">{{colume.data[row] | number}}</td>
            <td *ngFor="let colume of data?.cancel_price.dataset">{{colume.data[row] | number}}</td>
            <td *ngFor="let colume of data?.refund_price.dataset">{{colume.data[row] | number}}</td>
            <td *ngFor="let colume of data?.coupon_sale.dataset">{{colume.data[row] | number}}</td>
          </tr>
        </table>
      </div>
    </div>
    <bo-page-padding></bo-page-padding>
  </div>
</div>
