<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'실시간 로그'" [requireText]="false">
    <bo-page-button-config id = "id-board-content-list-btn-create"
        [title]="'테스트버튼'"
        [styleType] = "'normal-m-btn'"
        (click) = "submitOnly()">
    </bo-page-button-config>
</bo-page-header>
<form [formGroup]="bsForm" (ngSubmit)="submitOnly()"  class="form-area" >
    <div class="section">
        <div class="content-wrap">
            <bs-title-label-ctrl
                [formGroup]="bsForm"
                [title]="'실시간 주차현황 로그'"
                [description]="''">
            </bs-title-label-ctrl>
            <!-- <div class="content-block">
                <div class="content-inline-box">
                    <div class="content-box content-no-border">
                        <div class="content">
                            <div class="">
                                <input type="radio" name="view_log" id="all" value="all" [(ngModel)]="viewLog" [ngModelOptions]="{standalone: true}"  (click)="clickViewLog('order_log')" />
                                <label for="all" class="table-check-label">전체</label>
                                <input type="radio" name="view_log" id="export" value="export_log" [(ngModel)]="viewLog"  [ngModelOptions]="{standalone: true}" (click)="clickViewLog('export_log')"/>
                                <label for="export" class="table-check-label">정상로그</label>
                                <input type="radio" name="view_log" id="account" value="account_log" [(ngModel)]="viewLog"  [ngModelOptions]="{standalone: true}" (click)="clickViewLog('account_log')"/>
                                <label for="account" class="table-check-label">이슈로그</label>
                                <br>
                                <textarea id="logTextArea" #logTextArea class="textarea" style="margin-left: 0;">{{logData}}</textarea>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> -->
            <div class="content-block">
                <div class="content-box content-no-border">
                    <div class="content" style="width:84%">
                        <input type="radio" name="view_log" id="all" value="all" 
                            [(ngModel)]="viewLog" 
                            [ngModelOptions]="{standalone: true}"  (click)="clickDeviceFilter('all')" />
                        <label for="all" class="table-check-label">전체</label>
                        <input type="radio" name="view_log" id="p1" value="p1" 
                            [(ngModel)]="viewLog"  
                            [ngModelOptions]="{standalone: true}" (click)="clickDeviceFilter('P1')"/>
                        <label for="p1" class="table-check-label">P1</label>
                        <input type="radio" name="view_log" id="p2" value="P2" 
                            [(ngModel)]="viewLog"  
                            [ngModelOptions]="{standalone: true}" (click)="clickDeviceFilter('P2')"/>
                        <label for="p2" class="table-check-label">P2</label>
                        <input type="radio" name="view_log" id="p3" value="p3" 
                            [(ngModel)]="viewLog"  
                            [ngModelOptions]="{standalone: true}" (click)="clickDeviceFilter('P3')"/>
                        <label for="p3" class="table-check-label">P3</label>
                        <input type="radio" name="view_log" id="p4" value="P4" 
                            [(ngModel)]="viewLog"  
                            [ngModelOptions]="{standalone: true}" (click)="clickDeviceFilter('P4')"/>
                        <label for="p4" class="table-check-label">P4</label>
                        
                        <input type="radio" name="view_log" id="p5" value="P5" 
                            [(ngModel)]="viewLog"  
                            [ngModelOptions]="{standalone: true}" (click)="clickDeviceFilter('P5')"/>
                        <label for="p5" class="table-check-label">P5</label>
                        
                        &nbsp;업데이트 간격 : 
                        <select [(ngModel)]="updateSec" (change)="onChangeSec()" [ngModelOptions]="{standalone: true}">
                            <option value="5" [selected]>5초</option>
                            <option value="30">30초</option>
                            <option value="60">60초</option>
                        </select>
                        &nbsp;
                        마직막 갱신 : {{lastUpdateTime}}
                        <br><br>
                        2분간 데이타 역산하여 판단함     
                        <br>
                        <textarea id="logTextArea" #logTextArea class="textarea" style="margin-left: 0;">{{logData}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="btn-area">
            <bo-submit-button-form></bo-submit-button-form>
        </div> -->
  </div>
</form>
