:host {
    width: calc( 100% - 368px);
}
.coupon-tabs {
    box-sizing: border-box;
    font-size: 0;
    text-align: center;
}
.coupon-tabs .coupon-item {
    font-size: 14px;
    font-weight: bold;
    width: 33.3%;
    background-color: #f1f1f1;
    height: 50px;
    line-height: 50px;
}
.active {
    background-color: #3f3f3f !important;
    color: #fff;
}