<div [formGroup]="subForm" class="item-horizontal web" *ifDesktop>
    <div class="item-horizontal"  style="margin-right: 0;" hidden>
        <div class="input-group input-wrap" [hidden]="optionConfigs?.length <=1">
            <bs-select [name]="'periodType'" [formGroup]="subForm" [allowUnselected]="false">
                <bs-option-config *ngFor="let item of optionConfigs"
                    [value]="item.value"
                    [label]="item.label">
                </bs-option-config>
            </bs-select>
        </div>
    </div>

    <div class="check-search">
        <div class="date-button-area" *ngIf="hasButtons">
            <button *ngIf="hasTodayBtn" class="btn btn-sm btn-light" type="button" (click)="onClickToday()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 0 }">오늘</button>
            <button *ngIf="has3DaysBtn" class="btn btn-sm btn-light" type="button" (click)="onClick3Days()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 1 }">3일간</button>
            <button *ngIf="has1WeekBtn" class="btn btn-sm btn-light" type="button" (click)="onClickWeek()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 2 }">1주일</button>
            <button *ngIf="has1MonthBtn" class="btn btn-sm btn-light" type="button" (click)="onClickMonth()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 3 }">1개월</button>
            <button *ngIf="has3MonthBtn" class="btn btn-sm btn-light" type="button" (click)="onClick3Month()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 4 }">3개월</button>
            <button *ngIf="hasAllBtn" class="btn btn-sm btn-light last" type="button" (click)="onClickAll()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 5 }">전체</button>
        </div>
        <!-- sDate -->
        <div class="item-horizontal" style="margin-right: 0;">
            <div class="input-group">
                <input class="form-control date-picker-input"
                    placeholder="시작일"
                    #dp1="bsDatepicker"
                    formControlName="sdate"
                    name="sdate"
                    [(ngModel)]="modelStart"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                    bsDatepicker/>
                <span class="line"></span>
                <button class="btn btn-outline-secondary calendar" (click)="dp1.toggle()" type="button">
                </button>
                <!-- <input class="form-control date-picker-input" placeholder="yyyy-mm-dd" name="sdate" [(ngModel)]="modelStart" ngbDatepicker #sdate="ngbDatepicker" formControlName="sdate">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="sdate.toggle()" type="button">
                        <img src="../assets/img/board/datebox-side-top.svg"  />
                    </button>
                </div> -->
            </div>
        </div>

        <span class="cal-bar">-</span>

        <!-- eDate -->
        <div class="item-horizontal" style="margin-right: 0;">
            <div class="input-group">
                <input class="form-control date-picker-input"
                    placeholder="종료일"
                    #dp2="bsDatepicker"
                    formControlName="edate"
                    name="edate"
                    [(ngModel)]="modelEnd"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                    bsDatepicker/>
                <span class="line"></span>
                <button class="btn btn-outline-secondary calendar" (click)="dp2.toggle()" type="button">
                </button>
                <!-- <input class="form-control date-picker-input" placeholder="yyyy-mm-dd" name="edate" [(ngModel)]="modelEnd" ngbDatepicker #edate="ngbDatepicker" formControlName="edate">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="edate.toggle()" type="button">
                        <img src="../assets/img/board/datebox-side-bottom.svg"  />
                    </button>
                </div> -->
            </div>
        </div>

        <button type="submit" class="check-btn">조회</button>
    </div>
</div>

<div [formGroup]="subForm" class="mobile" *ifMobile>
    <div class="filter-wrap">
        <div class="date-button-area" *ngIf="hasButtons">
            <button *ngIf="hasAllBtn" class="btn btn-sm btn-light last" type="button" (click)="onClickAll()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 5 }">전체</button>
            <button *ngIf="hasTodayBtn" class="btn btn-sm btn-light" type="button" (click)="onClickToday()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 0 }">오늘</button>
            <button *ngIf="has3DaysBtn" class="btn btn-sm btn-light" type="button" (click)="onClick3Days()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 1 }">3일간</button>
            <button *ngIf="has1WeekBtn" class="btn btn-sm btn-light" type="button" (click)="onClickWeek()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 2 }">1주일</button>
            <button *ngIf="has1MonthBtn" class="btn btn-sm btn-light" type="button" (click)="onClickMonth()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 3 }">1개월</button>
            <button *ngIf="has3MonthBtn" class="btn btn-sm btn-light" type="button" (click)="onClick3Month()" [ngClass]="{'click-date' : _selectedIndexOfPeriod == 4 }">3개월</button>
        </div>
        <div class="filter-calendar-wrap">
            <!-- sDate -->
            <div class="filter-calendar" style="margin-right: 0;">
                <input class="form-controle date-picker-input"
                    placeholder="시작일"
                    #dp1="bsDatepicker"
                    formControlName="sdate"
                    name="sdate"
                    [(ngModel)]="modelStart"
                    [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                    bsDatepicker
                    autocomplete="off"
                    />
                <!-- <span class="line"></span> -->
                <button class="btn btn-outline-secondary calendar" (click)="dp1.toggle()" type="button"></button>
            </div>
    
            <span> - </span>
    
            <!-- eDate -->
            <div class="filter-calendar" style="margin-right: 0;">
                <input class="form-controle date-picker-input"
                    placeholder="종료일"
                    #dp2="bsDatepicker"
                    formControlName="edate"
                    name="edate"
                    [(ngModel)]="modelEnd"
                    [bsConfig]="{ dateInputFormat: 'YYYY.MM.DD' }"
                    bsDatepicker
                    autocomplete="off"
                    />
                <!-- <span class="line"></span> -->
                <button class="btn btn-outline-secondary calendar" (click)="dp1.toggle()" type="button"></button>
            </div>
            <!-- <button type="submit" class="check-btn">조회</button> -->
        </div>
    </div>
    
</div>
