:host{
    width: 100%;
}

.web .click-date {
    border: 1px solid rgb(234,0,61);
    color: rgb(234,0,61);
}
/* 
.item-horizontal {
    margin-right: 20px;
} */

.web .check-search {
    display: flex;
}

.web .check-search .input-group {
    position: relative;
}

.web .check-search .input-group .date-picker-input {
    position: relative;
    width: 176px;
    height: 40px;
    font-family: 'Spoqa Han Sans Neo';
    border: 1px solid #dcdee8;
    border-radius: 8px;
    background: #fff;
    padding: 7px 0 7px 60px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    color: #3e4259;
}

.web .check-search input::placeholder {
    position: absolute;
    font-family: 'Spoqa Han Sans Neo';
    color: #b8b6c4;
}

.web .check-search .input-group .line {
    display: block;
    position: absolute;
    left: 47px;
    width: 1px;
    height: 20px;
    background: #dcdee8;
    z-index: 6;
    margin: 10px 0;
}

.web .check-search .input-group .btn-outline-secondary {
    position: absolute;
    left: 8px;
    top: 4px;
    width: 32px;
    height: 32px;
    background: url('assets/images/subscription/ic_calendar_black_32.png') center no-repeat;
    z-index: 5;
}

.web .check-search .cal-bar {
    display: inline-block;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
    margin: 7px 20px;
    vertical-align: top;
}

.web .check-search .check-btn {
    height: 40px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #3f37c9;
    border-radius: 8px;
    padding: 9px 16px 8px;
    margin-left: 17px;
    box-sizing: border-box;
    vertical-align: top;
}

.web .check-search .date-button-area {
    display: flex;
    margin-right: 56px;
}

.web .check-search .date-button-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 87px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #b8b6c4;
    line-height: 40px;
    background: #fff;
    border: 1px solid #dcdee8;
    border-left: 0;
}

.web .check-search .date-button-area button:first-child {
    border-left: 1px solid #dcdee8;
    border-radius: 8px 0 0 8px;
}

.web .check-search .date-button-area button:last-child {
    border-radius: 0 8px 8px 0;
}

.web .check-search .date-button-area button.click-date {
    color: #fff;
    background: #5049ce;
}

/* =============================================================================== */
/* =============================================================================== */
/* Mobile */
.mobile .filter-calendar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile .filter-calendar-wrap .filter-calendar {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}
.mobile .filter-calendar-wrap .filter-calendar .form-controle {
    width: 15.3rem;
    height: 4.0rem;
    border: 1px solid #dcdee8;
    border-radius: 8px;
    background: #fff;
    padding: 0.8rem 0;
    box-sizing: border-box;
    padding-left: 4.4rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.mobile .filter-calendar-wrap .filter-calendar .btn-outline-secondary { 
    position: absolute;
    left: .8rem;
    top: .8rem;
    width: 2.4rem;
    height: 2.4rem;
    background: url('assets/images/svg/ic_calendar_black_32.svg') center center no-repeat;
    background-size: 2.4rem;
}
.mobile .filter-calendar-wrap span {
    display: inline-block;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
    margin: 7px 16px;
    vertical-align: top;
}
/* 기간 버튼 */
.mobile .date-button-area {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    justify-content: center;
    /* border: 1px solid #dcdee8; */
    /* border-radius: 8px; */
}
.mobile .date-button-area button {
    width: 8.3rem;
    height: 4.0rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #b8b6c4;
    text-align: center;
    line-height: 1.9rem;
    background: #fff;
    border: 1px solid #dcdee8;
    border-radius: 0;
    outline: none;
    /* border-right: 1px solid #dcdee8; */
}
.mobile .date-button-area button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.mobile .date-button-area button:last-child {
    /* border-right: 0; */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.mobile .date-button-area button.click-date {
    color: #fff;
    border: 1px solid #5049ce;
    background: #5049ce;
}
.mobile .date-button-area button:not(:first-child) {
    border-left: 0;
}
