<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'이메일 자동발송 템플릿 관리'">
    <bo-page-button-config id = "id-board-create-btn-"
      [title] = "'저장하기'"
      [styleType] = "'square-m-white-btn'"
      (click) = "onSubmit()">
    </bo-page-button-config>

</bo-page-header>
<form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
<div class="section">

    <div class="content-wrap">
        <bs-title-label-ctrl
            [title]="'이메일 자동발송'"
            [description]="'이메일 자동발송 정보를 입력하세요'">
        </bs-title-label-ctrl>
        <div class="content-block">
        <div class="content-box">
            <div class="content-title">
                템플릿 종류
            </div>
            <div class="content">
            <bs-select [name]="'email_code'" [formGroup]="bsForm" (change)="onClickChangeTemp($event)">
                    <bs-option-config [value]= "'order'" [label] = "'주문>주문접수'"></bs-option-config>
                    <bs-option-config [value]= "'settle'" [label] = "'주문>결제완료'"></bs-option-config>
                    <bs-option-config [value]= "'released'" [label] = "'주문>출고완료'"></bs-option-config>
                    <bs-option-config [value]= "'delivery'" [label] = "'주문>배송완료'"></bs-option-config>
                    <bs-option-config [value]= "'cancel'" [label] = "'주문>결제취소'"></bs-option-config>
                    <bs-option-config [value]= "'refund'" [label] = "'주문>환불완료'"></bs-option-config>
                    <bs-option-config [value]= "'cs'" [label] = "'고객센터>1:1문의'"></bs-option-config>
            </bs-select>
            </div>
        </div>
<!--
            <div class="content-box">
                <div class="content-title">
                    보내는 메일
                </div>
                <div class="content">
                    {{data?.from}}
                </div>
            </div>
-->
            <div class="content-box">
                    <div class="content-title">
                        발송 대상
                    </div>
                    <div class="content">
                        <bs-checkbox [formGroup]="bsForm"
                            [name]="'user_yn'"
                            [label]="'고객'"
                            [value]="'Y'">
                        </bs-checkbox>
                        &nbsp;&nbsp;&nbsp;
                        <bs-checkbox [formGroup]="bsForm"
                            [name]="'admin_yn'"
                            [label]="'관리자'"
                            [value]="'Y'">
                        </bs-checkbox>
                        <bs-input [name]="'admin_email'" [formGroup]="bsForm" [placeholder]="' '" [style]="'medium-input'"></bs-input>

                    </div>
            </div>
<!--
            <div class="content-box">
                    <div class="content-title">
                        제목
                    </div>
                    <div class="content">
                        <bs-input [name]="'title'" [formGroup]="bsForm" [placeholder]="' 제목을 입력하세요.'" [style]="'big-input'" [required]="true"></bs-input>
                    </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    내용
                </div>
                <div class="content">
                    <bo-editor [name]="'contents'" [formGroup]="bsForm" ([content])= "contents"  #editor1 ></bo-editor>
                </div>
            </div>
-->
        </div>
    </div>
        <bo-submit-button-form
            [hasCancelBtn]="true"
            (clickCancel)="gotoListPage()">
        </bo-submit-button-form>
  </div>
</form>
