/* header */
.header-wrap {
	position: relative;
	width: 1240px;
	margin: 0 auto;
}
.header-wrap .logo {
	float: left;
	margin-top: 40px;
	margin-right: 63px;
}	
.header-wrap .logo a {
	display: block;
}
.header-wrap .search-box {
	display: inline-block;
	margin-top: 32px;
}
.search-box .search label {
	display: none;
}
.search-box .search {
	position: relative;
	/* width: 648px;
	height: 42px; */
    width: 670px;
	height: 44px;
	padding-left: 20px;
	border: solid 1px #d8d8d8; 
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
.search-box .search input {
	position: absolute;
	top: 16px;
	width: calc(100% - 77px);
	height: 16px;
	font-family: 'TVING';
	font-weight: 400;
	font-size: 12px;	
	color: #1e1e1e;
	line-height: 16px; 
	border: none;
	outline: transparent;	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none; 
	-moz-appearance: none; 
	-ms-appearance: none; 
	-o-appearance: none; 
	appearance: none;
	background-color: transparent;
}
.search-box .search button {
	position: absolute; 
	top: 0px; 
	right: 0px; 
	width: 57px; 
	height: 42px;
	text-indent: -9999px; 
	-webkit-border-radius: 0 25px 25px 0;
	-moz-border-radius: 0 25px 25px 0;
	border-radius: 0 25px 25px 0;
	background: url('/assets/temp_image_pc/icon_search.png') center center no-repeat;
	background-size: 21px 20px;
}
.search-box .search input::-webkit-input-placeholder {
	color: #1e1e1e;
	opacity: 0.3;
} 
.search-box .search input:-ms-input-placeholder {
	color: #1e1e1e;
	opacity: 0.3;
} 
.search-box .search input::placeholder {
	color: #1e1e1e;
	opacity: 0.3;
}

.gnbWrap {
	width: 100%;
	height: 40px;
	margin-top: 20px;
    margin-bottom: 8px;
}
.gnb li {
	float: left;
	display: block;
}
.gnb li a {
	display: block;
	height: 40px;
	padding: 0 25px 0 25px;
	font-family: 'TVING';
	font-weight: 700;
	font-size: 16px;
	color: #1e1e1e;
	line-height: 44px;
}
.gnb li:first-child a {
	padding: 0 25px 0 0px;
}
.gnb li a:hover, .gnb li.active a {
	color: #179cef;
}
.gnb span {
	float: left;
	display: block;
	width: 10px;
	margin-right: 25px;
	margin-left: 25px;
	opacity: 0.3;
	font-family: 'TVING';
	font-weight: 400;
	font-size: 16px;
	color: #1e1e1e;
	line-height: 44px;
}
.gnb .section-menu li a {
	padding: 0 28px 0 28px;
	font-weight: 400;
}
.gnb .section-menu li:first-child a {
	padding: 0 28px 0 25px;
}
.gnb .section-menu .last a {
	padding: 0 0 0 28px;
}
.gnb .section-menu li a img {
	vertical-align: middle;
}

/*
///////////////////////////////////////////////////////
    이전에 css / 플로팅 메뉴 때문에 남김 
    안쓰는 부분 지워야 함
*/
.ns-extra{
    font-family: 'Nanum Square', sans-serif;
    font-weight: 800;
}
.ns-bold{
    font-family: 'Nanum Square', sans-serif;
    font-weight: 700;
}
.ns-regular{
    font-family: 'Nanum Square', sans-serif;
    font-weight: 400;
}
.rb-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.rb-regular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* :host{
    width: 100%;
    min-height: 159px;
    top: 0;
    z-index: 999;
    background: #fff;
} */

.web-header{
    position: relative;
}
.web-header .header-top {
    width: 100%;
    height: 42px;
    line-height: 39px;
    background: #222222;
    color: #929292;
}
.web-header .header-wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
}
.web-header .header-logo {
    height: 80px;
  line-height: 88px;
  text-align: center;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
/* bs-left-menu {
    width: 40%;
    display: inline-block;
}
bs-logo {
    text-align: center;
    height: 90px;
} */
/* bs-account-box{
    width: 50%;
    height: 42px;
    text-align: right;
    display: inline-block;
    float: right;
} */
/* bs-top-menu{
    width:100%;
    max-width: 1240px;
    text-align: center;

} */

.display-img{
    display: inline-block;
    position: absolute;
    top: -10px;
    z-index: 999;
    left: 28px;
}
.hamburger-block{
}
.width-div{
    max-width: 1240px;
    margin: 0 auto;
    font-size: 0;
    position: relative;
    z-index: 999;
}
.category-block .width-div .left {
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
}
.category-block .width-div .right {
    display: inline-block;
    width: calc(100% - 320px);
    border-left: 1px solid #ccc;
    min-height: 215px;
    margin-top: 21px;
}
.category-block{
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #eee;
    text-align: left;
    min-width: 1400px;

}
.category-block .item:first-child{
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}
.category-block .item:nth-child(5) {
}
.category-block.program .item:first-child{
    padding: 18px 0 40px 0px;
    width: 200px;
}
.category-block .item{
    display: inline-block;
    vertical-align: top;
    padding: 0px 0 8px 55px;
    font-size: 15px;
    width:200px;
}
.category-block.program .item{
    padding: 21px 0 40px 0px;
    width: 200px;
}
.category-block .item .menu-category.sel-title{
    height: 33px;
}
.category-block .item .menu-category{
    font-weight: bold;
    line-height: 36px;
    height: 33px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
}
.category-block .item .menu-category:hover{
    color: #ea003d;
}
.category-block .item .menu-category:hover:active{
    color: #ea003d;
}
.category-block.program .item .menu-category{
    height: 37px;
}
.category-block .item .sub-item{
    line-height: 30px;
    COLOR: RGB(129,129,129);
    cursor: pointer;
}
.category-block .item .sub-item:hover{
    color: #ea003d;
}
.category-block .item.border{
    height: 100%;
    padding-left :0;
}
.category-block.program .item:nth-child(2){
    border-left: none;
}
.category-block.program .item.goods{
    cursor:pointer;
    width: 150px;
    float: right;
    padding: 30px 0;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
}
.category-block .item.goods .img{
    max-width: 150px;
    max-height: 150px;
    min-width: 110px;
    min-height: 110px;
}
.category-block .item.goods{
    cursor:pointer;
    width: 150px;
    max-height: 255px;
    overflow: hidden;
    float: right;
    padding: 30px 0;
    text-align: center;
    vertical-align: top;
}
.category-block .item .promotion-title{
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    font-size: 13px;
    padding-left: 0;
    padding-top: 15px;
    height: 45px;
    line-height: 15px;
    overflow: hidden;
    word-break: break-word;
    text-align: center;
}
.category-block .item.goods .promotion-title .goods-title{
    font-size: 20px;
    font-weight: bold
}
.category-block .item .promotion-title .goods-sub-title{

}
.web-header{
    min-width: 1400px;
}