
<!-- 모바일 : 메인 해더 -->
<div class="mobile" *ngIf="headerType == 'main'">
    <header id="header" class="header-wrap" [ngClass]="{'open': isShowHamburger }">
        <div class="header-inner">
            <div class="navigation-bar">
                <a class="membership-btn" *ngIf="headerBtnType == 'membership'">멤버십 소개</a>
                <a href="/main/section/dashboard" class="my-dashboard-btn" *ngIf="headerBtnType == 'dashboard'">마이 대시보드</a>
                <h1 class="logo"><a href="/main/home"></a></h1>
                <button class="all-menu" [ngClass]="{'open': isShowHamburger }" (click)="onClickdHamburgerBtn()">
                    <span class="burger-line burger-item1"></span>
                    <span class="burger-line burger-item2"></span>
                    <span class="burger-line burger-item3"></span>
                </button>
            </div>
        </div>           	
    </header>
</div>    
<ng-container *ifOnlyMobile> 
    <!-- circle커지는 애니매이션 효과 -->
    <div class="m-popup-mask" [ngClass]="{'active': isShowHamburger}"></div>
</ng-container>

<!-- 모바일 : 서브페이지 해더 -->
<div class="mobile mobile-header-sub header-wrap" *ngIf="headerType !== 'main'">
    <!--해더 - 서브 유형 -->
    <!-- 로그인 -->
    <div class="login-logo-bar" *ngIf="headerType == 'login'">
        <div class="login-wrap">
            <div class="login-header">
                <button class="back-btn" (click)="onClickBackBtn()"><img src="assets/images/svg/ic_arrow_left_purple_40.svg" alt="뒤로가기"></button>
                <h1 class="logo"><a href="/main/home"><img src="assets/images/svg/logo_purple_130.svg" alt="TOP RANK"></a></h1>
            </div>
        </div>
    </div>

    <!-- section -->
    <div class="sub-menu-bar" *ngIf="headerType == 'sub'">
        <!-- 햄버거 버튼 -->
        <header id="header" class="header-wrap" [ngClass]="{'open': isShowHamburger }">
            <div class="header-inner">
                <div class="navigation-bar">
                    <button class="back-btn" (click)="onClickBackBtn()"><img src="assets/images/svg/ic_arrow_left_purple_40.svg" alt="뒤로가기"></button>
                    <h1 class="logo"><a href="/main/home"></a></h1>
                    <button class="all-menu" [ngClass]="{'open': isShowHamburger }" (click)="onClickdHamburgerBtn()">
                        <span class="burger-line burger-item1"></span>
                        <span class="burger-line burger-item2"></span>
                        <span class="burger-line burger-item3"></span>
                    </button>
                </div>
            </div>           	    
        </header>
        <!-- <div class="header-side">
            <div class="hamburger-btn">
                <div class="back" (click)="onClickBackBtn()"><img class="home-img" src="assets/images/login/ic_arrow_left_purple_40.svg"/></div>
                <div class="home" [routerLink]="['/home']"><img class="home-img" src="/assets/img/mobile/navi_home_btn.png"/></div>
            </div>
        </div>

        <div class="header-logo">
            <img class="home-img logo" src="assets/images/home/logo_purple_130.svg"/>
            <img class="home-img logo" *ngIf="title == 'logo'" src="assets/images/home/logo_purple_130.svg"/>
            <img class="home-img" *ngIf="title == 'starAuction'" src="/assets/img/mobile/starauction_logo_old.png"/>
            <span *ngIf="title != 'logo' && title != 'starAuction'" [ngClass]="{'down-fontsize' : headerLength == 'long'}">{{title}}</span>
        </div> -->
        <!-- <div class="sub-iphone5">
            <div class="home-img search" [routerLink]="['/goods/search-page']"
                ga-listener [attr.ga-category]="'MALL_MO_HEADER'" [attr.ga-action]="'SEARCH'" [attr.ga-label]="'검색'">
            </div>
        </div> -->
        <!-- <div class="right-menu" style="right: 0px;"> -->
            <!-- <a href="#" class="home-img search" [routerLink]="['/goods/search-page']"
                ga-listener [attr.ga-category]="'MALL_MO_HEADER'" [attr.ga-action]="'SEARCH'" [attr.ga-label]="'검색'">
            </a> -->
            <!-- cart -->
            <!-- <a href="#" class="cart" [routerLink]="['/order/cart']" ga-listener [attr.ga-category]="'MALL_MO_HEADER'" [attr.ga-action]="'CART'" [attr.ga-label]="'장바구니'">
                <span class="icon">장바구니</span>
                <span class="badge">{{cartCount}}</span>
            </a> -->
        <!-- </div> -->
    </div>
    <!--해더 - 팝업 유형 -->
    <div class="header-popup" *ngIf="headerType == 'popup'">
        <div class="header-logo text">
            <span *ngIf="title != 'logo'" [ngClass]="{'down-fontsize' : headerLength == 'long'}">{{title}}</span>
        </div>
        <div class="right-menu">
            <button type="button" class="close pull-right" aria-label="Close" (click)="onClickBackBtn()">
                <span aria-hidden="true"><img class="popup-img" src="/assets/img/X_bold.png" /></span>
            </button>
        </div>
    </div>
</div>

<!-- 모바일 햄버거 버튼 -->
<div class="hamburger-block" *ngIf="isShowHamburger">
    <div class="hamburger-content">
        <!-- header start -->

        <header id="header" class="header-wrap">
            <div class="m-menu" [ngClass]="{'active': isShowHamburger}"> 
                <!-- 모바일 햄버거 버튼 -->
                <div class="login-area" *ngIf="!isLogined">
                    <div class="login-state">로그인이 필요합니다</div>
                    <button class="login-btn" (click)="onClickMenuItem()"><a href="/account/login">로그인</a></button>
                </div>
                <div class="logined-area" *ngIf="isLogined">
                    <div class="user-nickname">
                        <span>{{userName}}</span> 님
                        <img src="assets/images/svg/ic_arrow_right_black_24.svg" alt="">
                    </div>
                    <div class="user-btn-wrap">
                        <button (click)="onClickMenuItem()"><a href="/main/section/dashboard">마이 대시보드</a></button>
                        <button (click)="onClickMenuItem()"><a href="/main/section/mypage">마이페이지</a></button>
                    </div>
                </div>

                <nav class="m-gnb">
                    <ul>
                        <li (click)="onClickMenuItem()">
                            <img src="assets/images/svg/ic_keyword_purple_32.svg" alt="">
                            <a href="/main/section/search-keyword">키워드 검색</a>
                        </li>
                        <li (click)="onClickMenuItem()">
                            <img src="assets/images/svg/ic_ranking_purple_32.svg" alt="">
                            <a href="/main/section/ranking-search">상품순위 검색</a>
                        </li>
                        <li (click)="onClickMenuItem()">
                            <img src="assets/images/svg/ic_subscription_purple_32.svg" alt="">
                            <a href="/main/section/subscription/products">이용 중인 상품</a>
                        </li>
                        <!-- <li (click)="onClickMenuItem()">
                            <img src="assets/images/svg/ic_trend_purple_32.svg" alt="">
                            <a href="/main/section/trend">쇼핑 트렌드</a>
                        </li>
                        <li (click)="onClickMenuItem()">
                            <img src="assets/images/svg/ic_popular_purple_32.svg" alt="">
                            <a href="/main/section/popular-keyword">인기 검색어</a>
                        </li> -->
                        <li (click)="onClickMenuItem()">
                            <img src="assets/images/svg/ic_trend_purple_32.svg" alt="">
                            <a href="/main/section/payment/purchase-keyword/141">[임시]키워드 구매하기</a>
                        </li>
                        <li (click)="onClickMenuItem()">
                            <img src="assets/images/svg/ic_popular_purple_32.svg" alt="">
                            <a href="/main/section/payment/point-charge">[임시]포인트 충전하기</a>
                        </li>
                    </ul>
                    <ul class="bottom-gnb">
                        <!-- <li>
                            <img src="assets/images/svg/ic_board_purple_32.svg" alt="">
                            <a href="">게시판</a>
                            <button class="fold-btn"><img src="assets/images/svg/ic_fold_bold_black_32.svg" alt=""></button>
                            <ul>
                                <li (click)="onClickMenuItem()">
                                    <a href="/main/section/board/notice">공지사항</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </nav>
                <div class="menu-login-btn"  *ngIf="isLogined">
                    <button class="logout-btn" (click)="onClickLogout()">로그아웃</button>
                </div>
            </div>

        </header>
        <!-- //header end -->
        <!-- <div class="hamburger-top-menu">
            <div>
                <div class="hamburger-logo" [routerLink]="['/home']" (click)="onClickLogoInHamburger()">
                    <img src="/assets/img/mobile/navi_home_white_btn.png" style="width: 25px;margin-right: 5px;"> -->
                    <!-- 넘버원 굿즈샵  -->
                    <!-- <img src="assets/img/tving-logo_w.png">
                </div>
                <div class="close-btn" (click)="onClickdHamburgerBtn()">
                    <img src="assets/img/5.png">
                </div>
            </div>
            <div class="user-info ns-regular">
                <div class="left">
                    <div class="user-name ns-bold" *ngIf="!auth.isLogined()" (click)="onClickLogin()" style="width: 100%;">로그인을 해주세요</div>
                    <div class="user-name ns-bold" *ngIf="auth.isLogined()" style="width: 100%;">{{auth.userName}}님</div>

                </div>
                <div class="right" *ngIf="auth.isLogined()">
                    <div class="mypage-btn clickable" [routerLink]="['/mypage/purchase']" (click)="onClickMenuItem()"
                    ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'주문/배송 조회'" [attr.ga-label]="''">주문/배송 조회</div>
                    <div class="mypage-btn clickable" [routerLink]="['/mypage/main']" (click)="onClickMenuItem()"
                    ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'마이티빙몰'" [attr.ga-label]="''">마이티빙몰</div>
                </div>
            </div>
        </div>
        <div class="hamburger-middle-menu ns-bold">
            <div *ngFor="let item of menuList;let idx=index" class="hamburger-middle-menu-item">
                <div class="middle-menu-list" (click)="onClickMenuItemWithUrl(item.url)"
                    ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU1'" [attr.ga-label]="item.title"> -->
                    <!-- <span *ngIf="idx==0" style ="font-size: 21px; color:black"> 
                        &nbsp; 
                    </span>                -->
                    <!-- <span class="menu-txt">
                        {{item.title}} 
                    </span>           
                </div> -->
                <!-- <div *ngIf="idx!=menuList?.length-1" class="middle-menu-item-dot"></div> -->

    </div>

            <!-- <div class="middle-menu-list" [routerLink]="['/brand']" (click)="onClickMenuItem()"
                ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU1'" [attr.ga-label]="'BRAND'">
                <label class="menu-txt">
                    BRAND
                </label>
            </div>
            <div class="middle-menu-list" [routerLink]="['/program']"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU1'" [attr.ga-label]="'PROGRAM'">
               <span style ="font-size: 21px; color:black"> 
                    ·
                </span>
            </div>
            <div class="middle-menu-list" [routerLink]="['/goods/brand/view/0032']" (click)="onClickMenuItem()"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU1'" [attr.ga-label]="'STAR AUCTION'">
             <div class="menu-txt">
                    FUNSHOP
                </div>
            </div>
            <div class="middle-menu-list" [routerLink]="['/program']" 
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU1'" [attr.ga-label]="'PROGRAM'">
                <span style ="font-size: 21px; color:black"> 
                    ·
                </span>
            </div>
            <div class="middle-menu-list" [routerLink]="['/goods/brand/view/0064']" (click)="onClickMenuItem()"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU1'" [attr.ga-label]="'MYCT'">
                <div class="menu-txt">
                    MYCT
                </div>
            </div> -->
        <!-- </div> -->


        <!-- <div class="hamburger-bottom-menu ns-extra">
            <div class="bottom-menu-list" [routerLink]="['/goods/category/new']" (click)="onClickMenuItem()"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU3'" [attr.ga-label]="'NEW'">
                <img src="assets/img/menu-icon/NEW.png">NEW
            </div>
            <div class="bottom-menu-list" [routerLink]="['/goods/category/best']" (click)="onClickMenuItem()"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU3'" [attr.ga-label]="'BEST'">
                <img src="assets/img/menu-icon/BEST.png">BEST
            </div>
            <div class="bottom-menu-list" [routerLink]="['/goods/plan/7317']" (click)="onClickMenuItem()"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU3'" [attr.ga-label]="'EVENT'">
                <img src="assets/img/menu-icon/SALE.png">SALE
            </div>
            <div class="bottom-menu-list" [routerLink]="['board/planshop']" *ngIf="usePlanshop" (click)="onClickMenuItem()"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU3'" [attr.ga-label]="'기획전'">
                <img src="assets/img/menu-icon/EVENT.png">EVENT
            </div>
            <div class="bottom-menu-list" (click)="onClickSNSMenuItem()"
                ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU3'" [attr.ga-label]="'SNS'">
                <img src="assets/img/menu-icon/SNS.png">SNS
            </div> -->
            <!-- <div class="bottom-menu-list" [routerLink]="['/mypage/my-favorite-shop']"  *ngIf="!usePlanshop" (click)="onClickMenuItem()"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_MENU3'" [attr.ga-label]="'나의 브랜드샵'">
                <img src="assets/img/menu-icon/ham-notice.png">나의 브랜드샵
            </div> -->
            <!-- <div class="bottom-menu-list" [routerLink]="['/mypage/activity/my-qna']" (click)="onClickMenuItem()"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'CONTACT CENTER'" [attr.ga-label]="'1:1 문의하기'">
                <img src="assets/img/menu-icon/QNA.png">Q&A
            </div>
        </div> -->
        <div class="contact-box ns-bold">
            <!-- <div class="contact-txt">
                Contact Center
            </div>
            <div class="contact-txt">
                <span (click)="onClickMyQNA()"
                ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'CONTACT CENTER'" [attr.ga-label]="'1:1 문의하기'">1:1 문의하기</span>
                <p class="tel-txt ns-regular">
                    <a href="tel:1670-1525"
                    ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'CONTACT CENTER'" [attr.ga-label]="'전화연결'">
                        <img class="tel-img" src="/assets/img/m_call.png" />1670-1525
                    </a>
                </p>
            </div> -->
        </div>
        <!-- <div class="hamburger-footer ns-regular">
            <span class="text clickable" *ngIf="!auth.isLogined()" (click)="onClickLogin()"
                ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_COMMON_HALF'" [attr.ga-label]="'로그인'">로그인</span>
            <span *ngIf="auth.isLogined()" (click)="onClickLogout()"
                class="text clickable" ga-listener [attr.ga-category]="'MALL_MO_MENU'"
                [attr.ga-action]="'LNB_COMMON_HALF'" [attr.ga-label]="'로그아웃'">로그아웃</span>
            <span *ngIf="!auth.isLogined()">·</span>
            <span class="text" (click)="onClickNoticeMenuItem()"
                ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_COMMON_HALF'" [attr.ga-label]="'공지사항'">공지사항</span>
            <span>·</span>
            <span class="text" (click)="onClickFaqMenuItem()"
            ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_COMMON_HALF'" [attr.ga-label]="'FAQ'">FAQ</span>
            <span>·</span>
            <span class="text" (click)="onClickHomeMenuItem()"
                ga-listener [attr.ga-category]="'MALL_MO_MENU'" [attr.ga-action]="'LNB_COMMON_HALF'" [attr.ga-label]="'HOME'">HOME</span>
        </div> -->
</div>
