<!-- 데스크탑 - 헤더 -->
<header id="header"  *ifDesktop>
    <div class="header-wrap">
        <h1 class="logo">
            <a href="#"><img src="/assets/temp_image_pc/logo.png" alt="Techb"></a>
        </h1>				
        <div class="search-box">
            <div class="search">
                <label for="">검색</label>
                <input type="search" id="" name="" placeholder="검색어를 입력해 주세요"
                    [(ng1del)]="searchKeyword"
                    (focus)="onFocus($event, true)"
                    (keyup.enter)="onClickSearch($event.target.value, 0)"
                >
                <button type="submit" (click)="onClickSearch('', 0)">검색</button>
            </div>
        </div>		
        <bs-account-box [cartCount]="cartCount" (clickbtn)="clickSearch();"></bs-account-box>		
        <bs-top-menu #popupMenu [navigation]="menuData" (mouseLeaveItem)="leaveItem($event);" (mouseOverItem)="hoverItem($event);" (click)="onClickTopMenu();"></bs-top-menu>	
    </div>
</header>

<!-- 데스크탑 - 메뉴 -->
<div class="web-header ns-regular"  *ifDesktop >
    <div class="category-block program ns-regular"
        *ngIf="isShowprogramMenu"
        (mouseenter)="overPopupMenu();" (mouseleave)="leavePoupMenu($event);"
        [@fadeInOut]="'in'">
        <div class="width-div ns-regular">
            <div class="item ns-regular" *ngFor="let items of programMenus">
                <div class="menu-category ns-bold" *ngFor="let item of items" (click)="onClickProgramMenuItem(item?.category_code)"
                ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB'" [attr.ga-label]=" 'PROGRAM' +'>'+ item?.title">
                    {{item?.title}}
                </div>
            </div>         
        </div>
    </div>

    <div class="category-block ns-regular"
      (mouseenter)="overPopupMenu();" (mouseleave)="leavePoupMenu($event);" *ngIf="isShowMenu"
      [@fadeInOut]="'in'">
        <div class="width-div ns-regular">

        
            <div class="left">
                <div class="item border ns-bold">
                    <div *ngFor="let item of sortMenu.items" class="menu-category" (click)="onClickNavication(selCateMenus?.category_code, item.params)"
                    ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB'" [attr.ga-label]="item?.title">
                        {{item.title}}
                    </div>
                </div>
            </div>
            <div class="right">
                <div *ngFor="let item of selCateMenus?.children" class="item ns-regular" >
                    <div class="menu-category sel-title ns-bold"  (click)="onClickNavication(item?.category_code)"
                    ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB'" [attr.ga-label]="item?.title">
                        {{item?.title}}
                    </div>

                    <div *ngFor="let subitem of item?.children" class="sub-item ns-regular" (click)="onClickNavication(subitem?.category_code)"
                    ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB'" [attr.ga-label]="item?.title +'>'+subitem?.title +''">
                        <div>
                            {{subitem?.title}}
                        </div>
                    </div>

                </div>
            </div>

            <a *ngIf="selCateMenus?.node_banner[0] && selCateMenus?.node_banner[0]?.link_url" [href]="selCateMenus?.node_banner[0]?.link_url" >
                <div class="item goods ns-regular">
                    <img src="{{selCateMenus?.node_banner[0]?.image}}" class="img">
                    <div class="promotion-title">
                        {{selCateMenus?.node_banner[0]?.title}}
                    </div>
                </div>
            </a>
        </div>

    </div>
    <app-bs-search-popup *ngIf="isShowSearch == true"
        [searchKeyword]="searchKeyword"
        (closeSearchBox)="clickSearch()"></app-bs-search-popup>
</div>
 -->
