
.footer-wrap {
    color: #B8B6C4;
}

.footer-banner {
    background: url('/assets/images/home/img_main_banner.png') no-repeat;
}

.footer-banner a {
    display: block;
    height: 308px;
}

.footer-nav {
    width: 1160px;
    height: 56px;
    line-height: 56px;
    margin: 160px 0 41px 327px;
}

.footer-nav a {
    color: #3E4259;
    margin-right: 74px;
}

.company {
    height: 247px;
    padding-left: 328px;
    /* background: url('/assets/images/home/img_main_footer.png')  no-repeat;
    background-size: 1816px 100%; */
}

.company-info {
    display: flex;
    margin-top: 17.2px;
}

.company-info p {
    margin: 0 24px 8px 24px;
}

.company-info p:first-child {
    margin-left: 0;
}

.company-info > span {
    color: #DCDEE8;
}

.company-txt {
    height: 22px;
    line-height: 1.22;
    letter-spacing: normal;
    margin-bottom: 8px;
}
