/* techb CSS */
.web {
    background: #f7f7fc url('assets/images/login/img_bg_login.png') no-repeat;
    position: relative;
    /* min-width: 1620px; */
    font-family: 'Spoqa Han Sans Neo';
    background-size: cover; 
}

/* body */
.contents {
    width: 100%;
    /* min-height: 1000px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 210px; */
}

/* ===========================================*/
/* =========================================== */
/* login-box */
.web .login-wrap {
    /* width: 1240px; */
}
.web .login-wrap .logo {
    width: 510px;
    text-align: center;
    margin-bottom: 32px;
    cursor: pointer;
}
.web .login-wrap .logo img {
    width: 177px;
    height: 30px;
}
.web .login-wrap .login-box {
    width: 510px;
    height: 771px;
    padding: 58px 36px 80px;
    background: #f2f2fc;
    border-radius: 24px;
    box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
    box-sizing: border-box;
}
.web .login-wrap .login-box .login-title {
    font-size: 28px;
    font-weight: bold;
    color: #3e4259;
    text-align: center;
    margin-bottom: 45px;
}
.web .login-wrap .login-box form > div {
    position: relative;
}
.web .login-wrap .login-box label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #3e4259;
    margin-bottom: 11px;
    margin-left: 24px;
}
.web .login-wrap .login-box input {
    width: 100%;
    height: 54px;
    border: 0;
    outline: 0;
    font-size: 18px;
    font-weight: normal;
    color: #04021f;
    border-radius: 16px;
    box-shadow: 0 6px 6px 0 rgba(36, 51, 179, 0.1);
    padding: 16px 24px;
    margin-bottom: 24px;
    box-sizing: border-box;
}
.web .login-wrap .login-box input::placeholder {
    color: #b8b6c4;
}
.web .login-wrap .login-box .clear-btn {
    display: none;
    position: absolute;
    top: 39px;
    right: 10px;
    background: none;
    border: 0;
    outline: 0;
}
.web .login-wrap .login-box .security-btn {
    position: absolute;
    right: 15px;
    top: 41px;
    width: 32px;
    height: 32px;
    background: url('assets/images/login/ic_hide_gray_32.png') center no-repeat;
}
.web .login-wrap .login-box .security-btn.on {
    background: url('assets/images/login/ic_view_gray_32.png') center no-repeat;
}
.web .login-wrap .login-box .login-btn {
    width: 100%;
    height: 54px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 16px 0;
    border-radius: 16px;
    background: #3f37c9;
}
.web .login-wrap .login-box .info-find {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.web .login-wrap .login-box .info-find a,
.web .login-wrap .login-box .info-find p {
    font-size: 18px;
    font-weight: bold;
}

.web .login-wrap .login-box .info-find p {
    position: relative;
    margin-right: 80px;
    cursor: pointer;
}
.web .login-wrap .login-box .info-find p::before {
    content: "";
    display: block;
    position: absolute;
    right: -40px;
    top: 2px;
    width: 1px;
    height: 14px;
    background: #b8b6c4;
}
/* click 이벤트 발생 시 메인 페이지로 넘어가 p태그로 변경
    추후 아이디 찾기 활성화 시 a태그로 변경하면 될 거 같음.
*/
/* .login-wrap .login-box .info-find a:first-child {
    position: relative;
    margin-right: 80px;
}
.login-wrap .login-box .info-find a:first-child::before {
    content: "";
    display: block;
    position: absolute;
    right: -40px;
    top: 2px;
    width: 1px;
    height: 14px;
    background: #b8b6c4;
} */
.web .login-wrap .login-box .join-wrap {
    margin-top: 72px;
}
.web .login-wrap .login-box .join-wrap span {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    /* width: 160px; */
    font-size: 18px;
    color: #b8b6c4;
    text-align: center;
    background: #f2f2fc;
}
.web .login-wrap .login-box .join-wrap span::before {
    content: "";
    flex-grow: 1;
    margin: 0 24px;
    height: 1px;
    background: #b8b6c4;
    font-size: 0;
    line-height: 0;
}
.web .login-wrap .login-box .join-wrap span::after {
    content: "";
    flex-grow: 1;
    margin: 0 24px;
    height: 1px;
    background: #b8b6c4;
    font-size: 0;
    line-height: 0;
}
.web .login-wrap .login-box .join-wrap .join-btn {
    width: 100%;
    height: 54px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    font-weight: bold;
    color: #3f37c9;
    line-height: 1.22;
    margin-top: 24px;
    padding: 16px 0;
    border: 1px solid #3f37c9;
    background: #fff;
    border-radius: 16px;
}
.web .login-wrap .save {
    display: flex;
    align-items: center;
}
.web .login-wrap .save label {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    color: #3e4259;
    margin: 4px 0 36px 28px;
    cursor: pointer;
}
.web .login-wrap .save label:first-child {
    margin-right: 16px;
}
.web .login-wrap .save span {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background: url('assets/images/ranking-search/ic_checkbox_off_32.png') center no-repeat;
    margin-right: 12px;
}
.web .login-wrap .save label input[type="checkbox"]:checked + span {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background: url('assets/images/ranking-search/ic_checkbox_on_32.png') center no-repeat;
}
.web .login-wrap .save input[type="checkbox"] {
    display: none;
}

/* ===========================================*/
/* =========================================== */

/* Mobile CSS */
/* wrap bg */
#wrap {
    height: 100vh;
    font-family: 'Spoqa Han Sans Neo';
    background: #f2f2fc;
    box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
}
/* login-box */
.mobile .login-wrap {
    padding: 0 1.6rem;
    background: #f2f2fc;
}
.mobile .login-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
}
.mobile .login-wrap .login-title {
    font-size: 2.0rem;
    font-weight: bold;
    color: #3e4259;
    text-align: center;
    margin: 26px 0 23px;
}
.mobile .login-wrap form > div {
    position: relative;
}
.mobile .login-wrap label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: #3e4259;
    margin-bottom: 11px;
    margin-left: 1.6rem;
}
.mobile .login-wrap input {
    width: 100%;
    height: 5.4rem;
    border: 0;
    outline: 0;
    font-size: 1.4rem;
    font-weight: normal;
    color: #04021f;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(36, 51, 179, 0.1);
    padding: 1.3rem 4.8rem 1.3rem 1.6rem;
    margin-bottom: 24px;
    box-sizing: border-box;
}
.mobile .login-wrap input::placeholder {
    color: #b8b6c4;
}
.mobile .login-wrap .clear-btn {
    display: none;
    position: absolute;
    top: 3.5rem;
    right: 1.0rem;
    background: none;
    border: 0;
    outline: 0;
}
.mobile .login-wrap .security-btn {
    position: absolute;
    right: 1.5rem;
    top: 3.7rem;
    width: 3.2rem;
    height: 3.2rem;
    background: url('assets/images/svg/ic_visible_off_gray_32.svg') center no-repeat;
}
.mobile .login-wrap .security-btn.on {
    background: url('assets/images/svg/ic_visible_gray_32.svg') center no-repeat;
}
.mobile .login-wrap .login-btn {
    width: 100%;
    height: 4.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    line-height: 4.4rem;
    text-align: center;
    border-radius: 8px;
    background: #3f37c9;
    margin-top: 24px;
}
.mobile .login-wrap .info-find {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}
.mobile .login-wrap .info-find p,
.mobile .login-wrap .info-find a {
    font-size: 1.4rem;
    color: #3e4259;
    font-weight: bold;
}
.mobile .login-wrap .info-find p {
    position: relative;
    margin-right: 6.5rem;
}
.mobile .login-wrap .info-find p::before {
    content: "";
    display: block;
    position: absolute;
    right: -3.3rem;
    top: 0;
    width: 1px;
    height: 1.4rem;
    background: #b8b6c4;
}
.mobile .login-wrap .join-wrap {
    margin-top: 6.0rem;
    padding-bottom: 4rem;
}
.mobile .login-wrap .join-wrap .first-join {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    /* width: 160px; */
    font-size: 1.4rem;
    color: #b8b6c4;
    text-align: center;
    background: #f2f2fc;
}
.mobile .login-wrap .join-wrap span::before {
    content: "";
    flex-grow: 1;
    margin-right: 2.4rem;
    height: 1px;
    background: #b8b6c4;
    font-size: 0;
    line-height: 0;
}
.mobile .login-wrap .join-wrap span::after {
    content: "";
    flex-grow: 1;
    margin-left: 2.4rem;
    height: 1px;
    background: #b8b6c4;
    font-size: 0;
    line-height: 0;
}
.mobile .login-wrap .join-wrap .join-btn {
    width: 100%;
    height: 4.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #3f37c9;
    line-height: 4.4rem;
    margin-top: 18px;
    border: 1px solid #3f37c9;
    background: #fff;
    border-radius: 8px;
}
.mobile .login-wrap .save {
    display: flex;
    align-items: center;
}
.login-wrap .save label {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 1.4rem;
    color: #3e4259;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
}
.mobile .login-wrap .save label:first-child {
    margin-right: 24px;
}
.mobile .login-wrap .save span {
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 8px;
    background: url('assets/images/svg/ic_checkbox_off_32.svg') center no-repeat;
    background-size: 2.0rem;
    margin-right: 8px;
}
.mobile .login-wrap .save label input[type="checkbox"]:checked + span {
    content: "";
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 8px;
    background: url('assets/images/svg/ic_checkbox_on_32.svg') center no-repeat;
    background-size: 2.0rem;
}
.mobile .login-wrap .save input[type="checkbox"] {
    display: none;
}

/* 650px 이상 767px 이하 */
@media screen and (min-width: 650px) and (max-width: 767px) {
    .mobile .login-wrap {
        padding: 0 2.4rem;
    }

    .mobile .login-header .back-btn {
        top: 1.1rem;
    }

    .mobile .login-wrap .security-btn {
        top: 3.4rem;
    }
}

/* 768px 이상 */
@media screen and (min-width: 768px) {
    .mobile .login-wrap {
        padding: 0 3.6rem;
    }
    .mobile .login-header .back-btn {
        top: 1.1rem;
    }

    .mobile .login-wrap .security-btn {
        top: 3.4rem;
    }
}