.btn-default{
    color: #000;
    border-color: #979797;
    margin: 0 4px;
    box-shadow: none;
    outline: none;
    background-color: #fff;
}
.btn-default.del-btn{
    background-color: #3b3b3b;
    border: solid 1px #979797;
    color: #fff;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover,
.btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover, .btn-default:hover, .btn-default.focus, .btn-default:focus{
    background-color: #fff;
    border: 1px solid #979797;
    color: #000;
    outline: none;
    box-shadow: none;
}
.btn-default.del-btn.active.focus, .btn-default.del-btn.active:focus, .btn-default.del-btn.active:hover,
.btn-default.del-btn:active.focus, .btn-default.del-btn:active:focus, .btn-default.del-btn:active:hover,
.open>.dropdown-toggle.btn-default.del-btn.focus, .open>.dropdown-toggle.btn-default.del-btn:focus,
.open>.dropdown-toggle.btn-default.del-btn:hover, .btn-default.del-btn:hover, .btn-default.del-btn.focus, .btn-default.del-btn:focus{
    background-color: #3b3b3b;
    border: solid 1px #979797;
    color: #fff;
    box-shadow: none;
}
.select-delete{
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #365f80, #2a516c);
    color: #ffffff;
    border: none;
    padding: 3px 14px;
    font-size: 13px;
}
.switch{
    width: 40px !important;
    height: 20px !important;
}
small{
    box-shadow: none !important;
    width: 20px !important;
    height: 20px !important;
    transition: 0.1s ease-out all !important;
    -webkit-transition: 0.1s ease-out all !important;
}
.switch-small.checked small  {
    left: 20px !important;
}