
/* 타이틀 영역 */
.title-area .title {
    background: url('assets/images/payment/ic_payment_keyword_color_40.png') left center no-repeat;
}

/* ===========================================*/
/* =========================================== */
/* 구매 완료 */
.purchase-complete {
    width: 1240px;
    padding-top: 136px;
    text-align: center;
}
.purchase-complete strong {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #04021f;
    margin-top: 16px;
}
.purchase-complete-box {
    width: 912px;
    background: #f2f2fc;
    border-radius: 24px;
    margin: 90px auto 112px;
    padding: 35px 231px;
}
.purchase-complete-box ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.purchase-complete-box ul li:last-child {
    margin-bottom: 0;
}
.purchase-complete-box ul li span {
    font-size: 18px;
    font-weight: normal;
    color: #3e4259;
}
.purchase-complete-box ul li span.value {
    font-size: 20px;
    color: #04021f;
}
.purchase-complete-box ul li button {
    position: absolute;
    right: -165px;
    top: -1px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 14px;
    font-weight: bold;
    color: #e6458e;
    background: none;
    border-radius: 8px;
    border: 1px solid #e6458e;
    padding: 3px 16px;
}
.purchase-complete .check-btn {
    width: 270px;
    height: 54px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 54px;
    border-radius: 16px;
    background: #e6458e;
}
/* ===================================================================== */
/* Mobile CSS */
/* 키워드 구매 완료 */
.mobile .keyword-purchase-completed-area {
    padding: 0 2.4rem;
    margin-top: 5.6rem;
    text-align: center;
}
.mobile .keyword-purchase-completed-area .completion-phrase {
    font-size: 1.6rem;
    font-weight: bold;
    color: #04021f;
    margin-top: 0.4rem;
}
.mobile .keyword-purchase-completed-box {
    background: #f2f2fc;
    border-radius: 16px;
    padding: 2.4rem 1.6rem;
    margin: 3.2rem 0 4.0rem;
}
.mobile .keyword-purchase-completed-box ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 1.1rem;
}
.mobile .keyword-purchase-completed-box ul li:last-child {
    margin-bottom: 0;
}
.mobile .keyword-purchase-completed-box ul li > span {
    color: #3e4259;
}
.mobile .keyword-purchase-completed-box ul li > b {
    color: #04021f;
    font-weight: normal;
}
.mobile .keyword-purchase-completed-area .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile .keyword-purchase-completed-area .btn-wrap button {
    width: 14.8rem;
    height: 4.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 4.0rem;
    text-align: center;
    border-radius: 8px;
}
.mobile .keyword-purchase-completed-area .btn-wrap button.using-product-btn {
    color: #e6458e;
    background: #f7f7fc;
    border: 1px solid #e6458e;
}
.mobile .keyword-purchase-completed-area .btn-wrap button.confirm-btn {
    color: #fff;
    background: #e6458e;
    margin-left: 2.2rem;
}