<div class="web" *ifDesktop>
    <!-- 컨텐츠 타이틀 영역 start -->
    <div class="title-area">
        <div class="title-wrap">
        <h2 class="title">키워드 구매하기</h2>
        <!-- <span class="sub-title">내가 궁금한 상품 순위, 실시간으로 확인해보세요.</span> -->
        </div>
    </div>
    <!-- //컨텐츠 타이틀 영역 end -->

    <!-- 구매 완료 start -->
    <div class="purchase-complete">
        <img src="assets/images/payment/img_check_pink_64.png" alt="완료">
        <strong>키워드 구매가 완료되었습니다.</strong>
        <div class="purchase-complete-box">
            <ul *ngIf="!bulkPurchase">
                <li>
                    <span>상품 종류</span>
                    <span class="value">{{queryParams.productType}}</span>
                </li>
                <li>
                    <span>상품 기간</span>
                    <span class="value">{{queryParams.productPeriod}} 일</span>
                </li>
                <li>
                    <span>자동 연장 여부</span>
                    <span class="value">{{queryParams.autoExtension}}</span>
                </li>
                <li>
                    <span>총 결제 포인트</span>
                    <span class="value">
                        {{queryParams.productTotalPoint | number}} P
                        <button routerLink="/main/section/subscription/products">이용 중인 상품 보기</button>
                    </span>
                </li>
            </ul>
            <ul *ngIf="bulkPurchase">
                <li>
                    <span>결제 키워드 개수</span>
                    <span class="value">{{queryParams.productCount}}개</span>
                </li>
                <li>
                    <span>총 결제 포인트</span>
                    <span class="value">
                        {{queryParams.productTotalPoint | number}} P
                        <button routerLink= "/main/section/subscription/products">이용 중인 상품 보기</button>
                    </span>
                </li>
            </ul>
        </div>
        <button class="check-btn" routerLink="/main">확인</button>
    </div>
    <!-- //구매 완료 end -->
</div>

<div class="mobile" *ifMobile>
    <div id="contents">
        <!-- 헤더 영역 start -->
        <div class="contents-header">
            <div class="contents-title">
                <img src="assets/images/svg/ic_payment_keyword_color_40.svg" alt="">
                <h2>키워드 구매하기</h2>
            </div>
        </div>
        <!-- //헤더 영역 end -->
        <!-- 키워드 구매 완료 start -->
        <div class="keyword-purchase-completed-area">
            <img src="assets/images/svg/img_check_pink_64.svg" alt="">
            <p class="completion-phrase">키워드 구매가 완료되었습니다.</p>

            <div class="keyword-purchase-completed-info">
                <div class="keyword-purchase-completed-box">
                    <ul>
                        <li>
                            <span>상품 종류</span>
                            <b>{{queryParams.productType}}</b>
                        </li>
                        <li>
                            <span>상품 기간</span>
                            <b>
                            <span>{{queryParams.productPeriod}}</span>일
                            </b>
                        </li>
                        <li>
                            <span>자동 연장 여부</span>
                            <b>{{queryParams.autoExtension}}</b>
                        </li>
                        <li>
                            <span>총 결제 포인트</span>
                            <b>
                            <span>{{queryParams.productTotalPoint | number}}</span> P
                            </b>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="btn-wrap">
                <button routerLink="/main/section/subscription/products" class="using-product-btn">이용 중인 상품 보기</button>
                <button routerLink="/main" class="confirm-btn">확인</button>
            </div>
        </div>
        <!-- //키워드 구매 완료 end -->
    </div>
</div>