<!-- <bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'게시판 생성'">
</bo-page-header> -->

<form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >


  <div class="section">
      <div class="content-wrap">
          <div class="sub-title-bar">
                  <!-- <bs-title-label-ctrl [formGroup]="formGrade" [title]="'등급 생성하기'" [description]="등급생성을위한 툴팁입니다."></bs-title-label-ctrl> -->
              <img src="/assets/img/03-3-order.svg" />
                  등급 수정하기
                <bs-tooltip text="등급수정 페이지"></bs-tooltip>
          </div>
          <div class="content-box">
            <div class="content-title">
                <img src="/assets/img/group-6.svg"/> 등급명칭:
            </div>
            <div class="content">
                <input type="text" class="form-control search-input" name="group_name" formControlName="group_name" />
                <div class="content-inline square-checkbox icon-box-distance">
                    <label for="number" class="check-label">기본아이콘 (권장 15X16)</label>
                    <bo-page-button [type]="'square-s-red'" [title]="'등록하기'"></bo-page-button>
                </div>
                <div class="content-inline square-checkbox icon-box-distance">
                    <label for="number" class="check-label">마이페이지용 아이콘 (권장 60X60)</label>
                    <bo-page-button [type]="'square-s-red'" [title]="'등록하기'"></bo-page-button>
                </div>
            </div>
          </div>
          <div class="content-box">
            <div class="content-title">
                <img src="/assets/img/group-6.svg"/> 정산 기간:
            </div>
            <div class="content">
                    <input type="radio" id="autowrite_use_auto" value="AUTO" name="use_type" formControlName="use_type" />
                    <label for="autowrite_use_auto" class="check-label">자동관리: (조건을 모두 만족할 때 등급 변경)</label>
                    총 구매금액 
                    <!-- <input type="checkbox" [hidden] id="order_sum_type1" name="order_sum_use[]" value="price" formControlName="order_sum_use[]"/> -->
                    <input type="number" class="form-control search-input small-input grade-margin " name="order_sum_price[0]" formControlName="order_sum_price[0]"/>원 이상
                    <div class="content-inline square-checkbox">
                        <input type="checkbox" id="order_sum_type2" name="order_sum_use[0]" value="ea" formControlName="order_sum_use[0]"/>
                        <label for="order_sum_type2" class="check-label">총 구매 갯수</label>
                        <input type="number" class="form-control search-input small-input" name="order_sum_ea[0]" formControlName="order_sum_ea[0]"/> 개 이상
                    </div>
                    <div class="content-inline square-checkbox">
                        <input type="checkbox" id="order_sum_type3" name="order_sum_use[0]" value="cnt" formControlName="order_sum_use[0]"/>
                        <label for="order_sum_type3" class="check-label">총 주문 갯수</label>
                        <input type="number" class="form-control search-input small-input" name="order_sum_cnt[0]" formControlName="order_sum_cnt[0]"/> 회 이상
                    </div>
                      <input type="radio" id="autowrite_use_part" value="AUTOPART" name="use_type" formControlName="use_type" />
                      <label for="autowrite_use_part" class="check-label">자동관리: (조건을 1개라도 만족할 때 등급 변경)</label>
                      총 구매금액 
                      <!-- <input type="checkbox" [hidden] id="order_sum_type4" name="order_sum_use[]" value="price" formControlName="order_sum_use[]"/> -->
                      <input type="number" class="form-control search-input small-input grade-margin" name="order_sum_price[1]" formControlName="order_sum_price[1]" />원 이상
                      <div class="content-inline square-checkbox">
                          <input type="checkbox" id="order_sum_type5" name="order_sum_use[1]" value="ea" formControlName="order_sum_use[1]"/>
                          <label for="order_sum_type5" class="check-label">총 구매 갯수</label>
                          <input type="number" class="form-control search-input small-input" name="order_sum_ea[1]" formControlName="order_sum_ea[1]"> 개 이상
                      </div>
                      <div class="content-inline square-checkbox">
                              <input type="checkbox" id="order_sum_type6" name="order_sum_use[1]" value="cnt" formControlName="order_sum_use[1]"/>
                              <label for="order_sum_type6" class="check-label">총 주문 갯수</label>
                          <input type="number" class="form-control search-input small-input" name="order_sum_cnt[1]" formControlName="order_sum_cnt[1]"/> 회 이상
                      </div>
                      <input type="radio" id="autowrite_use_menual" value="MANUAL" name="use_type" formControlName="use_type" />
                      <label for="autowrite_use_menual" class="check-label">수동 관리: 해당 등급에 대한 결정을 모두 수동으로 함</label>
              </div>

              <!-- <div class="content-warn-box">*총 상품 구매 개수에서 사은품은 제외</div> -->
              <!-- <div class="content">
                  <img /><span></span>
              </div> -->
          </div>
          <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/> 구매 시:
                </div>
              <div class="content">
                  <span class="content-top">
                      <div for="number" style="padding-bottom: 15px;">구매 금액 조건/추가 할인</div>
                      <div for="number">구매 금액 조건/ 추가 적립금</div>
                  </span>
                  <div class="content-inline" style="position: relative; top: -19px;"><a class="link-color"href="main/member/grade-benefit">설정 > 회원 > 등급별 구매혜택</a>에서 설정하실 수 있습니다.</div>
              </div>
          </div>
          <div class="content-box">
            <div class="content-title">
                    <img src="/assets/img/group-6.svg"/> 그 외 추가 혜택
            </div>
            <div class="content">
                <div class="content-inline">
                    <span for="number">배송비</span>
                    <div class="content-inline"><a class="link-color">프로모션/쿠폰 > 쿠폰관리</a>에서 등급별로 배송비 할인쿠폰을 발행할 수 있습니다.</div>
                </div>
            </div>
          </div>
      </div>
  </div>
  <bo-submit-button-form [hasCancelBtn]="true"></bo-submit-button-form>

</form>