<modal-goods-query-form [setQuery]="query"(query)="reloadWithQuery($event)"></modal-goods-query-form>
<bo-page-padding></bo-page-padding>
<div class="two-line-list-wrap">
    <div class="goods-list before">
        <div class="panel" dnd-dragable dnd-sortable-container [sortableData]="items" [dropZones]="['source-dropZone']">
            <div class="panel-heading">
                검색된 상품 리스트&nbsp;<span style="font-size: 12px;"> -  선택 : 더블클릭 또는 드래그하여 오른쪽으로 이동</span>
            </div>

            <div class="panel-body">
                <li *ngFor="let source of items; let x = index" class="list-group-item"
                    dnd-sortable [sortableIndex]="x"
                    [dragData]="source" (dblclick)="onDblclickSource(source)">
                    <img [src]="source?.image" style="width:40px;height:40px"/>
                    {{source.goods_name}}
                    <span *ngIf="source.goods_view == 'look'">(노출)</span>
                    <span *ngIf="source.goods_view == 'notLook'" class="red">(미노출)</span>
                </li>
            </div>
        </div>
    </div>
    <div class="goods-list after">
        <div class="panel">
            <div class="panel-heading">선택된 상품 리스트 &nbsp;<span style="font-size: 12px;"> - 제외 : 더블클릭 또는 드래그하여 왼쪽으로 이동 / 노출순서 : 드래그하여 변경</span></div>
            <div class="panel-body" [sortableData]="targetList" dnd-droppable dnd-sortable-container
                [dragEnabled]="true" (onDropSuccess)="onDropSuccess($event)" [dropZones]="['source-dropZone']">
                <li *ngFor="let target of targetList;let i = index" dnd-sortable
                    [sortableIndex]="i" [dragData]="target"
                    (dblclick)="onDblclickTarget(target)"
                    class="list-group-item">
                    <img [src]="target?.image" style="width:40px;height:40px"/>
                    {{target?.goods_name}}
                </li>
            </div>
        </div>
    </div>
</div>
