:host{
    width: 100%;
}

/* bootstary modal background class */
.modal-backdrop.in {
    opacity: .2;
}

/* hyeon */
/* .modal-dialog{
    width: 450px;
} */

.modal-dialog.modal-alert.alert{
    margin: 10% auto 0;
    width: 450px !important;
    text-align: center;
}
.modal{
    overflow: hidden;
}
.modal-content{
    background: none;
    box-shadow: none;
    border: none;
}
.alert .modal-content{
    width: 512px;
    height: auto;
    border-radius: 16px;
    /* border: 1px solid #000; */
    background-color: #fafbff;
    box-shadow: 0 3px 13px 0 rgb(0, 0, 0, .2);
    margin: 60% auto;
}
.alert .modal-header{
    /* height: 52px; */
    background-color: #fafbff;
    border-radius: 16px 16px 0 0;
    border: none;
    width: auto;
    padding: 20px 20px 0;
}
.alert .modal-header .close{
    text-shadow: none;
    opacity: 1;
    font-size: 40px;
    /* font-weight: 100; */
    /* line-height: 14px; */
    width: 40px;
    background: url('assets/images/svg/ic_close_black_40.svg') no-repeat center;
}
.alert .modal-header .close span{
    /* color: #000; */
    font-size: 0;
}

.modal-body.alert{
    /* padding: 0px 25px 17px; */
    padding: 0px 16px 40px;
    font-family: 'Spoqa Han Sans Neo';
    color: #04021f;
}

.alert-title {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    padding: 8px 0 26px;
    line-height: inherit;
}
.alert-content{
    line-height: 1.22;
    padding: 16px 0px 57px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    word-break: keep-all;
}
.alert-btn-box{
    /* border-top: 1px solid #ccc; */
    /* padding-top: 12px; */
    font-size: 0;
    text-align: center;
}
.alert-btn{
    display: inline-block;
    width: 100%;
    /* height: 40px; */
    /* font-size: 14px; */
    color: #000;
}
.alert-btn button.cancle{
    width: 220px;
    /* height: 100%; */
    outline: none;
    background-color: rgb(153,153,153);
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 16px 93px;
    border-radius: 16px;
    line-height: 1.22;
    margin-left: 20px;
}
.alert-btn button.ok{
    width: 220px;
    /* height: 100%; */
    outline: none;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    background: #3f37c9;
    padding: 16px 93px;
    border-radius: 16px;
    line-height: 1.22;
}

/* 회원가입 btn */
/* .alert-btn button.ok{
    width: 220px;
    outline: none;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    background: #b8b6c4;
    padding: 16px 93px;
    border-radius: 16px;
    line-height: 1.22;
} */

/* .mobile .modal-header {
    padding: .8rem .8rem 0;
}

.mobile .modal-body {
    padding: 0 1.8rem 2.4rem 1.8rem;
}

.mobile .modal-body .alert-title {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 0 1.2rem;
}

.mobile .modal-body .alert-content {
    padding: 0 0 3.2rem;
} */

bs-alert{
    width:100%;
}

@media screen and (max-width: 767px) {

    .mobile.modal-dialog.modal-alert.alert{
        width:100%;
        position: absolute;
        margin-top: 50%;
    }
    .mobile .modal-header {
        padding: .8rem .8rem 0;
    }
    .mobile .modal-body {
        padding: 0 1.8rem 2.4rem 1.8rem;
    }
    .mobile.alert .modal-content{
        width:100%;
    }
    .mobile .alert-btn button.cancle,
    .mobile .alert-btn button.ok {
        width: 13.2rem;
        outline: none;
        font-size: 1.4rem;
        padding: .8rem 0 .8rem 0;
        text-align: center;
        border-radius: 8px;
    }
    .mobile .alert-title {
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0 0 .4rem 0;
    }
    .mobile .alert-content {
        font-size: 1.4rem;
        padding: .8rem 0 3.2rem 0;
    }
    
    .modal-dialog{
        width: auto;
    }
    /* .modal-dialog .alert{
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: fit-content;
        
    } */
    /* .mobile .alert-btn button.cancle {
        font-size: 15px;
        padding: 0;
        vertical-align: bottom;
    } */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* .mobile.modal-dialog.modal-alert.alert{
        width:100%;
        position: absolute;
        margin-top: 50%;
    }
    .mobile.alert .modal-content{
        width: 70%;
        margin: auto;
    }

    .mobile .alert-btn button.cancle {
        font-size: 15px;
        width: 47%;
        margin-right: 0;
    }
    .mobile .alert-btn button.ok {
        width: 220px;
        height: 100%;
        outline: none;
        color: #ffffff;
        border: none;
        font-weight: bold;
        font-size: 18px;
        background: #3f37c9;
        padding: 16px 93px;
        border-radius: 16px;
        line-height: 1.22;
    
    } */
    /* .modal-dialog .alert{
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: fit-content;

    } */

}


@media screen and (max-width: 400px) {
    .mobile .alert-content {
        font-size: 1.4rem;
    }
}
