<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->

        <!-- formGroup : bsForm -->
        <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
            <div class="query-wrap">
                <!-- 첫번째 form block -->
                <div class="form-block">
                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">검색어</div>
                            <!-- <select class="form-selectbox item-horizontal">
                                <option *ngFor="let option of options" >{{option}}</option>
                            </select> -->
                            <input type="text" class="form-control search-input" formControlName="provider_name" placeholder="업체명 입력">
                        </div>
                    </div>
                    <div class="form-box">
                            <div class="form-item">
                                <div class="form-title">기간</div>
                                <bo-period-query [formGroup]="bsForm" [name]="'period'">
                                    <bo-period-query-option-config [value]="'regist_date'" [label]="'등록일'">
                                    </bo-period-query-option-config>
                                    <!-- <bo-period-query-option-config [value]="'r_date[max]'" [label]="'수정일'">
                                    </bo-period-query-option-config> -->
                                </bo-period-query>
                            </div>
                        </div>
                </div>
                <!-- 두번째 form-block -->
                <div class="form-block  more-form-block" [hidden]="!isShowMoreForm">
                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">상태</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'provider_status'">
                                    <bo-checkbox-config [title]="'정상'" [value]="'Y'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'종료'" [value]="'N'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>
                        <!-- <div class="form-item">
                            <div class="form-title">배송:</div>
                            <div class="item-horizontal">
                                <label>
                                    <div class="round-checkbox first-checkbox"><input type="checkbox" id="provider" name="deli_group[]" formControlName="deli_group[]" value="provider"/>
                                        <label for="provider" class="background-checkbox"></label>
                                    </div>
                                </label>입점사배송
                                <label>
                                    <div class="round-checkbox"><input type="checkbox" id="company" name="deli_group[]" formControlName="deli_group[]" value="company"/>
                                        <label for="company" class="background-checkbox"></label>
                                    </div>
                                </label>본사위탁배송
                            </div>
                        </div> -->
                        <div class="form-item">
                            <div class="form-title">사업자</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'info_type'">
                                    <bo-checkbox-config [title]="'개인'" [value]="'개인'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'법인'" [value]="'법인'"></bo-checkbox-config>
                            </bo-group-checkbox>
                            <!-- <div class="item-horizontal">
                                <label>
                                    <div class="round-checkbox first-checkbox">
                                        <input type="checkbox" id="info_type[0]" value="'개인'" name="info_type[0]" formControlName="info_type[0]"/>
                                        <label for="info_type[0]" class="background-checkbox"></label>
                                    </div>
                                </label>개인
                                <label>
                                    <div class="round-checkbox">
                                        <input type="checkbox" id="info_type[1]" value="'법인'" name="info_type[1]" formControlName="info_type[1]"/>
                                        <label for="info_type[1]" class="background-checkbox"></label>
                                    </div>
                                </label>법인
                            </div> -->
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">배송그룹</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'deli_group'">
                                    <bo-checkbox-config [title]="'본사'" [value]="'company'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'입점사'" [value]="'provider'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>

                    </div>
                    <!-- <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">정산주기:</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'calcu_count'">
                                    <bo-checkbox-config [title]="'월1회'" [value]="'1'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'월2회'" [value]="'2'"></bo-checkbox-config>
                                    <bo-checkbox-config [title]="'월3회'" [value]="'4'"></bo-checkbox-config>
                            </bo-group-checkbox>

                        </div>
                        <div class="form-item">
                            <div class="form-item">
                                <div class="form-title">정산기준:</div>
                                <select class="form-selectbox" name="commission_type" formControlName="commission_type" *ngFor="let value of commission_type_values"  >
                                    <option *ngFor="let option of commission_type_options;" value="{{value}}" >{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-item">
                                <div class="form-title">판매등급:</div>
                                <select class="form-selectbox" name="board">
                                    <option *ngFor="let option of options" >{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="more-form">
                    <div class="more-form-btn" (click)="onClickShowMoreForm()">
                    상세검색 <span *ngIf="!isShowMoreForm">열기</span><span *ngIf="isShowMoreForm">닫기</span>
                    <div class="more-btn-img" [class.hide-form]="isShowMoreForm"></div>
                    </div>
                </div>
            </div>

        <!-- 검색 버튼 -->
            <div class="button-area">
                <button type="submit" class="btn new-search-btn">
                    검색
                </button>
            </div>
        </form>
</div>
