<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'홈 전시관리'" [requireText]="true">
    <bo-page-button-config id = "id-board-content-list-btn-create"
        [title]="'저장하기'"
        [styleType] = "'square-m-black-btn'"
        (click) = "submitOnly()">
    </bo-page-button-config>
 
</bo-page-header>
<form [formGroup]="bsForm" (ngSubmit)="submitOnly()"  class="form-area" >
    <div class="section">
        <div class="content-wrap">
            <bs-title-label-ctrl
                [formGroup]="bsForm"
                [title]="'실시간 키워드'"
                [description]="'키워드 검색의 실시간 키워드를 설정합니다.'">
            </bs-title-label-ctrl>

            
            <div class="content-block">

      
                <div class="content-box">
                    <div class="content-title content-title-s">
                        실시간 키워드 <img class="required-img" src="assets/img/must_txt.png">
                    </div>
                    <div class="content">
                        
                      
                    </div>
                </div>
               
                
            </div>
        </div>
        <div class="content-wrap two-line-content">
            <bs-title-label-ctrl
                [formGroup]="bsForm"
                [title]="'홈 푸터 배너'"
                [description]="'홈 영역의 푸터 배너를 설정합니다.'">
            </bs-title-label-ctrl>
            <div class="content-block">
                <div class="content-box">
                    <div class="content-title content-title-s">
                        PC 이미지 <img class="required-img" src="assets/img/must_txt.png">
                    </div>
                    <div class="content">
                        <bo-image-input
                            [formGroup]="bsForm"
                            [imageTypeDesc]="'JPG,PNG'"
                            [imageSizeDesc]="'1920X745'"
                            [name] = "'home_footer_banner_pc'"
                            [required] = "true">
                        </bo-image-input>
                      
                    </div>
                </div>

                <div class="content-box">
                    <div class="content-title content-title-s">
                        모바일 이미지 <img class="required-img" src="assets/img/must_txt.png">
                    </div>
                    <div class="content">
                        <bo-image-input
                                [formGroup]="bsForm"
                                [imageTypeDesc]="'JPG,PNG'"
                                [imageSizeDesc]="'1920X745'"
                                [name] = "'home_footer_banner_mobile'"
                                [required] = "true">
                        </bo-image-input>
                    </div>
                </div>

              
            </div> 
        </div>
 
        <div class="btn-area">
            <bo-submit-button-form></bo-submit-button-form>
        </div>
  </div>
</form>
