<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->


        <!-- formGroup : formNotice -->
        <form [formGroup]="bsForm" (ngSubmit)="onSubmit()" class="form-area">
            <div class="query-wrap">

                <div class="form-block">

                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">검색어</div>
                            <bs-input [name]="'keyword'" [formGroup]="bsForm"
                            placeholder="상품고유번호, 판매상품명, 키워드, MID, 회원고유번호" [style]="'big-input'"></bs-input>
                        </div>
                        <div class="form-item">
                            <div class="form-title">상품타입</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'product_type'">
                                <bo-checkbox-config [title]="'A'" [value]="'A'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'B'" [value]="'B'"></bo-checkbox-config>    
                                <bo-checkbox-config [title]="'C'" [value]="'C'"></bo-checkbox-config>                                
                            </bo-group-checkbox>
                        </div>
                    </div>
            

                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">상품기간</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'product_period'">
                                <bo-checkbox-config [title]="'7일'" [value]="'7일'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'15일'" [value]="'15일'"></bo-checkbox-config>    
                                <bo-checkbox-config [title]="'30일'" [value]="'30일'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'90일'" [value]="'90일'"></bo-checkbox-config>                                
                            </bo-group-checkbox>

                        </div>

                        <div class="form-item">
                            <div class="form-title">자동연장</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'auto_extension'">
                                <bo-checkbox-config [title]="'자동'" [value]="'Y'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'수동'" [value]="'N'"></bo-checkbox-config>                                
                            </bo-group-checkbox>
                        </div>  

                        <div class="form-item">
                            <div class="form-title">사용여부</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'enabled'">
                                <bo-checkbox-config [title]="'사용'" [value]="'Y'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'미사용'" [value]="'N'"></bo-checkbox-config>                                
                            </bo-group-checkbox>
                        </div>
                    </div>

                    <div class="form-box">
                        <div class="form-item">                     
                            <div class="form-title">시작종료일</div>
                            <div class="item-horizontal">
                                <bo-period-query [formGroup]="bsForm" [name]="'period'">
                                    <bo-period-query-option-config [value]="'start_date'" [label]="'시작일'">
                                    </bo-period-query-option-config>            
                                    <bo-period-query-option-config [value]="'end_date'" [label]="'종료일'">
                                    </bo-period-query-option-config>                                                          
                                </bo-period-query>
                         
                            </div>
                        </div>
                    </div>


                <!-- 두번째 form-block -->
                <div class="form-block  more-form-block" [hidden]="!isShowMoreForm">

                    <div class="form-box">
                    
                        
                        <!-- <div class="form-item">
                            <div class="form-title">충전포인트:</div>
                            <input type="text" class="form-control search-input small-input item-horizontal small-margin" formControlName="charge_point[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="charge_point[max]" placeholder="">
                        </div>
                        <div class="form-item">
                            <div class="form-title">무료포인트:</div>
                            <input type="text" class="form-control search-input small-input item-horizontal small-margin" formControlName="charge_free_point[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="charge_free_point[max]" placeholder="">
                        </div> -->

                     </div>
                         <!-- <div class="form-item">
                            <div class="form-title">SMS 수신</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'sms'">
                                <bo-checkbox-config [title]="'동의'" [value]="'y'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'거부'" [value]="'n'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>
                         -->
                        <!-- <div class="form-item">
                            <div class="form-title">이메일 수신</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'mailing'">
                                <bo-checkbox-config [title]="'동의'" [value]="'y'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'거부'" [value]="'n'"></bo-checkbox-config>
                            </bo-group-checkbox>
                        </div>  -->

                 </div>

                    <!-- <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">가입승인/휴면</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'status'">
                                <bo-checkbox-config [title]="'승인'" [value]="'done'"></bo-checkbox-config>
                                <bo-checkbox-config  [title]="'미승인'" [value]="'hold'"></bo-checkbox-config >
                                <bo-checkbox-config  [title]="'휴면'" [value]="'dormancy'"></bo-checkbox-config >
                                <bo-checkbox-config  [title]="'탈퇴'" [value]="'withdrawal'"></bo-checkbox-config >
                            </bo-group-checkbox>
                        </div>
                    </div> -->
                    
                    <!-- <div class="form-box"> -->
                        <!-- <div class="form-item">
                            <div class="form-title">가입일자</div>
                            <input type="text" class="form-control search-input small-input item-horizontal small-margin" formControlName="regist_date[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="regist_date[max]" placeholder="">
                        </div> -->
                        <!-- <div class="form-item">
                            <div class="form-title">가입일자</div>
                            <div class="item-horizontal">
                                <bo-period-query [formGroup]="bsForm" [name]="'period'">
                                    <bo-period-query-option-config [value]="'regist_date'" [label]="'가입일'">
                                    </bo-period-query-option-config>
                                </bo-period-query>
                            </div>
                        </div> -->

                    <!-- </div> -->

                    <!-- <div class="form-box"> -->
                       
                        <!-- <div class="form-item">
                            <div class="form-title">적립금:</div>
                            <input type="text" class="form-control search-input small-input item-horizontal small-margin" formControlName="emoney[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="emoney[max]" placeholder="">
                        </div> -->
                        <!-- <div class="form-item">
                            <div class="form-title">리뷰횟수</div>
                            <input type="text" class="form-control search-input small-input item-horizontal small-margin" formControlName="review_cnt[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="review_cnt[max]" placeholder="">
                        </div> -->

                        <!-- <div class="form-item">
                            <div class="form-title">방문횟수</div>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="login_cnt[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="login_cnt[max]" placeholder="">
                        </div> -->
                        <!-- <div class="form-item">
                            <div class="form-title">이머니:</div>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="cash[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="cash[max]" placeholder="">
                        </div>
                                    -->
                        <!-- <div class="form-item">
                            <div class="form-title">포인트:</div>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="point[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="point[max]" placeholder="">
                        </div>  -->
                    <!-- </div> -->

                    <!-- <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">가입방법:</div>
                            <div class="item-horizontal">
                                <label>
                                    <div class="round-checkbox first-checkbox">
                                        <input type="checkbox" id="all" />
                                        <label for="all" class="background-checkbox"></label>
                                    </div>
                                </label>쇼핑몰ID
                                <label>
                                    <div class="round-checkbox">
                                        <input type="checkbox" id="all" />
                                        <label for="all" class="background-checkbox"></label>
                                    </div>
                                </label>facebook
                                <label>
                                    <div class="round-checkbox">
                                        <input type="checkbox" id="all" />
                                        <label for="all" class="background-checkbox"></label>
                                    </div>
                                </label>twitter
                                <label>
                                    <div class="round-checkbox">
                                        <input type="checkbox" id="all" />
                                        <label for="all" class="background-checkbox"></label>
                                    </div>
                                </label>싸이월드
                                <label>
                                    <div class="round-checkbox">
                                        <input type="checkbox" id="all" />
                                        <label for="all" class="background-checkbox"></label>
                                    </div>
                                </label>네이버
                                <label>
                                    <div class="round-checkbox">
                                        <input type="checkbox" id="all" />
                                        <label for="all" class="background-checkbox"></label>
                                    </div>
                                </label>카카오
                                <label>
                                    <div class="round-checkbox">
                                        <input type="checkbox" id="all" />
                                        <label for="all" class="background-checkbox"></label>
                                    </div>
                                </label>다음
                                <label>
                                    <div class="round-checkbox">
                                        <input type="checkbox" id="all" />
                                        <label for="all" class="background-checkbox"></label>
                                    </div>
                                </label>인스타그램
                            </div>
                        </div>
                    </div> -->

                </div>
                <div class="more-form">
                    <div class="more-form-btn" (click)="onClickShowMoreForm()">
                    상세검색 <span *ngIf="!isShowMoreForm">열기</span><span *ngIf="isShowMoreForm">닫기</span>
                    <div class="more-btn-img" [class.hide-form]="isShowMoreForm"></div>
                    </div>
                </div>
            </div>
            <div class="button-area">
                <button type="submit" class="btn new-search-btn">
                    검색
                </button>
            </div>
         </form>
</div>
