<div class="web" *ifDesktop>
<!-- 컨텐츠 타이틀 영역 start -->
    <div class="title-area">
        <div class="title-wrap">
        <h2 class="title">상품순위 검색</h2>
        <span class="sub-title">내가 궁금한 상품 순위, 실시간으로 확인해보세요.</span>
        </div>
        <nav>
            <ol class="location-history">
                <li [routerLink]="['/main/home']">HOME</li>
                <li>상품순위 검색</li>
            </ol>
        </nav>
    </div>
    <!-- //컨텐츠 타이틀 영역 end -->

    <!-- 검색 박스 start -->
    <div class="search-box">
        <div class="search-tab">
            <ul>
                <li [ngClass]="{active:selectedSearchTabName == 'store'}" (click)="onClickSearchTab('store')">스토어 검색</li>
                <li [ngClass]="{active:selectedSearchTabName == 'url'}" (click)="onClickSearchTab('url')" >주소 검색</li>
                <li [ngClass]="{active:selectedSearchTabName == 'goods'}" (click)="onClickSearchTab('goods')" >상품 검색</li>
            </ul>
        </div>
        <div class="search-input-wrap">
            <!-- 스토어 검색 박스 start -->
            <div class="search-input">   
                <div class="checkbox-wrap">
                    <label>
                        <input type="checkbox">
                        <span class="check"></span>
                        <p>광고 및 가격 비교상품 포함하기</p>
                    </label>
                </div>

                <!-- 스토어 검색 -->
                <div *ngIf="selectedSearchTabName == 'store'">
                    <form>
                        <div>
                            <label for="store-search">스토어명</label>
                            <input type="search" name="store-search" id="store-search" placeholder="스토어명" [(ngModel)]="storeName" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div>
                            <label for="keyword-search">키워드</label>
                            <input type="search" name="keyword-search" id="keyword-search" placeholder="키워드" [(ngModel)]="storeKeyword" [ngModelOptions]="{standalone: true}">
                        </div>
                        <button type="submit" (click)="onClickStoreSearchSubmit(storeName, storeKeyword)">
                            <img src="assets/images/home/ic_search_purple_48.png" alt="검색" >
                        </button>
                    </form>
                </div>

                <!-- 주소 검색 -->
                <div *ngIf="selectedSearchTabName == 'url'">
                    <form>
                        <div>
                            <label for="store-search">상품 주소</label>
                            <input type="search" name="url-search" id="url-search" placeholder="상품 주소" [(ngModel)]="addrUrlName" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div>
                            <label for="keyword-search">키워드</label>
                            <input type="search" name="url-keyword-search" id="url-keyword-search" placeholder="키워드" [(ngModel)]="addrUrlKeyword" [ngModelOptions]="{standalone: true}">
                        </div>
                        <button type="submit" (click)="onClickUrlSearchSubmit(addrUrlName, addrUrlKeyword)">
                            <img src="assets/images/home/ic_search_purple_48.png" alt="검색">
                        </button>
                    </form>
                </div>

                <!-- 상품 검색 -->
                <div *ngIf="selectedSearchTabName == 'goods'">
                    <form>
                        <div>
                            <label for="store-search">상품명</label>
                            <input type="search" name="goods-search" id="goods-search" placeholder="상품명" [(ngModel)]="goodsName" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div>
                            <label for="keyword-search">키워드</label>
                            <input type="search" name="goods-keyword-search" id="goods-keyword-search" placeholder="키워드" [(ngModel)]="goodsKeyword" [ngModelOptions]="{standalone: true}"> 
                        </div>
                        <button type="submit" (click)="onClickGoodsSearchSubmit(goodsName, goodsKeyword)">
                            <img src="assets/images/home/ic_search_purple_48.png" alt="검색">
                        </button>
                    </form>
                </div>                      
            </div>
        <!-- //스토어 검색 박스 end -->
        </div>
    </div>
    <!-- //검색 박스 end -->
</div>

<div class="mobile" id="wrap" *ifMobile>
    <!-- 헤더 영역 start -->
    <div class="contents-header">
        <div class="contents-title">
            <img src="assets/images/svg/ic_ranking_color_30.svg" alt="">
            <h2>상품순위 검색</h2>
            <p>내가 궁금한 상품을 확인해보세요.</p>
        </div>
    </div>
    <!-- //헤더 영역 end -->
    <!-- 탭 메뉴 start -->
    <ul class="ranking-search-tab">
        <li [ngClass]="{active:selectedSearchTabName == 'store'}" (click)="onClickSearchTab('store')">스토어 검색</li>
        <li [ngClass]="{active:selectedSearchTabName == 'url'}" (click)="onClickSearchTab('url')" >주소 검색</li>
        <li [ngClass]="{active:selectedSearchTabName == 'goods'}" (click)="onClickSearchTab('goods')" >상품 검색</li>
    </ul>
    <!-- 탭 메뉴 end -->
    <div class="search-input-wrap">
        <!-- 스토어 검색 창 start -->
        <form>
            <div class="search-input" *ngIf="selectedSearchTabName == 'store'">
                <label for="check">
                    <input type="checkbox" id="check" name="check" checked>
                    <span class="checkbox"></span>
                    <p>광고 및 가격 비교상품 포함하기</p>
                </label>
                <div class="mobile-search">
                    <input type="text" placeholder="스토어명" [(ngModel)]="storeName" class="store-search" [ngModelOptions]="{standalone: true}">
                    <input type="text" placeholder="키워드" [(ngModel)]="storeKeyword" class="keyword-search" [ngModelOptions]="{standalone: true}">
                    <button type="submit" class="keyword-search-btn" (click)="onClickStoreSearchSubmit(storeName, storeKeyword)">검색</button>
                </div>
            </div>
        </form>
        <!-- 스토어 검색 창 end -->
        <!-- 주소검색 창 start -->
        <div class="search-input" *ngIf="selectedSearchTabName == 'url'">
            <form>
                <label for="check">
                    <input type="checkbox" id="check" name="check" checked>
                    <span class="checkbox"></span>
                    <p>광고 및 가격 비교상품 포함하기</p>
                </label>
                <div class="mobile-search">
                    <input type="text" placeholder="상품 주소" class="store-search" [(ngModel)]="addrUrlName" [ngModelOptions]="{standalone: true}">
                    <input type="text" placeholder="키워드" class="keyword-search" [(ngModel)]="addrUrlKeyword" [ngModelOptions]="{standalone: true}">
                    <button type="submit" class="keyword-search-btn" (click)="onClickUrlSearchSubmit(addrUrlName, addrUrlKeyword)" >검색</button>
                </div>
            </form>
        </div>
        <!-- 주소검색 창 end -->
        <!-- 상품 검색 창 start -->
        <div class="search-input" *ngIf="selectedSearchTabName == 'goods'">
            <form>
                <label for="check">
                    <input type="checkbox" id="check" name="check" checked>
                    <span class="checkbox"></span>
                    <p>광고 및 가격 비교상품 포함하기</p>
                </label>
                <div class="mobile-search">
                    <input type="text" placeholder="상품명" class="store-search" [(ngModel)]="goodsName" [ngModelOptions]="{standalone: true}">
                    <input type="text" placeholder="키워드" class="keyword-search" [(ngModel)]="goodsKeyword" [ngModelOptions]="{standalone: true}">
                    <button type="submit" class="keyword-search-btn" (click)="onClickGoodsSearchSubmit(goodsName, goodsKeyword)">검색</button>
                </div>
            </form>
        </div>
        <!-- 상품 검색 창 end -->
    </div>

    <div class="line"></div>
</div>
    <!-- 검색 결과 박스 : 텝에 따른 결과 페이지들 / 텝을 변경해도 결과가 유지 되어야 해서 3개를 따로 선언함-->
    <rank-search-result-view 
        [hidden]="selectedSearchTabName !== 'store'" 
        [keyword]="storeKeyword"
        [searchType]="selectedSearchTabName" 
        [searchResult]="searchResult['store']" 
        [searchHistory]="ranking_data?.search_History.store"
        [popularKeyword]="ranking_data?.popular_keywords"     
        (clickKeyword)="onClickHistoryKeyword($event)"
        (clickDelete)="onClickDeleteHistoryKeyword($event)"
    ></rank-search-result-view>
    <rank-search-result-view 
        [hidden]="selectedSearchTabName !== 'url'" 
        [keyword]="addrUrlKeyword"
        [searchType]="selectedSearchTabName" 
        [searchResult]="searchResult['url']" 
        [searchHistory]="ranking_data?.search_History.url"
        [popularKeyword]="ranking_data?.popular_keywords" 
        (clickKeyword)="onClickHistoryKeyword($event)"
        (clickDelete)="onClickDeleteHistoryKeyword($event)"
    ></rank-search-result-view>
    <rank-search-result-view 
        [hidden]="selectedSearchTabName !== 'goods'" 
        [keyword]="goodsKeyword"
        [searchType]="selectedSearchTabName" 
        [searchResult]="searchResult['goods']" 
        [searchHistory]="ranking_data?.search_History.goods"
        [popularKeyword]="ranking_data?.popular_keywords"   
        (clickKeyword)="onClickHistoryKeyword($event)"
        (clickDelete)="onClickDeleteHistoryKeyword($event)"
    ></rank-search-result-view>
