@charset "utf-8";

/* 박스 스타일 */
.box {
    background: #fafbff;
    padding: 32px 40px 48px;
    border-radius: 24px;
    box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
}
.box .box-header {
    margin-bottom: 39px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.41;
}
.box .box-header.box-icon img {
    vertical-align: middle;
    margin-top: -4px;
    margin-left: -8px;
}

/* 타이틀 영역 */
.title-area .title {
    background: url('assets/images/home/ic_ranking_color_40.png') left center no-repeat;
}

/* ===========================================*/
/* =========================================== */
/* 검색 박스 */
.search-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 1240px;
    height: 364px;
    border-radius: 48px;
    margin: 50px 0 56px;
    background: #f2f2fc;
    padding: 32px 0 56px;
}
.search-box .search-tab ul {
    display: flex;
    margin-bottom: 49px;
}
.search-box .search-tab ul li {
    font-size: 22px;
    font-weight: bold;
    color: #3e4259;
    padding: 8px 0 9px;
    margin-right: 48px;
    cursor: pointer;
}
.search-box .search-tab ul li:last-child {
    margin-right: 0;
}
.search-box .search-tab ul li.active {
    color: #3f37c9;
    border-bottom: 2px solid #3f37c9;
}
.search-box label {
    display: none;
}
.search-box .search-input {
    position: relative;
    /* display: none; */
}
/* .search-box .search-input.active {
    display: block;
} */
/* .search-box .search-input form {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.search-box .checkbox-wrap label {
display: inline-block;
/* align-items: center; */
margin-bottom: 24px;
cursor: pointer;
}
.search-box .checkbox-wrap label input {
    display: none;
}
.search-box .checkbox-wrap .check {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('assets/images/ranking-search/ic_checkbox_off_32.png') center no-repeat;
    margin-right: 10px;
}
.search-box .checkbox-wrap label input[type="checkbox"]:checked + span {
    background: url('assets/images/ranking-search/ic_checkbox_on_32.png') center no-repeat;
}
.search-box .checkbox-wrap p {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #3e4259;
    vertical-align: top;
    margin-top: 2px;
}
.search-box .search-input input {
    width: 912px;
    height: 64px;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    background: #fff;
    box-shadow: 0 6px 6px 0 rgba(36, 51, 179, 0.1);
    border-radius: 16px;
    padding: 18px 102px 18px 32px;
    box-sizing: border-box;
    margin-bottom: 8px;
}
.search-box .search-input input::placeholder {
    color: #b8b6c4;
}
.search-box .search-input button {
    position: absolute;
    right: 34px;
    bottom: 16px;
    width: 48px;
    height: 48px;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
}

/* =================================================================================== */
/* Mobile CSS */
/* 탭 메뉴 */
.mobile .ranking-search-tab {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile .ranking-search-tab li {
    width: 9.3rem;
    height: 3.1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #3e4259;
    line-height: 2.8rem;
    text-align: center;
}
.mobile .ranking-search-tab li.active {
    color: #3f37c9;
    border-bottom: 2px solid #3f37c9;
}
.mobile .ranking-search-tab li:last-child {
    margin-right: 0;
}
/* 스토어 및 키워드 검색 */
.mobile .search-input {
    display: block;
    padding: 0 1.6rem;
    margin-top: 3.2rem;
}
/* .mobile .search-input.active {
    display: block;
} */
.mobile .search-input label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.8rem;
}
.mobile .search-input label input {
    display: none;
}
.mobile .search-input label span {
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    background: url('assets/images/svg/ic_checkbox_off_32.svg') center no-repeat;
    background-size: 2.0rem;
    margin-right: 0.8rem;
    cursor: pointer;
}
.mobile .search-input label input:checked + span {
    background: url('assets/images/svg/ic_checkbox_on_32.svg') center no-repeat;
    background-size: 2.0rem;
}
.mobile .search-input label p {
    font-size: 1.4rem;
    color: #3e4259;
}
.mobile .search-input .mobile-search {
    position: relative;
}
.mobile .search-input .mobile-search input {
    width: 100%;
    height: 4.8rem;
    font-size: 1.4rem;
    font-weight: normal;
    color: #04021f;
    padding: 1.5rem 1.6rem;
    border: 0;
    outline: 0;
    border-radius: 8px;
    margin-top: 0.8rem;
    box-sizing: border-box;
    box-shadow: 0 6px 8px 0 rgba(36, 51, 179, 0.15);
}
.mobile .search-input .mobile-search input::placeholder {
    color: #b8b6c4;
}
.mobile .search-input .mobile-search .keyword-search-btn {
    position: absolute;
    right: 16px;
    bottom: 8px;
    width: 3.2rem;
    height: 3.2rem;
    background: url('assets/images/svg/ic_search_purple_48.svg') center no-repeat;
    background-size: 3.2rem;
    text-indent: -99999em;
}

.mobile .keyword-search-input {
    position: relative;
    margin-top: 2.4rem;
    padding: 0 1.6rem;
}
.mobile .keyword-search-input form input {
    width: 100%;
    height: 4.8rem;
    font-size: 1.4rem;
    font-weight: normal;
    background: #fff;
    color: #04021f;
    border: 0;
    outline: 0;
    border-radius: 8px;
    padding: 1.5rem 5.4rem 1.5rem 1.6rem;
    box-shadow: 0 6px 8px 0 rgba(36, 51, 179, 0.15);
}
.mobile .keyword-search-input form input::placeholder {
    color: #b8b6c4;
}
.mobile .keyword-search-input .keyword-search-btn {
    position: absolute;
    right: 3.4rem;
    top: 0.7rem;
    width: 3.2rem;
    height: 3.2rem;
    background: url('assets/images/svg/ic_search_purple_48.svg') center no-repeat;
    background-size: 3.2rem;
    text-indent: -9999em;
}

.mobile .line {
    width: 100%;
    height: 1px;
    background: #dcdee8;
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
}

/* 반응형 브레이크 포인트 */
/* 650px 이상 767px 이하 */
@media screen and (min-width: 650px) and (max-width: 767px) {
    .mobile .keyword-search-result {
    margin-top: 15rem;
    }
    .mobile .main-tab-area {
    margin-top: 10.0rem;
    }
    .mobile .main-tab-area .main-tab li:nth-child(2)::before {
    left: 5.8rem;
    top: -2.3rem;
    }
}

/* 768px 이상 */
@media screen and (min-width: 768px) {
    .mobile .keyword-search-result {
    margin-top: 15rem;
    }
    .mobile .main-tab-area {
    margin-top: 10.0rem;
    }
    .mobile .main-tab-area .main-tab li:nth-child(2)::before {
    left: 5.8rem;
    top: -2.3rem;
    }
}