<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'이벤트 등록/수정'">
    <!-- <bo-page-button-config id = "id-board-create-btn-"
      [title] = "'저장하기'"
      [styleType] = "'round-m-darkgrey'"
      (click) = "onClickModalPopupTest(sampleTemplate)">


    </bo-page-button-config> -->
    <bo-page-button-config
        [title] = "'이벤트 리스트'"
        [styleType] = "'square-m-black-btn'"
        (click) = "gotoListPage()">
    </bo-page-button-config>
    <bo-page-button-config *ngIf="!isUpdateMode" id = "id-board-content-list-btn-userview"
        [title] = "'저장하기'"
        [styleType] = "'square-m-white-btn'"
        (click) = "onSubmit()">
    </bo-page-button-config>
    <bo-page-button-config *ngIf="isUpdateMode" id = "id-board-content-list-btn-userview"
    [title] = "'저장 후 리스트'"
    [styleType] = "'square-m-white-btn'"
    (click) = "submitAndBack()">
    </bo-page-button-config>
    <bo-page-button-config *ngIf="isUpdateMode" id = "id-board-content-list-btn-userview"
        [title] = "'저장 후 화면유지'"
        [styleType] = "'square-m-white-btn'"
        (click) = "submitOnly()">
    </bo-page-button-config>
  </bo-page-header>
  <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
    <div class="section">

        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'기본 정보'"
                [description]="'이벤트게시판 기본적인 정보를 입력하세요'">
            </bs-title-label-ctrl>
            <div class="content-block">
                <div class="content-box" *ngIf="auth?.managerName">
                    <div class="content-title">
                        작성자
                    </div>
                    <div class="content">
                        <div class="content-top-line" >
                            <!-- {{auth?.managerName}}({{auth?.managerName}}) -->
                            {{data?.name}}({{data?.name}})
                        </div>
                    </div>
                </div>

                <div class="content-box">
                    <div class="content-title">
                        제목<img class="required-img" src="assets/img/must_txt.png"/>
                    </div>
                    <div class="content">
                        <bs-input [name]="'subject'" [formGroup]="bsForm" [placeholder]="' 게시판 제목을 입력하세요.'" [style]="'big-input'" [required]="true"></bs-input>

                    </div>
                </div>
            </div>
        </div>


        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'기간'"
                [description]="'이벤트 기간의 기본적인 정보를 입력하세요'">
            </bs-title-label-ctrl>
            <div class="content-block">
                <div class="content-box">
                        <div class="content-title">
                            이벤트 기간<img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content">
                            <bo-period-input
                                [formGroup]="bsForm"
                                [name] = "'m_date'"
                                [endDateName] = "'d_date'"
                                [required]="true">
                            </bo-period-input>
                        </div>
                </div>

                <div class="content-box">
                        <div class="content-title">
                            당첨자 발표일
                        </div>
                        <div class="content">
                            <!-- <div class="form-box">
                                <div class="form-item"> -->
                                    <bo-date-time-input
                                        [formGroup]="bsForm"
                                        [name] = "'ext_date'"
                                        [isTime] = "true">
                                    </bo-date-time-input>
                                <!-- </div>
                            </div> -->
                        </div>
                </div>
            </div>
        </div>

        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'PC 이미지'"
                [description]="'이벤트 이미지의 기본적인 정보를 등록하세요.'">
            </bs-title-label-ctrl>
            <div class="content-block">

                <div class="content-box">
                    <div class="content-title"> <!-- style="width:200px" -->
                        PC 썸네일 이미지<img class="required-img" src="assets/img/must_txt.png"/>
                    </div >
                    <div class="content">

                        <!-- image input control-->
                        <bo-image-input
                            [formGroup]="bsForm"
                            [imageTypeDesc]="'JPG,PNG'"
                            [imageSizeDesc]="'1200X320'"
                            [name] = "'adddata'"
                            [required]="true">
                        </bo-image-input>
                    </div>
                </div>

            </div>
        </div>


        <!-- 에디터 추가 -->
        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'PC 컨텐츠'"
                [description]="'이벤트 PC컨텐츠의 기본적인 정보를 입력하세요.'">
            </bs-title-label-ctrl>
            <div class="content-block">
                    <!-- <div class="image-title-bold">
                            <div>확장자 :</div>JPG,PNG&nbsp;&nbsp;<div class="image-title-bold">사이즈 :</div>Width 1200 / 높이값 제한 없음
                    </div > -->
                <div><div class="image-title-bold">확장자 :</div>JPG,PNG&nbsp;&nbsp;<div class="image-title-bold">사이즈 :</div>Width 1200 / 높이값 제한 없음</div>

                <div class="content-box">
                    <!-- <div class="content-title"> style="width:200px"
                        컨텐츠(PC)<img class="required-img" src="assets/img/must_txt.png"/>
                    </div > -->
                    <div class="content content-newline">
                        <bo-editor
                            [name]="'contents'"
                            [formGroup]="bsForm"
                            [width]="'100%'"
                            [height]="700">
                        </bo-editor>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrap">
                <bs-title-label-ctrl
                    [title]="'모바일 이미지'"
                    [description]="'이벤트 이미지의 기본적인 정보를 등록하세요.'">
                </bs-title-label-ctrl>
                <div class="content-block">

                    <div class="content-box">
                            <div class="content-title content-title-large"> <!-- style="width:200px" -->
                                모바일 썸네일 이미지<img class="required-img" src="assets/img/must_txt.png"/>
                            </div >
                            <div class="content content-large">

                                <!-- image input control-->
                                <bo-image-input
                                    [formGroup]="bsForm"
                                    [imageTypeDesc]="'JPG,PNG'"
                                    [imageSizeDesc]="'1035X552'"
                                    [name] = "'mobile_thumbnail'"
                                    [required]="true">
                                </bo-image-input>
                            </div>
                    </div>
                </div>
        </div>

        <div class="content-wrap">
                <bs-title-label-ctrl
                    [title]="'모바일 컨텐츠'"
                    [description]="'이벤트 모바일의 기본적인 정보를 입력하세요.'">
                </bs-title-label-ctrl>
                <div class="content-block">

                    <div class="content-box">
                        <div class="content content-newline">
                            <!-- image input control-->
                            <bo-editor
                                [name]="'mobile_contents'"
                                [formGroup]="bsForm"
                                [width]="'100%'"
                                [height]="700">
                            </bo-editor>
                        </div>
                    </div>
                </div>

        </div>
        <!-- <div class="content-wrap">
          <bo-submit-button-form [hasCancelBtn]="true" (clickCancel)="gotoListPage()">
          </bo-submit-button-form>
        </div> -->
        <bo-submit-button-form
            [hasCancelBtn]="true"
            (clickCancel)="gotoListPage()">
        </bo-submit-button-form>
    </div>
  </form>
