
.list-view{
    margin: 15px 0;
}
ul{
    padding: 0;
}
.board-list{
    font-size: 0;
    text-align: center;
    border: .5px solid #ddd;
    border-collapse: separate;
}
.board-head > div{
    padding: 3px 0;
    background: #eee;
}
.board-list li > div{
    padding: 5px 0;
}
.board-basic{
    display: inline-block;
    font-size: 13px;
    border: .5px solid #ddd;
    border-collapse: separate;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
}
.board-user{
    width: calc(10% - 3px);
}
.board-content{
    width: 70%;
}
.board-date{
    width: 20%;
}