<!-- header-->
<bo-page-header [imgUrl]="'assets/img/coupon-title-img.svg'" [title]="'할인이벤트 리스트 '">



     <!-- 게시글등록 버튼-->
    <bo-page-button-config
        [title] = "'할인이벤트 등록'"
        [styleType] = "'square-m-black-btn'"
        (click) = "createItem()">
    </bo-page-button-config>
    <!-- <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'저장하기'"
        [styleType] = "'square-m-white-btn'"
        (click) = "onSubmit()">
</bo-page-button-config> -->

</bo-page-header>

<div class="list-section">

    <!-- query form -->
    <discount-event-query-form [setQuery]="query"(query)="reloadWithQuery($event)"></discount-event-query-form>
    <!-- <goods-query-form></goods-query-form> -->
    <!-- <app-board-list-query-form></app-board-list-query-form> -->
    <!-- space -->
    <bo-page-padding></bo-page-padding>

    <div class="list-wrap-se">
        <!-- list -->
        <div style="margin: auto; max-width: 100%; margin-bottom: 50px;">
            <data-table #bsDatatable
                headerTitle="datatable"
                [header]="true"
                [items]="items"
                [itemCount]="itemCount"
                [indexColumn]="true"
                [selectColumn]="true"
                [sortBy] = "'event_seq'"
                [sortAsc] = "false"
                (reload)="reloadItems($event)"
                 >

                <!-- 선택삭제 버튼-->
                <bs-header-button-config id = "id-board-content-list-deleteall-btn1"
                [title] = "'선택삭제'"
                [styleType] = "'square-s-greyborder-btn'"
                (click) = "deleteSelectedItem($event, 'event_seq')">
                </bs-header-button-config>

                <!-- <data-table-column
                    [property]="'event_seq'"
                    [header]="'번호'"
                    [sortable]="false"
                    [width]="50">
                </data-table-column> -->

                <data-table-column
                    [property]="'title'"
                    [header]="'할인이벤트명'"
                    >
                </data-table-column>

                <data-table-column
                    [header]="'화면보기'"
                    [width]="120">
                    <ng-template #dataTableHeader let-item="item">
                        이벤트보기
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                        <a target="_blank" href="{{appConfig?.clientURL+'/goods/event/' +item.event_seq }}">
                            <bo-page-button [type]="'s-lightnavy'" [title]="'사용자화면'"></bo-page-button>
                        </a>
                    </ng-template>
                </data-table-column>

                <data-table-column
                [header]="'등록된상품'"
                [width]="105">
                    <ng-template #dataTableCell let-item="item" >
                        <div *ngIf="item?.goods.length == 1 &&  item?.goods[0] !== null && item?.goods[0].image" style="display: inline;" >
                            <img [src] = "item?.goods[0].image"  style="width: 44px;">
                        </div>
                        <div *ngIf="item?.goods.length == 0 && item?.goods_rule == 'goods_view'"
                            style="display: inline; color:red" >없음</div>
                        <div *ngIf="(item?.goods.length > 1) || item?.goods_rule !== 'goods_view'"
                            style="display: inline;" >다수</div>
                    </ng-template>
                </data-table-column>

                <data-table-column
                [header]="'PC/모바일'"
                [width]="105">
                    <ng-template #dataTableCell let-item="item" >
                        <div *ngIf="item?.event_banner" style="display: inline;" >
                            <img [src] = "item.event_banner"  style="width: 44px;">
                        </div>
                        <div *ngIf="!item?.m_event_banner || !item?.event_banner" style="display: inline;" >-</div>
                        <div *ngIf="item?.m_event_banner" style="display: inline;" >
                            <img [src] = "item.m_event_banner"  style="width: 44px;">
                        </div>
                    </ng-template>
                </data-table-column>
                <!-- <data-table-column
                [property]="'goods_cnt'"
                [header]="'수량'"
                [width]="80">
                </data-table-column> -->

                <data-table-column
                    [header]="'기간'"
                    [width]="100">
                    <ng-template #dataTableCell let-item="item">
                            {{item?.start_date | date: 'yyyy-MM-dd'}}<br/>
                            {{item?.end_date | date: 'yyyy-MM-dd'}}
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [property]="'regist_date'"
                    [header]="'등록/수정일'"
                    [sortable]="false"
                    [width]="130">
                    <ng-template #dataTableCell let-item="item">
                        {{item?.regist_date | date: 'yyyy-MM-dd HH:mm'}}<br/>
                        {{item?.update_date | date: 'yyyy-MM-dd HH:mm'}}
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [property]="'finish'"
                    [header]="'진행상태'"
                    [sortable]="false"
                    [width]="100">
                </data-table-column>

                <data-table-column
                    [property]="'display'"
                    [header]="'사용'"
                    [width]="80">
                    <ng-template #dataTableCell let-item="item">
                        <ui-switch (change)="onClickChangeHiddenStatus($event, item)" [checked]="item.display == 'y'" size="small" color="#e7e7e7" switchColor="rgb(234,0,61)" switchOffColor="rgb(150,150,150)" defaultBgColor="#dadada" defaultBoColor="#dadada"></ui-switch>
                    </ng-template>
                </data-table-column>

                <data-table-column
                    header="manage"
                    [width]="300">
                    <ng-template #dataTableHeader let-item="item">
                        수정
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                            <bo-button-collection class="margin-class" [id]="'edit'" (click)="updateItem(item.event_seq)" ></bo-button-collection>
                            <bo-button-collection [id]="'copy'" (click)="onClickCopy(item.boardid , item.event_seq)"></bo-button-collection>
                            <bo-button-collection class="margin-class" [id]="'delete'" (click)="deleteItem(item.event_seq)"></bo-button-collection>
                    </ng-template>
                </data-table-column>
            </data-table>
        </div>
    </div>
</div>
