<!-- 모바일 -->
<div class="mobile"  *ifMobile>
    <footer id="footer">
        <button class="pc-btn" (click)="onClickDesktopVersion()">PC버전</button>
        <ul class="footer-nav">
            <li><a href="#">이용약관</a></li>
            <li>|</li>
            <li><a href="#">개인정보처리방침</a></li>
            <li>|</li>
            <li><a href="#">자주 묻는 질문</a></li>
        </ul>
        <div class="footer-logo">
            <img src="assets/images/svg/logo_gray_130.svg" alt="TOPRANK">
        </div>
        <div class="company-info">
            <address>서울특별시 강서구 공항대로 227 마곡센트럴타워1차</address>
            <ul>
                <li>대표이사 김태형</li>
                <li>|</li>
                <li>사업자등록번호 104-81-25980</li>
            </ul>
            <p>통신판매업신고번호 중구02802호</p>
        </div>
        <p class="service-inquire">서비스 문의 help@crefe.co.kr</p>
        <p class="copyright">Copyright@CREFE. All Rights Reserved.</p>
    </footer>
    <!-- //footer end -->
</div>

