
.mobile-footer .ft-box {
    color: #9e9e9e;
}
.mobile-footer .ft-box p{
    margin: 0;
}
.mobile-footer .ft-list {
    background: #212121;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.mobile-footer .ft-list span{
    padding: 0 10px;
    font-size: 10px;
    color: #6b6b6b;
}
.mobile-footer .ft-info {
    background: #262626;
    color: #6b6b6b;
    padding: 20px 15px;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -.5px;
    height: 250px;
}
.mobile-footer .ft-info span{
    padding: 0 4px;
    color: #6b6b6b;
}
.mobile-footer .ft-info p{
    margin-bottom: 10px;
}
.mobile-footer .ft-info p:first-of-type{
    color: #9e9e9e;
}
.mobile-footer .ft-info p:last-of-type{
    margin-bottom: 0;
}
.mobile-footer .ft-info .ft-pay-wrap{
    float: right;
    position: relative;
    top: -35px;
}
.mobile-footer .ft-info .ft-pay-wrap img{
    width: 30px;
}
.mobile-footer .ft-info .ft-corp-info {
    color: #9e9e9e;
    padding: 0;
}