<bo-page-header [title]="'상품통계 - 장바구니별'">
  <bo-page-button-config id = "id-statics-excel-download"
    [title] = "'엑셀 다운로드'"
    [styleType] = "'square-m-white-btn'"
    [imgUrl]="'assets/img/excel-icon.svg'"
    (click) = "onClickDownloadExcel(query)">
  </bo-page-button-config>
</bo-page-header>
  <div class="list-section section">

  <div>
      <!-- 쿼리 -->
      <cart-query-form [initialQuery]="true" [setQuery]="query"(query)="reloadWithQuery($event)"></cart-query-form>

      <bo-page-padding></bo-page-padding>
      <div class="list-wrap">
        <div style="text-align:right;padding-bottom: 10px;font-size: 15px;">
          <select  class="form-selectbox medium-input" [(ngModel)]="column" [ngModelOptions]="{standalone: true}" (change)="onChangeColumn()">
            <option value="cart_cnt">담은 횟수</option>
            <option value="cart_user_cnt">담은 회원수</option>
          </select>
        </div>
        <div class="graph-table">
          <table class="statistics-table">
            <colgroup>
              <col width="3%">
              <col width="36%">
              <col width="6%">
              <col width="6%">
              <col width="6%">
              <col width="6%">
              <col width="6%">
              <col width="6%">
              <col width="6%">
              <col width="6%">
              <col width="6%">
              <col width="6%">
            </colgroup>
            <tr>
              <th class="blue-th" colspan="4">검색기간 내</th>
              <th class="blue-th" colspan="8">해당 상품의 현재 정보</th>
            </tr>
            <tr>
              <th>순위</th>
              <th>상품</th>
              <th>구매전환율</th>
              <th>담은 횟수</th>
              <th>담은 회원수</th>
              <th>재고 / 가용</th>
              <th>페이지뷰</th>
              <th>장바구니</th>
              <th>위시리스트</th>
              <th>좋아요</th>
              <th>재입고알림</th>
              <th>리뷰</th>
            </tr>
            <tr *ngFor="let item of list">
              <td [ngClass]="{'option' : !item?.rank_num}">{{item?.rank_num}}</td>
              <td [ngClass]="{'option' : !item?.rank_num}" style="text-align: left; padding-left: 5px;"> 
                <span class="gray-mini-tag" *ngIf="!item?.rank_num" style="text-align: center;">옵션</span>
                <a target="_blank" href="/main/goods/goods/view/{item.goods_seq}}" *ngIf="item?.rank_num"><img [src] = "item.image"  style="width: 44px; height: 44px;"></a>
                <a href="/main/goods/goods/update/{{item.goods_seq}}" style="text-decoration: none;">{{item?.goods_name}}</a>
              </td>
              <td [ngClass]="{'option' : !item?.rank_num}">{{item?.cvr}}%</td>              
              <td [ngClass]="{'option' : !item?.rank_num}">{{item?.cart_cnt}}</td>
              <td [ngClass]="{'option' : !item?.rank_num}">{{item?.cart_user_cnt  | number}}</td>
              <td [ngClass]="{'option' : !item?.rank_num}">{{item?.stock}} / {{item?.able15_stock}}</td>
              <td [ngClass]="{'empty' : !item?.rank_num , 'option' : !item?.rank_num}">{{item?.page_view  | number}}</td>
              <td [ngClass]="{'empty' : !item?.rank_num , 'option' : !item?.rank_num}">{{item?.now_cart_cnt  | number}}</td>
              <td [ngClass]="{'empty' : !item?.rank_num , 'option' : !item?.rank_num}">{{item?.now_wish_cnt | number}}</td>
              <td [ngClass]="{'empty' : !item?.rank_num , 'option' : !item?.rank_num}">{{item?.now_like_cnt | number}}</td>
              <td [ngClass]="{'empty' : !item?.rank_num , 'option' : !item?.rank_num}">{{item?.now_restock_cnt | number}}</td>
              <td [ngClass]="{'empty' : !item?.rank_num , 'option' : !item?.rank_num}">{{item?.now_review_cnt | number}}</td>
            </tr>
          </table>
        </div>
      </div>

  </div>


  </div>
