<!-- <div bsModal #lgModal="bs-modal" id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"> -->
    <div class="modal-dialog modal-lg custom">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{title}}</h4>
          <span class="sub-title">{{subTitle}}</span>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-popup-content></app-popup-content>
          <!-- <div class="content-header">
            <div class="content-title">제품 잘받았습니다 !!!</div>
            <div class="content-button">
              <button class="reserves">적립금 지급</button>
              <button class="edit">수정</button>
              <button class="reply-edit">답변수정</button>
              <button class="delete">삭제</button>
            </div>
            <div class="content-sub-header">
              <div class="score">평점 :<span>★★★★☆</span></div>
              <div class="writer">작성자 :<span>김길*</span></div>
              <div class="email">이메일 :<span>abcd1234@naver.com</span></div>
              <div class="ip">IP :<span>222.11.333.60</span></div>
              <div class="views">조회 :<span>125</span></div>
              <div class="date">날짜 :<span>2018-03-26 21:32:24</span></div>
            </div>
          </div>
          <div class="content-body">
            <div class="product"></div>
            <div>
                일부러 가격 싼걸로 해서...구입했네요.<br/>
                생각 보다 좋은것 같습니다.<br/><br/>
                
                다른 반바지나 뭐 그런것도 조금 더 저렴 했으면 하는 바램이 있네요..<br/>
                티 2장 잘 샀어요 ㅎㅎ
            </div>
            <div></div>
          </div>
          <div class="content-reply">
            <div>RE: 제품 잘 받았습니다 !!!</div>
            <div>작성자 : <span>관리자</span> 날짜 : <span>2018-03-26 21:32:24</span></div>
            <div>
                안녕하세요. TopRank 고객센터입니다.<br/>
                소중한 구매후기 감사합니다.<br/><br/>
                
                앞으로 더욱더 노력하는 TopRank이 되겠습니다.<br/>
                감사합니다.
            </div>
          </div>
          <div class="content-input-reply">
            <span>댓글</span>
            <div></div>
            <button>댓글등록</button>
          </div>gi
          <div class="prev-next-button">
            <div class="prev"><button></button>이전글</div>
            <div class="next">다음글<button></button></div>
          </div> -->
        </div>
      </div>
    </div>
  <!-- </div> -->