<div [formGroup]="formGroup" class="content-inline">
    <input
        type="{{type}}"
        class="form-control search-input {{style}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
        autocomplete="new-password"     
        [attr.disabled]="disabled ? '' : null"
        (change)="onChangeValueForOptionCode($event)"
        formControlName="{{name}}"/>
        <button class="check-search-btn" >
            <img src="assets/images/subscription/ic_search_purple_40.png" alt="검색">
        </button>
    <!-- valnameator {-->
    <div *ngIf="ctrl?.invalid && (ctrl.dirty || ctrl.touched)"
    class="alert alert-danger">
        <div *ngIf="ctrl.errors.required">
                <img class="required-img" src="assets/img/must_txt.png">
            필수항목입니다.
        </div>
        <div *ngIf="ctrl.errors.minlength">
                <img class="required-img" src="assets/img/must_txt.png">
            {{minlength}} 이상입력해주세요.
        </div>
        <div *ngIf="ctrl.errors.maxlength">
                <img class="required-img" src="assets/img/must_txt.png">
            {{maxlength}} 이하입력해주세요.
        </div>
        <div *ngIf="ctrl.errors.number">
            <img class="required-img" src="assets/img/must_txt.png">
            숫자만 가능합니다.
        </div>
    </div>
    <!-- } validator-->
</div>
