<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'기획전 기본 설정'">
    <bo-page-button-config id = "id-board-create-btn-"
      [title] = "'저장하기'"
      [styleType] = "'square-m-white-btn'"
      (click) = "onSubmit()">

      <!-- onSubmit -->

    </bo-page-button-config>
</bo-page-header>
<form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
<div class="section">

    <div class="content-wrap">
        <bs-title-label-ctrl
            [title]="'기본 설정'"
            [description]="'기획전의 기본적인 정보를 입력하세요'">
        </bs-title-label-ctrl>
        <div class="content-block">
            <div class="content-box">
                <div class="content-title">
                    GNB 메뉴
                </div>
                <div class="content content-top-line">
                    <bs-checkbox
                        [formGroup]="bsForm"
                        [name]="'value'"
                        [label]="'기획전 메뉴 노출'"

                        [value]="'y'">
                    </bs-checkbox>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="content-wrap">
        <bo-submit-button-form
            [hasCancelBtn]="true"
            (clickCancel)="gotoListPage()">
        </bo-submit-button-form>
      </div> -->
    <bo-submit-button-form
            [hasCancelBtn]="true"
            (clickCancel)="gotoListPage()">
    </bo-submit-button-form>
  </div>
</form>
