<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->


    <!-- formGroup : formNotice -->
    <form [formGroup]="bsForm" (ngSubmit)="onSubmit()" class="form-area">
        <div class="query-wrap">
            <div class="form-block">
                <div class="form-box">
                    <div class="form-item">
                        <div class="form-title">기간조회</div>
                        <bo-period-query [formGroup]="bsForm" [name]="'search_date_type'"
                            [initialIndexOfPeriodType]="0"
                            [has3MonthBtn]="true">
                            <bo-period-query-option-config [value]="'deposit_date'" [label]="'입금확인일'">
                            </bo-period-query-option-config>
                            <bo-period-query-option-config [value]="'complete_date'" [label]="'출고완료일'">
                            </bo-period-query-option-config>
                            <bo-period-query-option-config [value]="'shipping_date'" [label]="'배송완료일'">
                            </bo-period-query-option-config>
                            <bo-period-query-option-config [value]="'buy_confirm_date'" [label]="'구매결정일'">
                            </bo-period-query-option-config>
                            <bo-period-query-option-config [value]="'refund_date'" [label]="'환불완료일'">
                            </bo-period-query-option-config>
                            <bo-period-query-option-config [value]="'account_reserve_date'" [label]="'정산예정일'">
                            </bo-period-query-option-config>
                            <bo-period-query-option-config [value]="'account_date'" [label]="'정산완료일'">
                            </bo-period-query-option-config>
                        </bo-period-query>
                    </div>
                </div>
                <div class="form-box">
                    <div class="form-item">
                        <div class="form-title">주문유형</div>
                        <bo-group-checkbox [formGroup]="bsForm" [name]="'order_type'">
                            <bo-checkbox-config [title]="'일반'" [value]="'order'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'교환주문'" [value]="'exchange_order'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'교환반품'" [value]="'exchange_return'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'환불'" [value]="'refund'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'취소주문'" [value]="'cancel_order'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'취소환불'" [value]="'cancel_refund'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'수정정산'" [value]="'modification'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'배송비(개별)'" [value]="'shipping_price'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'배송비환불'" [value]="'shipping_refund'"></bo-checkbox-config>
                        </bo-group-checkbox>
                    </div>
                </div>
                <div class="form-box">
                    <div class="form-item">
                        <div class="form-title">검색조건</div>
                        <div style="margin-right: 10px; display: inline-block;">
                            <bs-select [name]="'search_type'"
                                [formGroup]="bsForm">
                                <bs-option-config [value]= "''" [label] = "'전체'"></bs-option-config>
                                <bs-option-config [value]= "'order_seq'" [label] = "'주문번호'"></bs-option-config>
                                <bs-option-config [value]= "'order_goods_code'" [label] = "'옵션별상세코드'"></bs-option-config>
                                <bs-option-config [value]= "'goods_name'" [label] = "'상품명'"></bs-option-config>
                                <bs-option-config [value]= "'order_name'" [label] = "'주문자명'"></bs-option-config>
                                <bs-option-config [value]= "'recipient_name'" [label] = "'수령인명'"></bs-option-config>
                                <bs-option-config [value]= "'order_id'" [label] = "'고객아이디'"></bs-option-config>
                                <bs-option-config [value]= "'export_code'" [label] = "'출고번호'"></bs-option-config>
                                <!-- <bs-option-config [value]= "'order_type'" [label] = "'일반'"></bs-option-config>
                                <bs-option-config [value]= "'exchange_order'" [label] = "'교환주문'"></bs-option-config>
                                <bs-option-config [value]= "'exchange_return'" [label] = "'교환반품'"></bs-option-config>
                                <bs-option-config [value]= "'refund'" [label] = "'환불'"></bs-option-config>
                                <bs-option-config [value]= "'cancel_order'" [label] = "'취소주문'"></bs-option-config>
                                <bs-option-config [value]= "'cancel_refund'" [label] = "'취소환불'"></bs-option-config>
                                <bs-option-config [value]= "'modification'" [label] = "'수정정산'"></bs-option-config> -->
                            </bs-select>
                        </div>
                        <bs-input [name]="'search_text'" [formGroup]="bsForm"
                            [placeholder]="'주문번호,옵션별상세코드,상품명,주문자명,수령인명,고객아이디,출고번호'" [style]="'search-input'" >
                        </bs-input>
                    </div>
                </div>
                <div class="form-box" *ngIf="!appConfig.isProvider"
                    style="min-height: 50px; height: auto; padding-top: 5px;">
                    <div class="form-item" style="height: auto; line-height: 25px;">
                        <div class="form-title">입점사</div>
                        <bo-provider-query-view [formGroup]="bsForm"></bo-provider-query-view>
                        <!-- <div class="form-title">조회</div>

                            <input type="radio" id="search_all" [value]="null" name="provider_seq"
                                formControlName="provider_seq" (change)="onChangeState($event , '')"/>
                            <label for="search_all" class="check-label">전체</label>

                            <input type="radio" id="search_headquarters" [value]="1" name="provider_seq"
                                (change)="onChangeState($event , '1')" formControlName="provider_seq"/>
                            <label for="search_headquarters" class="check-label">본사</label>

                            <input type="radio" id="search_brand" name="provider_seq"
                                (change)="onChangeState($event , '2')"
                                formControlName="provider_seq"/>
                            <label for="search_brand" class="check-label">입점사</label>

                            -->
                    </div>
                </div>
                <div class="form-box" *ngIf="!appConfig.isProvider">
                    <div class="form-item">
                        <div class="form-title">매출구분</div>
                        <bo-group-checkbox [formGroup]="bsForm" [name]="'channel'">
                            <bo-checkbox-config [title]="'TopRank'" [value]="'TopRank'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'사은품'" [value]="'사은품'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'B2B'" [value]="'B2B'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'내부거래'" [value]="'내부거래'"></bo-checkbox-config>
                        </bo-group-checkbox>
                    </div>
                </div>
                <div class="form-box" *ngIf="!appConfig.isProvider">
                    <div class="form-item">
                        <div class="form-title">PG 검수</div>
                        <bo-group-checkbox [formGroup]="bsForm" [name]="'actual_pg_check'">
                            <bo-checkbox-config [title]="'정상'" [value]="'valid'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'오류'" [value]="'invalid'"></bo-checkbox-config>
                            <bo-checkbox-config [title]="'데이터없음'" [value]="'none'"></bo-checkbox-config>
                        </bo-group-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area">
            <button type="submit" class="btn new-search-btn">
                검색
            </button>
        </div>
    </form>
</div>
