:host {
    width: calc( 100% - 368px);
}
.crm-log-area {
    text-align: center;
}
.crm-log-area .crm-log-item , .crm-log-area .crm-log-item textarea {
    width: 100%;
}
.crm-log-area .crm-log-item textarea {
    height: 144px;
    overflow: hidden;
    resize: none;

}
.crm-log-area .crm-log-item .crm-log-title {
    background-color: #f0f0f0;
    padding: 12px;
    border: solid 1px #979797;
}
.crm-log-area .crm-log-top {
    padding-bottom: 15px;
}