<div>
    <!-- percent / download, admin_download / offline_coupon -->
    <span *ngIf="(item?.type=='download' || item?.type=='member' || item?.type=='admin' || item?.type=='offline_coupon') &&
        item?.sale_type =='percent' &&
        item?.percent_goods_sale">
        {{item?.percent_goods_sale}}% 할인
    </span>
    <span *ngIf="(item?.type=='download' || item?.type=='member' || item?.type=='admin' || item?.type=='offline_coupon') &&
        item?.sale_type =='percent' &&
        item?.max_percent_goods_sale">
        (최대 {{item?.max_percent_goods_sale | number}}원)
    </span>

    <div *ngIf="(item?.type=='download' || item?.type=='member' || item?.type=='admin' || item?.type=='offline_coupon') &&
        item?.sale_type =='won' &&
        item?.won_goods_sale">
        판매 가격의 {{item?.won_goods_sale | number}}원 할인
    </div>
    <div *ngIf="(item?.type=='download') && item?.duplication_use == 1">
        중복다운로드 및 중복할인
    </div>
    <div *ngIf="(item?.type=='member' || item?.type =='offline_coupon' || item?.type =='admin') && item?.duplication_use == 1">
        중복할인
    </div>


    <!-- 배송비 -->
    <div *ngIf="(item?.type=='shipping' || item?.type=='admin_shipping' ||  item?.type=='member_shipping') &&
        item?.shipping_type =='free'">
        기본 배송비 무료 (최대 {{item?.max_percent_shipping_sale | number}}원)
    </div>
    <div *ngIf="(item?.type=='shipping' || item?.type=='admin_shipping' ||  item?.type=='member_shipping') &&
        item?.shipping_type =='won' &&
            item?.won_shipping_sale">
        기본 배송비 {{item?.won_shipping_sale | number}}원 할인
    </div>
    <div *ngIf="(item?.type=='shipping') && item?.duplication_use == 1">
        중복다운로드
    </div>
</div>
