.btn.start:hover{

}
.star{
    padding: 7px 0px;
    font-size: 0;
    display: inline-block;
    background-size: 100% 100%;
    width:15px;
}
.star-full{
    background: url("/assets/img/goods/star-copy-4.png") 50% no-repeat;
}
.star-empty{
    background: url("/assets/img/goods/star-copy-5.png") 50% no-repeat;
}

.star.big-star-full,.star.big-star-empty{
    padding: 16px
}

.star2{
    padding: 7px 8px;
    font-size: 0;
    display: inline-block;
    background-size: 100% 100%;
}
.star2-full{
    background: url("/assets/img/goods/star-copy-4.png") 50% no-repeat;
}
.star2-empty{
    background: url("/assets/img/goods/star-copy-5.png") 50% no-repeat;
}
/* .big-star-full{
    background: url("/assets/img/goods/star.png") 50% no-repeat;
}
.big-star-empty{
    background: url("/assets/img/goods/star1.png") 50% no-repeat;
} */
.big-star-full{
    background: url("/assets/img/goods/star_2.png") 50% no-repeat;
}
.big-star-empty{
    background: url("/assets/img/goods/star_1.png") 50% no-repeat;
}
.star.big-star-full:active, .star.big-star-empty:active{
    box-shadow: none;
}

.star-m-big {
    padding: 12px 13px;
    font-size: 0;
    display: inline-block;
}
.star-m-small {
    padding: 7px;
    font-size: 0;
    display: inline-block;
}
.bigStar-m-full {
    /* background: url("/assets/img/mobile/goods/m_review_star_1.png") 50% no-repeat; */
    background: url(/assets/img/goods/star_2.png) 50% no-repeat;
    background-size: 100% 100%;
}
.bigStar-m-empty {
    background: url("/assets/img/mobile/goods/m_review_star.png") 50% no-repeat;
    background-size: 100% 100%;
}

.bigStarRed-m-full {
    background: url("/assets/img/mobile/goods/m_goods_li_rv_star2_red.png") 50% no-repeat;
    background-size: 100% 100%;
}
.bigStarRed-m-empty {
    background: url("/assets/img/mobile/goods/m_goods_li_rv_star2_gr.png") 50% no-repeat;
    background-size: 100% 100%;
}
span.bs-rating-star{
    font-size: 0px;
    padding: 0 1px;
}

@media screen and (max-width: 1767px) {
    .mobile .star{
        background-size: 100% 100%;
        padding: 7px 7px;
    }
    .mobile span.bs-rating-star{
        font-size: 0px;
        padding: 0 1px;
    }

}


/* background: url("/assets/img/goods/star-copy-4.png") 50% no-repeat; */
