
<rating [max]="max"
        [(ngModel)]="values"
        [customTemplate]="customTemplate()"
        [readonly]="_isReadonly">
</rating>

<ng-template #star let-i="index" let-v="value">
  <div class="star star-{{i < v ? 'full' : 'empty'}}"  (click)="onClickValue(i)"></div>
</ng-template>

<ng-template #star2 let-i="index" let-v="value">
  <div class="star2 star2-{{i < v ? 'full' : 'empty'}}"  (click)="onClickValue(i)"></div>
</ng-template>

<ng-template #bigStar let-i="index" let-v="value">
  <div class="star big-star-{{i < v ? 'full' : 'empty'}}" (click)="onClickValue(i)"></div>
</ng-template>


<ng-template #bigStarM let-i="index" let-v="value">
    <div class="star-m-big bigStar-m-{{i < v ? 'full' : 'empty'}}" (click)="onClickValue(i)"></div>
</ng-template>
  
<ng-template #smallStarM let-i="index" let-v="value">
    <div class="star-m-small bigStar-m-{{i < v ? 'full' : 'empty'}}" (click)="onClickValue(i)"></div>
</ng-template>

<ng-template #bigStarRedM let-i="index" let-v="value">
    <div class="star-m-big bigStarRed-m-{{i < v ? 'full' : 'empty'}}" (click)="onClickValue(i)"></div>
</ng-template>
  
<ng-template #smallStarRedM let-i="index" let-v="value">
    <div class="star-m-small bigStarRed-m-{{i < v ? 'full' : 'empty'}}" (click)="onClickValue(i)"></div>
</ng-template>