<div class="content" [formGroup]="formGroup">
    <img src="/assets/img/group-6.svg"/> <span>{{title}}</span>
    <input 
        type="text" 
        class="form-control search-input big-input" 
        name="{{id}}" 
        placeholder="{{placeholder}}"
        [ngModel]="value"
        formControlName="{{id}}"/>
    <!-- validator {-->
    <div *ngIf="ctrlId.invalid && (ctrlId.dirty || ctrlId.touched)"
    class="alert alert-danger">

        <div *ngIf="ctrlId.errors.required">
                {{id}} is required.
        </div>
        <div *ngIf="ctrlId.errors.minlength">
                {{id}} must be at least {{minlength}} characters long.
        </div>
        <div *ngIf="ctrlId.errors.forbiddenName">
                {{id}} cannot be Bob.
        </div>
    </div> 
    <!-- } validator-->
</div>