@charset "utf-8";


/* 서브 페이지 background */
.html-box {
  background: #f7f7fc url('../images/img_bg_sub_title.png') no-repeat;
}

/* 박스 스타일 */
.box {
  background: #fafbff;
  padding: 32px 40px 65px;
  border-radius: 24px;
  box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
}
.box .box-header {
  margin-bottom: 31px;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 22px;
  font-weight: 500;
  line-height: 1.41;
}
.box .box-header.box-icon {
  padding-left: 48px;
  background: url('../images/thum_navershoping_32.png') left center no-repeat;
  background-size: 32px 32px;
}
.box .box-header.box-icon img {
  vertical-align: middle;
  margin-top: -4px;
}

/* input 기본 달력 스타일 삭제 */
input[type="date"]::-webkit-clear-button, input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator { 
  background: none;
}
input[type=date]::-webkit-datetime-edit-text { -webkit-appearance: none; display: none; }
input[type=date]::-webkit-datetime-edit-month-field{ -webkit-appearance: none; display: none; }
input[type=date]::-webkit-datetime-edit-day-field { -webkit-appearance: none; display: none; }
input[type=date]::-webkit-datetime-edit-year-field { -webkit-appearance: none; display: none; }

/* Gmarket 폰트 */
.num {
  font-family: 'GmarketSans';
  vertical-align: middle;
}
.num-strong {
  font-family: 'GmarketSansBold';
  vertical-align: middle;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* 컨텐츠 타이틀 영역 */
.title-area {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin-top: 58px;
}
.title-area .title {
  height: 40px;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 30px;
  color: #04021f;
  padding-left: 48px;
  background: url('../images/ic_subscription_color_40.png') left center no-repeat;
  background-size: 40px;
  line-height: 38px;
}
.title-area .sub-title {
  display: block;
  padding-left: 48px;
  margin-top: 14px;
  color: #3f37c9;
}
.title-area .location-history {
  display: flex;
  align-items: center;
}
.title-area .location-history li {
  font-size: 18px;
}
.title-area .location-history li:not(:last-child) {
  position: relative;
  font-weight: bold;
  margin-right: 40px;
}
.title-area .location-history li:not(:last-child)::before {
  content: "";
  position: absolute;
  right: -33px;
  top: -3px;
  width: 24px;
  height: 24px;
  background: url('../images/ic_arrow_right_gray_24.png') center no-repeat;
}
.title-area .location-history li a {
  color: #b8b6c4;
}


/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* 상세 분석 */
.detail-wrap {
  width: 1240px;
  height: 567px;
  background: #f2f2fc;
  border-radius: 24px;
  margin-top: 39px;
  padding: 45px 40px 40px;
}
.detail-wrap > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
}
.detail-wrap > ul li:not(:last-child) {
  margin-right: 40px;
}
.detail-wrap > ul li strong {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 18px;
  font-weight: 500;
  color: #3e4259;
  margin-right: 15px;
}
.detail-wrap > ul li span {
  font-size: 16px;
  font-weight: 500;
  color: #b8b6c4;
}
.detail-wrap .detail-box {
  padding: 40px 56px 43px;
}
.detail-box .analysis-title {
  display: flex;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 22px;
  font-weight: 500;
  color: #3e4259;
  margin-top: 5px;
}
.detail-box .top-section {
  padding-bottom: 32px;
  border-bottom: 1px solid #dcdee8;
}
.detail-box .top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-box .top-section .product-name .shop {
  display: flex;
  align-items: center;
  margin: 20px 0 32px;
}
.detail-box .top-section .product-name .shop img {
  margin-right: 16px;
}
.detail-box .top-section .product-name .shop .shop-store span {
  display: block;
  width: 585px;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 22px;
  font-weight: 500;
  color: #04021f;
  line-height: 1.41;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.detail-box .top-section .product-name .ranking-keyword {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-box .top-section .product-name .ranking-keyword .btn-wrap button {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 18px;
  font-weight: bold;
  padding: 5px 24px;
  border-radius: 24px;
}
.detail-box .top-section .product-name .ranking-keyword .btn-wrap .keyword {
  background: #fafbff;
  border: 1px solid #3f37c9;
  color: #3f37c9;
  margin-right: 24px;
}
.detail-box .top-section .product-name .ranking-keyword .btn-wrap .keyword-add {
  background: #e6458e;
  border: 1px solid #e6458e;
  color: #fff;
}
.detail-box .top-section .sale-ranking {
  margin-right: 91px;
  margin-top: -26px;
}
.detail-box .top-section .sale-ranking .ranking-num {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 22px;
  font-weight: 500;
  color: #04021f;
  margin: 44px 0 13px;
}
.detail-box .top-section .sale-ranking .ranking-num > strong {
  font-size: 40px;
  color: #04021f;
  vertical-align: revert;
}
.detail-box .top-section .sale-ranking .ranking-num .paging {
  color: #3f37c9;
  line-height: 1.41;
  margin-left: 16px;
  vertical-align: middle;
}
.detail-box .top-section .sale-ranking .all-count {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 22px;
  font-weight: 500;
  color: #04021f;
}
.detail-box .top-section .sale-ranking .all-count strong {
  /* font-family: 'SpoqaHanSansNeoMedium'; */
  font-weight: 500;
  color: #04021f;
}
.detail-box .bottom-section {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 27px;
}
.detail-box .bottom-section .product-kinds {
  width: 657px;
  margin-top: 5px;
}
.detail-box .bottom-section .kinds-wrap,
.detail-box .bottom-section .deadline-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-box .bottom-section .kinds-wrap {
  margin-bottom: 20px;
}
.detail-box .bottom-section .kinds-wrap .all-date {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 22px;
  font-weight: 500;
  color: #04021f;
}
.detail-box .bottom-section .deadline-wrap .deadline {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 22px;
  font-weight: 500;
  color: #e6458e;
}
.detail-box .bottom-section .deadline-wrap .deadline p {
  font-size: 14px;
  font-weight: normal;
  color: #b8b6c4;
  text-align: right;
  margin-top: 10px;
}
.detail-box .bottom-section .option {
  width: 295px;
}
.detail-box .bottom-section .option > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.detail-box .bottom-section .option > div:last-child {
  margin-bottom: 0;
}
.detail-box .bottom-section .option .use-whether .toggle-btn.active {
  position: relative;
  width: 48px;
  height: 28px;
  background: #5049ce;
  border-radius: 20px;
  padding: 4px;
}
.detail-box .bottom-section .option .use-whether .toggle-btn.active span {
  display: block;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}
.detail-box .bottom-section .option .auto-extension ul {
  display: flex;
  background: #f2f3fa;
  border-radius: 16px;
}
.detail-box .bottom-section .option .auto-extension ul li {
  font-size: 16px;
  font-weight: bold;
  color: #b8b6c4;
  padding: 10px;
  border-radius: 16px;
}
.detail-box .bottom-section .option .auto-extension ul li.active {
  background: #e6458e;
  color: #fff;
}
.detail-box .bottom-section .option .auto-check span img {
  vertical-align: middle;
  margin-top: -5px;
}
.detail-box .bottom-section .option .auto-check label {
  cursor: pointer;
}
.detail-box .bottom-section .option .auto-check label input {
  display: none;
}
.detail-box .bottom-section .option .auto-check label .check {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../images/ic_checkbox_off_32.png') center no-repeat;
}
.detail-box .bottom-section .option .auto-check input[type="checkbox"]:checked + span {
  background: url('../images/ic_checkbox_on_32.png') center no-repeat;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* 키워드 추적 비교 */
.keyword-tracking-graph {
  width: 1240px;
  text-align: center;
  margin-top: 72px;
}
.keyword-tracking-graph .contents-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.keyword-tracking-graph .contents-title span {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 22px;
  font-weight: 500;
}
.keyword-tracking-graph .contents-title .time-tab {
  position: absolute;
  right: 0;
  top: 0;
}
.keyword-tracking-graph .contents-title .time-tab ul {
  display: flex;
  background: #f2f3fa;
  border-radius: 16px;
}
.keyword-tracking-graph .contents-title .time-tab ul li {
  font-size: 18px;
  font-weight: bold;
  color: #b8b6c4;
  padding: 10px 16px;
  background: #f2f3fa;
  border-radius: 16px;
  cursor: pointer;
}
.keyword-tracking-graph .contents-title .time-tab ul li.active {
  color: #3f37c9;
  border: 1px solid #3f37c9;
  background: #fff;
}
.keyword-tracking-graph .data-reset {
  color: #b8b6c4;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
.keyword-tracking-graph .graph {
  height: 350px;
}
.keyword-tracking-graph .keyword-wrap {

}
.keyword-tracking-graph .keyword-wrap span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #480ca8;
  border: 1px solid #480ca8;
  border-radius: 24px;
  padding: 8px 24px 8px 44px;
  box-sizing: border-box;
}
.keyword-tracking-graph .keyword-wrap span::before {
  content: "";
  display: block;
  position: absolute;
  left: 23px;
  top: 13px;
  width: 10px;
  height: 10px;
  background: #480ca8;
  border-radius: 50%;
}
.keyword-tracking-graph .keyword-wrap .other-keyword {
  margin-top: 24px;
}
.keyword-tracking-graph .keyword-wrap .other-keyword > span:not(:last-child) {
  margin-right: 24px;
}
.keyword-tracking-graph .keyword-wrap .other-keyword > span:first-child {
  color: #2dd6e0;
  border: 1px solid #2dd6e0;
}
.keyword-tracking-graph .keyword-wrap .other-keyword > span:first-child::before {
  background: #2dd6e0;
}
.keyword-tracking-graph .keyword-wrap .other-keyword > span:nth-child(2) {
  color: #b5179e;
  border: 1px solid #b5179e;
}
.keyword-tracking-graph .keyword-wrap .other-keyword > span:nth-child(2)::before {
  background: #b5179e;
}
.keyword-tracking-graph .keyword-wrap .other-keyword > span:nth-child(3) {
  color: #f57701;
  border: 1px solid #f57701;
}
.keyword-tracking-graph .keyword-wrap .other-keyword > span:nth-child(3)::before {
  background: #f57701;
}
.keyword-tracking-graph .keyword-wrap .other-keyword > span:nth-child(4) {
  color: #3e4259;
  border: 1px solid #dcdee8;
}
.keyword-tracking-graph .keyword-wrap .other-keyword > span:nth-child(4)::before {
  background: #dcdee8;
}
.keyword-tracking-graph .description {
  display: inline-block;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 16px;
  font-weight: 500;
  color: #b8b6c4;
  margin: 31px 40px 0;
}
.keyword-tracking-graph .apply {
  display: block;
  width: 96px;
  height: 38px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 24px;
  background: #3f37c9;
  /* padding: 8px 0; */
  margin: 31px auto 0;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* 하단 그래프 */
.bottom-graph-wrap {
  width: 1240px;
  margin-top: 56px;
}
.bottom-graph-wrap > div {
  float: left;
  width: 600px;
  height: 533px;
  padding: 26px 24px 56px;
  margin-right: 40px;
  margin-bottom: 56px;
}
.bottom-graph-wrap > div:nth-child(2n) {
  margin-right: 0;
}
.bottom-graph-wrap::after {
  content: "";
  display: block;
  clear: both;
}
.bottom-graph-wrap .contents-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 4px;
}
.bottom-graph-wrap .contents-title span {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 22px;
  font-weight: 500;
}
.bottom-graph-wrap .contents-title .time-tab {
  position: absolute;
  right: 0;
  top: 0;
}
.bottom-graph-wrap .contents-title .time-tab ul {
  display: flex;
  background: #f2f3fa;
  border-radius: 16px;
}
.bottom-graph-wrap .contents-title .time-tab ul li {
  font-size: 18px;
  font-weight: bold;
  color: #b8b6c4;
  padding: 10px 16px;
  background: #f2f3fa;
  border-radius: 16px;
  cursor: pointer;
}
.bottom-graph-wrap .contents-title .time-tab ul li.active {
  color: #3f37c9;
  border: 1px solid #3f37c9;
  background: #fff;
}
.bottom-graph-wrap .contents-title .device-tab {
  position: absolute;
  right: 0;
  top: 8px;
}
.bottom-graph-wrap .contents-title .device-tab ul {
  display: flex;
  align-content: center;
}
.bottom-graph-wrap .contents-title .device-tab li {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  color: #04021f;
  margin-right: 48px;
}
.bottom-graph-wrap .contents-title .device-tab li:nth-child(2) {
  margin-right: 0;
}
.bottom-graph-wrap .contents-title .device-tab li::before {
  content: "";
  display: block;
  position: absolute;
  left: -21px;
  top: 3px;
  width: 10px;
  height: 10px;
  background: #4d77ff;
  border-radius: 50%;
}
.bottom-graph-wrap .contents-title .device-tab li:nth-child(2)::before {
  background: #fd5d5d;
}

/* 도움말 툴팁 */
.help-tool-tip {
  position: relative;
  width: 32px;
  height: 32px;
}
.help-tool-tip::after {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  width: max-content;
  padding: 16px;
  background: #3e4259a9;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #fff;
  line-height: 1.29;
  white-space:pre;
  transform: translateX(-46%);
  border-radius: 16px;
}
.help-tool-tip:hover::after {
  display: block;
}
.help-tool-tip.automatic-extensions::after {
  content: "자동 연장 상품이 여러 개일 경우,\A우선순위 지정해둔 상품부터 순서대로 자동 연장됩니다.\A자동 연장되는 시점에 보유한 포인트가\A부족할 경우 자동 연장되지 않습니다.";
}
.help-tool-tip.keyword-tracking-comparison::after {
  content: "해당 플랫폼에서 분석 키워드를 검색했을 시\A판매자 상품이 검색되는 순위 추이를 선 그래프로 나타냅니다.\A순위를 비교해보고 싶은 키워드를 추가로 등록하면\A추가 등록한 키워드와 그래프를 같이 비교해 볼 수 있습니다.";
}
.help-tool-tip.tracking-reviews::after {
  content: "해당 기간별로 막대그래프는 판매자 상품의\A각 별점당 리뷰 수를 합산한 결과이고,\A선 그래프는 평점 평균값을 나타냅니다.";
  transform: translateX(-44%);
}
.help-tool-tip.price-reviews::after {
  content: "해당 기간별로 판매자 상품의\A가격 변동 추이를 나타냅니다.";
}
.help-tool-tip.daily-searches-count::after {
  content: "하루에 해당 키워드로 검색된 횟수의 추이입니다.\A값은 검색 횟수가 가장 높을수록 n,\A해당 키워드에 대한 데이터가 충분하지 않은 경우\A 0으로 설정하여 상대적인 변화를 나타냅니다.";
  transform: translateX(-44%);
}
.help-tool-tip.daily-searches-rate::after {
  content: "하루에 해당 키워드를 어떤 기기로\A 얼마만큼 검색했는지에 대한 비율의 추이입니다.\A 값은 검색 비율이 가장 높을수록 n,\A 해당 키워드에 대한 데이터가 충분하지 않은 경우\A 0으로 설정하여 상대적인 변화를 나타냅니다.";
  transform: translateX(-44%);
}
