<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="title">
    <bo-page-button-config *ngIf="!isUpdateMode" id = "id-btn-board-save"
        [title] = "'저장하기'"
        [styleType] = "'square-m-white-btn'"
        (click) = "onSubmit()">
    </bo-page-button-config>
    <bo-page-button-config *ngIf="isUpdateMode" id = "id-board-content-list-btn-userview"
    [title] = "'저장 후 리스트'"
    [styleType] = "'square-m-white-btn'"
    (click) = "submitAndBack()">
    </bo-page-button-config>
    <bo-page-button-config *ngIf="isUpdateMode" id = "id-board-content-list-btn-userview"
        [title] = "'저장 후 화면유지'"
        [styleType] = "'square-m-white-btn'"
        (click) = "submitOnly()">
    </bo-page-button-config>
</bo-page-header>

<form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
    <!-- <div class="title-bar">
        <div class="title"><img src="/assets/img/group-5-copy-3.svg"/>기본</div>
    </div> -->
    <div class="section">
        <div class="content-wrap">
            <bs-title-label-ctrl [formGroup]="bsForm" [title]="'기본정보'"
            [description]="'게시판 아이디는 게시판을 구별하는 고유한 값입니다.<br/>
            게시판명은 게시판을 표현하는 이름을 말합니다.'">
            </bs-title-label-ctrl>

            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>게시판 ID:
                </div>
                <div class="content">
                    <bs-input
                        [name]="'id'"
                        [formGroup]="bsForm"
                        [placeholder]="''"
                        [style]="'big-input'"
                        [required]="true">
                    </bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>게시판명:
                </div>
                <div class="content">
                    <bs-input
                        [name]="'name'"
                        [formGroup]="bsForm"
                        [placeholder]="''"
                        [style]="'big-input'">
                    </bs-input>
                </div>
            </div>
        </div>
        <!-- <div class="content-wrap">
            <div class="sub-title-bar">
                <img src="/assets/img/03-3-order.svg" />
                스킨형태
                <div class="pop-over-wrap">
                    <div style="display: inline-block;">
                        <img class="pop-over" src="/assets/img/group-7.svg" />
                    </div>
                    <div class="pop-over-box" *ngIf="isShowTootip">
                        <img src="assets/img/black-arrow.svg" />
                        게시판 아이디는 게시판을 구별하는 고유한 값입니다.<br/>
                        게시판명은 게시판을 표현하는 이름을 말합니다.
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content">
                    <div class="board-type">
                        <input type="radio" id="default"  [(ngModel)]="skinType" value="default" name="skin_type" formControlName="skin_type" />
                        <label for="default">리스트형</label>
                        <img src="/assets/img/list.svg"/>
                    </div>
                    <div class="board-type">
                        <input type="radio" id="goods" [(ngModel)]="skinType" value="goods" name="skin_type" formControlName="skin_type" />
                        <label for="goods">갤러리형</label>
                        <img src="/assets/img/gerally.svg"/>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="content-wrap">
            <div class="sub-title-bar">
                <img src="/assets/img/03-3-order.svg" />
                권한설정
                <img class="pop-over" src="/assets/img/group-7.svg" />
            </div>
            <div class="content-table">
                <table>
                    <colgroup>
                        <col width="10%" />
                        <col width="10%" />
                        <col width="30%" />
                        <col width="10%" />
                    </colgroup>
                    <tr>
                        <th>항목</th>
                        <th>사용유무</th>
                        <th>사용자권한</th>
                        <th>관리환경에서 관리자 권한</th>
                    </tr>
                    <tr>
                        <td>읽기권한</td>
                        <td>
                            <input type="radio" id="auth_read_use_y" value="Y" name="auth_read_use" formControlName="auth_read_use" />
                            <label for="auth_read_use_y" class="check-label">사용</label>
                        </td>
                        <td class="align-left square-checkbox">
                            <div class="content-inline">
                                <input type="radio" id="read_all" value="all" name="auth_read" formControlName="auth_read" />
                                <label for="read_all" class="check-label">전체</label>
                            </div>
                            <div class="content-inline">
                                <input type="radio" id="read_memberall" value="memberall" name="auth_read" formControlName="auth_read" />
                                <label for="read_memberall">회원</label>
                            </div>
                                ( &nbsp;
                                <input type="checkbox" id="a3"/><label for="a3" class="table-check-label">&nbsp; 일반</label>
                                <input type="checkbox" id="a4"/><label for="a4" class="table-check-label">VVIP</label>
                                <input type="checkbox" id="a5"/><label for="a5" class="table-check-label">tvingKING</label>
                                <input type="checkbox" id="a6"/><label for="a6" class="table-check-label">VIP &nbsp; )</label>
                        </td>
                        <td>권한있음</td>
                    </tr>
                    <tr>
                        <td>작성권한 - 쓰기</td>
                        <td>
                            <input type="radio" id="auth_write_use_y" value="Y" name="auth_write_use" formControlName="auth_write_use" />
                            <label for="auth_write_use_y" class="check-label">사용</label>
                        </td>
                        <td class="align-left square-checkbox">
                            <div class="content-inline">
                                <input type="radio" id="write_all" value="all" name="auth_write" formControlName="auth_write" />
                                <label for="write_all" class="check-label">전체</label>
                            </div>
                            <div class="content-inline">
                                <input type="radio" id="write_memberall" value="memberall" name="auth_write" formControlName="auth_write" />
                                <label for="write_memberall">회원</label>
                            </div>
                                ( &nbsp;
                                <input type="checkbox" id="a3"/><label for="a3" class="table-check-label">&nbsp; 일반</label>
                                <input type="checkbox" id="a4"/><label for="a4" class="table-check-label">VVIP</label>
                                <input type="checkbox" id="a5"/><label for="a5" class="table-check-label">tvingKING</label>
                                <input type="checkbox" id="a6"/><label for="a6" class="table-check-label">VIP &nbsp; )</label>
                            <div class="content-inline">
                                <input type="radio" id="write_admin" value="admin" name="auth_write" formControlName="auth_write" />
                                <label for="write_admin" class="check-label">관리자</label>
                            </div>
                        </td>
                        <td>권한있음</td>
                    </tr>
                    <tr>
                        <td>작성 권한 - 답글</td>
                        <td>
                            <div class="content-inline">
                                <input type="radio" id="auth_reply_use_y" value="Y" name="auth_reply_use" formControlName="auth_reply_use" />
                                <label for="auth_reply_use_y" class="check-label">사용</label>
                            </div>
                            <div class="content-inline">
                                <input type="radio" id="auth_reply_use_n" value="N" name="auth_reply_use" formControlName="auth_reply_use" />
                                <label for="auth_reply_use_n">미사용</label>
                            </div>
                        </td>
                        <td class="align-left square-checkbox">
                            <div class="content-inline">
                                <input type="radio" id="rply_all" value="all" name="auth_reply" formControlName="auth_reply" />
                                <label for="rply_all" class="check-label">전체</label>
                            </div>
                            <div class="content-inline">
                                <input type="radio" id="rply_memberall" value="memberall" name="auth_reply" formControlName="auth_reply" />
                                <label for="rply_memberall">회원</label>
                            </div>
                                ( &nbsp;
                                <input type="checkbox" id="a3"/><label for="a3" class="table-check-label">&nbsp; 일반</label>
                                <input type="checkbox" id="a4"/><label for="a4" class="table-check-label">VVIP</label>
                                <input type="checkbox" id="a5"/><label for="a5" class="table-check-label">tvingKING</label>
                                <input type="checkbox" id="a6"/><label for="a6" class="table-check-label">VIP &nbsp; )</label>
                            <div class="content-inline">
                                <input type="radio" id="rply_admin" value="admin" name="auth_reply" formControlName="auth_reply" />
                                <label for="rply_admin" class="check-label">관리자</label>
                            </div>
                        </td>
                        <td>사용시 권한 있음</td>
                    </tr>
                    <tr>
                        <td>작성 권한 - 댓글</td>
                        <td>
                            <div class="content-inline">
                                <input type="radio" id="auth_cmt_use_y" value="Y" name="auth_cmt_use" formControlName="auth_cmt_use" />
                                <label for="auth_cmt_use_y" class="check-label">사용</label>
                            </div>
                            <div class="content-inline">
                                <input type="radio" id="auth_cmt_use_n" value="N" name="auth_cmt_use" formControlName="auth_cmt_use" />
                                <label for="auth_cmt_use_n">미사용</label>
                            </div>
                        </td>
                        <td class="align-left square-checkbox">
                            <div class="content-inline">
                                <input type="radio" id="auth_cmt_all" value="all" name="auth_cmt" formControlName="auth_cmt" />
                                <label for="auth_cmt_all" class="check-label">전체</label>
                            </div>
                            <div class="content-inline">
                                <input type="radio" id="auth_cmt_memberall" value="memberall" name="auth_cmt" formControlName="auth_cmt" />
                                <label for="auth_cmt_memberall">회원</label>
                            </div>
                                ( &nbsp;
                                <input type="checkbox" id="a3"/><label for="a3" class="table-check-label">&nbsp; 일반</label>
                                <input type="checkbox" id="a4"/><label for="a4" class="table-check-label">VVIP</label>
                                <input type="checkbox" id="a5"/><label for="a5" class="table-check-label">tvingKING</label>
                                <input type="checkbox" id="a6"/><label for="a6" class="table-check-label">VIP &nbsp; )</label>
                            <div class="content-inline">
                                <input type="radio" id="auth_cmt_admin" value="admin" name="auth_cmt" formControlName="auth_cmt" />
                                <label for="auth_cmt_admin" class="check-label">관리자</label>
                            </div>
                        </td>
                        <td>사용시 권한 있음</td>
                    </tr>
                    <!-- <tr>
                        <td>작성 권한 - 글 평가</td>
                        <td>
                            <div class="content-inline">
                                <input type="radio" id="auth_reply_y" value="y" name="auth_reply" formControlName="auth_reply" />
                                <label for="auth_reply_y" class="check-label">사용</label>
                            </div>
                            <div class="content-inline">
                                <input type="radio" id="auth_reply_n" value="n" name="auth_reply" formControlName="auth_reply" />
                                <label for="auth_reply_n">미사용</label>
                            </div>
                        </td>
                        <td>
                            읽기 권한과 같음 (회원전용)
                        </td>
                        <td>사용시 권한 있음</td>
                    </tr>
                    <tr>
                        <td>작성 권한 - 댓글 평가</td>
                        <td>
                            <div class="content-inline">
                                <input type="radio" id="auth_reply_y" value="y" name="auth_reply" formControlName="auth_reply" />
                                <label for="auth_reply_y" class="check-label">사용</label>
                            </div>
                            <div class="content-inline">
                                <input type="radio" id="auth_reply_n" value="n" name="auth_reply" formControlName="auth_reply" />
                                <label for="auth_reply_n">미사용</label>
                            </div>
                        </td>
                        <td>
                            댓글 작성 권한과 같음 (회원전용)
                        </td>
                        <td>사용시 권한 있음</td>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="title-bar">
        <div class="title"><img src="/assets/img/group-5-copy-3.svg"/>작성</div>
    </div> -->
    <div class="section">
        <div class="content-wrap">
            <div class="sub-title-bar">
                <img src="/assets/img/03-3-order.svg" />
                기타 설정
                <img class="pop-over" src="/assets/img/group-7.svg" />
            </div>
            <!-- <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>자동등록방지 문자
                </div>
                <div class="content">
                    <div class="content-inline">
                        <input type="radio" id="autowrite_use_y" value="Y" name="autowrite_use" formControlName="autowrite_use" />
                        <label for="autowrite_use_y" class="check-label">사용</label>
                    </div>
                    <div class="content-inline">
                        <input type="radio" id="autowrite_use_n" value="N" name="autowrite_use" formControlName="autowrite_use" />
                        <label for="autowrite_use_n" class="check-label">미사용</label>
                    </div>
                </div>
            </div> -->
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>비밀글 기능
                </div>
                <div class="content">
                    <div class="content-inline">
                        <input type="radio" id="secret_use_y" value="Y" name="secret_use" formControlName="secret_use" />
                        <label for="secret_use_y" class="check-label">사용 (비밀글 선택)</label>
                    </div>
                    <div class="content-inline">
                        <input type="radio" id="secret_use_a" value="A" name="secret_use" formControlName="secret_use" />
                        <label for="secret_use_a" class="check-label">사용 (무조건 비밀글)</label>
                    </div>
                    <div class="content-inline">
                        <input type="radio" id="secret_use_n" value="N" name="secret_use" formControlName="secret_use" />
                        <label for="secret_use_n" class="check-label">미사용</label>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>분류
                </div>
                <div class="content-table">
                    <table>
                        <colgroup>
                            <col width="10%" />
                            <col width="40%" />
                            <col width="10%" />
                        </colgroup>
                        <tr>
                            <th>순서</th>
                            <th>분류명</th>
                            <th><img class="clickable" src="/assets/img/pl.svg" /></th>
                        </tr>
                        <tr>
                            <td><img src="/assets/img/drag.svg" /></td>
                            <td>
                                <input type="text" class="form-control search-input big-input">
                            </td>
                            <td><img src="/assets/img/mi.svg" /></td>
                        </tr>
                        <tr>
                            <td><img src="/assets/img/drag.svg" /></td>
                            <td>
                                <input type="text" class="form-control search-input big-input">
                            </td>
                            <td><img src="/assets/img/mi.svg" /></td>
                        </tr>
                    </table>
                    <div class="content-table-caption">
                        <img src="/assets/img/drag.svg" />
                        드래그하여 순서 변경
                        <span>** 분류는 반드시 사용할 필요는 없으며, 등록된 게시물을 구별할 필요가 있는 게시판의 경우에만 사용하시길 권장드립니다.</span>
                    </div>
                </div>
            </div>
            <!-- <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>PC/태블릿用 최초 글 작성 시 안내문구
                </div>
                <div class="textarea-wrap">
                    <textarea></textarea>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>모바일用 최초 글 작성 시 안내문구
                </div>
                <div class="textarea-wrap">
                    <textarea></textarea>
                </div>
            </div> -->
        </div>
        <!-- <div class="content-wrap">
            <div class="sub-title-bar">
                <img src="/assets/img/03-3-order.svg" />
                동영상
                <span>** 동영상 기능을 사용하기 위해서는 설정> 동영상에서 세팅정보를 설정해 주셔야 합니다!</span>
                <img class="pop-over" src="/assets/img/group-7.svg" />
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>사용여부
                </div>
                <div class="content">
                    <div class="content-inline">
                        <input type="radio" id="video_use_y" value="Y" name="video_use" formControlName="video_use" />
                        <label for="video_use_y" class="check-label">사용</label>
                    </div>
                    <div class="content-inline">
                        <input type="radio" id="video_use_n" value="N" name="video_use" formControlName="video_use" />
                        <label for="video_use_n" class="check-label">미사용</label>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>동영상 인코딩
                </div>
                <div class="content">
                    <div class="content-inline">
                        품질 : <input type="number" class="form-control search-input small-input" name="video_type" formControlName="video_type"/>kbps
                        <span class="input-detail">**200,400(기본),600,800,1000 </span>&emsp; /  &emsp;

                        크기 : <input type="number" class="form-control search-input small-input" />
                        X <input type="number" class="form-control search-input small-input" />Pixel
                        <span class="input-detail">**320X240,400X300,640X480,720X480</span>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>동영상 화면크기
                </div>
                <div class="content">
                    <div class="content-inline">
                        PC/테블릿용 : <input type="number" class="form-control search-input small-input" />
                        X <input type="number" class="form-control search-input small-input" />Pixel&emsp;  /  &emsp;

                        모바일용 : <input type="number" class="form-control search-input small-input" />
                        X <input type="number" class="form-control search-input small-input" />Pixel
                        <span class="input-detail">**320X240,400X300,640X480,720X480</span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>


    <!-- <div class="title-bar">
        <div class="title"><img src="/assets/img/group-5-copy-3.svg"/>보기</div>
    </div> -->
    <div class="section">
        <!-- <div class="content-wrap">
            <div class="sub-title-bar">
                <img src="/assets/img/03-3-order.svg" />
                작성자
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>사용자
                </div>
                <div class="content-table">
                    <table>
                        <colgroup>
                            <col width="260px" />
                            <col width="7%" />
                            <col width="36%" />

                            <col width="7%" />
                            <col width="36%" />
                        </colgroup>
                        <tr>
                            <th rowspan="8">작성자 표시</th>

                            <th>선택</th>
                            <th class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    회원
                                </div>
                                <div class="inner-two-line-content align-left">
                                    비회원
                                </div>
                            </th>

                            <th>선택</th>
                            <th class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    회원
                                </div>
                                <div class="inner-two-line-content align-left">
                                    비회원
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show1" value="ID" name="write_show" formControlName="write_show" />
                                    <label for="write_show1" class="check-label"></label>
                                </div>
                            </td>
                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    아이디 4자리 (등급)
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름 (비회원)
                                </div>
                            </td>

                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show2" value="ID-NAME" name="write_show" formControlName="write_show" />
                                    <label for="write_show2" class="check-label"></label>
                                </div>
                            </td>

                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    이름 (아이디 4자리, 등급)
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름 (비회원)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show3" value="ID-NONE" name="write_show" formControlName="write_show" />
                                    <label for="write_show3" class="check-label"></label>
                                </div>
                            </td>
                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    아이디 4자리
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름 (비회원)
                                </div>
                            </td>

                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show4" value="ID-NAME-NONE" name="write_show" formControlName="write_show" />
                                    <label for="write_show4" class="check-label"></label>
                                </div>
                            </td>

                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    이름 (아이디 4자리, 등급)
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름 (비회원)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show5" value="NAME" name="write_show" formControlName="write_show" >
                                    <label for="write_show5" class="check-label"></label>
                                </div>
                            </td>
                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    이름 (등급)
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름 (비회원)
                                </div>
                            </td>

                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show6" value="ID-NAME" name="write_show" formControlName="write_show" >
                                    <label for="write_show6" class="check-label"></label>
                                </div>
                            </td>

                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    이름 (아이디 4자리, 등급)
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름 (비회원)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show7" value="NAME-NONE" name="write_show" formControlName="write_show" >
                                    <label for="write_show7" class="check-label"></label>
                                </div>
                            </td>
                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    이름
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름
                                </div>
                            </td>

                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show8" value="ID-NAME" name="write_show" formControlName="write_show" >
                                    <label for="write_show8" class="check-label"></label>
                                </div>
                            </td>

                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    이름 (아이디 4자리)
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show9" value="NIC" name="write_show" formControlName="write_show" >
                                    <label for="write_show9" class="check-label"></label>
                                </div>
                            </td>
                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    닉네임 (등급)
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름 (비회원)
                                </div>
                            </td>

                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show10" value="ID-NIC" name="write_show" formControlName="write_show" >
                                    <label for="write_show10" class="check-label"></label>
                                </div>
                            </td>

                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    닉네임 (아이디 4자리, 등급)
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름 (비회원)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show11" value="NIC-NONE" name="write_show" formControlName="write_show" >
                                    <label for="write_show11" class="check-label"></label>
                                </div>
                            </td>
                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    닉네임
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름
                                </div>
                            </td>

                            <td>
                                <div class="table-radio">
                                    <input type="radio" id="write_show12" value="ID-NIC-NONE" name="write_show" formControlName="write_show" >
                                    <label for="write_show12" class="check-label"></label>
                                </div>
                            </td>

                            <td class="inner-two-line-table">
                                <div class="inner-two-line-content align-left">
                                    닉네임 (아이디 4자리)
                                </div>
                                <div class="inner-two-line-content align-left">
                                    이름
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-left" colspan="6">
                                <div>
                                    <span>이름 :</span>
                                    <div class="content-inline">
                                        <input type="radio" id="show_name_type1" value="HID" name="show_name_type" formControlName="show_name_type" >
                                        <label for="show_name_type1" class="check-label">홍*동</label>
                                    </div>
                                    <div class="content-inline">
                                        <input type="radio" id="show_name_type2" value="ALL" name="show_name_type" formControlName="show_name_type" >
                                        <label for="show_name_type2" class="check-label">홍길동</label>
                                    </div>
                                </div>
                                <div>
                                    <span>닉네임 :</span>
                                    상기 이름 설정과 동일. 회원의 닉네임이 없을 경우
                                </div>
                                <div>
                                    <span>등급 :</span>
                                    <div class="content-inline">
                                        <input type="radio" id="show_grade_type1" value="TXT" name="show_grade_type" formControlName="show_grade_type" >
                                        <label for="show_grade_type1" class="check-label">등급명 텍스트</label>
                                    </div>
                                    <div class="content-inline">
                                        <input type="radio" id="show_grade_type2" value="IMG" name="show_grade_type" formControlName="show_grade_type" >
                                        <label for="show_grade_type2" class="check-label">등급명 이미지</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>회원가입일</th>
                            <td class="align-left" colspan="6">
                                <div class="square-checkbox">
                                    <input type="checkbox" id="regit" value="regit" name="writer_date" formControlName="writer_date" />
                                    <label for="regit" class="check-label">회원가입일 노출</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>최종방문일</th>
                            <td class="align-left" colspan="6">
                                <div class="square-checkbox">
                                    <input type="checkbox" id="login" value="login" name="writer_date" formControlName="writer_date" />
                                    <label for="login" class="check-label">최종방문일 노출</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>관리자
                </div>
                <div class="content-table">
                    <table>
                        <colgroup>
                            <col width="260px" />
                            <col width="30%" />
                        </colgroup>
                        <tr>
                            <th>작성자 표시</th>
                            <td class="align-left" colspan="6">
                                <div class="content-inline">
                                    <input type="radio" id="write_admin_type_T" value="TXT" name="write_admin_type" formControlName="write_admin_type" />
                                    <label for="write_admin_type_T" class="check-label">텍스트</label>
                                </div>
                                <input type="text" class="form-control search-input small-input" name="write_admin" formControlName="write_admin" />
                                <span>**관리자명 치환코드 	&#123;=adminname&#125;</span>

                                <div>
                                    <input type="radio" id="write_admin_type_I" value="IMG" name="write_admin_type" formControlName="write_admin_type" />
                                    <label for="write_admin_type_I" class="check-label">
                                        이미지 <img src=""> 관리자
                                        표시합니다.
                                    </label>
                                    <button>변경</button>
                                    <span>**(gif, jpg, jpeg, png 만 가능)</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>작성일시</th>
                            <td class="align-left" colspan="6">
                                <div class="content-inline square-checkbox">
                                    <input type="checkbox" id="grade-type1" />
                                    <label for="grade-type1" class="check-label">글 작성(댓글,답변 포함)시 작성일시 노출</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> -->
        <!-- <div class="content-wrap">
            <div class="sub-title-bar">
                <img src="/assets/img/03-3-order.svg" />
                게시글/댓글 평가
                <span>** “ 작성권한-글평가” “작성권한-댓글평가” 가 사용함으로 선택시에만 설정이 가능</span>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>게시글 평가
                </div>
                <div class="content">
                    <div class="content-inline">
                        <input type="radio" id="recommend_type_1" value="1" name="recommend_type" formControlName="recommend_type" />
                        <label for="recommend_type_1" class="check-label">추천/비추천</label>
                    </div>
                    <div class="content-inline">
                        <input type="radio" id="recommend_type_2" value="2" name="recommend_type" formControlName="recommend_type" />
                        <label for="recommend_type_2" class="check-label">추천</label>
                    </div>
                    <div class="content-inline">
                        <input type="radio" id="recommend_type_3" value="3" name="recommend_type" formControlName="recommend_type" />
                        <label for="recommend_type_3" class="check-label">5단계평가</label>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>댓글 평가
                </div>
                <div class="content">
                    <div class="content-inline">
                        <input type="radio" id="cmt_recommend_type_1" value="1" name="cmt_recommend_type" formControlName="cmt_recommend_type" />
                        <label for="cmt_recommend_type_1" class="check-label">추천/비추천</label>
                    </div>
                    <div class="content-inline">
                        <input type="radio" id="cmt_recommend_type_2" value="2" name="cmt_recommend_type" formControlName="cmt_recommend_type" />
                        <label for="cmt_recommend_type_2" class="check-label">추천</label>
                    </div>
                </div>
            </div>
         </div> -->
         <div class="content-wrap">
            <div class="sub-title-bar">
                <img src="/assets/img/03-3-order.svg" />
                리스트
            </div>

            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>페이지당 노출수
                </div>
                <div class="content">
                    <input type="text" class="form-control search-input small-input"
                    name="pagenum" formControlName="pagenum" />개
                </div>
            </div>
            <!-- <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>리스트 이미지 사이즈
                </div>
                <div class="content">
                    <input type="text" class="form-control search-input small-input"
                    name="gallery_list_w" formControlName="gallery_list_w" />

                    X <input type="text" class="form-control search-input small-input"
                    name="gallery_list_h" formControlName="gallery_list_h" /> 으로 리사이징
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>표시항목
                </div>
                <div class="content">
                    <div class="content-inline square-checkbox">
                        <input type="checkbox" id="title-size" name="list_show" formControlName="list_show" />
                        <label for="title-size" class="check-label">제목</label>

                        <input type="text" class="form-control search-input small-input" /> 글자
                    </div>
                    <div class="content-inline square-checkbox">
                        <input type="checkbox" id="number" />
                        <label for="number" class="check-label">번호</label>
                    </div>
                    <div class="content-inline square-checkbox">
                        <input type="checkbox" id="number" />
                        <label for="number" class="check-label">작성자</label>
                    </div>
                    <div class="content-inline square-checkbox">
                        <input type="checkbox" id="number" />
                        <label for="number" class="check-label">등록일</label>
                    </div>
                    <div class="content-inline square-checkbox">
                        <input type="checkbox" id="number" />
                        <label for="number" class="check-label">조회수</label>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>댓글 평가
                </div>
                <div class="content">
                    <div class="content-inline">
                        <input type="radio" id="number" />
                        <label for="number" class="check-label">추천/비추천</label>
                    </div>
                    <div class="content-inline">
                        <input type="radio" id="number" />
                        <label for="number" class="check-label">추천</label>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>NEW 아이콘
                </div>
                <div class="content">
                    등록한지
                    <input type="text" class="form-control search-input small-input" name="icon_new_day" formControlName="icon_new_day" />
                    일 이내의 글에 <img src="/assets/img/bitmap (2).png" /> 아이콘 사용
                    <button>변경</button>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>HOT 아이콘
                </div>
                <div class="content">
                    조회수
                    <input type="text" class="form-control search-input small-input" name="icon_hot_visit" formControlName="icon_hot_visit" />
                    회 이상의 글에 <img src="/assets/img/bitmap.png" /> 아이콘 사용
                    <button>변경</button>
                </div>
            </div> -->
        </div>
    </div>

    <bo-submit-button-form></bo-submit-button-form>

</form>
