<bo-page-header [imgUrl]="'assets/img/goods-header.svg'" [title]="'판매자상품관리'">
    <!-- <bo-page-button-config *ngIf="!appConfig.isProvider" id = "id-goods-btn-create1"
        [title] = "'판매자상품관리'"
        [styleType] = "'square-m-grey-btn'"
        (click) = "createItem({contentType : contentType})">
    </bo-page-button-config> -->
    <!-- <bo-page-button-config
        id = "id-export-excel-download"
        [title]="'일괄상품등록/수정'"
        [styleType] = "'square-s-white-btn'"
        [imgUrl]="'assets/img/excel-icon.svg'"
        (click) = "onClickGotoBatchGoods()"
        >
    </bo-page-button-config>
   
    <bo-page-button-config *ngIf="!appConfig.isProvider" id = "id-goods-btn-create2"
        [title] = "'입점사 상품등록'"
        [styleType] = "'square-m-grey-btn'"
        (click) = "createItem({provider: 'provider' , contentType : contentType})">
    </bo-page-button-config> -->
</bo-page-header>

<div class="list-section">
    <goods-query-form [setQuery]="query"(query)="reloadWithQuery($event)"></goods-query-form>
   
    <bo-page-padding></bo-page-padding>

    <div class="list-wrap-se">
        <div style="margin: auto; max-width: 100%; margin-bottom: 50px;">
            <data-table #bsDatatable
                headerTitle="datatable"
                [header]="true"
                [items]="items"
                [itemCount]="itemCount"
                [indexColumn]="false"
                [selectColumn]="true"
                [sortBy] = "'goods_seq'"
                (reload)="reloadItems($event)">

                <data-table-column
                    [property]="'goods_seq'"
                    [header]="'아이디'"
                    [width]="86">
                </data-table-column>

                <data-table-column
                    [property]="'price_mid'"
                    [header]="'가격비교MID'"
                    [width]="82">
                </data-table-column>

                <data-table-column
                    [property]="'content_mid'"
                    [header]="'컨텐츠MID'"
                    [width]="82">
                </data-table-column>

                <data-table-column
                    [property]="'option_mid'"
                    [header]="'옵션MID'"
                    [width]="82">
                </data-table-column>

                <!-- <data-table-column
                        [property]="'member_seq'"
                        [header]="'회원'"
                        [width]="82">
                            <ng-template #dataTableCell let-item="item.member">
                                <div><span class="userid_bold">{{item.userid}}</span>({{item.member_seq}}/{{item.nickname}})</div>
                            </ng-template>                              
                </data-table-column> -->

                <data-table-column
                        [property]="'goods_name'"
                        [header]="'상품명'"
                        [width]="86">       
                </data-table-column>
                
                <data-table-column
                    [property]="'goods_price'"
                    [header]="'상품가격'"
                    [width]="100"
                    [sortable]="true">
                    <ng-template #dataTableCell let-item="item">
                        <div>{{item.goods_price| number}}</div>
                    </ng-template>
                </data-table-column>


                <data-table-column
                    [property]="'goods_platform'"
                    [header]="'플랫폼'"
                    [width]="50">                    
                </data-table-column>

                <data-table-column
                    [property]="'store_name'"
                    [header]="'스토어명'"
                    [width]="140">                  
                </data-table-column>

                <data-table-column
                    [property]="'categories'"
                    [header]="'상품카테고리명'"
                    [width]="82">
                </data-table-column>

                <data-table-column
                    [property]="'goods_uri'"
                    [header]="'제품상세페이지'"
                    [width]="100">                 
                </data-table-column>
                
                <data-table-column
                [property]="'is_ad'"
                [header]="'외부광고여부'"
                [width]="82">
                <ng-template #dataTableCell let-item="item">
                    <div *ngIf="item.is_ad == 'Y'">Y</div>
                    <div *ngIf="item.is_ad == 'N'">N</div>
                </ng-template>
            </data-table-column>   


            </data-table>
    </div>
</div>
