<div class="crm-consult">
  <div class="top-box">
    <div class="consult-title-box">
      <img src="assets/img/consult/consult-title.svg"/><span>상담관리</span>
    </div>
  </div>
  <div class="consult-content">
      <div class="consult-item">
        <label>상담자:</label>
        관리자
      </div>
      <div class="consult-item">
          <label>처리여부</label>
          <select class="form-selectbox crm-textbox"><option></option></select>
      </div>
      <div class="consult-item">
          <label>주문번호</label>
          <input type="text" class="crm-input crm-textbox"/>
      </div>
      <div class="consult-item">
        <label>출고번호</label>
         <input type="text" class="crm-input crm-textbox"/>
      </div>
      <div class="consult-item">
          <label>상담내용</label>
          <textarea class="crm-textbox crm-textarea"></textarea>
      </div>
    </div>
    <bo-page-button class="crm-btn-area" [type]="'square-m-darknavy1'" [title]="'등록'"></bo-page-button>
</div> 
<div class="crm-consult">
    <div class="top-box btm-box">
      <div class="consult-title-box ">
        <img src="assets/img/consult/consult-title.svg"/><span>악성내역</span>
      </div>
    </div>
    <bo-page-button class="crm-btn-area" [type]="'square-m-darknavy1'" [title]="'등록'"></bo-page-button>
    <p class="btm-text">악성고객이 아닙니다.</p>
</div>