:host {
    width: 212px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.bo-header{
    height: 66px;
    padding: 0 17px 0 0;
    margin: auto 0;
    line-height: 63px;
    width: 100%;
    background-color: #062033 !important;
}
.crm-consult .top-box {
    padding: 25px 25px 16px 14px;
    border-bottom: solid 1px #c1c1c1;
}
.crm-consult .top-box .consult-title-box img {
    position: relative;
    top: -3px;
}
.crm-consult .top-box .consult-title-box span {
    color: #062033;
    font-size: 18px;
    padding-left: 8px;
    font-weight: bold;
}
.crm-consult .consult-content {
    padding: 14px 14px 13px 14px;
}
.crm-consult .consult-content .consult-item {
    padding-bottom: 10px;
}
.crm-consult .consult-content .crm-textbox{
    width: 156px;
    margin: 0;
}
.crm-consult .consult-content .crm-input {
    padding: 5px;
}
.crm-consult .consult-content .crm-textarea {
    height: 256px;
    padding: 10px;
    resize: none;
    overflow: hidden;
}
.crm-consult .consult-content label {
    color: #7c7c7c;
    font-size: 13px;
}
.crm-consult .crm-btn-area {
    margin: 0 6px;
}
.crm-consult .btm-box {
    padding: 34px 14px 10px 14px;
    margin-bottom: 8px;
}
.crm-consult .btm-text {
    padding: 10px 14px;
    font-size: 13px;
}