@charset "UTF-8";

:host {
  width:100%;
  min-width:1440px;
  /* display: flex; */
}

board-side{
    width: 212px;
    background: #3a3a3a;
    box-shadow: 0 0 4px 0 ,rgba(0,0,0,0.5);
    display: inline-flex;
    height: 100%;
}
/* bs-header{
    height: 66px;
    padding: 0;
    margin: 0;
} */
/* .router-outlet{
    width: 100%;
    height: 100%;
}  */

div.outlet-section{
    width:calc(100% - 245px);
    min-width: calc(1440px - 212px);
    height: -webkit-fill-available;
    display: inline-block;
    float: left;
}
html, body
{
    height: 100%;
    min-width: calc(1440px);
    font-family: "Noto Sans KR" , sans-serif;
}


.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: +2000;
    top: 0;
    left: 0;
    }
    .preloader .container-fluid {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1450px;
      max-height: 700px;
    }

  .spinner {
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    margin-top: -40px;

    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    position: relative;
    }
    .spinner span {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      display: block;
      position: absolute;
      opacity: 0.7;
    }
    .spinner .ball-1 {
      z-index: 4;
      background-color: #ff0000;
      left: -20px;
      -webkit-transform: translate(50%, 50%) scale(0.5);
      -webkit-animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
      animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
    }
    .spinner .ball-2 {
      z-index: 3;
      background-color: #ff0000;
      left: -20px;
      -webkit-transform: translate(50%, 50%) scale(0.5);
      -webkit-animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
      animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
    }
    .spinner .ball-3 {
      z-index: 2;
      background-color: #ff0000;
      left: -20px;
      -webkit-transform: translate(50%, 50%) scale(0.5);
      -webkit-animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
      animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
    }
    .spinner .ball-4 {
      z-index: 1;
      background-color: #ff0000;
      left: -20px;
      -webkit-transform: translate(50%, 50%) scale(0.5);
      -webkit-animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
      animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
    }

  @-webkit-keyframes animateSway {
    0% { left: -20px }
    50% { left: 20px }
    100% { left: -20px }
  }

  @keyframes animateSway {
    0% { left: -20px }
    50% { left: 20px }
    100% { left: -20px }
  }

  @-webkit-keyframes animateScale {
    0% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    25% { -webkit-transform: translate(50%, 50%) scale(1); z-index: +1 }
    50% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    75% { -webkit-transform: translate(50%, 50%) scale(0.25); z-index: -2 }
    100% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
  }

  @keyframes animateScale {
    0% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    25% { transform: translate(50%, 50%) scale(1); z-index: +1 }
    50% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    75% { transform: translate(50%, 50%) scale(0.25); z-index: -2 }
    100% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
  }
.top-menu-alarm {
    background-color: #c10000;
    border-radius: 7px;
    height: 14px;
    width: 31px;
    position: relative;
    top: -57px;
    font-size: 12px;
    margin: 0 auto;
}
.top-menu-number {
    height: 14px;
    line-height: 13px;
    width: 100%;
    text-align: center;
}

app-crm {
    width: 100%;
    height: 100%;
}
app-member {
  width: 100%;
}

:host ::ng-deep .preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: +2000;
  top: 0;
  left: 0;
}
:host ::ng-deep .preloader .container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1450px;
  max-height: 700px;
}
:host ::ng-deep .spinner2 {
  top: 50%;
  left: 50%;
  z-index: 1;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  margin-top: -40px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
}
:host ::ng-deep .spinner2 span {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: block;
  position: absolute;
  opacity: 0.7;
}
:host ::ng-deep .spinner2 .ball-1 {
  z-index: 4;
  background-color: #ff0000;
  left: -20px;
  -webkit-transform: translate(50%, 50%) scale(0.5);
  -webkit-animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
  animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
}
:host ::ng-deep .spinner2 .ball-2 {
  z-index: 3;
  background-color: #ff0000;
  left: -20px;
  -webkit-transform: translate(50%, 50%) scale(0.5);
  -webkit-animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
  animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
}
:host ::ng-deep .spinner2 .ball-3 {
  z-index: 2;
  background-color: #ff0000;
  left: -20px;
  -webkit-transform: translate(50%, 50%) scale(0.5);
  -webkit-animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
  animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
}
:host ::ng-deep .spinner2 .ball-4 {
  z-index: 1;
  background-color: #ff0000;
  left: -20px;
  -webkit-transform: translate(50%, 50%) scale(0.5);
  -webkit-animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
  animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
}

@-webkit-keyframes animateSway {
  0% { left: -20px }
  50% { left: 20px }
  100% { left: -20px }
}
@keyframes animateSway {
  0% { left: -20px }
  50% { left: 20px }
  100% { left: -20px }
}
@-webkit-keyframes animateScale {
  0% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
  25% { -webkit-transform: translate(50%, 50%) scale(1); z-index: +1 }
  50% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
  75% { -webkit-transform: translate(50%, 50%) scale(0.25); z-index: -2 }
  100% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
}
@keyframes animateScale {
  0% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
  25% { transform: translate(50%, 50%) scale(1); z-index: +1 }
  50% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
  75% { transform: translate(50%, 50%) scale(0.25); z-index: -2 }
  100% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
}
