<!--

  여기는 로딩, 스킨테마와 상관없는 scrroll-top, float box

-->

<!-- <div class="m-page-loader m-page-loader--non-block" style="margin-left: -80px; margin-top: -20px;">
	<div class="m-blockui">
		<span>
			Please wait...
		</span>
		<span>
			<div class="m-loader m-loader--brand"></div>
		</span>
	</div>
</div> -->
<!--
<bs-header></bs-header> -->
<ng4-loading-spinner [template]="loadingTemplete" [threshold]="1000"></ng4-loading-spinner>
<!-- <div style="width:100%; display: flex;background-color: red"> -->
	<router-outlet class="no-print"></router-outlet>
<!-- </div> -->

<!--
<app-scroll-top></app-scroll-top>
<app-quick-sidebar></app-quick-sidebar>
<app-tooltips></app-tooltips> -->

