<form [formGroup]="bsForm" (ngSubmit)="submit()"  class="form-area" >
   
    <div class="section">
        <div class="content-wrap two-line-content">
            <bs-title-label-ctrl
                [formGroup]="bsForm"
                [title]="'기본 정보'"
                [description]="'기본 정보를 입력하세요'">
            </bs-title-label-ctrl>

            <!-- 계정 상태-->
            <div class="content-block">
                <div class="content-box">
                    <div class="content-title">
                        <span style="padding-right:25px;">계정 상태</span>
                    </div>
                    <div class="content"  *ngIf="id && !isMaster">
                        <span *ngIf="data?.pmember_status == 'Y'">정상</span>
                        <span *ngIf="data?.pmember_status == 'N'">종료</span>
                    </div>
                    <div class="content"  *ngIf="isMaster">
                        <select class="form-selectbox medium-input" name="pmember_status" formControlName="pmember_status" >
                                <option value="N">종료</option>
                                <option value="Y">정상</option>
                        </select>
                    </div>
                </div>
            </div>
        

            <div class="content-block">
                    <!-- <div class="content-box">
                        <div class="content-title">
                            <span>최초 입점일 </span>
                        </div>
                        <div class="content">
                            {{data?.regdate | date:'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="content-title">
                            <span>최근 변경(정상/종료)일 </span>
                        </div>
                        <div class="content" style="padding-left: 15px;">
                            {{data?.update_date | date:'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                    </div>

                    <div class="content-box">
                            <div class="content-title">
                                <span>최근 접속일 </span>
                            </div>
                            <div class="content">
                                {{data?.lastlogin_date | date:'yyyy-MM-dd HH:mm:ss'}}
                            </div>
                    </div> -->

                    <div class="content-box">
                        <div class="content-title">
                            <span>계정명</span><img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <!-- <div class="content square-checkbox"  *ngIf="appConfig.isProvider">
                           <span>{{data?.pmember_name}}</span>
                        </div> -->
                        <div class="content square-checkbox">
                            <bs-input [name]="'pmember_name'" [formGroup]="bsForm" [style]="'medium-input'" [required]="true"></bs-input>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="content-title">
                            <span>계정 ID</span><img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content">
                            <bs-input *ngIf="!id" [name]="'pmember_id'" [formGroup]="bsForm" [style]="'medium-input'"
                                [required]="true" [maxlength]="16" [minlength]="4"></bs-input>
                            <bo-page-button *ngIf="!id" [type]="'square-s-red'" (click)="onClickDuplication(bsForm.value.pmember_id)" [title]="'중복확인'"></bo-page-button>
                            <div class="two-notice" *ngIf="!id">최소 4자 이상, 최대 16자 이하</div>
                            <span *ngIf="id">{{bsForm.value.pmember_id}}</span>
                        </div>
                    </div>
                    <div class="content-box inline-content" *ngIf="!id">
                        <div class="content-title">
                            <span>계정 비밀번호</span><img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content" *ngIf="!id">
                            <div class="block-addr">
                                <div class="two-content-title">비밀번호</div>
                                <bs-input [name]="'pmember_passwd'" [type]="'password'" [formGroup]="bsForm" [style]="'medium-input'" ></bs-input>
                                <div class="two-notice">*10~20자, 영문 대소문자 또는 숫자, 특수문자 중 2가지 이상 조합</div>
                            </div>
                            <div class="block-addr">
                                <div class="two-content-title">비밀번호 확인</div>
                                <bs-input [name]="'pmember_confirm_passwd'" [type]="'password'" [formGroup]="bsForm" [style]="'medium-input'" ></bs-input>
                                <div class="two-notice">*사용가능 특수문자 &#33;&#35;&#36;&#37;&#38;&#40;&#41;&#42;&#43;&#45;&#47;&#58;&#60;&#61;&#62;&#63;&#64;&#91;&#92;&#93;&#94;&#95;&#123;&#124;&#125; </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box inline-content" *ngIf="id">
                        <div class="content-title">
                            비밀번호<img class="required-img" src="assets/img/must_txt.png"/>
                        </div>
                        <div class="content">
                            <bs-checkbox [formGroup]="bsForm"
                                [name]="'change_pw'"
                                [label]="'변경'"
                                [style]="'square-new'"
                                [value]="'Y'"
                                class="padd-btm10">
                            </bs-checkbox>

                            <div class="block-addr">
                                <div class="two-content-title">현재 비밀번호</div>
                                <bs-input [name]="'manager_passwd'" [type]="'password'" [formGroup]="bsForm" [style]="'medium-input'"
                                    [disabled]="bsForm.value.change_pw != 'Y'"></bs-input>
                                <div class="two-notice" *ngIf="!appConfig.isProvider">해당 입점사의 현재 비밀번호 대신 현재 로그인된 관리자 비밀번호를 입력하세요</div>
                                <div class="two-notice" *ngIf="appConfig.isProvider">입점사의 현재 비밀번호를 입력하세요</div>
                            </div>
                            <div class="block-addr">
                                <div class="two-content-title">비밀번호 변경</div>
                                <bs-input [name]="'pmember_passwd'" [type]="'password'" [formGroup]="bsForm" [style]="'medium-input'"
                                    [disabled]="bsForm.value.change_pw != 'Y'"></bs-input>
                                <div class="two-notice">*10~20자, 영문 대소문자 또는 숫자, 특수문자 중 2가지 이상 조합</div>
                            </div>
                            <div class="block-addr">
                                <div class="two-content-title">비밀번호 변경 확인</div>
                                <bs-input [name]="'pmember_confirm_passwd'" [type]="'password'" [formGroup]="bsForm" [style]="'medium-input'"
                                    [disabled]="bsForm.value.change_pw != 'Y'"></bs-input>
                                <div class="two-notice">*사용가능 특수문자 &#33;&#35;&#36;&#37;&#38;&#40;&#41;&#42;&#43;&#45;&#47;&#58;&#60;&#61;&#62;&#63;&#64;&#91;&#92;&#93;&#94;&#95;&#123;&#124;&#125; </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- 로그인 보안 -->
        <div class="content-wrap two-line-content">
            <bs-title-label-ctrl
                [formGroup]="bsForm"
                [title]="'계정 로그인 보안'">
            </bs-title-label-ctrl>
            <div class="content-block">
                    <div class="content-box">
                        <div class="content-title">
                                <span style="padding-right:25px;">비밀번호 변경</span>
                        </div>
                        <div class="content">
                            <div class="content-info">
                                비밀번호 변경 후 90일 경과 시 비밀번호 변경 자동 안내
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="content-title">
                                <span style="padding-right:25px;">자동 로그아웃</span>
                        </div>
                        <div class="content">
                            <div class="content-info">
                                1시간 동안 액션이 없으면 자동 로그아웃
                            </div>
                        </div>
                    </div>
                    <div class="content-box inline-content" >
                        <div class="content-title large-title" style="width: 125px;">
                            관리환경 관리페이지 접속허용 IP
                        </div>
                        <div class="content large-content">
                            <bs-checkbox [formGroup]="bsForm"
                                [name]="'ip_chk'"
                                [label]="'해당 관리자는 아래의 IP에서만 관리페이지 접속 허용'"
                                [style]="'square-new'"
                                (changeValue)="changeIP($event)"
                                [value]="'Y'"
                                [uncheckedValue]="'N'"
                                class="padd-btm10">
                            </bs-checkbox>
                            <div  formArrayName="limit_ip">
                                <div *ngFor = "let item of limitIPFormArray.controls;let i = index" [formGroupName]="i" style="padding-bottom: 5px; display: inline-block;" >
                                    <bs-input [name]="'ip1'" [formGroup]="limitIPFromGroup(i)" [style]="'small-input'" [disabled]="!ipYN"></bs-input>
                                    <bs-input [name]="'ip2'" [formGroup]="limitIPFromGroup(i)" [style]="'small-input'" [disabled]="!ipYN"></bs-input>
                                    <bs-input [name]="'ip3'" [formGroup]="limitIPFromGroup(i)" [style]="'small-input'" [disabled]="!ipYN"></bs-input>
                                    <bs-input [name]="'ip4'" [formGroup]="limitIPFromGroup(i)" [style]="'small-input'" [disabled]="!ipYN"></bs-input>

                                    <img src="/assets/img/pl.svg" style="padding: 0 20px 0 5px;" class ="clickable" *ngIf="i == 0" (click)="onClickAddIP()" />
                                    <img src="/assets/img/mi.svg" style="padding: 0 20px 0 5px;" class ="clickable" *ngIf="i != 0" (click)="onClickRemoveIP()" />
                                </div>
                            </div>
                        </div>
                        <!-- <div class="content large-content" *ngIf="appConfig.isProvider && data?.ip_chk == 'Y'">
                            <span>해당 관리자는 아래의 IP에서만 관리페이지 접속 허용</span>
                            <div formArrayName="limit_ip">
                                <div *ngFor = "let item of limitIPFormArray.controls;let i = index" [formGroupName]="i" style="padding-bottom: 5px; display: inline-block;" >
                                    <bs-input [name]="'ip1'" [formGroup]="limitIPFromGroup(i)" [style]="'small-input'" [disabled]="true"></bs-input>
                                    <bs-input [name]="'ip2'" [formGroup]="limitIPFromGroup(i)" [style]="'small-input'" [disabled]="true"></bs-input>
                                    <bs-input [name]="'ip3'" [formGroup]="limitIPFromGroup(i)" [style]="'small-input'" [disabled]="true"></bs-input>
                                    <bs-input [name]="'ip4'" [formGroup]="limitIPFromGroup(i)" [style]="'small-input'" [disabled]="true"></bs-input>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="content-box inline-content">
                        <div class="content-title large-title" style="width: 125px;">
                            관리환경 관리페이지 접속허용 휴대폰인증
                        </div>
                        <div class="content large-content">
                            <bs-checkbox [formGroup]="bsForm"
                                [name]="'hp_chk'"
                                [label]="'해당 관리자는 아래의 휴대폰번호로 인증 시 관리 페이지 접속 허용'"
                                [style]="'square-new'"
                                (changeValue)="changeHP($event)"
                                [value]="'Y'"
                                [uncheckedValue]="'N'"
                                class="padd-btm10">
                            </bs-checkbox>
                            <div formArrayName="auth_hp">
                                <div *ngFor = "let item of authHPFormArray.controls;let i = index" [formGroupName]="i" style="padding: 5px 20px 0px 0; display: inline-block;" >
                                    <bs-group-input [name]="'hp'" [formGroup]="authHPFromGroup(i)" [style]="'small-input'" [disabled]="!hpYN">
                                        <bs-input-config></bs-input-config>
                                        <bs-input-config></bs-input-config>
                                        <bs-input-config></bs-input-config>
                                    </bs-group-input>
                                    <img src="/assets/img/pl.svg" style="padding: 0 20px 0 5px;" class ="clickable" *ngIf="i == 0" (click)="onClickAddAuthHP()" />
                                    <img src="/assets/img/mi.svg" style="padding: 0 20px 0 5px;" class ="clickable" *ngIf="i != 0" (click)="onClickRemoveAuthHP(i)" />
                                </div>
                            </div>
                        </div>
                        <!-- <div class="content large-content" *ngIf="appConfig.isProvider && data?.hp_chk == 'Y'">
                            <span>해당 관리자는 아래의 휴대폰번호로 인증 시 관리 페이지 접속 허용</span><br/>
                            <div formArrayName="auth_hp">
                                <div *ngFor = "let item of authHPFormArray.controls;let i = index" [formGroupName]="i" style="padding: 5px 20px 0px 0; display: inline-block;" >
                                    <bs-group-input [name]="'hp'" [formGroup]="authHPFromGroup(i)" [style]="'small-input'">
                                        <bs-input-config></bs-input-config>
                                        <bs-input-config></bs-input-config>
                                        <bs-input-config></bs-input-config>
                                    </bs-group-input>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="content-box inline-content" >
                        <div class="content-title">
                            계정잠김설정
                        </div>
                        <div class="content" style="padding-left:15px;">
                            <div>
                                <bs-checkbox [formGroup]="bsForm"
                                    [name]="'is_account_lock'"
                                    [value]="'Y'"
                                    [style]="'square-new'"
                                    [label]="'잠금'"
                                    [uncheckedValue]="'N'">
                                </bs-checkbox>
                                <br/>
                                    <bo-date-time-input
                                        [formGroup]="bsForm"
                                        [name] = "'account_lock_start_date'"
                                        [isTime] = "true">
                                    </bo-date-time-input>
                                    ~
                                    <bo-date-time-input
                                        [formGroup]="bsForm"
                                        [name] = "'account_lock_end_date'"
                                        [isTime] = "true">
                                    </bo-date-time-input>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!--section -->
</form>





