<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'홈페이지 설정'">
    <bo-page-button-config id = "id-board-content-list-btn-create"
        [title]="'저장하기'"
        [styleType] = "'square-m-black-btn'"
        (click) = "submitOnly()">
    </bo-page-button-config>
    <!-- <bo-page-button-config id = "id-board-content-list-btn-userview"
    [title] = "'저장 후 리스트'"
    [styleType] = "'square-m-white-btn'"
    (click) = "submitAndBack()">
    </bo-page-button-config>
    <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'저장 후 화면유지'"
        [styleType] = "'square-m-white-btn'"
        (click) = "submitOnly()">
    </bo-page-button-config> -->
</bo-page-header>
<form [formGroup]="bsForm" (ngSubmit)="submitOnly()"  class="form-area" >
    <div class="section">
        <div class="content-wrap">
            <bs-title-label-ctrl
                [formGroup]="bsForm"
                [title]="'주문관리'">
            </bs-title-label-ctrl>
            <div class="content-block">
                <div class="content-box content-no-border">
                    <div class="content-title content-title-s">
                        기간설정
                    </div>
                    <div class="content">
                        <input type="radio" id="7일" value="7일" name="order_period" formControlName="order_period"/>
                        <label for="7일" class="check-label">7일</label>
                        <input type="radio" id="15일" value="15일" name="order_period" formControlName="order_period"/>
                        <label for="15일" class="check-label">15일</label>
                        <input type="radio" id="1개월" value="1개월" name="order_period" formControlName="order_period"/>
                        <label for="1개월" class="check-label">1개월</label>
                        <input type="radio" id="100일" value="100일" name="order_period" formControlName="order_period"/>
                        <label for="100일" class="check-label">100일</label>
                    </div>
                </div>
            </div>
        </div>
  </div>
</form>
