<!-- <bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'상품문의 관리 - 답변등록'">
    <bo-page-button-config id = "id-board-content-list-btn-userview"
    [title] = "'저장 후 리스트'"
    [styleType] = "'square-m-white-btn'"
    (click) = "submitAndBack()">
    </bo-page-button-config>
    <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'저장 후 화면유지'"
        [styleType] = "'square-m-white-btn'"
        (click) = "submitOnly()">
    </bo-page-button-config>
</bo-page-header>
  <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
    <div class="section">
        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'게시글 정보'"
                [description]="'게시판 기본적인 정보를 입력하세요'">
            </bs-title-label-ctrl>
            <div class="content-block">

                <div class="content-box">
                    <div class="content-title" >
                    작성자
                    </div>
                    <div class="content content-top-line">
                        {{data?.name}}
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-title">
                        등록일시
                    </div>
                    <div class="content content-top-line">
                        {{data?.regist_date | date :'yyyy-MM-dd'}}
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-title">
                        상품
                    </div>
                    <div class="content">
                        <div class="content-top-line">
                            <a target="_blank" href="{{appConfig?.clientURL+'/goods/view/' +data?.goods?.goods_seq }}">
                                <img class="thumb-image-box" [src]="data?.goods_image_list[3].image"/>
                                <div class="item-horizontal">{{data?.goods?.goods_name}}</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-title">
                        카테고리
                    </div>
                    <div class="content content-top-line">
                        <div>{{data?.category}}</div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-title">
                        비밀글
                    </div>
                    <div class="content content-top-line">
                        <div *ngIf="data?.secret == 0" style="display: none;">공개글</div>
                        <div *ngIf="data?.secret == 1 " >비밀글</div>
                    </div>
                </div>

                <div class="content-box">
                    <div class="content-title">
                    답변상태
                    </div>
                    <div class="content content-top-line">
                        <div [hidden]="!data?.re_date">답변</div>
                        <div [hidden]="data?.re_date" style="color: red;">미답변</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'문의내용'"
                [description]="'상품 문의 내용입니다.'">
            </bs-title-label-ctrl>

            <div class="content-block">

                <div class="content-box">
                        <div class="content-title">
                        제목
                        </div>
                        <div class="content content-top-line">
                            {{data?.subject}}
                        </div>
                </div>

                <div class="content-box">
                    <div class="content-title">
                    내용
                    </div>
                    <div class="content content-top-line">
                        <div class="textarea-box" [innerHTML]="data?.contents"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="content-wrap">
            <bs-title-label-ctrl
                [title]="'상품문의 답변하기'"
                [description]="'상품문의 답변 정보를 입력하세요'">
            </bs-title-label-ctrl>
            <div class="content-block">

                    <div class="content-box">
                        <div class="content-title">
                            답변작성자
                        </div>
                        <div class="content" *ngIf="data?.re_name">
                                {{data?.re_name}}({{data?.re_mid}})
                        </div>

                    </div>

                    <div class="content-box">
                            <div class="content-title">
                                답변 제목
                            </div>
                            <div class="content content-top-line">
                                <div class="textarea-box" [innerHTML]="data?.re_subject"></div>
                            </div>

                        </div>
                    <div class="content-box">
                        <div class="content-title">
                            답변 내용
                        </div>
                        <div class="content">

                                <bo-editor
                                    [name]="'re_contents'"
                                    [formGroup]="bsForm"
                                    [width]="'100%'"
                                    [height]="700">
                                </bo-editor>
                        </div>
                    </div>

            </div>
        </div>

          <bo-submit-button-form
            [hasCancelBtn]="true"
            (clickCancel)="gotoListPage()">
          </bo-submit-button-form>
    </div>
  </form> -->
