/*tabs*/
:host() {
    width: 100%;
}

/*기간조회*/
.my-filter-date {
    padding: 20px;
    margin: 0px 0 30px 0;
    height: 80px;
    font-size: 0;
    background: #f7f7f7;
}
.my-filter-date span{
    font-size: 15px;
}
.my-filter-date .filter-inline {
    display: inline-block;
    font-size: 0;
    padding: 0 20px;
    vertical-align: top;
}
.my-filter-date .filter-inline button {
    width: 63px;
    height: 40px;
    padding: 7px;
    border: none;
    font-size: 16px;
    background: #fff;
    color: #666666;
    border: 1px solid #e4e4e4;
    border-right: none;
    box-sizing: border-box;
    vertical-align: middle;
}
.my-filter-date .filter-inline .btn-border {
    /* border-right: 1px solid #e4e4e4; */
}

.my-filter-date .filter-inline button.select-day {
    background: #ea003d;
    color: #fff;
    outline: none;
}
.my-filter-date .datepicker-box {
    display: inline-block;
    padding-left: 18px;
    font-size: 0;
}
.my-filter-date .datepicker-box .bar{
    font-size: 15px;
    width: 20px;
    display: inline-block;
}
.my-filter-date .datepicker-box .my-horizontal input{
    width: 150px;
    display: inline-block;
    padding: 10px 40px 10px 10px;
    height: 40px;
    border-radius: 0;

    background: url(assets/img/my-shopping/mp_call.png) no-repeat;
    background-position: 100% 50%;
}
.my-filter-date .datepicker-box .filter-btn-area {
    display: inline-block;
}
.my-filter-date .filter-inline .add-border {
    border-right: 1px solid #e1e1e1;
}
.my-filter-date .btn {
    background: #999999;
    border-radius: 0;
    height: 39px;
    border: none;
    vertical-align: sub;
    padding: 6px 18px;
}

.bs-period-query-ctrl-head {
    text-align: center;
    background: #fff;
}
.bs-period-query-ctrl-body {
    background: #fff;
}
.form-control {
    border: 1px solid #e1e1e1;
}
@media screen and (max-width: 1767px) {
    .mobile :host{
        max-width: unset;
    }
    .mobile .new-tabs li.active {
        background: #fff;
        color: #212121;
        font-weight: bold;
    }
    .mobile .new-tabs .tab-item {
        color: #999999;
    }
    .mobile  {
        padding: 0;
    }
    .mobile .my-filter-date {
        height: initial;
        padding: 15px;
        margin: 0;
    }
    .mobile .my-filter-date .filter-inline {
        padding: 0;
        margin-bottom: 8px;
        width: 100%;
    }
    .mobile .my-filter-date .filter-inline .add-border {
        border-right: 1px solid #e1e1e1;
    }
    .mobile .my-filter-date .filter-inline button {
        width: 20%;
        height: 36px;
        padding: 0;
        font-size: 14px;
        vertical-align: top;
    }
    .mobile .my-filter-date .datepicker-box {
        padding-left: 0;
        box-sizing: border-box;
        width: 100%;
    }
    .mobile .my-filter-date .datepicker-box .bar {
        font-size: 15px;
        width: 6%;
        padding: 0 6px;
        display: inline-block;
        text-align: center;
        color: #212121;
    }
    .mobile .my-filter-date .datepicker-box .date-box{
        width: 37%;
    }
    .mobile .my-filter-date .datepicker-box .my-horizontal input{
        background-size: 16px;
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-image: url(assets/img/my-shopping/m_cal.png);
        padding: 10px 33px 10px 8px;
        height: 36px;
        width: 100%;
        font-size: 13px;
        box-sizing: border-box;
    }
    .mobile .my-filter-date .datepicker-box .filter-btn-area {
        width: 20%;
    }
    .mobile .my-filter-date .btn {
        width: 100%;
        height: 35px;
        box-sizing: border-box;
        vertical-align: sub;
    }




}
