<div class="main-box" *ifDesktop>
    <tb-header [data]="display_data"></tb-header>
    <div class="main-body">
        <!-- <chart [options]="options"></chart> -->
        <router-outlet></router-outlet>
    </div>
    <tb-footer [data]="display_data"></tb-footer>
</div>

<div class="mobile" *ifMobile style="min-height:800px">
    <div id="wrap">
        <router-outlet></router-outlet>
    </div>
    <div id="footer">
        <div class="footer-banner">
            <div class="banner-txt">
                <img src="assets/images/svg/img_main_banner_source2.svg" alt="">
                <p>
                더 다양하고 강력한 <br>
                TOPRANK의 서비스와 함께하세요!
                </p>
                <a href="#">멤버십 알아보기</a>
            </div>
            <img src="assets/images/svg/img_main_banner_source.svg" alt="">
        </div>
    </div>
</div>

