:host {
    width: 100%;
}

.item-block {
    display: flex;
    padding-bottom: 10px;
}

.grade-input {
    width: 154px;
}

.grade-btn-position {
    position: relative;
}
.check-position {
    position: relative;
    top: -9px;
    margin-right: 0px;
}
