@charset "utf-8";

/* G마켓 폰트 */
.g-num {
  font-family: 'Gmarket Sans';
}

/* 순위 관련 알약 모양 스타일 */
.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 24px;
  color: #fff;
  padding: 0.2rem 1.2rem 0 2.4rem;
  margin-left: 8px;
  padding-top: 0.4rem;
}
.pill.rise {
  background: #fc6075 url('../images/ic_fold_white_24.svg') 2px center no-repeat;
  background-size: 2.8rem;
}
.pill.fall {
  background: #2fbaed url('../images/ic_fold_white_24.svg') left center no-repeat;
  background-size: 2.8rem;
}

/* 검색한 키워드 스타일 */
.searched-keyword {
  display: flex;
  justify-content: center;
}
.searched-keyword span {
  display: inline-block;
  height: 2.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #3f37c9;
  line-height: 2.4rem;
  padding: 0 1.2rem;
  border: 1px solid #3f37c9;
  border-radius: 24px;
}


#wrap {
  background: #f7f7fc url('../images/png/m_img_bg_sub_title.png') top center no-repeat;
  background-size: contain;
}


/* =================================================================================================================== */
/* =================================================================================================================== */
/* 이용 중인 상품 영역 */
.contents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  /* margin-top: 34px; */
  padding: 0 2.4rem;
  margin-top: 8.8rem;
  margin-bottom: 2.4rem;
}
.contents-header .contents-title {
  display: flex;
  align-items: center;
}
.contents-header .contents-title img {
  width: 2.4rem;
  height: 2.4rem;
}
.contents-header .contents-title h2 {
  font-size: 1.8rem;
  color: #04021f;
  padding-left: 5px;
}
.contents-header p {
  font-size: 1.2rem;
  color: #3f37c9;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}

/* =================================================================================================================== */
/* =================================================================================================================== */
/* 탭 메뉴 */
.ranking-search-tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ranking-search-tab li {
  width: 9.3rem;
  height: 3.1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #3e4259;
  line-height: 2.8rem;
  text-align: center;
}
.ranking-search-tab li.active {
  color: #3f37c9;
  border-bottom: 2px solid #3f37c9;
}
.ranking-search-tab li:last-child {
  margin-right: 0;
}

/* =================================================================================================================== */
/* =================================================================================================================== */
/* 스토어 및 키워드 검색 */
.search-input {
  display: none;
  padding: 0 1.6rem;
  margin-top: 3.2rem;
}
.search-input.active {
  display: block;
}
.search-input label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.8rem;
}
.search-input label input {
  display: none;
}
.search-input label span {
  display: inline-block;
  width: 2.0rem;
  height: 2.0rem;
  background: url('../images/ic_checkbox_off_32.svg') center no-repeat;
  background-size: 2.0rem;
  margin-right: 0.8rem;
  cursor: pointer;
}
.search-input label input:checked + span {
  background: url('../images/ic_checkbox_on_32.svg') center no-repeat;
  background-size: 2.0rem;
}
.search-input label p {
  font-size: 1.4rem;
  color: #3e4259;
}
.search-input form {
  position: relative;
}
.search-input form input {
  width: 100%;
  height: 4.8rem;
  font-size: 1.4rem;
  font-weight: normal;
  color: #04021f;
  padding: 1.5rem 1.6rem;
  border: 0;
  outline: 0;
  border-radius: 8px;
  margin-top: 0.8rem;
  box-sizing: border-box;
  box-shadow: 0 6px 8px 0 rgba(36, 51, 179, 0.15);
}
.search-input form input::placeholder {
  color: #b8b6c4;
}
.search-input form .keyword-search-btn {
  position: absolute;
  right: 16px;
  bottom: 8px;
  width: 3.2rem;
  height: 3.2rem;
  background: url('../images/ic_search_purple_48.svg') center no-repeat;
  background-size: 3.2rem;
  text-indent: -99999em;
}

.keyword-search-input {
  position: relative;
  margin-top: 2.4rem;
  padding: 0 1.6rem;
}
.keyword-search-input form input {
  width: 100%;
  height: 4.8rem;
  font-size: 1.4rem;
  font-weight: normal;
  background: #fff;
  color: #04021f;
  border: 0;
  outline: 0;
  border-radius: 8px;
  padding: 1.5rem 5.4rem 1.5rem 1.6rem;
  box-shadow: 0 6px 8px 0 rgba(36, 51, 179, 0.15);
}
.keyword-search-input form input::placeholder {
  color: #b8b6c4;
}
.keyword-search-input .keyword-search-btn {
  position: absolute;
  right: 3.4rem;
  top: 0.7rem;
  width: 3.2rem;
  height: 3.2rem;
  background: url('../images/ic_search_purple_48.svg') center no-repeat;
  background-size: 3.2rem;
  text-indent: -9999em;
}

.line {
  width: 100%;
  height: 1px;
  background: #dcdee8;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

/* =================================================================================================================== */
/* =================================================================================================================== */
/* 검색한 결과 영역 */
.search-history-area {
  padding: 0 2.4rem;
}
.search-history {
  padding: 2.0rem 1.6rem 0.2rem;
}
.search-history-area.null .search-history {
  border-radius: 24px;
  padding: 2.0rem 1.6rem 3.2rem;
} 
.search-history .search-history-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #04021f;
  margin-bottom: 2.3rem;
}
.search-history ul li {
  position: relative;
  margin-bottom: 2.2rem;
}
.search-history ul li .searching-keyword {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  color: #3e4259;
  margin-bottom: 0.6rem;
}
.search-history ul li .searching-keyword span {
  color: #3f37c9;
}
.search-history ul li p {
  font-size: 1.2rem;
  color: #3e4259;
}
.search-history ul li .delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
}

/* 검색 기록이 비어있을 때 */
.search-history.null p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #b8b6c4;
  line-height: 1.36;
  margin: 4.4rem 0 3.2rem;
  text-align: center;
}

.popular-search {
  border-radius: 24px;
  padding: 2.0rem 1.6rem 0.2rem;
}
.popular-search .popular-search-title {
  display: flex;
  align-items: center;
  margin-bottom: 2.7rem;
}
.popular-search .popular-search-title span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #04021f;
  margin-left: 0.8rem;
  margin-right: 0.3rem;
}
.popular-search .popular-search-title .help-img {
  width: 2.0rem;
  height: 2.0rem;
}
.popular-search ol {
  counter-reset: number 0;
}
.popular-search ol li {
  font-size: 1.4rem;
  font-weight: bold;
  color: #04021f;
  margin-left: 1.6rem;
  margin-bottom: 3.0rem;
}
.popular-search ol li::before {
  counter-increment: number 1;
  content: counter(number);
  font-family: 'Gmarket Sans';
  font-size: 1.6rem;
  font-weight: 500;
  color: #3f37c9;
  margin-right: 2.0rem;
}
.popular-search ol li:last-child {
  margin-left: 1.4rem;
}
.popular-search ol li:last-child::before {
  margin-right: 1.4rem;
}

/* 팝업시 스크롤 막기 */
.scroll-lock {
  overflow: hidden;
}

/* 팝업 스타일 */
.layer-popup {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2.4rem;
  background: rgba(0, 0, 0, 0.2);
  z-index: 110;
}
.layer-popup.active {
  display: flex;
}
.layer-popup .popup-box {
  position: relative;
  width: 100%;
  padding: 0.8rem 0.8rem 2.4rem;
  margin-bottom: 0;
}
.layer-popup .popup-box .popup-header {
  position: relative;
  height: 4.0rem;
}
.layer-popup .popup-box .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  padding: 0;
}
.layer-popup .popup-contents {
  text-align: center;
}
.layer-popup .popup-contents strong {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #04021f;
  margin-bottom: 0.8rem;
}
.layer-popup .popup-contents p {
  font-size: 1.4rem;
  font-weight: normal;
  color: #04021f;
  margin-top: 0.8rem;
  line-height: 1.29;
}
.layer-popup .confirm-btn {
  width: 13.2rem;
  height: 3.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  line-height: 3.4rem;
  text-align: center;
  background: #3f37c9;
  border-radius: 8px;
  margin: 3.4rem auto 0;
  padding: 0;
}
.layer-popup .layer-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
}
.layer-popup .layer-btn-wrap > button {
  width: 13.2rem;
  height: 3.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  line-height: 3.4rem;
  text-align: center;
  border-radius: 8px;
  padding: 0;
}
.layer-popup .layer-btn-wrap > button.go-back-btn {
  background: #b8b6c4;
  margin-right: 1.2rem;
}
.layer-popup .layer-btn-wrap > button.proceed-btn {
  background: #3f37c9;
}

/* 반응형 브레이크 포인트 */
@media screen and (max-width: 375px) {
  .age-group-wrap .age-group:last-of-type {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

/* 650px 이상 767px 이하 */
@media screen and (min-width: 650px) and (max-width: 767px) {
  .keyword-search-result {
    margin-top: 15rem;
  }
  .main-tab-area {
    margin-top: 10.0rem;
  }
  .main-tab-area .main-tab li:nth-child(2)::before {
    left: 5.8rem;
    top: -2.3rem;
  }
}

/* 768px 이상 */
@media screen and (min-width: 768px) {
  .keyword-search-result {
    margin-top: 15rem;
  }
  .main-tab-area {
    margin-top: 10.0rem;
  }
  .main-tab-area .main-tab li:nth-child(2)::before {
    left: 5.8rem;
    top: -2.3rem;
  }
}

