@charset "utf-8";

/* G마켓 폰트 */
.g-num {
  font-family: 'Gmarket Sans';
}

/* 순위 관련 알약 모양 스타일 */
.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 24px;
  color: #fff;
  padding: 0.2rem 1.2rem 0 2.4rem;
  margin-left: 8px;
  padding-top: 0.4rem;
}
.pill.rise {
  background: #fc6075 url('../images/ic_up_white_24.svg') 0.6rem 0.5rem no-repeat;
  background-size: 1.6rem;
}
.pill.fall {
  background: #2fbaed url('../images/ic_down_white_24.svg') 0.6rem 0.5rem no-repeat;
  background-size: 1.6rem;
}

/* input 기본 달력 스타일 삭제 */
input[type="date"]::-webkit-clear-button, input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator { 
  background: none;
}
input[type=date]::-webkit-datetime-edit-text { -webkit-appearance: none; display: none; }
input[type=date]::-webkit-datetime-edit-month-field{ -webkit-appearance: none; display: none; }
input[type=date]::-webkit-datetime-edit-day-field { -webkit-appearance: none; display: none; }
input[type=date]::-webkit-datetime-edit-year-field { -webkit-appearance: none; display: none; }

/* 팝업시 스크롤 막기 */
.scroll-lock {
  overflow: hidden;
}

/* 검색한 키워드 스타일 */
.searched-keyword {
  display: flex;
  justify-content: center;
}
.searched-keyword span {
  display: inline-block;
  height: 2.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #3f37c9;
  line-height: 2.4rem;
  padding: 0 1.2rem;
  border: 1px solid #3f37c9;
  border-radius: 24px;
}


#wrap {
  background: #f7f7fc url('../images/png/m_img_bg_sub_title.png') top center no-repeat;
  background-size: contain;
}

#contents {
  padding-top: 6.0rem;
}

/* 마이 대시보드 버튼 스타일 */
.my-dashboard-btn {
  float: left;
  height: 2.0rem;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fff;
  text-align: center;
  line-height: 1.9rem;
  border-radius: 16px;
  background: #4d77ff;
  padding: 0 0.8rem;
}

/* 헤더 영역 */
.contents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  margin-top: 3.4rem;
  padding: 0 2.4rem;
}
.contents-header .contents-title {
  display: flex;
  align-items: center;
}
.contents-header .contents-title img {
  width: 2.4rem;
  height: 2.4rem;
}
.contents-header .contents-title h2 {
  font-size: 1.8rem;
  color: #04021f;
  padding-left: 5px;
}
.contents-header .all-view {
  font-size: 1.4rem;
  color: #3e4259;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border: 1px solid #dcdee8;
  background: #fafbff;
  border-radius: 24px;
}

.line {
  width: 100%;
  height: 1px;
  background: #dcdee8;
  margin: 1.6rem 0 2.1rem;
}

/* ================================================================================================================ */
/* ================================================================================================================ */
/* 포인트 내역 스타일 */
.point-usage-history-wrap {
  padding: 0 2.4rem;
}
.all-count {
  font-size: 1.4rem;
  font-weight: normal;
  color: #3e4259;
  margin-bottom: 2.4rem; 
}
.all-count span {
  font-weight: 500;
}
.point-history-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  margin-top: 2.4rem;
}
.point-history-option .selectbox {
  position: relative;
  /* margin-top: 1.0rem; */
}
.point-history-option .selectbox .label {
  width: 12.0rem;
  height: 4.0rem;
  font-size: 1.4rem;
  font-weight: normal;
  color: #3e4259;
  text-align: left;
  line-height: 4.0rem;
  background: #fff url('../images/ic_unfold_black_24.svg') 92.4% center no-repeat;
  border: 1px solid #dcdee8;
  outline: 0;
  border-radius: 8px;
  padding: 0 1.2rem;
  box-sizing: border-box;
}
.point-history-option .selectbox.active .label {
  background: #fff url('../images/ic_fold_black_24.svg') 92.4% center no-repeat;
}
.point-history-option .selectbox .label span {
  color: #b8b6c4;
}
.point-history-option .selectbox ul {
  display: none;
  position: absolute;
  left: 0;
  top: 3.9rem;
  width: 12.0rem;
  background: #fff;
  border: 1px solid #dcdee8;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(36, 51, 179, 0.1);
  z-index: 10;
}
.point-history-option .selectbox ul li {
  height: 4.0rem;
  font-size: 1.4rem;
  font-weight: normal;
  color: #3e4259;
  line-height: 4.0rem;
  padding: 0 1.2rem;
  box-sizing: border-box;
  cursor: pointer;
}
.point-history-option .selectbox.active ul {
  display: block;
}
.point-history-option .selectbox ul li span {
  color: #b8b6c4;
}
.point-history-option .filter-btn {
  width: 4.0rem;
  height: 4.0rem;
  background: #fff;
  border: 1px solid #dcdee8;
  border-radius: 8px;
  padding: 0;
}
.point-history-option .filter-btn img {
  vertical-align: middle;
}

.point-history-card {
  width: 100%;
  /* height: 14.4rem; */
  background: #fafbff;
  padding: 1.3rem 1.6rem 2.4rem;
  border-radius: 16px;
  box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
  margin-top: 0.8rem;
}
.point-history-card .point-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.0rem;
  border-bottom: 1px solid #dcdee8;
  margin-bottom: 1.6rem;
}
.point-history-card .point-card-header span {
  font-size: 1.4rem;
  font-weight: 500;
}
.point-history-card .point-card-header .waiting-deposit-btn {
  background: none;
  padding: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #e6458e;
}
.point-history-card .point-card-header .pay-done {
  font-size: 1.4rem;
  font-weight: bold;
  color: #b8b6c4;
}

.point-card-contents .space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.point-card-contents .point-card-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #04021f;
}
.point-card-contents .transition-point-list {
  margin: 0.6rem 0 1.4rem;
}
.point-card-contents .transition-point-list li {
  font-size: 1.4rem;
  font-weight: normal;
  color: #b8b6c4;
  margin-bottom: 0.6rem;
}
.point-card-contents .transition-point-list li:last-child {
  margin-bottom: 0;
}
.point-card-contents .point-number {
  font-size: 1.4rem;
  font-weight: normal;
  color: #3e4259;
}
.point-card-contents .point-number strong {
  font-weight: normal;
}
.point-history-contents .point-more-btn {
  width: 100%;
  height: 4.0rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #04021f;
  line-height: 4.0rem;
  background: #fafbff;
  border-radius: 12px;
  box-shadow: 0 3px 10px 0 rgba(36, 51, 179, 0.1);
  margin-top: 3.2rem;
}

/* 포인트 내역 없을 때 스타일 */
.point-usage-history-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 23.6rem;
  background: #f2f2fc;
  border-radius: 16px;
  margin-top: 2.4rem;
}
.point-usage-history-empty p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #b8b6c4;
  margin-top: 0.8rem;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* 공통 팝업 */
.m-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99999;
  display: none;
}
.m-popup .m-popup-box {
  width: 100%;
  background: #fff;
}
.m-popup.active {
  display: block;
}
.m-popup .m-popup-box .popup-header {
  position: relative;
  width: 100%;
  height: 4.8rem;
  line-height: 4.8rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #3e4259;
  text-align: center;
}
.m-popup .m-popup-box .popup-header .close-btn {
  position: absolute;
  right: 0rem;
  top: 0.4rem;
  width: 4.0rem;
  height: 4.0rem;
  background: none;
  padding: 0;
}

/* 필터 팝업 */
.filter-popup .m-popup-box .popup-header {
  color: #3f37c9;
  border-bottom: 1px solid #dcdee8;
}
.filter-popup .m-popup-box .filter-calendar-wrap {
  padding: 2.4rem 1.6rem;
  border-bottom: 1px solid #dcdee8;
}
.filter-popup .m-popup-box .filter-calendar-wrap h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3e4259;
  margin-bottom: 1.6rem;
}
.filter-calendar-wrap .date-tab {
  display: flex;
  align-items: center;
  /* border: 1px solid #dcdee8; */
  margin-bottom: 1.6rem;
  border-radius: 8px;
}
.filter-calendar-wrap .date-tab li {
  width: 8.3rem;
  height: 4.0rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #b8b6c4;
  text-align: center;
  line-height: 4.0rem;
  background: #fff;
  border: 1px solid #dcdee8;
  /* border-right: 1px solid #dcdee8; */
}
.filter-calendar-wrap .date-tab li:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.filter-calendar-wrap .date-tab li:last-child {
  /* border-right: 0; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.filter-calendar-wrap .date-tab li.active {
  color: #fff;
  border: 1px solid #5049ce;
  background: #5049ce;
}
.filter-calendar-wrap .date-tab li:not(:first-child) {
  border-left: 0;
}

.filter-calendar-wrap .filter-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-calendar-wrap .filter-calendar label {
  display: none;
}
.filter-calendar-wrap .filter-calendar input[type="date"] {
  position: relative;
  width: 15.3rem;
  height: 4.0rem;
  border: 1px solid #dcdee8;
  border-radius: 8px;
  background: #fff;
  padding: 0.8rem 0;
  box-sizing: border-box;
  padding-left: 4.4rem;
}
.filter-calendar-wrap .filter-calendar input[type="date"]::-webkit-calendar-picker-indicator { 
  position: absolute;
  left: 0;
  top: 0;
  width: 2.4rem;
  height: 2.4rem;
  background: url('../images/ic_calendar_black_32.svg') 0.8rem 0.7rem no-repeat;
  background-size: 2.4rem;
}
.filter-calendar-wrap .filter-calendar input[type="date"]::after {
  content: attr(value);
  position: absolute;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 1.4rem;
  font-weight: 500;
  color: #3e4259;
}
.filter-calendar-wrap .filter-calendar input[type="date"]::before {
  content: attr(data-placeholder);
  font-size: 1.4rem;
  font-weight: 500;
  color: #b8b6c4;
}
.filter-calendar-wrap .filter-calendar input[type="date"]:focus::before {
  content: "";
}
.filter-calendar-wrap .filter-calendar span {
  display: inline-block;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  margin: 0.7rem 0.8rem;
  vertical-align: top;
}
.filter-btn-wrap {
  display: flex;
  border-top: 1px solid #dcdee8;
  margin-top: 2.0rem;
}
.filter-btn-wrap button {
  height: 4.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  background: none;
}
.filter-btn-wrap .filter-reset-btn {
  width: 10.5rem;
  color: #b8b6c4;
  border-right: 1px solid #dcdee8;
}
.filter-btn-wrap .filter-application-btn {
  width: 25.4rem;
  color: #3f37c9;
}




/* 반응형 브레이크 포인트 */
@media screen and (max-width: 375px) {
  .age-group-wrap .age-group:last-of-type {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

/* 650px 이상 767px 이하 */
@media screen and (min-width: 650px) and (max-width: 767px) {
  .keyword-search-result {
    margin-top: 15rem;
  }
  .main-tab-area {
    margin-top: 10.0rem;
  }
  .main-tab-area .main-tab li:nth-child(2)::before {
    left: 5.8rem;
    top: -2.3rem;
  }
}

/* 768px 이상 */
@media screen and (min-width: 768px) {
  .keyword-search-result {
    margin-top: 15rem;
  }
  .main-tab-area {
    margin-top: 10.0rem;
  }
  .main-tab-area .main-tab li:nth-child(2)::before {
    left: 5.8rem;
    top: -2.3rem;
  }
}

