<!-- header-->
<bo-page-header [imgUrl]="'assets/img/member-list.svg'" [title]="'프로덕트 관리'">

        <!-- <bo-page-button-config id = "id-board-content-list-btn-smsview"
            [title] = "'프로덕트추가(테스트용)'"
            [styleType] = "'square-m-white-btn'"
            [imgUrl]="'assets/img/kakao-icon.png'">
        </bo-page-button-config> -->
<!--
    <bo-page-button-config id = "id-board-content-list-btn-emailview"
        [title] = "'이메일 수동발송'"
        [styleType] = "'square-m-white-btn'"
        [imgUrl]="'assets/img/email-icon.png'"
        (click) = "onClickSendEmail()">
    </bo-page-button-config> -->
</bo-page-header>

<div class="list-section">

    <!-- query form -->
    <product-query-form [setQuery]="query"(query)="reloadWithQuery($event)"></product-query-form>
   
    <bo-page-padding></bo-page-padding>

    <div class="list-wrap-se">
        <!-- list -->
        <div style="margin: auto; max-width: 100%; margin-bottom: 50px;">
            <data-table #bsDatatable
                headerTitle="datatable"
                [header]="true"
                [items]="items"
                [itemCount]="itemCount"
                [indexColumn]="false"
                [selectColumn]="true"
                [sortBy] = "'product_seq'"
                (reload)="reloadItems($event)">

                <data-table-column
                    [property]="'product_seq'"
                    [header]="'아이디'"
                    [width]="80">
                </data-table-column>

                <data-table-column
                    [property]="'product_mid'"
                    [header]="'상품고유번호'"
                    [width]="110">
                </data-table-column>

                <data-table-column
                    [property]="'price_mid'"
                    [header]="'가격비교MID'"
                    [width]="110">
                </data-table-column>

                <data-table-column
                    [property]="'content_mid'"
                    [header]="'컨텐츠MID'"
                    [width]="110">
                </data-table-column>

                <data-table-column
                    [property]="'option_mid'"
                    [header]="'옵션MID'"
                    [width]="110">
                </data-table-column>

               <data-table-column
                    [property]="'goods_platform'"
                    [header]="'플랫폼'"
                    [width]="40">
                    <ng-template #dataTableCell let-item="item" >
                        <span>{{item.goods.goods_platform}}</span>
                    </ng-template>
               </data-table-column>

                 
               <data-table-column
                    [property]="'member_seq'"
                    [header]="'회원'"
                    [width]="82">
                    <ng-template #dataTableCell let-item="item.member">
                        <div><span class="userid_bold">{{item.userid}}</span>({{item.member_seq}}/{{item.nickname}})</div>
                    </ng-template>
             </data-table-column>
        
                <!-- <data-table-column
                    [property]="'goods_seq'"
                    [header]="'판매상품아이디'"
                    [width]="100">
                </data-table-column> -->

                <data-table-column
                    [property]="'goods_name'"
                    [header]="'판매상품명'"
                    [width]="100">
                    <ng-template #dataTableCell let-item="item" >
                        <span>{{item.goods.goods_name}}</span>
                    </ng-template>
                </data-table-column>


                <data-table-column
                    [property]="'keyword'"
                    [header]="'순위측정키워드'"
                    [width]="80">                    
                </data-table-column>

                <data-table-column
                    [property]="'product_type'"
                    [header]="'상품종류'"
                    [width]="60"
                    [sortable]="true">                  
                </data-table-column>

                <data-table-column
                    [property]="'product_period'"
                    [header]="'상품기간'"
                    [width]="82">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.product_period}}일</span>
                    </ng-template>
                </data-table-column>

              
                <data-table-column
                    [property]="'start_date'"
                    [header]="'시작일'"
                    [sortable]="true"
                    [width]="113">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.start_date | date:'yyyy-MM-dd'}}</span>
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [property]="'end_date'"
                    [header]="'종료일'"
                    [sortable]="true"
                    [width]="113">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.end_date | date:'yyyy-MM-dd'}}</span>
                    </ng-template>
                </data-table-column>

                <data-table-column
                    [property]="'end_date'"
                    [header]="'잔여일'"
                    [sortable]="true"
                    [width]="113">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item.remainingDays}}일</span>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'end_date'"
                    [header]="'총구매포인트'"
                    [sortable]="true"
                    [width]="113">
                    <ng-template #dataTableCell let-item="item">
                        <span>{{item?.order?.product_total_point | number}}</span>
                    </ng-template>
                </data-table-column>


                <data-table-column
                    [property]="'auto_extension'"
                    [header]="'자동연장여부'"
                    [width]="82">
                    <ng-template #dataTableCell let-item="item">
                        <ui-switch (change)="onChangeAutoExtension($event, item)" 
                            [checked]="item.auto_extension == 'Y'" 
                            size="small" 
                            color="#e7e7e7" 
                            switchColor="#6683cc" 
                            switchOffColor="rgb(150,150,150)" 
                            defaultBgColor="#dadada" 
                            defaultBoColor="#dadada">
                        </ui-switch>
                    </ng-template>
                </data-table-column>
                
                <data-table-column
                    [property]="'is_auto_extension_priority'"
                    [header]="'자동연장우선여부'"
                    [width]="82">
                    <ng-template #dataTableCell let-item="item">
                        <ui-switch (change)="onChangeAutoExtensionPriority($event, item)" 
                            [checked]="item.is_auto_extension_priority == 'Y'" 
                            size="small" 
                            color="#e7e7e7" 
                            switchColor="#6683cc" 
                            switchOffColor="rgb(150,150,150)" 
                            defaultBgColor="#dadada" 
                            defaultBoColor="#dadada">
                        </ui-switch>
                    </ng-template>
                </data-table-column>     

                
                <data-table-column
                    [property]="'enabled'"
                    [header]="'사용여부'"
                    [width]="82">
                    <ng-template #dataTableCell let-item="item">
                        <ui-switch (change)="onChangeEnabled($event, item)" 
                            [checked]="item.enabled == 'Y'" 
                            size="small" 
                            color="#e7e7e7" 
                            switchColor="#6683cc" 
                            switchOffColor="rgb(150,150,150)" 
                            defaultBgColor="#dadada" 
                            defaultBoColor="#dadada">
                        </ui-switch>
                    </ng-template>                
                </data-table-column>

                <data-table-column
                    [property]="'state'"
                    [header]="'상태'"
                    [width]="100">
                    <ng-template #dataTableCell let-item="item">
                        <span style="color:blue" *ngIf="item?.state =='ready'">승인대기</span>
                        <span style="color:green" *ngIf="item?.state =='confirm'">승인</span>
                        <span style="color:red" *ngIf="item?.state == 'cancel'">승인취소</span>
                    </ng-template>                
                </data-table-column>
                    
                <data-table-column 
                    [width]="100">
                    <ng-template #dataTableHeader let-item="item">
                        관리
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                        <bo-button-collection *ngIf="item?.state =='ready'" class="margin-class" 
                            [title] ="'승인'"
                            [id]="'complete'" 
                            (click)="onClickConfirm(item)">
                        </bo-button-collection>
                        <bo-button-collection *ngIf="item?.state =='ready'" class="margin-class" 
                            [title] ="'취소'"
                            [id]="'cancel'" 
                            (click)="onClickCancel(item)">
                        </bo-button-collection> 
                    </ng-template>
                </data-table-column>

            </data-table>
        </div>
    </div>
</div>
