<ul>
  <li class="main-left-menu" [routerLink]="['goods/category/new']" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB_UTILITY_1'" [attr.ga-label]="'NEW'" > NEW </li>
  <li class="main-left-menu" [routerLink]="['goods/category/best']" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB_UTILITY_1'" [attr.ga-label]="'BEST'" > BEST </li>
  <li class="main-left-menu" [routerLink]="['board/review']" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB_UTILITY_1'" [attr.ga-label]="'REVIEW'"> REVIEW </li>
  <li class="main-left-menu" [routerLink]="['goods/plan/7317']" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB_UTILITY_1'" [attr.ga-label]="'EVENT'"> SALE </li>
  <li class="main-left-menu" [routerLink]="['board/planshop']" *ngIf="usePlanshop" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB_UTILITY_1'" [attr.ga-label]="'기획전'"> 기획전 </li>
</ul>
