<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->

        <!-- formGroup : bsForm -->
    <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
        <div class="query-wrap">
            <div class="form-block">
                <!-- 가입/방문/탈퇴 -->
                <div *ngIf="hasDataType" class="form-box">
                    <div class="form-item">
                        <input type="radio" id="search_type_join" value="join" name="search_type" formControlName="search_type" checked />
                        <label for="search_type_join" class="check-label">가입</label>
                        <input type="radio" id="search_type_visit" value="visit" name="search_type" formControlName="search_type" />
                        <label for="search_type_visit" class="check-label">방문</label>
                        <input *ngIf="hasDataTypeWithdrawal" type="radio" id="search_type_withdrawal" value="withdrawal" name="search_type" formControlName="search_type" />
                        <label *ngIf="hasDataTypeWithdrawal" for="search_type_withdrawal" class="check-label">탈퇴</label>
                    </div>
                </div>

                <!-- 월별/일별/시간대별 -->
                <div *ngIf="hasPeriodType" class="form-box">
                    <div class="form-item">
                        <input type="radio" id="date_type_month" value="month" name="date_type" formControlName="date_type" checked
                            (click)="onDateTypeChanged($event.target.value)" />
                        <label for="date_type_month" class="check-label">월별</label>
                        <input type="radio" id="date_type_day" value="day" name="date_type" formControlName="date_type" 
                            (click)="onDateTypeChanged($event.target.value)" />
                        <label for="date_type_day" class="check-label">일별</label>
                        <input type="radio" id="date_type_hour" value="hour" name="date_type" formControlName="date_type" 
                            (click)="onDateTypeChanged($event.target.value)"/>
                        <label for="date_type_hour" class="check-label">시간대별</label>
                    </div>
                </div>

                <div [hidden]="dateType == 'month'" class="form-box">
                    <div class="form-item">
                        <div class="form-title">기간조회 :</div>
                        <bo-period-query [formGroup]="bsForm" [name]="'period'"
                            [initialIndexOfPeriodType]="0"
                            [selectedIndexPeriod]="1"
                            [has3MonthBtn]="true">
                            <bo-period-query-option-config [value]="'search_date'" [label]="''">
                            </bo-period-query-option-config>
                        </bo-period-query>
                    </div>
                </div>
                <div [hidden]="dateType != 'month'" class="form-box">
                    <div class="form-item">
                        <div class="form-title">기간조회 :</div>
                        <select class="form-selectbox default small-input" name="period_s_y" formControlName="period_s_y" >
                            <option *ngFor="let item of years" [value]="item.value">{{item.title}}</option>
                        </select>
                        <select class="form-selectbox default small-input" name="period_s_m" formControlName="period_s_m" >
                            <option *ngFor="let item of month" [value]="item.value">{{item.title}}</option>
                        </select>
                        <div class="dash-bar" style="margin-right: 10px;">-</div>
                        <select class="form-selectbox default small-input"  name="period_e_y" formControlName="period_e_y" >
                            <option *ngFor="let item of years" [value]="item.value">{{item.title}}</option>
                        </select>
                        <select class="form-selectbox default small-input" name="period_e_m" formControlName="period_e_m" >
                            <option *ngFor="let item of month" [value]="item.value">{{item.title}}</option>
                        </select>
                        <div class="date-button-area" style="padding-left: 0;">
                            <button class="btn btn-sm btn-light" type="button" (click)="onClickAll()" style="border: 1px solid rgb(225,225,225);">전체</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <bo-search-button-form></bo-search-button-form>
    </form>
</div>


