<bo-page-header [imgUrl]="'assets/img/emoney-title-img.svg'" [title]="'적립금'">

    <!-- <bo-page-button-config id = "id-coupon-content-list-btn-create"
        [title]="'저장하기'"
        [styleType] = "'square-m-white-btn'"
        (click) = "onClickPrintBtn($event)">
    </bo-page-button-config> -->
    <bo-page-button-config id = "id-board-content-list-btn-userview"
    [title] = "'저장 후 리스트'"
    [styleType] = "'square-m-white-btn'"
    (click) = "submitAndBack()">
    </bo-page-button-config>
    <bo-page-button-config id = "id-board-content-list-btn-userview"
        [title] = "'저장 후 화면유지'"
        [styleType] = "'square-m-white-btn'"
        (click) = "submitOnly()">
    </bo-page-button-config>
</bo-page-header>

<form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >

<div class="section">
    <div class="content-wrap">
        <div class="sub-title-bar">
        <img src="/assets/img/03-3-order.svg" />
            적립금 사용
        </div>
        <div class="content-box">
            <div class="content-title">
                <img src="/assets/img/group-6.svg"/> 보유적립금:
            </div>
            <div class="content">
                보유적립금이
                <input type="text" class="emoney-input"/>원 이상이면 사용가능
            </div>
            <div class="content-title">
                <img src="/assets/img/group-6.svg"/> 주문금액:
            </div>
            <div class="content">
                총 주문금액이
                <input type="text" class="emoney-input"/>원 이상이면 사용가능
            </div>
            <div class="content-title">
                <img src="/assets/img/group-6.svg"/> 적립금 최소 사용한도:
            </div>
            <div class="content">
                1회 사용시 최소
                <input type="text" class="emoney-input"/>원 이상 사용
            </div>
         </div>
         <div class="content-box">
                <div class="content-title">
                        <img src="/assets/img/group-6.svg"/> 적립금 최대 사용한도:
                </div>
                <div class="content">
                    <input type="radio" id="goods_status1" value="normal" name="goods_status"/>
                    <label for="goods_status1" class="check-label position-block">사용한도 제한없음</label>

                    <input type="radio" id="goods_status2" value="runout" name="goods_status" />
                    <label for="goods_status2" class="check-labe
                    l  position-block">실 결제 금액의
                        <input type="text" class="emoney-input"/>% 까지 사용 가능
                    </label>

                    <input type="radio" id="goods_status2" value="runout" name="goods_status" />
                    <label for="goods_status2" class="check-label position-block">
                        <input type="text" class="emoney-input "/>원 까지 사용 가능
                    </label>
                </div>
        </div>
    </div>
    <div class="content-wrap">
            <div class="sub-title-bar">
            <img src="/assets/img/03-3-order.svg" />
                적립금 지급
            </div>
            <div class="content-box">
            <div class="content-title">
                <img src="/assets/img/group-6.svg"/>결제시 적립금:
            </div>
                <div class="content">
                    실 결제 금액의
                    <input type="text" class="emoney-input"/>% 금액을 적립금으로 지급
                </div>
             </div>
             <div class="content-box">
                    <div class="content-title">
                        <img src="/assets/img/group-6.svg"/> 유효기간:
                    </div>
                    <div class="content">
                        지급된 적립금의 유효기간

                        <input type="radio" id="goods_status2" value="runout" name="goods_status" />
                        <label for="goods_status2" class="check-label position-block">제한없음
                        </label>

                        <input type="radio" id="goods_status2" value="runout" name="goods_status" />
                        <label for="goods_status2" class="check-label position-block">지급일로 부터
                            <input type="text" class="emoney-small-input"/>개월
                        </label>
                    </div>
            </div>
    </div>
        <bo-submit-button-form></bo-submit-button-form>
</div>

