<div [formGroup]="formGroup" class="content-inline">

    <select *ngIf="!editable" class="form-selectbox item-horizontal"
        name="{{name}}"
        formControlName="{{name}}"
        [attr.disabled]="disabled ? '' : null"
        (change)="onClickEvent($event)">

        <option *ngFor="let option of options; let idx = index;"
            [disabled]="option.disabled"
            [value]="option.value">
            {{option.label}}
        </option>
    </select>

    <!--editable -->
    <div *ngIf="editable" class="input-group" style="margin-right: 30px;"  dropdown #dropdown="bs-dropdown">
        <input name="{{name}}_label" autocomplete="off" type="text" class="form-control dropdown-toggle editable-select "
            [(ngModel)]="label"
            [ngModelOptions]="{standalone: true}"
            [attr.disabled]="disabled ? '' : null"
            (input)="onChangeLabel($event, dropdown)"
            style="border-radius: 0; width: 183px;">
        <div class="input-group-btn">
            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                    aria-controls="dropdown-basic">
                <span class="caret"></span>
            </button>
        </div>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
            <li *ngFor="let option of options" (click)="onClickOption(option)" role="menuitem">
                {{option.label}}
            </li>
        </ul>
    </div>

    <!-- <div *ngIf="editable">
        <div class="input-group dropdown">
            <input name="editable-select"
                    type="text"
                    class="form-control dropdown-toggle editable-select"
                    [attr.disabled]="disabled ? '' : null">
            <ul [hidden]="!isShowOptions">
                <li *ngFor="let option of options">
                    <span>{{option.label}}</span>
                </li>
            </ul>
            <span (click)="onClickOptionsBtn()">
                <span class="caret"></span>
            </span>
        </div>
    </div> -->
    <!-- <div>
            <div class="input-group dropdown">
              <input name="editable-select"
                     type="text"
                     class="form-control dropdown-toggle editable-select"
                     ng-disabled="isDisabled"
                     ng-model="ngModel">
              <ul class="dropdown-menu">
                <li ng-repeat="option in options"
                    ng-bind="::option"
                    ng-click="click(option)">
                </li>
                <li ng-if="other" role="presentation" class="divider"></li>
                <li ng-if="other" ng-bind="other" ng-click="click(other)"></li>
              </ul>
              <span class="input-group-addon dropdown-toggle"
                    data-toggle="dropdown">
                <span class="caret"></span>
              </span>
            </div>
            <span class="small text-muted" ng-show="!isDisabled">Type in your selection</span>
          </div> -->
</div>

