<ul class="top-menu">
  <!-- <li routerLink="/home" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">홈</li>
  <li routerLink="/goods" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">판매상품</li>
  <li routerLink="/order" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">주문</li>
  <li routerLink="/crm" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">회원</li>
  <li routerLink="/board" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">게시판</li> -->
  <!-- <li routerLink="/board">게시판2</li> -->
  <!-- <li routerLink="/promotion" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">프로모션/쿠폰</li>
  <li routerLink="/marketing" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">마케팅</li>
  <li routerLink="/statistics" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">통계</li>
  <li routerLink="/shopper" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">입점사</li>
  <li routerLink="/calculate" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">정산</li>
  <li routerLink="/market" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">판매마켓</li>
  <li routerLink="/account/login" routerLinkActive ="active" routerLinkActiveOptions="{ exact: true }">로그인</li> -->
  <!-- <li *ngFor="let menu of topMenu">{{menu.title}}</li> -->
</ul>
