.pagination-box {
    position: relative;
    margin-top: 12px;
    text-align: center;
    padding: 0;
    font-size: 14px;
}
.pagination-range {
    margin: 56px 0 0 16px;
    /* margin-left: 3px; */
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #b8b6c4;
    /* padding-top: 10px; */
    /* background-color: orange; */
}
.pagination-controllers {
    /* background-color: green; */
    /* float: right; */
}
.pagination-controllers input {
    min-width: 60px;
    width: 50%;
    /*padding: 1px 0px 0px 5px;*/
    text-align: right;
    display: inline-block;
    height: 28px;
    background-color: orange;
}
.pagination-limit input{
    float: right;
    width: 60px;
    height: 34px;
    text-align: center;
}

.input-group-set {
    /* background-color: yellow; */
    margin-top: 44px;
}

.pagination-limit select {
    float: right;
    width: 62px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    margin-left: 16px;
}
.pagination-controllers .pagination-page input{
    width: 62px;
    min-width: 55px;
    padding: 6px 8px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px 0 0 8px;
    background-color: #f2f2f2;
    /* background-color: green; */
}
.input-group-addon{
    vertical-align: middle;
    width: auto;
    display: inline-block;
    border: none;
    background: none;
    height: 34px;
    line-height: 18px;
    padding: 6px 8px;
    /* background-color: green; */
}

.input-group-number {
    /* background-color: orange; */
    margin-top: 3px
}

.pagination-page .input-group-addon:last-child{
    width: auto;
    height: 48px;
    min-width: 55px;
    border-radius: 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
    background-color: #454e73;
    padding: 12px 8px;
}
.pagination-page .input-group-addon:last-child span {
    vertical-align: middle;
}
.pagination-limit {
    /* margin-right: 25px; */
    float: right;
    display: inline-table;
    width: 150px;
    text-align: right;
    margin-right: 95px;
}
.pagination-pages {
    display: inline-block;
    margin-top: 40px;
    /* background-color: red; */
}
.pagination-page {
    min-width: 110px;
    display: inline-table;
    margin: 0 9px 6px;
    vertical-align: top;
}
.pagination-page .form-control{
    color: #5a5a5a;
}
.btn-default{
    border: none;
}
.pagination-box button {
    outline: none !important;
    width: 28px;
    height: 28px;
    background-size: 100% 100%;
    background-position: 50% 50%;
    opacity: 1;
    /* margin-top: 10px; */
}
.pagination-prevpage,
.pagination-nextpage,
.pagination-firstpage,
.pagination-lastpage {
    vertical-align: inherit;
}
.pagination-prevpage{
    background: url('assets/images/svg/ic_arrow_left_black_40.svg') center no-repeat;
    margin-left: 8px;
}
.pagination-nextpage{
    background: url('assets/images/svg/ic_arrow_right_black_40.svg') center no-repeat;
    margin-right: 8px;
}
.pagination-firstpage{
    background: url('assets/images/svg/ic_first_black_40.svg') center no-repeat;
}
.pagination-lastpage{
    background: url('assets/images/svg/ic_last_black_40.svg') center no-repeat;
}
.pagination-firstpage:disabled {
    background: url('assets/images/svg/ic_first_gray_40.svg') center no-repeat;
}
.pagination-prevpage:disabled {
    background: url('assets/images/svg/ic_arrow_left_gray_40.svg') center no-repeat;
    margin-left: 8px;
}
.pagination-lastpage:disabled {
    background: url('assets/images/svg/ic_last_gray_40.svg') center no-repeat;
}
.pagination-nextpage:disabled {
    background: url('assets/images/svg/ic_arrow_right_gray_40.svg') center no-repeat;
    margin-right: 8px;
}
.pagination-reload {
    color: gray;
    font-size: 12px;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover,
.btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.bottom-controller .paging-wrap {
    display: flex;
    align-items: center;
}
.bottom-controller .paging-wrap ol {
    display: flex;
    align-items: center;
}
.bottom-controller .paging-wrap ol li {
    width: 43px;
    height: 38px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    font-weight: bold;
    color: #04021f;
    line-height: 37px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
.bottom-controller .paging-wrap ol li.disabled {
    color: #dcdee8;
    cursor: auto;
}
.bottom-controller .paging-wrap ol li.active {
    color: #3f37c9;
    border: 1px solid #3f37c9;
    border-radius: 24px;
    background: #fafbff;
}
.bottom-controller .paging-wrap > button {
    width: 40px;
    height: 40px;
    padding: 0;
}
