<div style="width:30%; display: inline-block;">
  <ul>

    {{config.config.collapsible}}

      <li *ngFor="let item of config.items; let i = index;">
          <a >{{item.title}}</a>
          <!-- <ul *ngIf="item.items" role="menu"></ul> --> 
          <ul>
              <li *ngFor="let subItem of item.items">
                  <a>{{subItem.title}}</a>
              </li>      
          </ul>
      </li>

      <!-- <li *ngFor="let item of menu"></li> -->
      <!-- <a>{{item.title}}</a> -->
      <!-- <ul *ngIf="item.navigationItems" role="menu">
        <li *ngFor="let item of item.navigationItems">
            <a [attr.href]="item.url"
                [innerHTML]="item.title"
                [attr.target]="item.target ? item.target : null"
                role="menuitem"
            >
            </a>
        </li>
    </ul> -->
  </ul>
</div>

