<!-- <bo-page-header [imgUrl]="'assets/img/coupon-title-img.svg'" [title]="'인쇄 배포용 쿠폰등록'">
</bo-page-header>

<form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >


    <div class="section">
        <div class="content-wrap two-line-content">
            <div class="sub-title-bar">
                <img src="/assets/img/03-3-order.svg">
                    이벤트 정보
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg">이벤트 타입:
                </div>
                <div class="content">
                    <bs-input [name]="'event_type'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>   
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg">이벤트 제목:
                </div>
                <div class="content">
                    <bs-input [name]="'title'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>   
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg">노출여부:
                </div>
                <div class="content">
                        <bs-input [name]="'display'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div> 
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/> 특정시간이벤트:
                </div>
                <div class="content">
                    <bs-input [name]="'daily_event'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/> 시작일:
                </div>
                <div class="content">
                    <bs-input [name]="'start_date'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/> 종료일:
                </div>
                <div class="content">
                    <bs-input [name]="'end_date'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/> 특정시간 시작시간:
                </div>
                <div class="content">
                    <bs-input [name]="'app_start_time'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>특정시간 종료시간:
                </div>
                <div class="content">
                    <bs-input [name]="'app_end_time'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>특정시간 요일:
                </div>
                <div class="content">
                    <bs-input [name]="'app_week'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>선정기준 :
                </div>
                <div class="content">
                    <bs-input [name]="'goods_rule'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>옥션방식 :
                </div>
                <div class="content">
                    <bs-input [name]="'auction_type'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>참여등급  :
                </div>
                <div class="content">
                    <bs-input [name]="'auction_group'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>입찰횟수  :
                </div>
                <div class="content">
                    <bs-input [name]="'auction_bid_num'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>낙찰자수  :
                </div>
                <div class="content">
                    <bs-input [name]="'auction_succ_num'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>옥션시작  :
                </div>
                <div class="content">
                    <bs-input [name]="'auction_price'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>블라인드 행운가격  :
                </div>
                <div class="content">
                    <bs-input [name]="'auction_luc_price'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>문자 메시지  :
                </div>
                <div class="content">
                    <bs-input [name]="'sms_msg'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>내용  :
                </div>
                <div class="content">
                    <bs-input [name]="'title_contents'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>색깔  :
                </div>
                <div class="content">
                    <bs-input [name]="'bgcolor'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>배너노출여부  :
                </div>
                <div class="content">
                    <bs-input [name]="'banner_view'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>배너파일명  :
                </div>
                <div class="content">
                    <bs-input [name]="'banner_filename'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>PC배너파일  :
                </div>
                <div class="content">
                    <bs-input [name]="'event_banner'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>모바일배너파일  :
                </div>
                <div class="content">
                    <bs-input [name]="'m_event_banner'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    <img src="/assets/img/group-6.svg"/>이벤트노출여부  :
                </div>
                <div class="content">
                    <bs-input [name]="'event_view'" [formGroup]="bsForm" [placeholder]="''" [style]="'big-input'"></bs-input>
                </div>
            </div>
        </div>
    </div>
    <bo-submit-button-form></bo-submit-button-form>
</form> -->
