<!-- 게시판 표준 - 게시글 보기 팝업 -->
<div class="section" style="position: relative; padding: 10px;">
    <div class="button-wrap" style="position: absolute; top: 5px; right: 30px; padding-top: 3px;">
        <bo-page-button *ngIf="boardConfig?.auth.write"
          [type]="'s-darkgrey'"
          [title]="'수정'"
          (click)="onClickUpdateItem(_boardItem?.seq)">
        </bo-page-button>
        <bo-page-button *ngIf="boardConfig?.use.recontents && boardConfig?.auth.writeReply"
          [type]="'s-darkgrey'"
          [title]="_boardItem?.re_contents?'답변수정':'답변등록'"
          (click)="onClickRecontentsItem(_boardItem?.seq)">
        </bo-page-button>
        <bo-page-button *ngIf="boardConfig?.use.reply && boardConfig?.auth.writeReply"
          [type]="'s-darkgrey'"
          [title]="'답글등록'"
          (click)="onClickReplyItem(_boardItem?.seq)">
        </bo-page-button>
        <bo-page-button *ngIf="boardConfig?.auth.write"
          [type]="'s-darkgrey'"
          [title]="'삭제'"
          (click)="onClickRemoveItem(_boardItem?.seq)">
        </bo-page-button>
    </div>
    <div class="content-wrap" style="margin-top:30px; padding: 10px !important;">
        <div class="outlet-section" style="border:none;">
          <div class="board-view">
              <div class="content-header">
                  <!-- 제목 -->
                  <div class="title">
                      <span ><img *ngIf="boardConfig?.use.secret && _boardItem?.secret == 1" src="/assets/img/board/icon_lock.png" /></span>
                      <span *ngIf="_boardItem?.onlynotice==1" style="color: #fff; background: red; padding: 0px 5px;vertical-align: sub;">중요</span>
                      <span style="vertical-align: middle; padding-left:10px;">{{_boardItem?.subject}}</span>
                  </div>
                  <div class="content-button">
                  </div>
                  <!-- 작성자, 이메일, IP, 조회수, 날짜 -->
                  <div class="content-sub-header">
                    <div class="sub-items" *ngIf="boardId == 'goods_review'">
                        <span class="text-light-grey">평점 :</span>
                        <span>
                            <bs-rating #small
                                [values]="_boardItem?.score" [max]="max"
                                [isReadonly]="true" [style]="'star2'">
                            </bs-rating>
                        </span>
                    </div>
                    <div class="sub-items"><span class="text-light-grey">작성자 :</span><span>{{(_boardItem?.name)?_boardItem?.name:_boardItem?.mid}}</span></div>
                    <div class="sub-items"><span class="text-light-grey">이메일 :</span><span>{{_boardItem?.email}}</span></div>
                    <div class="sub-items" *ngIf="boardId == 'goods_qna' || boardId == 'mbqna'"><span class="text-light-grey">ID :</span><span>{{_boardItem?.mid}}</span></div>
                    <div class="sub-items"><span class="text-light-grey">IP :</span><span>{{_boardItem?.ip}}</span></div>
                    <div class="sub-items"><span class="text-light-grey">조회수 :</span><span>{{_boardItem?.hit}}</span></div>
                    <div class="sub-items"><span class="text-light-grey">날짜 :</span><span>{{_boardItem?.regist_date | date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
                  </div>
                  <div class="content-sec-sub-header" *ngIf="_boardItem?.upload && _boardItem?.upload.length > 0">
                    <div class="item-horizontal"><span class="text-light-grey" style="vertical-align: top;">파일명 :</span>
                        <div style="display: inline-block;">
                            <div *ngFor="let item of _boardItem?.file_name; let idx=index;" style="padding-bottom: 3px;">
                                <span *ngIf="_boardItem?.file_name && _boardItem?.file_name.length>0 && item">{{item}}</span>
                                <bo-page-button *ngIf="_boardItem?.file_name && _boardItem?.file_name.length>0 && item"
                                    [type]="'s-darkgrey'" [title]="'다운로드'" (click) = "onFileDownload(_boardItem?.upload[idx])" style="margin-left: 10px;"></bo-page-button>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="content-body">
                <div class="product"  *ngIf="boardId == 'goods_qna' || boardId == 'goods_review'">
                  <img class="thumb-image-box" [src]="_boardItem?.goods_image"/>
                  <div class="item-info">
                    <div>{{_boardItem?.goods?.goods_name}}</div>
                  </div>
                </div>
                <div class="item-contents" [innerHTML]="_boardItem?.contents | sanitizeHtml"></div>
                <div *ngIf="_boardItem?.category == '포토후기'">
                    <!-- <img *ngIf="_boardItem?.upload" [src] = "_boardItem?.upload" style="width: 100%; height:100%;"/> -->
                    <img *ngFor="let item of _boardItem?.upload;" [src] = "item" style="width: 100%; height:100%;"/>

                </div>

              </div>
              <div class="content-reply" *ngIf="boardConfig?.use.recontents">
                <div [hidden]="!_boardItem?.re_date">
                    <div class="item-retitle">답변 : {{_boardItem?.re_subject}}</div>
                    <div class="content-re-sub-header">
                        <div class="sub-items"><span class="text-light-grey">작성자 :</span><span>{{_boardItem?.re_name}}</span></div>
                        <div class="sub-items"><span class="text-light-grey">날짜 :</span><span>{{_boardItem?.re_date | date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
                      <!-- <span class="text-light-grey sub-items">작성자 : </span><span>{{_boardItem?.re_name}}</span> -->
                      <!-- <span class="text-light-grey sub-items">  날짜 : </span><span>{{_boardItem?.re_date | date: 'yyyy-MM-dd HH:mm:ss'}}</span> -->
                    </div>
                    <div class="content-sec-sub-header" *ngIf="_boardItem?.re_upload && _boardItem?.re_upload.length > 0">
                        <div class="item-horizontal"><span class="text-light-grey" style="vertical-align: top;">파일명 :</span>
                            <div style="display: inline-block;">
                                <div *ngFor="let item of _boardItem?.re_file_name; let idx=index;"  style="padding-bottom: 3px;">
                                    <span *ngIf="_boardItem?.re_file_name && _boardItem?.re_file_name.length>0 && item">{{item}}</span>
                                    <bo-page-button *ngIf="_boardItem?.re_upload && _boardItem?.re_upload.length > 0 && item" [type]="'s-darkgrey'" [title]="'다운로드'"
                                        (click) = "onFileDownload(_boardItem?.re_upload[idx])" style="margin-left: 10px;">
                                    </bo-page-button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-body">
                        <div class="product"  *ngIf="boardId == 'goods_qna' || boardId == 'goods_review'">
                            <img class="thumb-image-box" [src]="_boardItem?.goods_image"/>
                            <div class="item-info">
                            <div>{{_boardItem?.goods?.goods_name}}</div>
                            </div>
                        </div>
                        <div class="item-contents" [innerHTML]="_boardItem?.re_contents" style="text-align: left; padding-top: 15px;"></div>
                            <div *ngIf="_boardItem?.category == '포토후기'">
                                <img *ngFor="let item of _boardItem?.upload;" [src] = "item" style="width: 100%; height:100%;"/>
                           </div>

                    </div>
                    <!-- <div class="item-contents" [innerHTML]="_boardItem?.re_contents" style="text-align: left; padding-top: 15px;"></div> -->
                </div>
                <div [hidden]="_boardItem?.re_date">
                  <div class="block-item-area">
                    <div class="item-retitle">등록된 답변이 없습니다.</div>
                  </div>
                </div>
              </div>

          </div>
        </div>
    </div>
</div>

<!-- <div class="board-view" *ngIf="boardId=='bestreview_seq'">
  <div class="content-header">
      <div class="title">{{_boardItem?.subject}}</div>
      <div class="content-button">

      </div>
      <div class="content-sub-header">
        <div class="sub-items"><span class="text-light-grey">평점 :</span>
          <span>
            <bs-rating #small [values]="_boardItem?.goodsreview?.score" [max]="max" [isReadonly]="isReadonly" [style]="'star2'"></bs-rating>
          </span>
        </div>
        <div class="sub-items"><span class="text-light-grey">작성자 :</span><span>{{_boardItem?.goodsreview?.name}}</span></div>
        <div class="sub-items"><span class="text-light-grey">이메일 :</span><span>{{_boardItem?.goodsreview?.email}}</span></div>
        <div class="sub-items"><span class="text-light-grey">IP :</span><span>{{_boardItem?.goodsreview?.ip}}</span></div>
        <div class="sub-items"><span class="text-light-grey">날짜 :</span><span>{{_boardItem?.goodsreview?.regist_date | date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
      </div>
  </div>
  <div class="content-body">
    <div class="product">
      <img class="thumb-image-box" [src]="_boardItem?.goodsreview?.goods?.image"/>
      <div class="item-info">
        <div>{{_boardItem?.goodsreview?.goods?.goods_name}}</div>
      </div>
    </div>
    <div class="item-contents" [innerHTML]="_boardItem?.contents"></div>
    <div>
    </div>
  </div>

</div> -->
