.content-button {
    display: inline-block;
    float: right;
}
.content-sub-header {
    border-top: 1px solid #979797;

}
.text-light-grey {
    padding-right: 5px;
}
.sub-items {
    display: inline-block;
    padding-right: 25px;
}
.board-view .title {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}
.board-view .content-sub-header {
    border-top: 1px solid #979797;
    padding: 12px 0;
    border-bottom: 1px solid #979797;
    _margin-bottom: 10px;
}

/* hyeon */
.board-view .content-sec-sub-header {
    padding: 12px 0;
    border-bottom: 1px solid #979797;
    margin-bottom: 10px;
}



.board-view .content-body .product {
    border: 1px solid #e1e1e1;
    background-color: rgb(249, 249, 249);
    padding: 10px;
    min-height: 72px;
}
.board-view .content-body .product .item-info {
    display: inline-block;
    vertical-align: middle;
}
.board-view .item-contents {
    padding: 30px 0;
    min-height: 150px;
    margin: 0 auto;
    _text-align: center;
    /* white-space: pre-wrap; */
}

/* hyeon */
.item-contents::ng-deep p > img{
    width: 100%;
    height: 100%;
}
.board-view .content-body .item-files {
    display: inline-block;
    padding-bottom: 25px;
}
.board-view .content-body .item-files .item-red-color {
    color: rgb(227, 047, 047);
}
.board-view .content-reply {
    padding-top: 30px;
    border-top: 1px solid #e1e1e1;
}
.board-view .content-reply .item-retitle {
    color: rgb(031 , 070, 097);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
}
.board-view .content-reply .content-re-sub-header {
    /* padding-top: 15px; */
    border-top: 1px solid #979797;
    padding: 12px 0;
    border-bottom: 1px solid #979797;
    /* margin-bottom: 10px; */
}
.block-item-area {
    min-height: 300px;
}
