
<div class="new-tabs" [ngStyle]="{'padding' : padding }">
  <li *ngFor="let tab of _tabNames" (click)="onClickTab(tab)" class="tab-item"

    [ngStyle]="{'width': tab1RowWidth, 'padding': innerPadding, 'font-size' : fontSize}"
    ><div class="tab-line">{{tab}}</div></li>
</div>

<div class="new-tabs" [ngStyle]="{'padding' : padding }">
    <li *ngFor="let tab of _tabNames2" (click)="onClickTab(tab)" class="tab-item tab-bottom-item"
      [ngStyle]="{'width': tab1RowWidth, 'padding': innerPadding, 'font-size' : fontSize}"
    ><div class="tab-line">{{tab}}</div></li>
  </div>
