<bo-page-header [imgUrl]="'assets/img/crm/crm-title.svg'" [title]="'회원정보'">
</bo-page-header>
<!-- <router-outlet></router-outlet> -->
<div class="section">
    <div class="content-wrap">
        <div class="content-box">
            <div class="content-info">
                <div class="content-item ">회원명
                    <span class="content-info crm-title">{{item?.user_name}}</span>
                </div>
                <div class="content-item">아이디
                    <span class="content-info crm-subtitle">{{item?.userid}}</span> 
                    {{item?.member_group.group_name}}
                </div>
            </div>
            <div class="basic-table">
                <table>
                    <colgroup>
                        <col width="10%">
                        <col width="15%">
                        <col width="10%">
                        <col width="15%">
                        <col width="10%">
                        <col width="15%">
                        <col width="10%">
                        <col width="15%">
                    </colgroup>
                    <tr>
                        <th>등급</th>

                        <td>{{item?.member_group?.group_name}}</td>

                        <th>상태</th>
                        <td>{{item?.status_nm}}</td>

                        <th>이메일</th>
                        <td>{{item?.email}}</td>

                        <th>휴대폰</th>
                        <td>{{item?.cellphone}}</td>
                    </tr>

                    <tr>
                        <th>우편번호</th>
                        <td>{{item?.zipcode}}</td>

                        <th>주소</th>
                        <td colspan="5">{{item?.address_street}} {{item?.address_detail}}</td>
                    </tr>

                    <tr>
                        <th>가입일</th>
                        <td>{{item?.regist_date | date: 'yyyy-MM-dd'}}</td>

                        <th>최근로그인</th>
                        <td>2018.01.01 15:00</td>

                        <th>최근로그인IP</th>
                        <td>123.456.78.000</td>

                        <th>개인정보동의</th>
                        <td>동의함</td>
                    </tr>

                    <tr>
                        <th>성별</th>
                        <td>{{item?.sex}}</td>

                        <th>생일</th>
                        <td>{{item?.birthday}}</td>

                        <th>기념일</th>
                        <td>{{item?.anniversary}}</td>

                        <th>총할인금액</th>
                        <td>0원</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="padd-btm30"></div>
        <div class="content-box">
            <div class="sub-title-bar">
                <img src="/assets/img/03-3-order.svg" /> 고객데이터
            </div>
            <div class="basic-table content-table">
                <table>
                    <colgroup>
                        <col width="30%">
                        <col width="10%">
                        <col width="60%">
                    </colgroup>
                    <tr>
                        <th>주문접수</th>
                        <td>0건</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>주문접수</th>
                        <td>0건</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>주문접수</th>
                        <td>0건</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>주문접수</th>
                        <td>0건</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>주문접수</th>
                        <td>0건</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>주문접수</th>
                        <td>0건</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>주문접수</th>
                        <td>0건</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>주문접수</th>
                        <td>0건</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>주문접수</th>
                        <td>0건</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>