<div class="web" *ifDesktop>
    <!-- 컨텐츠 타이틀 영역 start -->
    <div class="title-area">
        <div class="title-wrap">
            <h2 class="title">키워드 검색</h2>
            <span class="sub-title">내가 궁금한 키워드의 분석 데이터를 확인해보세요.</span>
        </div>
        <nav>
            <ol class="location-history">
                <li [routerLink]="['/main/home']">HOME</li>
                <li>키워드 검색</li>
            </ol>
        </nav>
    </div>
    <!-- //컨텐츠 타이틀 영역 end -->

    <!-- 키워드 검색 박스 start -->
    <div class="search-box" [ngClass]="{trendList: !isBeforeSearch}">
        <form>
            <div class="tb-keyword-search search-input">
                <label for=""></label>
                <input type="search" id="" name="" placeholder="키워드를 입력하세요" [(ngModel)]="searchKeyword" [ngModelOptions]="{standalone: true}"> 
                <button class="search-btn" type="submit" (click)="onSubmitKeywordSearch(searchKeyword)">검색</button>
            </div>
            <div class="tb-realtime-trend realtime-trend" *ngIf="!isBeforeSearch">
                <p>실시간 트렌드</p>
                <p *ngFor="let keyword of trendKeywords;" (click)="onClickKeyword(keyword)">{{keyword}}</p>
            </div>
        </form>
    </div>
    <!-- //키워드 검색 박스 end -->

    <!-- 키워드 검색 start -->
    <div class="search-record" *ngIf="isBeforeSearch">
        <div class="lately-search box">
            <div class="box-header">
                <span>최근 검색 기록</span>
            </div>
            <div class="record-table">
                <table>
                    <thead>
                        <tr>
                            <th>키워드</th>
                            <th>대표 카테고리</th>
                            <th>상품 수</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let history of data.searching_history.reverse()">
                            <td (click)="onClickKeyword(history.keyword)">{{history.keyword}}</td>
                            <td>{{history.category}}</td>
                            <td>{{history.count | number}}개</td>
                            <td>
                                <img (click)="onClickDeleteHistory(history.keyword)" 
                                src="assets/images/search-keyword/ic_delete_red_40.png" alt="삭제">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- 검색 기록 empty -->
                <div class="record-empty" *ngIf="!data.searching_history || data.searching_history.length == 0">
                    <p>
                    최근 검색 기록이 없습니다.<br>
                    순위가 궁금한 상품을 검색해보세요.
                    </p>
                </div>
                <!-- 검색 기록 empty -->

            </div>
        </div>
        <div class="popular-search box">
            <div class="box-header box-icon">
                <span>실시간 인기 검색어</span>
                <div class="help-tool-tip popular-search-tip">
                    <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                </div>
            </div>
            <div class="popular-ranking">
                <ol>
                    <li *ngFor="let pop_ranking of data.popular_keywords">
                        <a [href]="pop_ranking.popular_url" target="_blank">{{pop_ranking.popular_word}}</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- //키워드 검색 end -->

    <!-- 키워드 분석 컨텐츠 start -->
    <section class="keyword-contents" *ngIf="!isBeforeSearch">
        <h2 class="keyword-title">{{data.keyword}}</h2>
        <div class="keyword-category">
            <span *ngFor="let category of data.categories; let idx=index">
                {{category}}
                <span *ngIf="data.categories.length-1 != idx">></span>
            </span>
        </div>
        
    <!-- 키워드 분석 영역1 start -->
    <div class="keyword-section">
        <div class="left-wrap">
            <ul class="shopping">
                <li><a href="#">
                    <img src="assets/images/home/thum_naver_32.png" alt="네이버"/>
                    {{data.site[0]}}
                    </a>
                </li>
                <li><a href="#">
                    <img src="assets/images/home/thum_navershoping_32.png" alt="쿠팡"/>
                    {{data.site[1]}}
                    </a>
                </li>
                <li><a href="#">
                    <img src="assets/images/home/thum_coupang_32.png" alt="쿠팡"/>
                    {{data.site[2]}}
                    </a>
                </li>
            </ul>
            <div class="search-length">
                <div class="product box">
                    <div class="contents-title">
                        <span>상품 수</span>
                    </div>
                    <div class="search-count">
                        <strong class="sum-value">{{data.goods_count | number}}</strong>
                        <span class="number-unit">개</span>
                    </div>
                </div>
                <div class="month box">
                    <div class="contents-title">
                        <span>한 달 검색 수</span>
                    </div>
                    <div class="search-count">
                        <strong>{{data.search_count_day | number}}</strong>
                        <span class="number-unit">회</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ratio box">
            <div class="contents-title">
                <span>기기별 검색 비율</span>
            </div>
            <div class="ratio-contents"></div>
        </div>
    </div>
    <div class="age-group">
        <ul>
            <li *ngFor="let personal of data.personal_info">{{personal}}</li>
        </ul>
        <span>이 모바일에서 많이 찾은 키워드입니다.</span>
    </div>
    <!-- //키워드 분석 영역1 end -->

    <!-- 키워드 분석 영역2 start -->
    <div class="keyword-section">
        <div class="left-wrap">
        <div class="average box">
            <div class="contents-title">
            <span>쇼핑 6개월 전체 매출 평균 
                <div class="six-month-average help-tool-tip">
                    <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                </div>
            </span>
            <ul class="tab-menu">
                <li class="active">TOP 40</li>
                <li>TOP 80</li>
            </ul>
            </div>
            <div class="average-contents box-contents">
            <div class="average-item box-item">
                <span class="contents-subtitle">평균 매출</span>
                <div class="contents-count">
                <strong>{{data.avg_sales | number}}</strong>
                <span>원</span>
                </div>
            </div>
            <div class="average-item box-item">
                <span class="contents-subtitle">평균 판매량</span>
                <div class="contents-count">
                <strong>{{data.avg_sales_count | number}}</strong>
                <span>개</span>
                </div>
            </div>
            <div class="average-item box-item">
                <span class="contents-subtitle">평균 가격</span>
                <div class="contents-count">
                <strong>{{data.avg_price | number}}</strong>
                <span>원</span>
                </div>
            </div>
            </div>
        </div>
        <div class="preference box">
            <div class="contents-title">
            <span>검색 선호도 
                <div class="help-tool-tip search-preferences">
                    <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                </div>
            </span>
            <ul class="tab-menu">
                <li class="active">1위</li>
                <li>2위</li>
                <li>3위</li>
                <li>4위</li>
                <li>5위</li>
                <li>6위</li>
            </ul>
            </div>
            <div class="preference-contents box-contents">
            <div class="preference-item box-item">
                <span class="contents-subtitle">PC 메뉴</span>
                <a href="#">통합</a>
            </div>
            <div class="preference-item box-item">
                <span class="contents-subtitle">Mobile 메뉴</span>
                <a href="#">통합검색</a>
            </div>
            <div class="preference-item box-item">
                <span class="contents-subtitle">PC 본문</span>
                <a href="#">파워링크</a>
            </div>
            <div class="preference-item box-item">
                <span class="contents-subtitle">Mobile 본문</span>
                <a href="#">지식iN</a>
            </div>
            </div>
        </div>
        </div>
        <div class="result-count box">
        <div class="contents-title">
            <span>일일 검색 결과 수
                <div class="help-tool-tip daily-search">
                    <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                </div>
            </span>
        </div>
        <div class="result-contents">
            <div class="result-item box-item box-item">
            <span class="contents-subtitle">블로그</span>
            <div class="contents-count">
                <strong>{{data.search_blog | number}}</strong>
            </div>
            </div>
            <div class="result-item box-item">
            <span class="contents-subtitle">카페</span>
            <div class="contents-count">
                <strong>{{data.search_cafe | number}}</strong>
            </div>
            </div>
            <div class="result-item box-item">
            <span class="contents-subtitle">VIEW</span>
            <div class="contents-count">
                <strong>{{data.search_view | number}}</strong>
            </div>
            </div>
            <div class="result-item box-item">
            <span class="contents-subtitle">이미지</span>
            <div class="contents-count">
                <strong>{{data.search_img | number}}</strong>
            </div>
            </div>
            <div class="result-item box-item">
            <span class="contents-subtitle">지식iN</span>
            <div class="contents-count">
                <strong>{{data.search_knowledge | number}}</strong>
            </div>
            </div>
            <div class="result-item box-item">
            <span class="contents-subtitle">책</span>
            <div class="contents-count">
                <strong>{{data.search_book | number}}</strong>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- //키워드 분석 영역2 end -->

    <!-- 연관검색어 start -->
    <div class="relation-search box">
        <div class="contents-title">
        <span>연관검색어 순위</span>
        <a href="#">더보기</a>
        </div>
        <div class="table-wrap">
            <div class="ranking-table">
                <table>
                    <caption>광고 키워드 
                        <div class="help-tool-tip ad-keyword">
                            <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                        </div>
                    </caption>
                    <thead>
                        <tr>
                        <th>키워드</th>
                        <th>검색량</th>
                        <th>상품 수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ad_rank of data.ad_keywords">
                            <td>{{ad_rank.ad_keyword_name}}</td>
                            <td>{{ad_rank.ad_search_count | number}}회</td>
                            <td>{{ad_rank.ad_product_count | number}}개</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ranking-table">
                <table>
                <caption>쇼핑연관 
                    <div class="help-tool-tip shopping-association">
                        <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                    </div>
                </caption>
                <thead>
                    <tr>
                    <th>키워드</th>
                    <th>검색량</th>
                    <th>상품 수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shopping_rank of data.rel_shopping_ranks">
                        <td>{{shopping_rank.rel_shopping_name}}</td>
                        <td>{{shopping_rank.rel_search_count | number}}회</td>
                        <td>{{shopping_rank.rel_product_count | number}}개</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="ranking-table">
                <table>
                <caption>자동완성 
                    <div class="help-tool-tip auto-completion">
                        <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                    </div>
                </caption>
                <thead>
                    <tr>
                    <th>키워드</th>
                    <th>검색량</th>
                    <th>상품 수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let auto_ranks of data.autocomplete_ranks">
                        <td>{{auto_ranks.auto_ranking_name}}</td>
                        <td>{{auto_ranks.auto_search_count | number}}회</td>
                        <td>{{auto_ranks.auto_product_count | number}}개</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 연관검색어 end -->

    <!-- 트렌드 start -->
    <div class="trend">
        <div class="calendar-area">
        <button class="calendar-btn calendar-from">
            <img src="assets/images/home/ic_calendar_purple_32.png" alt="달력">
            <span class="line"></span>
            <span class="calendar-num">2022.02.01</span>
        </button>
        <span> - </span>
        <button class="calendar-btn calendar-to">
            <img src="assets/images/home/ic_calendar_purple_32.png" alt="달력">
            <span class="line"></span>
            <span class="calendar-num">2022.03.01</span>
        </button>
        <button class="apply">적용</button>
        </div>
        <div class="trend-box box">
        <div class="contents-title">
            <span>클릭/검색 트렌드 변화</span>
            <div class="help-tool-tip trend-change">
                <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
            </div>
            <div class="trend-display">
                <div class="click-trend">
                    <span></span>
                    클릭 트렌드
                </div>
                <div class="search-trend">
                    <span></span>
                    검색 트렌드
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- //트렌드 end -->

    <!-- 키워드 영역3 start -->
    <div class="keyword-section">
        <div class="popular-search box">
        <div class="contents-title">
            <span>{{data.keyword}} 인기검색어 
                <div class="help-tool-tip result-popular-search">
                    <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                </div>
            </span>
            <div class="date">02.01 - 03.01</div>
        </div>
        <div class="popular-ranking">
            <ol>
                <li *ngFor="let popular_search of data.popular_ranking;">
                    {{popular_search}}
                </li>
            </ol>
        </div>
        </div>
        <div class="right-wrap">
            <div class="age-click box">
                <div class="contents-title">
                <span>연령별 클릭 비율 
                    <div class="help-tool-tip age-click-rate">
                        <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                    </div>
                </span>
                <div class="date">2022.02.01 - 2022.03.01</div>
            </div>
        </div>
        <div class="gender-click box">
            <div class="contents-title">
                <span>성별 클릭 비율 
                    <div class="help-tool-tip age-click-rate">
                        <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                    </div>
                </span>
                <div class="date">2022.02.01 - 2022.03.01</div>
            </div>
        </div>
        </div>
    </div>
    <!-- //키워드 영역3 end -->
    </section>
    <!-- //키워드 분석 컨텐츠 end -->
</div>
<!-- Mobile keyword-search -->
<div *ifMobile class="mobile">
    <div class="m-popup-mask"></div>

    <!-- contents start -->
    <div id="contents">
        
        <!-- 헤더 영역 start -->
        <div class="contents-header">
            <div class="contents-title">
                <img src="assets/images/svg/ic_keyword_color_30.svg" alt="">
                <h2>키워드 검색</h2>
                <p>내가 궁금한 키워드를 확인해보세요.</p>
            </div>
        </div>
        <!-- //헤더 영역 end -->

        <!-- 키워드 검색 창 start -->
        <div class="keyword-search-input" [ngClass]="{trendList: !isBeforeSearch}">
            <form>
            <div class="search-input-box">
                    <input type="search" placeholder="키워드를 입력하세요." [(ngModel)]="searchKeyword" [ngModelOptions]="{standalone: true}">
                    <button type="submit" class="keyword-search-btn" (click)="onSubmitKeywordSearch(searchKeyword)">검색</button>
                </div>
                <div class="real-time-trends" *ngIf="!isBeforeSearch">
                    <span>실시간 트렌드</span>
                    <ul>
                        <li *ngFor="let keyword of trendKeywordsMobile;" (click)="onClickKeyword(keyword)">{{keyword}}</li>
                    </ul>
                </div>
            </form>
        </div>
        <!-- 키워드 검색 창 end -->

        <div class="line"></div>

        <!-- 검색한 결과 영역 start -->
        <div class="search-result-area" *ngIf="isBeforeSearch">
            <div class="search-history box">
                <div class="search-history-title">최근 검색 기록</div>
                <p class="null" *ngIf="!data.searching_history || data.searching_history.length == 0">
                    최근 검색 기록이 없습니다.<br>
                    순위가 궁금한 키워드를 검색해보세요.
                </p>
                <ul>
                    <li *ngFor="let history of data.searching_history.reverse()">
                        <b class="searching-keyword" (click)="onClickKeyword(history.keyword)">{{history.keyword}}</b>
                        <p>
                            상품 수 <span>{{history.count | number}}</span>개
                        </p>
                        <button class="delete-btn">
                            <img (click)="onClickDeleteHistory(history.keyword)"
                                src="assets/images/svg/ic_delete_red_32.svg" alt="삭제">
                        </button>
                    </li>
                </ul>
            </div>
            <!-- 실시간 인기검색어 start -->
            <div class="popular-search box">
                <div class="popular-search-title">
                    <img src="assets/images/subscription/thum_navershoping_24.png" alt="네이버 쇼핑">
                    <span>실시간 인기검색어</span>
                    <div class="help-tool-tip popular-search-tip">
                        <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말" class="help-img">
                    </div>
                </div>
                <ol>
                    <li *ngFor="let pop_ranking of data.popular_keywords">
                        <a [href]="pop_ranking.popular_url" target="_blank">{{pop_ranking.popular_word}}</a>
                    </li>
                </ol>
            </div>
            <!-- 실시간 인기검색어 end -->
        </div>
        <!-- 검색한 결과 영역 end -->

            <!-- 키워드 검색 결과 start -->
        <div class="keyword-search-result" *ngIf="!isBeforeSearch">
            <h3>{{data.keyword}}</h3>
            <div class="keyword-category">
                <ul>
                    <li *ngFor="let category of data.categories; let idx=index">
                        {{category}}
                    </li>
                </ul>
            </div>
            <ul class="searching-store">
                <li><a [href]="data.site_url[0]"><img src="assets/images/svg/thum_naver_32.svg" alt="네이버">{{data.site[0]}}</a></li>
                <li><a [href]="data.site_url[1]"><img src="assets/images/subscription/thum_navershoping_24.png" alt="네이버쇼핑">{{data.site[1]}}</a></li>
                <li><a [href]="data.site_url[2]"><img src="assets/images/subscription/thum_coupang_24.png" alt="쿠팡">{{data.site[2]}}</a></li>
            </ul>
            <div class="goods-count box">
                <div class="box-header">상품 수</div>
                <p class="goods-count-num">
                    <b class="g-num">{{data.goods_count | number}}</b> 개
                </p>
            </div>
            <div class="month-search box">
                <div class="box-header">한 달 검색 수</div>
                <p class="month-search-num">
                    <b class="g-num">{{data.search_count_day | number}}</b> 회
                </p>
            </div>
            <div class="device-search box">
                <div class="box-header">기기별 검색 비율</div>
                <div class="graph"></div>
            </div>
            <!-- 연령별 키워드 검색 start -->
            <!-- <div class="age-keyword">
                <ul>
                    <li *ngFor="let personal of data.personal_info">{{personal}}</li>
                    <li><span>이 모바일에서 많이 찾은 키워드입니다.</span></li>
                </ul>
            </div>  -->
            <div class="age-group-wrap">
                <div class="age-group box" *ngFor="let personal of data.personal_info">{{personal}}</div>
                <span>이 모바일에서 많이 찾은 키워드입니다.</span>
            </div>
            
            <!-- 연령별 키워드 검색 end -->
            <!-- 쇼핑 6개월 전체 매출 평균 start -->
            <div class="six-month-average box">
                <div class="box-header help-center">
                    쇼핑 6개월 전체 매출 평균
                    <div class="help-tool-tip six-month-average-tip">
                        <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                    </div>
                </div>
                <ul class="data-times">
                    <li class="active">TOP 40</li>
                    <li>TOP 80</li>
                </ul>
                <ul class="average-sales-contents">
                    <li>
                        <span class="sales-subject">평균 매출</span>
                        <p>
                            <b class="g-num">{{data.avg_sales | number}}</b> 원
                        </p>
                    </li>
                    <li>
                        <span class="sales-subject">평균 판매량</span>
                        <p>
                            <b class="g-num">{{data.avg_sales_count | number}}</b> 개
                        </p>
                    </li>
                    <li>
                        <span class="sales-subject">평균 가격</span>
                        <p>
                            <b class="g-num">{{data.avg_price | number}}</b> 원
                        </p>
                    </li>
                </ul>
            </div>
            <!-- 쇼핑 6개월 전체 매출 평균 end -->
            <!-- 일일 검색 결과 수 start -->
            <div class="daily-search box">
                <div class="box-header help-center">
                    일일 검색 결과 수
                    <div class="help-tool-tip daily-search-tip">
                        <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                    </div>
                </div>
                <ul class="daily-search-contents">
                    <li>
                        <span class="search-where">블로그</span>
                        <b class="g-num">{{data.search_blog | number}}</b>
                    </li>
                    <li>
                        <span class="search-where">카페</span>
                        <b class="g-num">{{data.search_cafe | number}}</b>
                    </li>
                    <li>
                        <span class="search-where">VIEW</span>
                        <b class="g-num">{{data.search_view | number}}</b>
                    </li>
                    <li>
                        <span class="search-where">이미지</span>
                        <b class="g-num">{{data.search_img | number}}</b>
                    </li>
                    <li>
                        <span class="search-where">지식IN</span>
                        <b class="g-num">{{data.search_knowledge | number}}</b>
                    </li>
                    <li>
                        <span class="search-where">책</span>
                        <b class="g-num">{{data.search_book | number}}</b>
                    </li>
                </ul>
            </div>
            <!-- 일일 검색 결과 수 end -->
            <!-- 검색 선호도 start -->
            <div class="search-preferences box">
                <div class="box-header help-center">
                    검색 선호도
                    <div class="help-tool-tip search-preference-tip">
                        <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                    </div>
                </div>
                <ul class="data-times">
                    <li class="active">1위</li>
                    <li>2위</li>
                    <li>3위</li>
                    <li>4위</li>
                    <li>5위</li>
                    <li>6위</li>
                </ul>
                <ul class="search-preferences-contents">
                    <li>
                        <span class="preferences-subject">PC 메뉴</span>
                        <span class="preferences-where">통합</span>
                    </li>
                    <li>
                        <span class="search-where">Mobile 메뉴</span>
                        <span class="preferences-where">통합검색</span>
                    </li>
                    <li>
                        <span class="search-where">PC 본문</span>
                        <span class="preferences-where">파워링크</span>
                    </li>
                    <li>
                        <span class="search-where">Mobile 본문</span>
                        <span class="preferences-where">지식iN</span>
                    </li>
                </ul>
            </div>
            <!-- 검색 선호도 end -->
            <!-- 연관검색어 순위 start -->
            <div class="related-search-wrap">
                <div class="related-search box">
                    <div class="box-header">연관검색어 순위</div>
                    <div class="related-table-scroll">
                        <div class="related-table">
                            <table>
                                <caption>
                                    <div>
                                        광고키워드
                                        <div class="help-tool-tip ad-keyword-tip">
                                            <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                                        </div>
                                    </div>
                                </caption>
                                <thead>
                                    <tr>
                                        <th>키워드</th>
                                        <th>검색량</th>
                                        <th>상품 수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ad_rank of data.ad_keywords">
                                        <td>{{ad_rank.ad_keyword_name}}</td>
                                        <td>{{ad_rank.ad_search_count | number}}회</td>
                                        <td>{{ad_rank.ad_product_count | number}}개</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <caption>
                                    <div>
                                        쇼핑연관 
                                        <div class="help-tool-tip shopping-related-tip">
                                            <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                                        </div>
                                    </div>
                                </caption>
                                <thead>
                                    <tr>
                                        <th>키워드</th>
                                        <th>검색량</th>
                                        <th>상품 수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let shopping_rank of data.rel_shopping_ranks">
                                        <td>{{shopping_rank.rel_shopping_name}}</td>
                                        <td>{{shopping_rank.rel_search_count | number}}회</td>
                                        <td>{{shopping_rank.rel_product_count | number}}개</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <caption>
                                    <div>
                                        자동완성
                                        <div class="help-tool-tip auto-completion-tip">
                                            <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                                        </div>
                                    </div>
                                </caption>
                                <thead>
                                    <tr>
                                        <th>키워드</th>
                                        <th>검색량</th>
                                        <th>상품 수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let auto_ranks of data.autocomplete_ranks">
                                        <td>{{auto_ranks.auto_ranking_name}}</td>
                                        <td>{{auto_ranks.auto_search_count | number}}회</td>
                                        <td>{{auto_ranks.auto_product_count | number}}개</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 연관검색어 순위 end -->
            <!-- 날짜 선택 영역 start -->
            <div class="select-date-area">
                <div class="calendar-area">
                    <button class="calendar-btn calendar-from">
                        <img src="assets/images/svg/ic_calendar_purple_32.svg" alt="달력">
                        <span class="line"></span>
                        <span class="calendar-num">2022.02.01</span>
                    </button>
                    <span> - </span>
                    <button class="calendar-btn calendar-to">
                        <img src="assets/images/svg/ic_calendar_purple_32.svg" alt="달력">
                        <span class="line"></span>
                        <span class="calendar-num">2022.03.01</span>
                    </button>
                    <button class="apply">적용</button>
                </div>
                <div class="trend-change box">
                    <div class="box-header help-center">
                        클릭/검색 트렌드 변화
                        <div class="help-tool-tip search-trend-tip">
                            <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                        </div>
                    </div>
                    <ul class="trend-class">
                        <li>클릭 트렌드</li>
                        <li>검색 트렌드</li>
                    </ul>
                    <div class="graph"></div>
                </div>
                <div class="age-click box">
                    <div class="box-header help-center">
                        연령별 클릭 비율
                        <div class="help-tool-tip age-rate-tip">
                            <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                        </div>
                    </div>
                    <div class="selected-date">
                        <span>2022.02.01</span>
                        -
                        <span>2022.03.01</span>
                    </div>
                    <div class="graph"></div>
                </div>
                <div class="gender-click box">
                    <div class="box-header help-center">
                        성별 클릭 비율
                        <div class="help-tool-tip gender-rate-tip">
                            <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                        </div>
                    </div>
                    <div class="selected-date">
                        <span>2022.02.01</span>
                        -
                        <span>2022.03.01</span>
                    </div>
                    <div class="graph"></div>
                </div>
            </div>
            <!-- 날짜 선택 영역 end -->
        </div>
        <!-- 키워드 검색 결과 end -->
    </div>
</div>
