
<div [formGroup]="formGroup" class="item-horizontal image-content middle-vertical" style="display: block;">

     <!-- 파일명 : filename -->
     <div *ngIf="fileName && fileName.length > 0" class="item-horizontal order-num" style="cursor: pointer;"
        (click) = "onFileDownload(_file)">{{fileName}}</div>

     <!-- 미리보기 -->
     <!-- <div class="item-horizontal middle-vertical" >
         <div>
             <div class="small-image-box" [style.background-image]="'url('+_file+')'"></div>
         </div>
     </div> -->

     <!-- 삭제버튼  -->
    <div [hidden]="!hasDeleteBtn || ((!_file || _file.length == 0) && !cacheFile)" class="item-horizontal" style="padding: 10px; vertical-align: -webkit-baseline-middle;">
        <div class="check square-checkbox display-checkbox" [formGroup]="subForm">
            <input type="checkbox" id="remove-file-{{seq}}" name="remove-file" formControlName="isRemoveFile"/>
            <label style="padding-top:5px;" for="remove-file-{{seq}}">삭제</label>
        </div>
    </div>

    <!-- 찾아보기 -->
    <label for="{{name}}-{{seq}}" class="custom-file-upload" >찾아보기</label>
    <input type="file" id="{{name}}-{{seq}}"(change)="onFileUpload($event)" />

    <!-- 파일명 input -->
    <!-- <input type="text"  class="file-text-area" formControlName="{{name}}" readonly="readonly" [style.width]="width"/>

    -->
    <!-- 부가 정보 -->
    <div *ngIf="fileType || fileSize">
            <div class="image-title-bold">확장자 :</div> {{fileType}}&nbsp;&nbsp;
            <div class="image-title-bold">사이즈 : </div>{{fileSize}}
            <div *ngIf="noticeText">
                <div class="image-title-bold">주의사항 : </div>
                {{noticeText}}
            </div>
    </div>

    <!-- Validate 표시  -->
    <div *ngIf="ctrl?.invalid && (ctrl.dirty || ctrl.touched)" class="alert alert-danger">
        <div *ngIf="ctrl.errors.required">
                <img class="required-img" src="assets/img/must_txt.png"/>
                이 항목은 필수입니다.
        </div>
    </div>

</div>

