<div class="wrap-modal">
    <modal-review-query-form [setQuery]="query"(query)="reloadWithQuery($event)"></modal-review-query-form>
    <bo-page-padding></bo-page-padding>
    <div style="margin: auto; max-width: 100%; margin-bottom: 50px;">

        <data-table #bsDatatable
            headerTitle="datatable"
            [header]="true"
            [items]="items"
            [itemCount]="itemCount"
            [indexColumn]="false"
            [selectColumn]="true"
            (reload)="reloadItems($event)"
            [sortBy] = "'seq'"
            [sortAsc] = "false">

            <bs-header-button-config id = "id-board-list-selected-btn"
                [title] = "'선택삭제'"
                [styleType] = "'square-s-greyborder-btn'"
                (click) = "deleteSelectedItem($event , 'seq')">
            </bs-header-button-config>

            <data-table-column
                [property]="'best'"
                [header]="'베스트'"
                [sortable]="true"
                [width]="66">
                <ng-template #dataTableHeader let-item="item">
                        베스트
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                    <span *ngIf="item.best == 'none'" (click)="onClickBestItem(item.seq , 'checked' , item)"><img src="/assets/img/btn_star-01.png" /></span>
                    <span *ngIf="item.best == 'checked'" (click)="onClickBestItem(item.seq, 'none',  item)"><img src="/assets/img/btn_star-02.png" /></span>
                </ng-template>
            </data-table-column>
            <data-table-column
                [property]="'seq'"
                [header]="'번호'"
                [sortable]="true"
                [width]="80">
            </data-table-column>

            <data-table-column
                property="name"
                header="작성자"
                [width]="100">
            </data-table-column>

            <data-table-column
                [property]="'goods_image'"
                [header]="'이미지'"
                [width]="80">
                <ng-template #dataTableCell let-item="item" >
                    <img (click)="updateItem(item.goods_seq)" [src] = "item.goods_image"  style="width: 44px; height: 44px;">
                </ng-template>
            </data-table-column>
            <data-table-column
                [property]="'goods_name'"
                [header]="'상품명'"
                [sortable]="true"
                [align]="'left'">
                <ng-template #dataTableCell let-item="item" >
                    <span (click)="onClickViewItem(item , template , 'goods_review')">
                        {{item?.goods?.goods_name}}</span>
                </ng-template>
            </data-table-column>

            <data-table-column
                [property]="'regist_date'"
                [header]="'등록일'"
                [width]="100"
                [sortable]="true">
                <ng-template #dataTableCell let-item="item" >
                    <span>{{item.regist_date | date: 'yyyy-MM-dd'}}</span>
                </ng-template>
            </data-table-column>

            <data-table-column
                [property]="'score'"
                [header]="'평점'"
                [width]="120"
                [sortable]="true">
                <ng-template #dataTableCell let-item="item" >
                    <bs-rating #small [values]="item?.score" [max]="max" [isReadonly]="isReadonly" [style]="'star2'"></bs-rating>
                </ng-template>
            </data-table-column>

            <data-table-column
                [header]="'화면보기'"
                [width]="120">
                <ng-template #dataTableHeader let-item="item">
                    화면보기
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                    <a target="_blank" href="{{frontAppURL+'/board/review/list' }}">
                        <bo-page-button [type]="'s-lightnavy'" [title]="'사용자화면'"></bo-page-button>
                    </a>
                </ng-template>
            </data-table-column>
            <data-table-column
                [property]="'hidden'"
                [header]="'노출'"
                [width]="80">
                <ng-template #dataTableCell let-item="item">
                        <ui-switch (change)="onClickChangeHiddenStatus($event, item)" [checked]="item.hidden == 0" size="small" color="#e7e7e7" switchColor="rgb(234,0,61)" switchOffColor="rgb(150,150,150)" defaultBgColor="#dadada" defaultBoColor="#dadada"></ui-switch>
                    <!-- <ui-switch *ngIf="item.hidden == 0" (change)="onClickChangeHiddenStatus($event)" size="small" color="#e7e7e7" switchColor="rgb(234,0,61)" switchOffColor="rgb(150,150,150)" defaultBgColor="#dadada" defaultBoColor="#dadada"></ui-switch> -->
                    <!-- <bo-button-collection *ngIf="item.hidden == 1" [id]="'toggle'"></bo-button-collection>
                    <bo-button-collection *ngIf="item.hidden == 0" [id]="'toggle'"></bo-button-collection> -->
                </ng-template>
            </data-table-column>

            <data-table-column
                [header]="'선택'"
                [width]="70">
                <ng-template #dataTableCell let-item="item">
                <bo-page-button  class="margin-class" [title]="'선택'" (click)="onClickGoodsNumber(item)" [type]="'s-darkgrey'"  ></bo-page-button>
                </ng-template>
            </data-table-column>
        </data-table>
    </div>
</div>
