<!-- 게시판 표준 - 댓글 보기 팝업 -->
<div class="section" style="position: relative; padding: 10px;">
    <div class="button-wrap" style="position: absolute; top: 5px; right: 30px; padding-top: 3px;">
      <bo-page-button
          id = "id-export-excel-download"
          [title]="'파일 다운로드'"
          [type] = "'square-m-white-btn'"
          [imgUrl]="'assets/img/excel-icon.svg'"
          (click) = "onClickExcelDownload($event)">
      </bo-page-button>
      <!-- <bo-page-button
          id = "id-post-comment"
          [title]="'댓글달기'"
          [type] = "'square-m-black-btn'"
          (click) = "onClickExcelDownload($event)">
      </bo-page-button> -->
    </div>
    <div class="content-wrap" style="margin-top:40px; padding: 10px !important;">
        <div class="outlet-section" style="border:none;">
          <div class="board-view">
              <div class="content-header">
                  <!-- 제목 -->
                  <div class="title">
                      <span ><img *ngIf="boardConfig?.use.secret && _oriContentData?.secret == 1" src="/assets/img/board/icon_lock.png" /></span>
                      <span *ngIf="_oriContentData?.onlynotice==1" style="color: #fff; background: red; padding: 0px 5px;vertical-align: sub;">중요</span>
                      <span style="vertical-align: middle; padding-left:10px;">{{_oriContentData?.subject}}</span>
                  </div>
                  <div class="content-button">
                  </div>
                  <!-- 작성자, 이메일, IP, 조회수, 날짜 -->
                  <div class="content-sub-header">
                    <div class="sub-items"><span class="text-light-grey">작성자 :</span><span>{{(_oriContentData?.name)?_oriContentData?.name:_oriContentData?.mid}}</span></div>
                    <div class="sub-items"><span class="text-light-grey">이메일 :</span><span>{{_oriContentData?.email}}</span></div>
                    <div class="sub-items" *ngIf="boardId == 'goods_qna' || boardId == 'mbqna'"><span class="text-light-grey">ID :</span><span>{{_oriContentData?.mid}}</span></div>
                    <div class="sub-items"><span class="text-light-grey">IP :</span><span>{{_oriContentData?.ip}}</span></div>
                    <div class="sub-items"><span class="text-light-grey">조회수 :</span><span>{{_oriContentData?.hit}}</span></div>
                    <div class="sub-items"><span class="text-light-grey">날짜 :</span><span>{{_oriContentData?.regist_date | date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
                  </div>
                  <div class="content-sec-sub-header" *ngIf="_oriContentData?.upload && _oriContentData?.upload.length > 0">
                    <div class="item-horizontal"><span class="text-light-grey" style="vertical-align: top;">파일명 :</span>
                        <div style="display: inline-block;">
                            <div *ngFor="let item of _oriContentData?.file_name; let idx=index;" style="padding-bottom: 3px;">
                                <span *ngIf="_oriContentData?.file_name && _oriContentData?.file_name.length>0 && item">{{item}}</span>
                                <bo-page-button *ngIf="_oriContentData?.file_name && _oriContentData?.file_name.length>0 && item"
                                    [type]="'s-darkgrey'" [title]="'다운로드'" (click) = "onFileDownload(_oriContentData?.upload[idx])" style="margin-left: 10px;"></bo-page-button>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="content-body">
                  <data-table #bsDatatable
                      headerTitle="datatable"
                      [header]="true"
                      [items]="items"
                      [itemCount]="itemCount"
                      [indexColumn]="false"
                      [selectColumn]="true"
                      [sortBy] = "'seq'"
                      [sortAsc] = "false"
                      [expandableRows]="true"
                      [expanded]="false"
                      (reload)="reloadItems($event)"
                      >
                      
                      <ng-template #dataTableExpand let-item="item">
                          
                          <data-table #bsDatatable2
                              [header]="false"
                              [tableHeader]="false"
                              [items]="item.replies"
                              [itemCount]="item.replies.length"
                              [indexColumn]="false"
                              [selectColumn]="false"
                              [pagination]="false"
                              >                             
                          
                              <data-table-column
                                [property]="'content'"
                                [header]="'답글'"
                                [align]="'left'"
                                [width]="645"
                                [sortable]="false">
                                <ng-template #dataTableCell let-item="item" >
                                 
                                  <span style="padding-left: 10px;" [hidden]="item.isShowModify">
                                    <img *ngIf="item.hidden == 1" src="/assets/img/board/icon_lock.png" style="width:10px;margin-right:5px"/>{{item.content}}</span>
                                  <div [hidden]="!item.isShowModify" class="outlet-section" style="border:none;">
                                    <textarea class="textarea" style="margin-left: 0;width: 83%;height: 50px;border-color:#e0e0e0;" [(ngModel)]="item.newContent"></textarea>
                                    <button type="button" style="float:right;margin-right:0px;width:45px;height:49px;background-color: rgb(255,255,2255);color:black" 
                                      (click)="onClickCancelModifyComment(item)">
                                      취소
                                    </button>
                                    <button type="button" style="float:right;margin-right:5px;width:45px;height:49px;background-color: rgb(76,79,91);color:white" 
                                      (click)="onClickPostModifyComment(item)">
                                      수정
                                    </button>
                                  </div>
                                </ng-template>
                              </data-table-column>
        
                              <data-table-column
                                  [property]="'name'"
                                  [header]="'게시자명/아이디'"
                                  [align]="'center'"
                                  [width]="70">
                                  <ng-template #dataTableCell let-item="item">
                                      <div>{{item.name}} / {{item.mid}}</div>
                                  </ng-template>
                              </data-table-column>
        
                              <data-table-column
                                  [property]="'regist_date'"
                                  [header]="'등록일시'"
                                  [sortable]="true"
                                  [width]="80">
                                  <ng-template #dataTableCell let-item="item" >
                                    <span>{{item.regist_date | date: 'yyyy-MM-dd'}}</span>
                                </ng-template>
                              </data-table-column>
        
                              <data-table-column
                                  [property]="'display'"
                                  [header]="'삭제여부'"
                                  [width]="70"
                                  [align]="'center'">
                                  <ng-template #dataTableCell let-item="item">
                                    {{item.display == '1'?'삭제됨':'정상'}}
                                  </ng-template>
                              </data-table-column>
        
                              <!-- <data-table-column
                                  [property]="'updatable'"
                                  [header]="'수정권한'"
                                  [width]="70"
                                  [align]="'center'">
                                  <ng-template #dataTableCell let-item="item">
                                    {{item.updatable == 'Y'?'가능':'불가능'}}
                                  </ng-template>
                              </data-table-column>
                              
                              <data-table-column
                                  [property]="'deletable'"
                                  [header]="'삭제권한'"
                                  [width]="70"
                                  [align]="'center'">
                                  <ng-template #dataTableCell let-item="item">
                                    {{item.deletable == 'Y'?'가능':'불가능'}}
                                  </ng-template>
                              </data-table-column> -->

                              <data-table-column
                                  [property]="'reply_cnt'"
                                  [header]="'답글수'"
                                  [width]="70"
                                  [align]="'center'">
                              </data-table-column>
                            
                              <data-table-column
                                  header="manage"
                                  [align]="right">
                                  <ng-template #dataTableHeader let-item="item">
                                      관리
                                  </ng-template>
                                  <ng-template #dataTableCell let-item="item">
                                    <bo-button-collection class="margin-class" [id]="'edit'" (click)="onClickModifyComment(item)" ></bo-button-collection>
                                    <!-- <bo-button-collection [id]="'copy'" (click)="onClickCopy(item.boardid , item.seq)"></bo-button-collection> -->
                                    <bo-button-collection class="margin-class" [id]="'delete'" (click)="deleteItem(item.seq)"></bo-button-collection>
                                  </ng-template>
                              </data-table-column>
                          </data-table>
                          
                          <div class="my-horizontal date square-checkbox" style="margin-bottom: 5px;text-align: left;margin-left: 14px;">
                              <input type="checkbox" id="secret-{{item.seq}}" name="secret" [(ngModel)]="item.isSecret" [ngModelOptions]="{standalone: true}"/>
                              <label for="secret-{{item.seq}}" class="check-label ns-regular" style="color: #000">&nbsp;비밀 답글</label>
                          </div>
                          <textarea class="textarea" style="margin-left: 0;width: 90%;height: 50px;border-color:#e0e0e0; margin-bottom: 12px" [(ngModel)]="item.newReplyData"></textarea>
                          <button type="button" style="float:right;margin-right:13px;width:73px;height:49px;background-color: rgb(76,79,91);color:white" 
                            (click)="onClickPostReply(item)">
                            답글달기
                          </button>
                          <!-- <bo-page-button
                              style="float:right;margin-right:22px;width:73px;height:49px"
                              id = "id-post-reply"
                              [title]="'답글달기'"
                              [type] = "'square-s-black-btn'"
                              (click) = "onClickPostReply(item.seq)">
                          </bo-page-button> -->
                      </ng-template>

                      <!-- 선택삭제 버튼-->
                      <bs-header-button-config id = "id-board-list-selected-btn"
                          [title] = "'선택삭제'"
                          [styleType] = "'square-s-greyborder-btn'"
                          (click) = "deleteSelectedItem($event, 'seq')">
                      </bs-header-button-config>
                  
                      <data-table-column
                        [property]="'content'"
                        [header]="'댓글'"
                        [align]="'left'"
                        [sortable]="false">
                        <ng-template #dataTableCell let-item="item" let-row="row">
                          <span [hidden]="item.isShowModify" class="hov clickable" (click)="onClickTitle(row)">
                            <img *ngIf="item.hidden == 1" src="/assets/img/board/icon_lock.png" style="width:10px;margin-right:5px"/>{{item.content}}</span>
                          <div [hidden]="!item.isShowModify" class="outlet-section" style="border:none;">
                            <textarea class="textarea" style="margin-left: 0;width: 81%;height: 50px;border-color:#e0e0e0;" [(ngModel)]="item.newContent"></textarea>
                            <button type="button" style="float:right;margin-right:0px;width:45px;height:49px;background-color: rgb(255,255,2255);color:black" 
                              (click)="onClickCancelModifyComment(item)">
                              취소
                            </button>
                            <button type="button" style="float:right;margin-right:5px;width:45px;height:49px;background-color: rgb(76,79,91);color:white" 
                              (click)="onClickPostModifyComment(item)">
                              수정
                            </button>
                          </div>
                        </ng-template>
                      </data-table-column>

                      <data-table-column
                        [property]="'name'"
                        [header]="'게시자명'"
                        [align]="'center'"
                        [width]="70">
                        <ng-template #dataTableCell let-item="item">
                          <div>{{item.name}} / {{item.mid}}</div>
                        </ng-template>
                    </data-table-column>

                      <data-table-column
                          [property]="'regist_date'"
                          [header]="'등록일시'"
                          [sortable]="true"
                          [width]="80">
                          <ng-template #dataTableCell let-item="item" >
                            <span>{{item.regist_date | date: 'yyyy-MM-dd'}}</span>
                        </ng-template>
                      </data-table-column>

                      <data-table-column
                          [property]="'display'"
                          [header]="'삭제여부'"
                          [width]="70"
                          [align]="'center'">
                          <ng-template #dataTableCell let-item="item">
                            {{item.display == '1'?'삭제됨':'정상'}}
                          </ng-template>
                      </data-table-column>

                      <data-table-column
                          [property]="'reply_cnt'"
                          [header]="'답글수'"
                          [width]="70"
                          [align]="'center'">
                      </data-table-column>
                     
                      <data-table-column
                          header="manage"
                          [width]="200">
                          <ng-template #dataTableHeader let-item="item">
                              관리
                          </ng-template>
                          <ng-template #dataTableCell let-item="item">
                              <bo-button-collection *ngIf="item.updatable == 'Y'" class="margin-class" [id]="'edit'" (click)="onClickModifyComment(item)" ></bo-button-collection>
                              <bo-button-collection *ngIf="item.deletable == 'Y'" class="margin-class" [id]="'delete'" (click)="deleteItem(item.seq)"></bo-button-collection>
                          </ng-template>
                      </data-table-column>
                  </data-table>
              </div>
          </div>
        </div>
    </div>
    <div class="content-wrap" style="margin-top:20px; padding: 10px !important;">
      <div class="outlet-section" style="border:none;">
        <!-- <div class="my-horizontal date square-checkbox" style="margin-bottom: 5px;">
            <input type="checkbox" id="secret" name="secret" [(ngModel)]="isSecret" [ngModelOptions]="{standalone: true}"/>
            <label for="secret" class="check-label ns-regular" style="color: #000">&nbsp;비밀 댓글</label>
        </div> -->
          <textarea class="textarea" style="margin-left: 0;width: 93%;height: 50px;border-color:#e0e0e0;" [(ngModel)]="newCommentData"></textarea>
          <button type="button" style="float:right;margin-right:0px;width:73px;height:49px;background-color: rgb(76,79,91);color:white" 
            (click)="onClickPostComment()">
            댓글달기
          </button>
      </div>
    </div>
</div>
