.header-wrap .right-menu {
	position: absolute;
	top: 30px;
	right: -8px;
	font-family: 'TVING';
	font-weight: 700;
	font-size: 14px;
	line-height: 50px;
}
.right-menu li {
	float: left;
	display: inline-block;
	color: #1e1e1e;
}
.right-menu > span {
	float: left;
	display: inline-block;
	padding: 0 14px;
	color: #1e1e1e;
}
.right-menu .cart {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 4px;
	text-indent: -9999px;
	background: url('/assets/temp_image_pc/icon_cart.png') center center no-repeat;
	background-size: 24px 24px;	
}
.right-menu .cart .badge {
	position: absolute;
	right: -1px;
	bottom: 1px;
	display: inline-block;
	width: 19px;
	height: 19px;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	font-family: 'Lato';
	font-weight: 700;
	font-size: 11px;
	color: #fff;
	line-height: 19px;
	text-align: center;
	text-indent: 0;
	background-color: #ff153c;
    padding: 0;  /*toto*/
}

.right-menu .account-box{
    text-align: center;
    width: 138px;
    position: absolute;
    top: 46px;
    right: 8px;
    border: 1px solid rgb(225,225,225);
    background-color: #fff;
    z-index: 1000;
    padding-top: 7px;
}
.right-menu .account-box li{
    width: 100%;
    padding: 0;
    height: 38px;
    line-height: 38px;
    font-weight: 400;
    font-size: 14px;
    display: block;
}
.right-menu .account-box li:hover{
    color:#ea003d;
}
.right-menu .account-box li a:hover {
    color:#ea003d;
    text-decoration: none;
}

.account-point{
    position: absolute;
    z-index: 1000;
    bottom: 6px;
    left: 33px;
}

/* a {
    color: #929292;
}

li {
  cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #929292;
}

button {
    background: none;
    border: none;
    vertical-align: top;
}
.main-right-menu {
    padding-right: 0;
}
.main-right-menu , li {
    list-style: none;
    display: inline-block;
    height: 42px;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
}
.main-right-menu li {
    padding-right: 27px;
    vertical-align: top;
}
.main-right-menu .actbox-padding {
    padding-right: 40px;
}
.main-right-menu .main-myshopping {
    width: 19px;
    height: 19px;
    background: gray;
    border-radius: 10px;
    position: relative;
    top: -27px;
    right: -25px;
}
.main-right-menu .main-myshopping .main-myshopping-num {
    font-size: 10px;
    color: #fff;
    text-align: center;
    height: 19px;
    line-height: 17px;
}
.main-right-menu .actbox-end {
    padding-right: 0;
}
.main-right-menu .my-shopping button {
    height: 42px;
    padding: 0;
}



@media screen and (max-width: 1767px) {

} */
