<div class="right-menu">
    <li *ngIf="!env.production && !env.qc && !auth.isLogined()"><a (click)="onClickTestLogin()" style="opacity: 0;">테스트 로그인<span>|</span></a></li>    
    <li class="clickable" *ngIf="!auth.isLogined()" (click)="onClickLogin()">로그인</li><span *ngIf="!auth.isLogined()">|</span>
    <li class="clickable" *ngIf="!auth.isLogined()" (click)="onClickSignUp()">회원가입</li><span *ngIf="!auth.isLogined()">|</span>
    <li (mouseenter)="hoverUserBox()" (mouseleave)="leaveUserBox($event);"  *ngIf="auth.isLogined()" style="padding-top:2px;padding-right:2px;">
        <a>{{auth.userName}}님</a>
        <img *ngIf="account"  class="account-point" src="/assets/img/login_t.png"/>
    </li>
    <div class="account-box" *ngIf="account" (mouseenter)="hoverActBox()" (mouseleave)="leaveActBox($event)" >
        <li class="clickable" routerLink="/mypage" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'TOP_UTILITY'" [attr.ga-label]="'마이티빙몰'">마이티빙몰</li>
        <li class="clickable" (click)="onClickLogout()" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'TOP_UTILITY'" [attr.ga-label]="'로그아웃'">로그아웃
        </li>
        <li class="clickable" *ngIf="!env.production && !env.qc" (click)="onClickTestLogout()" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'TOP_UTILITY'"
            [attr.ga-label]="'테스트 로그아웃'"><a>테스트 로그아웃</a></li>
    </div>
 
    <li routerLink="/order/cart" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB_UTILITY_2'" [attr.ga-label]="'장바구니'" class="cart clickable">장바구니<span class="badge">{{cartCount}}</span></li>
</div>
<!-- <ul class="main-right-menu"  *ifDesktop >
    <li *ngIf="!env.production && !env.qc && !auth.isLogined()"><a (click)="onClickTestLogin()">테스트 로그인 </a></li>
    <li *ngIf="!auth.isLogined()" (click)="onClickLogin()">로그인</li>
    <li *ngIf="!auth.isLogined()" (click)="onClickSignUp()">회원가입</li>

    <li (mouseenter)="hoverUserBox()" (mouseleave)="leaveUserBox($event);"  *ngIf="auth.isLogined()" style="padding-top:2px;"><a>{{auth.userName}}님</a><img *ngIf="account"  class="account-point" src="/assets/img/login_t.png"/></li>

    <div class="account-box" *ngIf="account" (mouseenter)="hoverActBox()" (mouseleave)="leaveActBox($event)" >
        <li routerLink="/mypage" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'TOP_UTILITY'" [attr.ga-label]="'마이티빙몰'">마이티빙몰</li>
        <li (click)="onClickLogout()" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'TOP_UTILITY'" [attr.ga-label]="'로그아웃'">로그아웃
        </li>
        <li *ngIf="!env.production && !env.qc" (click)="onClickTestLogout()" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'TOP_UTILITY'"
            [attr.ga-label]="'테스트 로그아웃'"><a>테스트 로그아웃</a></li>
    </div>
    <li class="actbox-padding">
        <a routerLink="/order/cart" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB_UTILITY_2'" [attr.ga-label]="'장바구니'">
            <img src="/assets/img/2.1.01_cart.png"/>
            <div class="main-myshopping">
                <div class="main-myshopping-num">{{cartCount}}</div>
            </div>
        </a>
    </li>
    <li class="actbox-end"><a class="my-shopping">
            <button type="button" class="btn btn-outline-primary" (click)="onClickSearchBtn()" ga-listener [attr.ga-category]="'MALL_PC_HEADER'" [attr.ga-action]="'GNB_UTILITY_2'" [attr.ga-label]="'검색'">
                    <img src="/assets/img/2.1.01_search.png"/>
            </button>
        </a>
    </li>
</ul> -->
