
<div class="new-tabs" [ngStyle]="{'padding' : padding }">
  <li *ngFor="let tab of tabs[0]; let idx = index" (click)="onClickTab(tab, idx)" class="tab-item"
    [class.active]="selectedTab == tab"
    [ngStyle]="{'width': tabWidth[0][idx], 'padding': innerPadding, 'font-size' : fontSize}"
    >{{tab}}</li>
</div>

<div class="new-tabs" [ngStyle]="{'padding' : padding }">
    <li *ngFor="let tab of tabs[1]; let idx = index" (click)="onClickTab(tab, idx)" class="tab-item tab-bottom-item"
      [class.active]="selectedTab == tab"
      [ngStyle]="{'width': tabWidth[1][idx], 'padding': innerPadding, 'font-size' : fontSize}"
      >{{tab}}</li>
  </div>
