<bo-page-header [imgUrl]="'assets/img/crm/crm-title.svg'" [title]="'활동정보'">
</bo-page-header>
<div class="section">
    <div class="content-wrap two-line-content">
        <div class="sub-title-bar">
            <img src="/assets/img/03-3-order.svg" /> 고객데이터
        </div>
        <div class="basic-table content-table">
            <table>
                <colgroup>
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="15%">
                </colgroup>
                <tr>
                    <th>적립금</th>
                    <td>{{item?.emoney}}</td>

                    <th>이머니</th>
                    <td>{{item?.cash}}</td>

                    <th>포인트</th>
                    <td>{{item?.point}}</td>
                </tr>

                <tr>
                    <th>쿠폰/코드</th>
                    <td>{{item?.unusedcount}}/{{item?.promotioncount}}</td>

                    <th>누적구매액</th>
                    <td>{{item?.order_sum}}</td>

                    <th>누적주문수</th>
                    <td>{{item?.order_cnt}}회 ({{item?.order_sum}})</td>
                </tr>

                <tr>
                    <th>방문수</th>
                    <td>{{item?.login_cnt}}</td>

                    <th>최근 수정일</th>
                    <td>{{item?.update_date | date: 'yyyy-MM-dd'}}</td>

                    <th>최근 성인인증일</th>
                    <td>
                        <a>내역보기</a>
                    </td>

                </tr>
                <!-- <tr>
                        <th>최근 로그인</th>
                        <td>{{item?.sex}}</td>

                    </tr> -->
            </table>
        </div>
    </div>
    <div class="content-wrap two-line-content">
        <div class="sub-title-bar">
            <img src="/assets/img/03-3-order.svg" /> 고객데이터
        </div>
        <div class="basic-table content-table">
            <table>
                <colgroup>
                    <col width="50%">
                    <col width="50%">
                </colgroup>
                <tr>
                    <th>고객데이터</th>
                    <th>상품</th>
                </tr>
                <tr>
                    <td>최근본상품</td>
                    <td rowspan="6"></td>
                </tr>
                <tr>
                    <td>장바구니에 담은 상품</td>
                </tr>
                <tr>
                    <td>위시리스트에 담은 상품</td>
                    <tr>
                        <td>재입고 알림을 요청한 상품</td>
                    </tr>
                    <tr>
                        <td>'좋아요'한 상품</td>
                    </tr>
                    <tr>
                        <td>최근 검색어</td>
                    </tr>
            </table>
        </div>
    </div>
</div>
