<bo-page-header [imgUrl]="'assets/img/borad-header.svg'" [title]="'PG검수업로드'" >
</bo-page-header>

<div class="section">
    <div class="content-wrap">
        <bs-title-label-ctrl
            [title]="'이니시스 카드 내역 업로드'">
        </bs-title-label-ctrl>
        <div class="content-block" style="padding: 5px 15px;">
            <div class="content-box">
                <div class="content-new-line">
                    <input type="file" id="file-upload-inicis-card"    (change)="onFileUploadInicisCard($event)" />
                    <input type="text" [value]="fileUploadInicisCardName" id="file-upload-inicis-card-name" class="file-text-area" readonly="readonly" />
                    <label for="file-upload-inicis-card" class="custom-file-upload">파일선택</label>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrap">
        <bs-title-label-ctrl
            [title]="'이니시스 가상계좌 내역 업로드'">
        </bs-title-label-ctrl>
        <div class="content-block" style="padding: 5px 15px;">
            <div class="content-box">
                <div class="content-new-line">

                    <input type="file" id="file-upload-inicis-virtual"    (change)="onFileUploadInicisVirtual($event)" />
                    <input type="text" [value]="fileUploadInicisVirtualName" id="file-upload-inicis-virtual-name" class="file-text-area" readonly="readonly" />
                    <label for="file-upload-inicis-virtual" class="custom-file-upload">파일선택</label>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrap">
        <bs-title-label-ctrl
            [title]="'네이버페이 내역 업로드'">
        </bs-title-label-ctrl>
        <div class="content-block" style="padding: 5px 15px;">
            <div class="content-box">
                <div class="content-new-line">

                    <input type="file" id="file-upload-naverpay"    (change)="onFileUploadNaverpay($event)" />
                    <input type="text" [value]="fileUploadNaverpayName" id="file-upload-naverpay-name" class="file-text-area" readonly="readonly" />
                    <label for="file-upload-naverpay" class="custom-file-upload">파일선택</label>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrap">
        <div class="content-block" style="padding: 5px 15px;">
            <div class="content-box">
                <data-table #bsDatatable
                    headerTitle="datatable"
                    [header]="false"
                    [items]="items"
                    [itemCount]="itemCount"
                    [indexColumn]="false"
                    [selectColumn]="false"
                    [sortBy] = "'upload_seq'"
                    [sortAsc] = "false"
                    (reload)="reloadItems($event)">

                    <!-- <data-table-column
                        [property]="'upload_seq'"
                        [header]="'ID'"
                        [sortable]="true"
                        [width]="50"
                        [align]="'left'">
                    </data-table-column> -->

                    <data-table-column
                        [property]="'upload_date'"
                        [header]="'등록일시'"
                        [width]="220"
                        >
                        <ng-template #dataTableHeader let-item="item">
                            등록일시
                        </ng-template>
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.upload_date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        </ng-template>
                    </data-table-column>

                    <data-table-column
                        [property]="'uploader'"
                        [header]="'등록자'"
                        [width]="70">
                    </data-table-column>

                    <data-table-column
                        [property]="'upload_filename'"
                        [header]="'등록파일'"
                        [width]="300"
                        [align]="'left'">
                    </data-table-column>

                    <data-table-column
                        [property]="'result_success'"
                        [header]="'성공'"
                        [sortable]="true"
                        [align]="'left'">
                    </data-table-column>

                    <data-table-column
                        [property]="'result_failed'"
                        [header]="'실패'"
                        [sortable]="true"
                        [align]="'left'">
                        <ng-template #dataTableCell let-item="item">
                            <pre>{{ item.result_failed }}</pre>
                        </ng-template>
                    </data-table-column>
                </data-table>
            </div>
        </div>
    </div>
</div>
