<div class="section">
    <div class="content-wrap complex-content">
        <div class="content-block">
            <div class="content-box">
                <div class="content-title">
                    사용제한금액
                </div>
                <div class="content">
                    {{data.limit_goods_price}}원 이상 구매 시
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    유효기간
                </div>
                <div class="content">
                    <div *ngIf="!data?.after_issue_day || data?.after_issue_day  == ''">{{data?.issue_startdate | date: 'yyyy-MM-dd'}}<br>{{data?.issue_enddate | date: 'yyyy-MM-dd'}} </div>
                    <div *ngIf="data?.after_issue_day">발급일 ~ {{data?.after_issue_day}}일</div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    혜택
                </div>
                <div class="content">
                    <div>
                        <div *ngIf="data?.sale_type!='won' && (data?.type=='download' || data?.type=='member') || data?.type=='admin' && data?.percent_goods_sale">
                            {{data?.percent_goods_sale}}%할인,
                        </div>
                        <div *ngIf="data?.sale_type!='won' && (data?.type=='download' || data?.type=='member') || data?.type=='admin' && data?.max_percent_goods_sale">
                            (최대 {{data?.max_percent_goods_sale | number}}원)
                        </div>
                        <div *ngIf="data?.sale_type=='won' && (data?.type=='download' || data?.type=='member') || data?.type=='admin' && data?.won_goods_sale">
                            판매 가격의 {{data?.won_goods_sale | number}}원
                        </div>
                        <!-- <div>{{data?.salescost_admin}}% VS {{data?.salescost_admin}}</div> -->
                        <div *ngIf="data?.type!='admin' && (data?.type!='download' ||  data?.type=='member') && data?.sale_type=='percent'">
                            무료, 최대 {{data?.max_percent_shipping_sale | number}}원
                        </div>
                        <div *ngIf="data?.type!='admin' && (data?.type!='download' || data?.type=='member')  && data?.sale_type!='percent' && data?.won_shipping_sale">
                            배송비 {{data?.won_shipping_sale | number}}원 할인
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    발급대상
                </div>
                <div class="content">

                    <!-- 전체 회원 -->
                    <input type="radio" id="target_type1" name="target_type" [value]="'all'" [(ngModel)]="targetType"
                        (change)="onChangeTargetType($event)" />
                    <label for="target_type1" class="check-label">전체회원</label>
                    <br/>

                    <!-- 회원그룹 -->
                    <input type="radio" id="target_type2" name="target_type" [value]="'group'"[(ngModel)]="targetType"
                        (change)="onChangeTargetType($event)"/>
                    <label for="target_type2" class="check-label">회원그룹</label>

                    <div class="square-checkbox content-checkbox"
                        *ngFor="let group of groups; let i=index">
                        <input type= "checkbox" name= "group_{{i}}" id= "member_{{i}}"
                            [value] ="group.group_seq"
                            [attr.disabled]="targetType !== 'group' ? '' : null"
                            [(ngModel)] = "groups[i].checked"/>
                        <label for= "member_{{i}}"
                            class="background-checkbox">
                            {{group.group_name}}
                        </label>
                        &nbsp;
                    </div>
                    <br/>

                    <!-- 개별그룹 -->
                    <input type="radio" id="target_type3" name="target_type" [value]="'member'" [(ngModel)]="targetType" (change)="onChangeTargetType($event)"/>
                    <label for="target_type3" class="check-label">개별회원</label>
                    <bo-page-button class="margin-class"
                        [title]="'회원검색'" (click)="onClickSelectMember()" [type]="'s-darkgrey'"
                        [disabled]="targetType !== 'member'">
                    </bo-page-button>
                    <br>
                    <div *ngFor="let member of members" style="padding-bottom: 3px;">
                        {{member.user_name}}[{{member.userid}}]
                        <span (click)="onClickDeleteMember(member.member_seq)">
                            <bo-page-button [type]="'s-darkgrey'" [title]="'삭제'"></bo-page-button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-title">
                    발급수량
                </div>
                <div class="content">
                    <input type="number" id="coupon_count" name="coupon_count" [(ngModel)]="coupon_count" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" > -->
    <!-- <div>{{data?.salescost_admin}}% VS {{data?.salescost_admin}}</div> -->

        <!--<div class="section">
                <div class="content-wrap">
                    <div class="content-inline-box">
                        <div class="content-box">
                            <div class="content-title">사용제한금액</div>
                            <div class="content">
                                {{data.limit_goods_price}}원 이상 구매 시
                            </div>
                        </div>
                    </div>

                    <div class="content-inline-box">
                        <div class="content-box">
                            <div class="content-title">유효기간</div>
                            <div class="content">
                                <div *ngIf="!data?.after_issue_day || data?.after_issue_day  == ''">{{data?.issue_startdate | date: 'yyyy-MM-dd'}}<br>{{data?.issue_enddate | date: 'yyyy-MM-dd'}} </div>
                                <div *ngIf="data?.after_issue_day">발급일 ~ {{data?.after_issue_day}}일</div>
                            </div>
                        </div>
                    </div>

                    <div class="content-inline-box">
                        <div class="content-box">
                            <div class="content-title">혜택</div>
                            <div class="content">
                                <div>
                                    <div *ngIf="data?.sale_type!='won' && data?.type=='download' || data?.type=='admin' && data?.percent_goods_sale">
                                        {{data?.percent_goods_sale}}%할인,
                                    </div>
                                    <div *ngIf="data?.sale_type!='won' && data?.type=='download' || data?.type=='admin' && data?.max_percent_goods_sale">
                                        (최대 {{data?.max_percent_goods_sale | number}}원)
                                    </div>
                                    <div *ngIf="data?.sale_type=='won' && data?.type=='download' || data?.type=='admin' && data?.won_goods_sale">
                                        판매 가격의 {{data?.won_goods_sale | number}}원
                                    </div>

                                    <div *ngIf="data?.type!='admin' && data?.type!='download' && data?.sale_type=='percent'">
                                        무료, 최대 {{data?.max_percent_shipping_sale | number}}원
                                    </div>
                                    <div *ngIf="data?.type!='admin' && data?.type!='download' && data?.sale_type!='percent' && data?.won_shipping_sale">
                                        배송비 {{data?.won_shipping_sale | number}}원 할인
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="content-inline-box">
                        <div class="content-box">
                            <div class="content-title">발급대상</div>
                            <div class="content">
                                <input type="radio" id="target_type1" name="target_type" [value]="'all'" [(ngModel)]="targetType" (change)="onChangeTargetType($event)" />
                                <label for="target_type1" class="check-label">전체회원</label>
                                <br/>
                                <input type="radio" id="target_type2" name="target_type" [value]="'group'"[(ngModel)]="targetType" (change)="onChangeTargetType($event)"/>
                                <label for="target_type2" class="check-label">회원그룹</label>
                                <div class="square-checkbox content-checkbox"
                                    *ngFor="let group of groups; let i=index">
                                    <input type= "checkbox"

                                        name= "group_{{i}}"
                                        id= "member_{{i}}"
                                        [value] ="group.value"
                                        [(ngModel)] = "groups[i].checked"
                                        />
                                    <label for= "member_{{i}}"
                                        class="background-checkbox">
                                        {{group.label}}
                                    </label>
                                </div>
                                <br/>
                                <input type="radio" id="target_type3" name="target_type" [value]="'member'" [(ngModel)]="targetType" (change)="onChangeTargetType($event)"/>
                                <label for="target_type3" class="check-label">개별회원</label>
                                <bo-page-button class="margin-class"
                                    [title]="'회원검색'" (click)="onClickSelectMember()" [type]="'s-darkgrey'"  >
                                </bo-page-button>
                                <div *ngFor="let member of members">
                                    {{member.user_name}}[{{member.userid}}] <span (click)="onClickDeleteMember(member.member_seq)">삭제</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->


        <!--
                    <div class="content-inline-box">
                        <div class="content-box">
                            <div class="content-title">실 결제금액 <br/> 조건 기준 <br/> 배송비</div>
                            <div class="content">

                            </div>
                        </div>
                    </div>
        -->
<!-- </form> -->
