<div class="web" *ifDesktop>
    <!-- 컨텐츠 타이틀 영역 start -->
    <div class="title-area">
        <div class="title-wrap">
        <h2 class="title">포인트 충전하기</h2>
        <!-- <span class="sub-title">내가 궁금한 상품 순위, 실시간으로 확인해보세요.</span> -->
        </div>
    </div>
    <!-- //컨텐츠 타이틀 영역 end -->

    <!-- 충전 금액 선택 start -->
    <form [formGroup]="pointForm" (submit)="onSubmitPointCharge()">
    <div class="charging-amount">
        <div class="payment-sub-title">
            <h3>충전금액 선택</h3>
        </div>
        <div class="charging-amount-box box">
            <div class="charging-item">
                <input type="radio" id="charge_point500" name="charge_point" (change)="onChangePoint()" formControlName="charge_point" value="500">
                <label for="charge_point500">
                    <div class="left-item">
                        <span class="check-circle"></span>
                        <strong class="amount">50,000원</strong>
                    </div>
                    <div class="right-item">
                        <div class="charge-point">
                            <span>충전 포인트</span>
                            <strong>500 P</strong>
                        </div>
                        <div class="free-point">
                            <span>무료 포인트</span>
                            <strong>50 P</strong>
                        </div>
                    </div>
                </label>
            </div>
            <div class="charging-item">
                <input type="radio" id="charge_point1000" name="charge_point" (change)="onChangePoint()" formControlName="charge_point" value="1000">
                <label for="charge_point1000">
                    <div class="left-item">
                        <span class="check-circle"></span>
                        <strong class="amount">100,000원</strong>
                    </div>
                    <div class="right-item">
                        <div class="charge-point">
                            <span>충전 포인트</span>
                            <strong>1,000 P</strong>
                        </div>
                        <div class="free-point">
                            <span>무료 포인트</span>
                            <strong>100 P</strong>
                        </div>
                    </div>
                </label>
            </div>
            <div class="charging-item">
                <input type="radio" id="charge_point3000" name="charge_point" (change)="onChangePoint()" formControlName="charge_point" value="3000">
                <label for="charge_point3000">
                    <div class="left-item">
                        <span class="check-circle"></span>
                        <strong class="amount">300,000원</strong>
                    </div>
                    <div class="right-item">
                        <div class="charge-point">
                            <span>충전 포인트</span>
                            <strong>3,000 P</strong>
                        </div>
                        <div class="free-point">
                            <span>무료 포인트</span>
                            <strong>300 P</strong>
                        </div>
                    </div>
                </label>
            </div>
            <div class="charging-item">
                <input type="radio" id="charge_point5000" name="charge_point" (change)="onChangePoint()" formControlName="charge_point" value="5000">
                <label for="charge_point5000">
                    <div class="left-item">
                        <span class="check-circle"></span>
                        <strong class="amount">500,000원</strong>
                    </div>
                    <div class="right-item">
                        <div class="charge-point">
                            <span>충전 포인트</span>
                            <strong>5,000 P</strong>
                        </div>
                        <div class="free-point">
                            <span>무료 포인트</span>
                            <strong>500 P</strong>
                        </div>
                    </div> 
                </label>
            </div>
            <div class="charging-item">
                <input type="radio" id="charge_point10000" name="charge_point" (change)="onChangePoint()" formControlName="charge_point" value="10000">
                <label for="charge_point10000">
                    <div class="left-item">
                        <span class="check-circle"></span>
                        <strong class="amount">1,000,000원</strong>
                    </div>
                    <div class="right-item">
                        <div class="charge-point">
                            <span>충전 포인트</span>
                            <strong>10,000 P</strong>
                        </div>
                        <div class="free-point">
                            <span>무료 포인트</span>
                            <strong>1,000 P</strong>
                        </div>
                    </div>
                </label>
            </div>
            <div class="charging-item">
                <input type="radio" id="charge_point" name="charge_point" (change)="onChangePoint()" formControlName="charge_point" value="0">
                <label for="charge_point">
                    <div class="left-item">
                        <span class="check-circle"></span>
                        <input type="number" placeholder="직접 입력" 
                            [(ngModel)]="inputPoint" [ngModelOptions]="{standalone: true}" 
                            (keyup)="onKeyUpInputBox()">
                    </div>
                    <div class="right-item">
                        <div class="charge-point">
                            <span>충전 포인트</span>
                            <strong *ngIf="!inputPoint">-</strong>
                            <strong *ngIf="inputPoint">{{chargePointForInputPoint | number:'1.0-0'}} P</strong>
                        </div>
                        <div class="free-point">
                            <span>무료 포인트</span>
                            <strong *ngIf="!inputPoint">-</strong>
                            <strong *ngIf="inputPoint">{{freePointForInputPoint | number:'1.0-0' }} P</strong>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <!-- //충전 금액 선택 end -->


    <!-- 결제 정보 start -->
    <div class="pay-info">
        <div class="payment-sub-title">
        <h3>결제 정보</h3>
        </div>
        <div class="pay-info-list">
        <ul>
            <li class="before-possession-point">
            <span class="pay-txt">결제 전 보유 포인트</span>
            <div class="pay-value">
                <span class="charge-value">
                충전 포인트 <strong>{{chargeInfo.beforePoint | number}}</strong> <b>P</b>
                </span>
                <b>+</b>
                <span class="free-value">
                무료 포인트 <strong>{{chargeInfo.beforeFreePoint | number}}</strong> <b>P</b>
                </span>
            </div>
            </li>
            <li class="charge-point">
            <span class="pay-txt">충전 포인트</span>
            <div class="pay-value">
                <span class="charge-value">
                충전 포인트 <strong>{{chargeInfo.ingPoint | number}}</strong> <b>P</b>
                </span>
                <b>+</b>
                <span class="free-value">
                무료 포인트 <strong>{{chargeInfo.ingFreePoint | number}}</strong> <b>P</b>
                </span>
            </div>
            </li>
            <li class="after-possession-point">
            <span class="pay-txt">결제 후 보유 포인트</span>
            <div class="pay-value">
                <span class="charge-value">
                충전 포인트 <strong>{{chargeInfo.afterPoint | number}}</strong> <b>P</b>
                </span>
                <b>+</b>
                <span class="free-value">
                무료 포인트 <strong>{{chargeInfo.afterFreePoint | number}}</strong> <b>P</b>
                </span>
            </div>
            </li>
        </ul>
        <div class="total">
            <span class="pay-txt">
            최종 결제 금액
            <span class="description">부가세 10% 포함된 금액입니다.</span>
            </span>
            <span class="pay-value">
            <strong>{{chargeInfo.totalPrice | number}}</strong>원
            </span>
        </div>
        </div>
    </div>
    <!-- //결제 정보 end -->

    <!-- 결제 수단 선택 start -->
        <div class="pay-way-choice" formGroupName="nobankbook" >
            <div class="payment-sub-title">
                <h3>결제 수단 선택</h3>
            </div>
            <div class="pay-way-box">
                <div class="selected-pay-header">
                    <span class="check-circle"></span>
                    <span>무통장 입금</span>
                </div>
                <div class="selected-pay-contents">
                    <div class="selected-pay-item depositor">
                        <span>입금자명</span>
                        <div class="right-contents">
                            <input type="text" placeholder="홍길동" formControlName="depositor">
                            <span class="description">실제 입금자명이 위에 기재한 입금자명과 다르거나 기호, 특수문자가 포함된 경우 자동 입금 확인이 불가합니다. 반드시 동일하게 입금해 주시기 바랍니다.</span>
                        </div>
                    </div>
                    <div class="selected-pay-item bank">
                        <span>입금 은행</span>
                        <div class="right-contents">
                            <div class="selectbox">
                                <select formControlName="account_seq">
                                    <option 
                                        *ngFor="let item of accountBanks" 
                                        [value]="item.account_seq"
                                        >
                                        {{getBankAccountTitle(item)}}</option>
                                </select>
                            </div>
                            <span class="description"><strong>{{expiredDate?.format('YYYY년 MM월 DD일')}}</strong>까지 미입금 시 자동 취소됩니다.</span>
                        </div>
                    </div>
                    <div class="selected-pay-item receipt" formGroupName="cash_receipt">
                        <span>현금영수증 신청</span>
                        <div class="right-contents">
                            <div class="receipt-check">
                                <label>
                                    <input type="radio" value="Y" name="is_apply_receipt" formControlName="is_apply_receipt">
                                    <span class="checkbox"></span>
                                    <p>현금영수증 신청</p>
                                </label>
                                <label>
                                    <input type="radio" value="N" name="is_apply_receipt" formControlName="is_apply_receipt">
                                    <span class="checkbox"></span>
                                    <p>신청 안 함</p>
                                </label>
                            </div>
                            <div class="person-type">
                                <div class="selectbox">
                                    <select formControlName="receipts_type"  (change)="onChangeReceiptOption()" [attr.disabled]="!isApplyReceipt()? '' : null">
                                        <option value="business">사업자</option>
                                        <option value="personal">개인</option>
                                    </select>
                                </div>
                                <input type="text"
                                    [hidden]="pointForm.value.nobankbook.cash_receipt.receipts_type !== 'business'" 
                                    placeholder="사업자등록번호" formControlName="company_number" 
                                    [attr.disabled]="!isApplyReceipt()? '' : null">
                                <input type="text" 
                                    [hidden]="pointForm.value.nobankbook.cash_receipt.receipts_type !== 'personal'" 
                                    placeholder="전화번호" formControlName="phone_number" 
                                    [attr.disabled]="!isApplyReceipt()? '' : null">
                            </div>
                        </div>
                    </div>
                </div> 
            <ul class="pay-way-selector">
                <li>신용카드</li>
                <li>계좌이체</li>
                <li>휴대폰</li>
            </ul>
            <span class="selector-description">다른 결제 수단들은 추후에 추가될 예정입니다.</span>
            </div>
            <div class="agree-check">
            <label>
                <input type="checkbox" [(ngModel)]="isAgreeTerms" [ngModelOptions]="{standalone: true}">
                <span class="checkbox"></span>
                <p>위 주문 내용을 확인 하였으며, 회원 본인은 개인정보 이용 및 제공 및 결제에 동의합니다.</p>
            </label>
            </div>
            <button type="submit" class="purchase-btn">결제하기</button>
        </div>
    </form>
    <!-- //결제 수단 선택 end -->
</div>

<div class="mobile" *ifMobile >
    <!-- contents start -->
    <div id="contents">
        <!-- 헤더 영역 start -->
        <div class="contents-header">
            <div class="contents-title">
                <img src="assets/images/svg/ic_point_payment_color_40.svg" alt="">
                <h2>포인트 충전하기</h2>
            </div>
        </div>
        <!-- //헤더 영역 end -->
        <!-- 충전금액 선택 start -->
        <form [formGroup]="pointForm" (submit)="onSubmitPointCharge()">
            <div class="amount-selection-area">
                <div class="pay-contents-title">
                    <h3>충전금액 선택</h3>
                </div>
                <div class="amount-selection-list">
                    <ul>
                        <li [ngClass]="{active: pointForm.value.charge_point == 500}">
                            <label for="point500">
                            <input type="radio" name="charge_point" id="point500" (change)="onChangePoint()" formControlName="charge_point" value="500">
                                <span>5</span>만원
                            </label>
                        </li>
                        <li [ngClass]="{active: pointForm.value.charge_point == 1000}">
                            <label for="point1000">
                                <input type="radio" name="charge_point" id="point1000" (change)="onChangePoint()" formControlName="charge_point" value="1000">
                                <span>10</span>만원
                            </label>
                        </li>
                        <li [ngClass]="{active: pointForm.value.charge_point == 3000}">
                            <label for="point3000">
                                <input type="radio" name="charge_point" id="point3000" (change)="onChangePoint()" formControlName="charge_point" value="3000">
                                <span>30</span>만원
                            </label>
                        </li>
                        <li [ngClass]="{active: pointForm.value.charge_point == 5000}">
                            <label for="point5000">
                                <input type="radio" name="charge_point" id="point5000" (change)="onChangePoint()" formControlName="charge_point" value="5000">
                                <span>50</span>만원
                            </label>
                        </li>
                        <li [ngClass]="{active: pointForm.value.charge_point == 10000}">
                            <label for="point10000">
                                <input type="radio" name="charge_point" id="point10000" (change)="onChangePoint()" formControlName="charge_point" value="10000">
                                <span>100</span>만원
                            </label>
                        </li>
                        <li [ngClass]="{active: pointForm.value.charge_point == 0}">
                            <label for="charge_point">
                                <input type="radio" name="charge_point" id="charge_point" (change)="onChangePoint()" formControlName="charge_point" value="0">
                                <span>직접입력</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="direct-input" [ngClass]="{on: pointForm.value.charge_point == 0}">
                    <input type="number" [(ngModel)]="inputPoint" [ngModelOptions]="{standalone: true}" (keyup)="onKeyUpInputBox()" placeholder="얼마를 충전할까요?">
                    <span>원</span>
                </div>
                <div class="selected-point-area">
                    <ul>
                        <li>
                            <span>충전 포인트</span>
                            <b>
                                <img src="assets/images/svg/ic_plus_purple_24.svg" alt="+">
                                <span class="charging-point-num">{{chargeInfo.ingPoint | number}}</span> P
                            </b>
                        </li>
                        <li>
                            <span>무료 포인트</span>
                            <b>
                                <img src="assets/images/svg/ic_plus_purple_24.svg" alt="+">
                                <span class="free-point-num">{{chargeInfo.ingFreePoint | number}}</span> P
                            </b>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //충전금액 선택 end -->

            <div class="line"></div>

            <!-- 결제 정보 start -->
            <div class="pay-info-area">
                <div class="pay-contents-title">
                    <h3>결제 정보</h3>
                </div>
                <div class="pay-before-point pay-point">
                    <div class="point-fold" [ngClass]="{active: isShowPointBeforeInfo }">
                        <b>결제 전 보유 포인트</b>
                        <button type="button" class="point-fold-btn" (click)="onClickPointChargeInfo('before')">
                        <!-- <img src="../images/ic_fold_black_20.svg" alt=""> -->
                        </button>
                    </div>
                    <ul>
                        <li>
                            <span>충전 포인트</span>
                            <b>
                                <span>{{chargeInfo.beforePoint | number}}</span> P
                            </b>
                        </li>
                        <li>
                            <span>무료 포인트</span>
                            <b>
                                <span>{{chargeInfo.beforeFreePoint | number}}</span> P
                            </b>
                        </li>
                    </ul>
                </div>
                <div class="pay-after-point pay-point">
                    <div class="point-fold" [ngClass]="{active: isShowPointAfterInfo }">
                        <b>결제 후 보유 포인트</b>
                        <button type="button" class="point-fold-btn" (click)="onClickPointChargeInfo('after')">
                        <!-- <img src="../images/ic_fold_black_20.svg" alt=""> -->
                        </button>
                    </div>
                    <ul>
                        <li>
                            <span>충전 포인트</span>
                            <b>
                                <span>{{chargeInfo.afterPoint | number}}</span> P
                            </b>
                        </li>
                        <li>
                            <span>무료 포인트</span>
                            <b>
                                <span>{{chargeInfo.afterFreePoint | number}}</span> P
                            </b>
                        </li>
                    </ul>
                </div>
                <div class="final-pay-amount">
                    <span>최종 결제 금액</span>
                    <b>{{chargeInfo.totalPrice | number}}원</b>
                </div>
                <div class="confirm-cheek-box">
                    <strong>
                        <img src="assets/images/svg/ic_notice_gray_24.svg" alt="!">
                        <span>확인해주세요</span>
                    </strong>
                    <p>최종 결제 금액은 부가세 10% 포함된 금액입니다.</p>
                </div>
            </div>
            <!-- //결제 정보 end -->

            <!-- 결제 수단 선택 start -->
            <div class="pay-method-choice" formGroupName="nobankbook">
                <div class="pay-contents-title">
                    <h3>결제 수단 선택</h3>
                </div>
                <div class="pay-method-box">
                    <ul>
                        <li>
                            <div class="pay-choice-title">
                                <label for="check1">
                                <input type="checkbox" id="check1" name="check1" checked>
                                <span class="checkbox"></span>
                                <p>무통장 입금</p>
                                </label>
                            </div>
                            <div class="deposit-method">
                                <div class="depositor-name">
                                    <span class="method-title">입금자명</span>
                                    <input type="text" placeholder="홍길동" formControlName="depositor">
                                    <strong class="precautions">
                                        실제 입금자명이 위에 기재한 입금자명과 다르거나 기호, 특수문자가 포함된 경우 자동 입금 확인이 불가합니다.
                                        반드시 동일하게 입금해 주시기 바랍니다.
                                    </strong>
                                </div>
                                <div class="depositor-bank">
                                    <span class="method-title">입금 은행</span>
                                    <div class="selectbox">
                                        <select class="label" formControlName="account_seq">
                                            <option 
                                                *ngFor="let item of accountBanks" 
                                                [value]="item.account_seq"
                                                >
                                                {{getBankAccountTitle(item)}}</option>
                                        </select>
                                    </div>
                                    <p class="announcement">
                                        <span>{{expiredDate?.format('YYYY년 MM월 DD일')}}</span>까지 미입금 시 자동 취소됩니다.
                                    </p>
                                </div>
                                <div class="cash-receipt" formGroupName="cash_receipt">
                                    <span class="method-title">현금영수증 신청</span>
                                        <ul>
                                            <li [ngClass]="{active: pointForm.value.nobankbook?.cash_receipt?.is_apply_receipt == 'Y'}">
                                                <label>
                                                    <input type="radio" value="Y" name="is_apply_receipt" formControlName="is_apply_receipt">
                                                    현금영수증 신청
                                                </label>
                                            </li>
                                            <li [ngClass]="{active: pointForm.value.nobankbook?.cash_receipt?.is_apply_receipt == 'N'}">
                                                <label>
                                                    <input type="radio" value="N" name="is_apply_receipt" formControlName="is_apply_receipt">
                                                    신청 안 함
                                                </label>
                                            </li>
                                        </ul>
                                    <div class="cash-receipt-contents-wrap" [ngClass]="{active: pointForm.value.nobankbook?.cash_receipt?.is_apply_receipt == 'Y'}">
                                        <div class="cash-receipt-contents">
                                            <label for="entre">
                                                <input type="radio" name="receipts_type" id="entre" value="business" formControlName="receipts_type" checked>
                                                <span class="checkbox"></span>
                                                <p>사업자 지출증빙</p>
                                            </label>
                                            <label for="individual">
                                                <input type="radio" name="receipts_type" id="individual" value="personal" formControlName="receipts_type">
                                                <span class="checkbox"></span>
                                                <p>개인소득공제</p>
                                            </label>
                                        </div>
                                        <div class="receipt-selectbox-wrap">
                                            <div class="receipt-selectbox" *ngIf="pointForm.value.nobankbook.cash_receipt.receipts_type == 'business'" [attr.disabled]="!isApplyReceipt()? '' : null">
                                                <div class="selectbox">
                                                    <!-- <button type="button" class="label">사업자등록번호</button> -->
                                                    <select class="label"> 
                                                        <option>사업자등록번호</option>
                                                        <option>현금영수증카드</option>
                                                    </select>
                                                </div>
                                                <input type="text" formControlName="company_number" placeholder="(-없이)숫자만 입력해주세요." class="registration-number">
                                            </div>
                                            <div class="receipt-selectbox" *ngIf="pointForm.value.nobankbook.cash_receipt.receipts_type == 'personal'" [attr.disabled]="!isApplyReceipt()? '' : null">
                                                <div class="selectbox">
                                                    <!-- <button type="button" class="label">휴대폰번호</button> -->
                                                    <select class="label">
                                                        <option>휴대폰번호</option>
                                                        <option>현금영수증카드</option>
                                                    </select>
                                                </div>
                                                <input type="text" placeholder="(-없이)숫자만 입력해주세요." formControlName="phone_number" class="registration-number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pay-choice-title dis">
                                <label for="check2">
                                    <input type="checkbox" id="check2" name="check2" disabled>
                                    <span class="checkbox"></span>
                                    <p>신용카드</p>
                                </label>
                            </div>
                            <div></div>
                        </li>
                        <li>
                            <div class="pay-choice-title dis">
                                <label for="check3">
                                    <input type="checkbox" id="check3" name="check3" disabled>
                                    <span class="checkbox"></span>
                                    <p>계좌이체</p>
                                </label>
                            </div>
                            <div></div>
                        </li>
                        <li>
                            <div class="pay-choice-title dis">
                                <label for="check4">
                                    <input type="checkbox" id="check4" name="check4" disabled>
                                    <span class="checkbox"></span>
                                    <p>휴대폰</p>
                                </label>
                            </div>
                            <div></div>
                        </li>
                    </ul>
                    <p>다른 결제 수단들은 추후에 추가될 예정입니다.</p>
                </div>
                <div class="consent-check">
                    <label for="check-consent">
                        <input type="checkbox" id="check-consent" [(ngModel)]="isAgreeTerms" [ngModelOptions]="{standalone: true}" name="check">
                        <span class="checkbox"></span>
                        <p>위 주문 내용을 확인 하였으며, 회원 본인은 개인정보 이용 및 제공 및 결제에 동의합니다.</p>
                    </label>
                </div>
            </div>
            <!-- //결제 수단 선택 end -->
            <!-- 결제 버튼 start -->
            <div class="purchase-area">
                <button type="submit" class="purchase-btn">결제하기</button>
            </div>
            <!-- 결제 버튼 end -->
        </form>
    </div>
</div>