<div class="bo-header">
  <div class="header-icon">
    <img src={{imgUrl}}>
  </div>
  <div class="header-title">
    {{title}}
    <div class="header-red-text"  *ngIf="requireText">
      <img class="required-img" src="assets/img/must_txt.png"/>필수항목</div>
  </div>
  <span *ngIf="description">{{description}}</span>
  <div class="header-btn" *ngFor="let item of buttons?.toArray().reverse();let i = index" >
    <bo-page-button
      [id]="i"
      [title]="item.title"
      [type]="item.styleType"
      [imgUrl]="item.imgUrl"
      [hidden]="item.hidden"
      [disabled]="item.disabled"
      (click)="onClickBtn(i)">
    </bo-page-button>
  </div>


</div>
