
.header-icon{
    display: inline-block;
    vertical-align: top;
    /* margin-right: 17px; */
    height: 100%;
    line-height: 48px;
    display: none;
}
.header-title{
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    color: #212121;
    position: relative;
    float: left;
}
.header-btn{
    float: right;
    margin-left: 20px;
    height: 100%;
    line-height: 108px;
}

span{
    /* position: absolute;
    left: 180px; */
    float: left;
    padding-left: 20px;
    color: #a1a1a1;
}
