<ng4-loading-spinner [template]="loadingTemplete" ></ng4-loading-spinner>
<div class="no-print" *ifDesktop [ngClass]="{'desktop' : appService.isDesktopViewMode(), 'web' : appService.isDesktopViewMode()}">

    <router-outlet></router-outlet>

</div>
<!-- 모바일 -->
<div *ifMobile [ngClass]="{'mobile' : appService.isMobileViewMode()}">
    <div style="background: #f7f7fc;">
        <div class="bs-header-m" id="header">
            <bs-header-m [cartCount]="cartCount" [isShowHamburger]="isShowHamburger"></bs-header-m>
        </div>
        <div class="content-height">
            <router-outlet></router-outlet> 
        </div>
    </div> 
</div>
