html, body{
    height: 100%;
    font-size: 62.5%; 
    transition: all 0.5s;
}
:host {
    min-width: 1400px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    /* font-size: 62.5%;  */
    /* login 화면에서 스크롤이 생겨 주석처리 */
    /* min-height: 1000px; */
    -webkit-touch-callout:none;
}
:host-context(router-outlet){
    height: -webkit-fill-available;
    min-height: 1000px;
    width: 100%;
}


/* mobile */
@media screen and (max-width: 767px) {
    html { }
    :host{
        width: 100%;
        background-color: #FFFFFF;
        min-width: unset; 
        min-height: unset;
        font-size: 87.5%; 
        height: -webkit-fill-available;
    }
    .content-height{
        min-height: calc(100vh - 345px);
    }
    .mobile router-outlet {
        min-height: 400px;
    }
    .mobile .add-program {
        min-height: auto;
        height: 100vh;
        padding: 0;
        min-width: 100%;
    }
    .mobile .add-program .video-section {
        width: 90vw;
        height: 90vw;
        position: absolute;
        margin: auto;
        top: 40px;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }
    .mobile .add-program .program-video {
        background-size: contain;
        padding-bottom: 0;
    }
    .mobile .add-program .program-video .video {
        width: 100%    !important;
        height: auto   !important;
    }
    .mobile .add-program .program-video .video-play {
        width: 54px;
    }
    .mobile .add-program .scroll-btn {
        width: 17px;
        height: 20px;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .mobile .add-program .scroll-btn img {
        width:100%;
    }
    .mobile .wrap-add {
        max-width: unset;
        padding: 0;
        text-align: right;
        position: relative;
        background-position: center;
        background-size: cover;
        content: '';
        display: block;
        padding-top: 100vh;
        height: unset;

    }
    .mobile .title-section {
        width: 85vw;
        position: absolute;
        left: 15px;
        bottom: 7vh;
    }
    .mobile .title-section img {
        width:100%;
    }
    .mobile .bs-header-m {
        position: fixed;
        position: -webkit-fixed;
        top: 0;
        width: 100%;
        /* height: 4.8rem;    */
        line-height: 0; 
        z-index: 999;
    }
} 
@media screen and (min-width: 768px) {
    html { font-size: 87.5%; }
    :host {
        min-width: 750px;
        /* font-size: 87.5%;  */
    }
    .mobile .bs-header-m {
        position: fixed;
        position: -webkit-fixed;
        top: 0;
        width: 100%;
        /* height: 4.8rem;    */
        line-height: 0; 
        z-index: 999;
    }
}

/* @media screen and (min-width: 768px)  and (max-width: 1700px) {

    :host {
        min-width: 0px;
    }
    :host .mobile {
        width: 767px;
        background-color: #FFFFFF;
        min-width: 0px;
        _min-height: unset;
        height: -webkit-fill-available;
        display: block;
        margin: auto;
    }

    .mobile router-outlet {
        min-height: 400px;
    }
    .mobile .add-program {
        min-height: auto;
        height: 100vh;
        padding: 0;
        min-width: 100%;
    }
    
    .mobile .add-program .video-section {
        width: 630px;
        height: 600px;
        position: absolute;
        margin: auto;
        top: 40px;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }
    .mobile .add-program .program-video {
        background-size: contain;
        padding-bottom: 0;
    }
    .mobile .add-program .program-video .video {
        width: 100%    !important;
        height: auto   !important;
    }
    .mobile .add-program .program-video .video-play {
        width: 54px;
    }
    .mobile .add-program .scroll-btn {
        width: 17px;
        height: 20px;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .mobile .add-program .scroll-btn img {
        width:100%;
    }
    .mobile .wrap-add {
        max-width: unset;
        padding: 0;
        text-align: right;
        position: relative;
        background-position: center;
        background-size: cover;
        content: '';
        display: block;
        padding-top: 100vh;
        height: unset;

    }
    .mobile .title-section {
        width: 85vw;
        position: absolute;
        left: 15px;
        bottom: 7vh;
    }
    .mobile .title-section img {
        width:100%;
    }
    .mobile .bs-header-m {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 999;
    }

} */

/* #tablet */
/* @media screen and (min-width: 1080px) {
    :host .mobile {
        width: 1080px;
    }
    .mobile .bs-header-m {
        padding: 0 0px; 
        height: 80px; 
        line-height: 0; 
    }
} */

/* .mobile .preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: +2000;
    top: 0;
    left: 0;
    }
    .mobile .preloader .container-fluid {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1450px;
        max-height: 700px;
    }

    .mobile .spinner {
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    margin-top: -40px;

    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    position: relative;
    }
    .mobile .spinner span {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: block;
        position: absolute;
        opacity: 30%;
    }
    .mobile .spinner .ball-1 {
        z-index: 4;
        background-color: #000000;
        background-image: url('/assets/img/ball-01.png');
        -webkit-transform: translate(50%, 50%) scale(0.5);
        -webkit-animation: animateSway 0.5s infinite ease-in-out, animateScale 0.5s infinite ease-in-out;
        animation: animateSway 0.5s infinite ease-in-out, animateScale 0.5s infinite ease-in-out;
    }

    .mobile .spinner .ball-2 {
        z-index: 4;
        background-color: #000000;
        background-image: url('/assets/img/ball-02.png');
        -webkit-transform: translate(50%, 50%) scale(0.5);
        -webkit-animation: animateSway 0.5s infinite ease-in-out, animateScale 0.5s infinite ease-in-out;
        animation: animateSway 0.5s infinite ease-in-out, animateScale 0.5s infinite ease-in-out;
        }
    .mobile .spinner .ball-3 {
        z-index: 4;
        background-color: #000000;
        background-image: url('/assets/img/ball-03.png');
        -webkit-transform: translate(50%, 50%) scale(0.5);
        -webkit-animation: animateSway 0.5s infinite ease-in-out, animateScale 0.5s infinite ease-in-out;
        animation: animateSway 0.5s infinite ease-in-out, animateScale 0.5s infinite ease-in-out;
    }
    .mobile .spinner .ball-4 {
        z-index: 4;
        background-color: #000000;
        background-image: url('/assets/img/ball-04.png');
        -webkit-transform: translate(50%, 50%) scale(0.5);
        -webkit-animation: animateSway 0.5s infinite ease-in-out, animateScale 0.5s infinite ease-in-out;
        animation: animateSway 0.5s infinite ease-in-out, animateScale 0.5s infinite ease-in-out;
    } */

    @-webkit-keyframes animateSway {
        0% { left: -20px }
        50% { left: 20px }
        100% { left: -20px }
    }

    @keyframes animateSway {
        0% { left: -20px }
        50% { left: 20px }
        100% { left: -20px }
    }

    @-webkit-keyframes animateScale {
        0% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
        25% { -webkit-transform: translate(50%, 50%) scale(1); z-index: +1 }
        50% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
        75% { -webkit-transform: translate(50%, 50%) scale(0.25); z-index: -2 }
        100% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    }

    @keyframes animateScale {
        0% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
        25% { transform: translate(50%, 50%) scale(1); z-index: +1 }
        50% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
        75% { transform: translate(50%, 50%) scale(0.25); z-index: -2 }
        100% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    }

    :host ::ng-deep .preloader {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: +2000;
        top: 0;
        left: 0;
    }
    :host ::ng-deep .preloader .container-fluid {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1450px;
        max-height: 700px;
        max-width: 100%;
        max-height: 100vh;
    }
    :host ::ng-deep .spinner2 {
        top: 50%;
        left: 50%;
        z-index: 1;
        height: 30px;
        width: 30px;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    :host ::ng-deep .spinner2 span {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: block;
        position: absolute;
        opacity: 0.7;
    }
    :host ::ng-deep .spinner2 .ball-1 {
        z-index: 4;
        background-color: #ffffff;
        left: -20px;
        -webkit-transform: translate(50%, 50%) scale(0.5);
        -webkit-animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
        animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
    }
    :host ::ng-deep .spinner2 .ball-2 {
        z-index: 3;
        background-color: #ffffff;
        left: -20px;
        -webkit-transform: translate(50%, 50%) scale(0.5);
        -webkit-animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
        animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
    }
    :host ::ng-deep .spinner2 .ball-3 {
        z-index: 2;
        background-color: #ffffff;
        left: -20px;
        -webkit-transform: translate(50%, 50%) scale(0.5);
        -webkit-animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
        animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
    }
    :host ::ng-deep .spinner2 .ball-4 {
        z-index: 1;
        background-color: #ffffff;
        left: -20px;
        -webkit-transform: translate(50%, 50%) scale(0.5);
        -webkit-animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
        animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
    }

    @-webkit-keyframes animateSway {
        0% { left: -20px }
        50% { left: 20px }
        100% { left: -20px }
    }
    @keyframes animateSway {
        0% { left: -20px }
        50% { left: 20px }
        100% { left: -20px }
    }
    @-webkit-keyframes animateScale {
        0% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
        25% { -webkit-transform: translate(50%, 50%) scale(1); z-index: +1 }
        50% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
        75% { -webkit-transform: translate(50%, 50%) scale(0.25); z-index: -2 }
        100% { -webkit-transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    }
    @keyframes animateScale {
        0% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
        25% { transform: translate(50%, 50%) scale(1); z-index: +1 }
        50% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
        75% { transform: translate(50%, 50%) scale(0.25); z-index: -2 }
        100% { transform: translate(50%, 50%) scale(0.5); z-index: -1 }
    }


