:host {
    width:100%; 
    min-width:1440px;
    height: 100%; 
    display: block;
}

.main-sidemenu {
    width: 246px;
    height: calc(100%-78px);
    min-height: 1145px;
    float: left;
    background: #313659;
}

.main-container {
    background-color:#f2f2f2;
    /* background-color: #3d4566; */
    
    margin-left: 246px;
    width: calc(100%-245px);
    /* height: 100%; */
    /* padding-top: 50px; */
}

