
.none-item {
    height: 712px;
}
.none-item-area {
    height: 100%;
    text-align: center;
    display: table;
    width: 100%;
}
.none-item-area .middle{
    display: table-cell;
    vertical-align: middle;
}
.none-item-area .middle img{
    width: 90px;
}
.none-item-area .err-title {
        font-size: 22px;
        padding-bottom: 12px;
        padding-top: 26px;
        font-weight: bold;
}
.none-item-area .middle p {
    font-size: 16px;
    color: #999999;
    margin: 0;
    font-weight: 500;
}
@media screen and (max-width: 1767px) {
    .mobile .none-item {
        height: 454px;
    }
    .mobile .none-item-area .middle img{
        width: 67px;
    }
    .mobile .none-item-area .err-title {
        font-size: 16px;
    }

    .mobile .none-item-area .middle p {
        font-size: 14px;
    }

    .mobile .btn-div {
        padding: 40px 12px 0;
        font-size: 0;
    }
    .mobile .btn-div button {
        width: 48%;
        height: 43px;
        /* margin: 0; */
    }

}

