<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->


        <!-- formGroup : formNotice -->
        <form [formGroup]="bsForm" (ngSubmit)="onSubmit()" class="form-area">
            <div class="query-wrap">

                <div class="form-block">

                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">검색어</div>
                            <bs-input [name]="'keyword'" [formGroup]="bsForm"
                            placeholder="회원아이디, 회원프로필, 회원고유번호, 내역" [style]="'big-input'"></bs-input>
                        </div>
                    </div>
                    <!-- <bo-period-form [formGroup]="bsForm"></bo-period-form> -->
                    <!-- <bo-period-form [formGroup]="bsForm"></bo-period-form>
                    <bo-period-form [formGroup]="bsForm"></bo-period-form> -->

                    <!-- <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">기념일:</div>
                            <select class="form-selectbox">
                                <option *ngFor="let option of options">{{option}}</option>
                            </select>
                            <span>월</span>
                            <select class="form-selectbox">
                                <option *ngFor="let option of options">{{option}}</option>
                            </select>
                            <span>일</span>
                            <span>-</span>
                            <select class="form-selectbox">
                                <option *ngFor="let option of options">{{option}}</option>
                            </select>
                            <span>월</span>
                            <select class="form-selectbox">
                                <option *ngFor="let option of options">{{option}}</option>
                            </select>
                            <span>일</span>
                        </div>
                    </div> -->

                    <div class="form-box">
                        <div class="form-item">
                            <div class="form-title">상태</div>
                            <bo-group-checkbox [formGroup]="bsForm" [name]="'reward_state'">
                                <bo-checkbox-config [title]="'적립'" [value]="'charge'"></bo-checkbox-config>
                                <bo-checkbox-config [title]="'전환'" [value]="'exchange'"></bo-checkbox-config>      
                                <bo-checkbox-config [title]="'인출'" [value]="'withdrawal'"></bo-checkbox-config>                  
                            </bo-group-checkbox>
                        </div>
                        
                        <!-- <div class="form-item">
                            <div class="form-title">결제상태</div>
                       
                            <bs-select [name]="'group_seq'"
                                [formGroup]="bsForm"
                                [optionApiUrl]="'point/point-charge'"
                                [optionLabelField]="'group_name'"
                                [optionValueField]="'group_seq'">
                            </bs-select>
                        </div> -->

                        <!-- <div class="form-item">
                            <div class="form-title">주문횟수:</div>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="member_order_cnt[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="member_order_cnt[max]" placeholder="">
                        </div> -->

                        <!-- <div class="form-item">
                            <div class="form-title">주문금액:</div>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="member_order_price[min]" placeholder="">
                            <span>-</span>
                            <input type="text" class="form-control search-input small-input item-horizontal" formControlName="member_order_price[max]" placeholder="">
                        </div> -->
                    </div>
                    <div class="form-box">
                        <div class="form-item">                     
                            <div class="form-title">사용일</div>
                            <div class="item-horizontal">
                                <bo-period-query [formGroup]="bsForm" [name]="'period'">
                                    <bo-period-query-option-config [value]="'regist_date'" [label]="'사용일'">
                                    </bo-period-query-option-config>                                                                 
                                </bo-period-query>
                               
                            </div>
                        </div>                   
                    </div>
                  

               
                    <!-- 두번째 form-block -->
                    <div class="form-block  more-form-block" [hidden]="!isShowMoreForm">

                        <div class="form-box">                    
                            <!-- <div class="form-item">
                                <div class="form-title">금액:</div>
                                    <input type="text" class="form-control search-input small-input item-horizontal small-margin" formControlName="amount[min]" placeholder="">
                                    <span>-</span>
                                    <input type="text" class="form-control search-input small-input item-horizontal" formControlName="amount[max]" placeholder="">
                            </div>
                            <div class="form-item">
                                <div class="form-title">잔액:</div>
                                    <input type="text" class="form-control search-input small-input item-horizontal small-margin" formControlName="remains[min]" placeholder="">
                                    <span>-</span>
                                    <input type="text" class="form-control search-input small-input item-horizontal" formControlName="remains[max]" placeholder="">
                            </div> -->
                        </div>
                        
                    </div>   <!-- 두번째 form-block end--> 


                </div> <!-- 전체 form-block end -->
                <div class="more-form">
                    <div class="more-form-btn" (click)="onClickShowMoreForm()">
                    상세검색 <span *ngIf="!isShowMoreForm">열기</span><span *ngIf="isShowMoreForm">닫기</span>
                    <div class="more-btn-img" [class.hide-form]="isShowMoreForm"></div>
                    </div>
                </div>
            </div>
            <div class="button-area">
                <button type="submit" class="btn new-search-btn">
                    검색
                </button>
            </div>
         </form>
</div>
