<div class="outlet-section">
    <!-- <div class="query-title">검색</div> -->

        <!-- formGroup : bsForm -->
    <form [formGroup]="bsForm" (ngSubmit)="onSubmit()"  class="form-area" >
        <div class="query-wrap">
            <div class="form-block">
            <div class="form-box">
                <div class="form-item">
                    <div class="form-title">기간조회 :</div>
                    <!-- <bs-select [name]="'search_date'"
                                [formGroup]="bsForm"
                                [optionValueField]="'search_date'"
                                [optionLabelField]="'search_date'" >
                        <bs-option-config *ngFor="let item of yearList" [value]= "item" [label] = "item"></bs-option-config>
                    </bs-select> -->
                    <select class="form-selectbox item-horizontal medium-input" [(ngModel)]="selectYear" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let item of yearList" [value]="item">{{item}}년</option>
                    </select>
                        <!-- <select class="form-selectbox item-horizontal medium-input">
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                        </select> -->
                    </div>
                </div>
            </div>
        </div>
        <bo-search-button-form></bo-search-button-form>
    </form>
</div>
