.click-date {
    /* background: #1f1f1f;
    color: #fff; */
    border: 1px solid rgb(234,0,61);
    color: rgb(234,0,61);
}
.bar {
    display: inline-block;
}
.btn-light {
    border: 1px solid #999;
}

.input-group {
    font-size: 0;
    box-sizing: border-box;
    vertical-align: middle;
}
.form-control {
    border: 1px solid #979797;
    width: 111px;
    display: inline-block;
}
timepicker {
    display: inline-block;
    vertical-align: middle;
}

/* .section .content-wrap .content-box .content img {
    padding: 0;
} */

.btn-outline-secondary > img {
    width: unset;
    height: unset;
    padding-right: 0 !important;
    vertical-align: initial;
}
