<div [formGroup]="subForm" class="item-horizontal">
    <!-- <div class="item-horizontal">
        <div class="input-group">
            <bs-select [name]="'periodType'" [formGroup]="subForm" [defaultValue]="defaultValue">
                <bs-option-config *ngFor="let item of optionConfigs"
                    [value]="item.value"
                    [label]="item.label">
                </bs-option-config>
            </bs-select>
        </div>
    </div> -->

    <!-- sdate -->
    <!-- <div class="item-horizontal" *ngIf="isDate">
        <div class="input-group">
            <input class="form-control date-picker-input" placeholder="yyyy-mm-dd"
                [(ngModel)]="modelStart"
                ngbDatepicker #sdate="ngbDatepicker"
                formControlName="sdate">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="sdate.toggle()" type="button">
                    <img src="../assets/img/board/datebox-side-top.svg"  />
                </button>
            </div>
        </div>
    </div> -->

    <div class="my-horizontal">
        <div class="input-group" *ngIf="isDate">
            <input class="form-control"
                placeholder="YYYY-MM-DD"
                #dp="bsDatepicker"
                formControlName="sdate"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                bsDatepicker/>
            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button" >
                <img src="../assets/img/board/datebox-side-top.svg"  />
            </button>
        </div>
        &nbsp;
        <timepicker formControlName="stime"  [showMeridian]="false" [showSpinners] = "false" *ngIf="isTime">

        </timepicker>

    <!-- edate -->
    <!-- <div class="bar">-</div>
    <div class="item-horizontal">
        <div class="input-group">
            <input class="form-control date-picker-input" placeholder="yyyy-mm-dd"
                [(ngModel)]="modelEnd" ngbDatepicker
                #edate="ngbDatepicker"
                formControlName="edate">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="edate.toggle()" type="button">
                    <img src="../assets/img/board/datebox-side-bottom.svg"  />
                </button>
            </div>
        </div>
    </div> -->

    <!-- <div class="date-button-area">
        <button class="btn btn-sm btn-light" type="button" (click)="onClickToday()" [ngClass]="{'click-date' : _selectedIndex == 0 }">오늘</button>
        <button class="btn btn-sm btn-light" type="button" (click)="onClick3Days()" [ngClass]="{'click-date' : _selectedIndex == 1 }">3일간</button>
        <button class="btn btn-sm btn-light" type="button" (click)="onClickWeek()" [ngClass]="{'click-date' : _selectedIndex == 2 }">1주일</button>
        <button class="btn btn-sm btn-light" type="button" (click)="onClickMonth()" [ngClass]="{'click-date' : _selectedIndex == 3 }">1개월</button>
        <button class="btn btn-sm btn-light" type="button" (click)="onClickAll()" [ngClass]="{'click-date' : _selectedIndex == 4 }">전체</button>
    </div> -->
</div>

<div *ngIf="ctrl?.invalid && (ctrl.dirty || ctrl.touched)"
    class="alert alert-danger">
    <div *ngIf="ctrl.errors.required">
            이 항목은 필수입니다.
    </div>
</div>

