:host {
    width: 100%;
}

.order-num{
    color: #7c0000;
    font-size: 13px;
    font-weight: bold;
}

.charge_point_green{
    color: #02b80b;
}

.action_plus_red{
    color: #d30e00;
}

.action_minus_blue{
    color: #1e03b9;
}

.userid_bold{
    font-weight: bold;
}