.ads-btn{
    width: 135px;
    height: 30px;
    line-height: 15px;
    border: solid 1px rgb(153,153,153);
    color: rgb(33,33,33);
    background-color: #ffffff;
    border-radius: 0;
    vertical-align: top;
    font-size: 12px;
}
/* .ads-btn:focus,.ads-btn:hover{
    color: #fff;
} */

.white-s-btn {
    width: 135px;
    height: 35px;
    line-height: 32px;
    border: solid 1px rgb(153,153,153);
    color: rgb(33,33,33);
    background-color: #ffffff;
    border-radius: 0;
}
@media screen and (max-width: 800px) {

    :host {
        width: 100%;
    }
    .ads-btn  {
        margin-left:0;
        width: 106px;
        height: 100%;
        font-size: 14px;
        height: 34px;
    }
    btn-daum-address.height .ads-btn {
        height: 40px;
    }
    btn-daum-address.height32 .ads-btn {
        height: 32px;
    }
}
