<div *ifDesktop class="home">
    <!-- 메인 타이틀 -->
    <div class="home-title">
        <span></span>
        <span></span>
        <p class="home-small-title">잘 팔리는 온라인 쇼핑</p>
        <p class="home-main-title">키워드 분석</p>
    </div>

    <!-- 검색창 start -->
    <section class="home-keyword-search">

        <!-- 검색창 Tab -->
        <div class="tab-search-box">
            <button 
                class="tab-search-btn" 
                [ngClass]="{active:selectedTabName == 'keyword'}" 
                (click)="onClickSearchTab('keyword')"
            >
            <img src="assets/images/home/ic_keyword_color_30.png"/>
            <span>키워드 검색</span>
            </button><button class="tab-search-btn" [ngClass]="{active:selectedTabName == 'rank'}" (click)="onClickSearchTab('rank')">
            <img src="assets/images/home/ic_ranking_color_30.png" />
            <span>상품순위 검색</span>
            </button>
            <img class="bubble-img" src="assets/images/home/img_main_bubble.png" />
        </div>
        <!-- 검색창 Tab end -->

        <!-- 검색창 input start -->
        <div class="tb-keyword-search-box" *ngIf="selectedTabName == 'keyword'">
            <form>
                <div class="tb-keyword-search">
                    <label for=""></label>
                    <input type="search" id="" name="" [(ngModel)]="searchKeyword" placeholder="키워드" [ngModelOptions]="{standalone: true}">
                    <button class="search-btn" type="submit" (click)="onSubmitKeywordSearch(searchKeyword)">검색</button>
                </div>
                <div class="tb-realtime-trend">
                    <p>실시간 트렌드</p>
                    <p *ngFor="let keyword of display_data.trend_keywords;"
                        (click)="onClickTrendKeyword(keyword)"
                    >{{keyword}}</p>
                </div>
            </form>
        </div>

        <div class="ranking-search" *ngIf="selectedTabName == 'rank'">
            <form>
                <div class="tb-keyword-search store-search-box">
                    <label for=""></label>
                    <input type="search" id="" name="" placeholder="스토어명" [(ngModel)]="rankSearchStore" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="tb-keyword-search product-search-box">
                    <label for=""></label>
                    <input type="search" id="" name="" placeholder="키워드" [(ngModel)]="rankSearchKeyword" [ngModelOptions]="{standalone: true}">
                    <button class="search-btn" type="submit" (click)="onSubmitRankSearch(rankSearchStore, rankSearchKeyword)">검색</button>
                </div>
            </form>
        </div>
        <!-- 검색창 input end -->
    </section>
    <!-- 키워드 검색창 end -->

    <!-- 키워드 검색 결과 -->
    <div class="home-search-result" *ngIf="selectedTabName == 'keyword'" id="id-search-result">
        <div class="keyword-search-header" >
            <h3> <img src="assets/images/home/ic_keyword_color_30.png" />키워드 검색 <span>샘플 키워드로 분석한 결과입니다.</span></h3>
            <button class="scroll-btn" (click)="onClickScrollToSearchResult()"></button>
        </div>

        <div class="result-wrap">
            <!-- 키워드 검색 종합 -->
            <section class="keyword-contents">
                <div class="keyword-title">
                    <h1>{{searchResult.keyword}}</h1>
                    <!-- <h1>{{searchResult.keyword}}</h1> -->
                </div>
                <span></span>
                <div class="keyword-category">
                    <span *ngFor="let category of searchResult.categories; let idx=index">
                        {{category}}
                        <span *ngIf="searchResult.categories.length-1 != idx">></span>
                    </span>
                </div>
                <div class="shopping-data-box">
                    <div class="shoppingmall-list">
                        <a [href]="site.url" *ngFor="let site of searchResult.sites" target="_blank">
                            <img [src]="site.img_url" [alt]="site.name"/>
                            {{site.name}}
                        </a>
                    </div>
                    <div class="tb-box product-total">
                        <div class="tb-box-header">
                            <span class="tb-box-subtitle">상품 수</span>
                        </div>
                        <div class="value-box">
                            <span class="sum-value">{{searchResult.goods_count | number}}</span>
                            <span class="number-unit">개</span>
                        </div>
                    </div>
                    <div class="tb-box day-search-total">
                        <div class="tb-box-header">
                            <span class="tb-box-subtitle">한 달 검색 수</span>
                        </div>
                        <div class="value-box">
                            <span>{{searchResult.search_count_day | number}}</span>
                            <span class="number-unit">회</span>
                        </div>
                    </div>
                    <div class="tb-box device-search">
                        <div class="tb-box-header">
                            <span class="tb-box-subtitle">기기별 검색 비율</span>
                        </div>
                        <div #pieChart class="chart">
                            
                        </div>
                    </div>
                </div>
                <div class="age-group">
                    <ul>
                        <li class="tb-box" *ngFor="let info of searchResult.personal_info">{{info}}</li>
                    </ul>
                    <span>이 모바일에서 많이 찾은 키워드입니다.</span>
                </div>
            </section>

            <!-- 키워드 차트 데이터 -->
            <div class="trend">
                <div class="calendar-area">
                <button class="calendar-btn calendar-from">
                    <img src="assets/images/home/ic_calendar_purple_32.png" alt="달력">
                    <span class="line"></span>
                    <span class="calendar-num">2022.02.01</span>
                </button>
                <span> - </span>
                <button class="calendar-btn calendar-to">
                    <img src="assets/images/home/ic_calendar_purple_32.png" alt="달력">
                    <span class="line"></span>
                    <span class="calendar-num">2022.03.01</span>
                </button>
                <button class="apply">적용</button>
            </div>
            <div class="tb-box tb-chart-box">
                <div class="tb-box-header">
                    <span class="tb-box-subtitle">클릭/검색 트렌드 변화</span>
                    <div class="help-tool-tip trend-change">
                        <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                    </div>
                    <div class="chart-item">
                        <img src="assets/images/home/ic_dot_skyblue_32.png" />
                        <span>클릭 트렌드</span>
                        <img src="assets/images/home/ic_dot_purple_32.png" />
                        <span>검색 트렌드</span>
                    </div>
                </div>
                <div #lineChart class="trend-chart">

                </div>
            </div>
            <!-- //키워드 차트 데이터 end -->

            <section class="keyword-last-result">
                <div class="tb-box">
                    <div class="tb-box-header">
                        <h1>{{searchResult.keyword}}</h1>
                        <p class="tb-box-subtitle">인기검색어</p>
                        <div class="help-tool-tip result-popular-search">
                            <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                        </div>
                        <p class="tb-box-date">2022.02.01 - 2022.03.01</p>
                    </div>
                    <span class="tb-saperator"></span>
                    <div class="hot-ranking-result">
                        <ul>
                            <ng-container *ngFor="let hotRanking of searchResult.hot_ranking; let idx = index">
                                <li *ngIf="idx < 5">
                                    <a [href]="hotRanking.popular_url">
                                        <span>{{idx+1}}</span>{{hotRanking.popular_word}}
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                        <ul>
                            <ng-container *ngFor="let hotRanking of searchResult.hot_ranking; let idx = index">
                                <li *ngIf="idx > 4">
                                    <a [href]="hotRanking.popular_url">
                                        <span>{{idx+1}}</span>{{hotRanking.popular_word}}
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                        </div>
                    </div>

                    <div class="tb-box tb-age-click">
                        <div class="tb-box-header">
                            <p class="tb-box-subtitle">연령별 클릭 비율</p>
                            <div class="help-tool-tip age-click-rate">
                                <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                            </div>
                            <p class="tb-box-date">2022.02.01 - 2022.03.01</p>
                        </div>
                    <div  #columnChart class="age-click-result">

                    </div>
                </div>
            </section>
        </div>
        <!-- 키워드 검색 결과end -->

            <button class="result-more-box" routerLink="/main/section/search-keyword" [queryParams]="{keyword: searchKeyword}">
                더 자세한 분석 보러 가기
                <img src="assets/images/home/ic_arrow_right_black_32.png" />
            </button>
        </div>  
    </div>
    <!-- 키워드 검색 결과 end -->

    <!-- 상품 순위 검색 start -->
    <div class="home-search-result ranking-result" id="id-rank-result" *ngIf="selectedTabName == 'rank' && rankSearchResult">
        <div class="keyword-search-header">
            <img src="assets/images/home/ic_ranking_color_30.png" />
            <h3>상품순위 검색 <span *ngIf="isSampledata">샘플 스토어,키워드 순위 결과입니다.</span></h3>
            <button class="scroll-btn" (click)="onClickScrollToRankResult()"></button>
        </div>

        <tb-goods-infobox-view
            *ngFor="let data of rankSearchResult;"
            [data]="data"
            [keyword]="rankSearchKeyword"
            [isShowTrackingBtn]="true"
            [alignTackingBtn]="'bottom'"
        ></tb-goods-infobox-view>
        <button class="result-more-box" routerLink="/main/section/ranking-search" [queryParams]="{keyword: searchKeyword}">
            더 자세한 순위 검색하러 가기
            <img src="assets/images/home/ic_arrow_right_black_32.png" />
        </button>
    </div>
    <!-- 상품 순위 검색 end -->
</div>


<div *ifMobile class="home mobile">
    <!-- contents start -->
    <div id="contents">
        <!-- 상단 타이틀 문구 start -->
        <section class="main-title-area">
            <span class="main-small-title">잘 팔리는 온라인 쇼핑</span>
            <h2 class="main-title">키워드 분석</h2>
        </section>
        <!-- //상단 타이틀 문구 end -->

        <section class="main-tab-area">
            <!-- 탭 메뉴 start -->
            <ul class="main-tab">
                <li [ngClass]="{active:selectedTabName == 'keyword'}" (click)="onClickSearchTab('keyword')">
                    <img src="assets/images/svg/ic_keyword_color_30.svg" alt="">
                    키워드 검색
                </li>
                <li [ngClass]="{active:selectedTabName == 'rank'}" (click)="onClickSearchTab('rank')">
                    <img src="assets/images/svg/ic_ranking_color_30.svg" alt="">
                    상품순위 검색
                </li>
            </ul>
            <!-- //탭 메뉴 end -->

            <!-- 탭 컨텐츠 영역 start -->
            <div class="main-contents-wrap">
                <!-- 키워드 검색 탭 컨텐츠 start -->
                <div class="main-contents keyword-search" [ngClass]="{active:selectedTabName == 'keyword'}">
                    <form (submit)="onSubmitKeywordSearch(searchKeyword)">
                        <div class="search-box">
                            <input type="search" [(ngModel)]="searchKeyword" [ngModelOptions]="{standalone: true}">
                            <button type="submit" (click)="onSubmitKeywordSearch(searchKeyword)">
                                <img src="assets/images/svg/ic_search_purple_48.svg" alt="검색">
                            </button>
                        </div>
                        <div class="trend-keyword">
                            <p>실시간 트렌드</p>
                            <ul>
                                <li *ngFor="let keyword of display_data.trend_keywords;"
                                (click)="onClickTrendKeyword(keyword)"
                                >{{keyword}}</li>
                            </ul>
                        </div>
                    </form>
                    <div class="keyword-search-result">
                        <div class="main-contents-title">
                            <h3>키워드 검색</h3>
                            <span class="title-description">예시 키워드로 분석한 결과입니다.</span>
                        </div>
                        <div class="keyword-title">
                            <strong>{{searchResult.keyword}}</strong>
                        </div>
                        <ul class="keyword-category">
                            <li *ngFor="let category of searchResult.categories; let idx=index">
                                {{category}}
                                <span *ngIf="searchResult.categories.length-1 != idx">></span>
                            </li>
                        </ul>
                        <ul class="shopingmall">
                            <li  *ngFor="let site of searchResult.sites" >
                                <a [href]="site.url" target="_blank">
                                    <img [src]="site.img_url" [alt]="site.name"/>
                                    {{site.name}}
                                </a>
                            </li>
                        </ul>
                        <div class="product-count box">
                            <div class="box-header">상품 수</div>
                            <div class="count-number">
                                <strong>{{searchResult.goods_count | number}}</strong>
                                <span>개</span>
                            </div>
                        </div>
                    <div class="search-count box">
                        <div class="box-header">한 달 검색 수</div>
                        <div class="count-number">
                            <strong>{{searchResult.search_count_day | number}}</strong>
                            <span>회</span>
                        </div>
                    </div>
                    <div class="device-search-count box">
                        <div class="box-header">기기별 검색 비율</div>
                        <div class="graph"></div>
                    </div>
                    <div class="age-group-wrap">
                        <div class="age-group box" *ngFor="let info of searchResult.personal_info">{{info}}</div>
                        <span>이 모바일에서 많이 찾은 키워드입니다.</span>
                    </div>
                    <div class="trend-change">
                        <div class="date-wrap">
                            <button class="start-date">
                                <img src="assets/images/svg/ic_calendar_purple_32.svg" alt="달력">
                                <span>2022.02.01</span>
                            </button>
                            <span> - </span>
                            <button class="end-date">
                                <img src="assets/images/svg/ic_calendar_purple_32.svg" alt="달력">
                                <span>2022.03.01</span>
                            </button>
                            <button class="date-apply-btn">적용</button>
                        </div>
                        <div class="trend-change-box box">
                            <div class="box-header">
                                클릭/검색 트렌드 변화
                                <div class="help-tool-tip search-trends">
                                    <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                                </div>
                            </div>
                            <div class="color-guide">
                                <span>클릭 트렌드</span>
                                <span>검색 트렌드</span>
                            </div>
                            <div class="graph"></div>
                        </div>
                    </div>
                    <div class="click-weight box">
                        <div class="box-header">
                            연령별 클릭 비중
                            <div class="help-tool-tip click-rate">
                                <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                            </div>
                        </div>
                        <div class="click-weight-date">
                            <span class="start-date">2022.02.01</span>
                            -
                            <span class="end-date">2022.03.01</span>
                        </div>
                        <div class="graph"></div>
                    </div>
                    <div class="popular-search box">
                        <div class="box-header">
                            <strong class="now-keyword">{{searchResult.keyword}}</strong> 
                            인기검색어
                            <div class="help-tool-tip popular-search-tip">
                                <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                            </div>
                        </div>
                        <div class="popular-search-date">
                            <span class="start-date">2022.02.01</span>
                            -
                            <span class="end-date">2022.03.01</span>
                        </div>
                        <div class="popular-search-ranking">
                            <ol>
                                <ng-container *ngFor="let hotRanking of searchResult.hot_ranking; let idx = index">
                                    <li *ngIf="idx < 5">
                                        <a>{{hotRanking}}</a>
                                    </li>
                                </ng-container>
                            </ol>
                            <ol>
                                <ng-container *ngFor="let hotRanking of searchResult.hot_ranking; let idx = index">
                                    <li *ngIf="idx > 4">
                                        <a>{{hotRanking}}</a>
                                    </li>
                                </ng-container>
                            </ol>
                        </div>
                    </div>
                    <button class="datail-analysis" routerLink="/main/section/search-keyword" [queryParams]="{keyword: searchKeyword}">
                        더 자세한 분석 보러 가기
                        <img src="assets/images/svg/ic_arrow_right_black_32.svg" alt="">
                    </button>
                </div>
            </div>
            <!-- //키워드 검색 탭 컨텐츠 end -->
            <!-- 상품순위 검색 start -->
            <div class="main-contents ranking-search" [ngClass]="{active:selectedTabName == 'rank'}" >
                <div class="search-box">
                    <form>
                        <input type="text" [(ngModel)]="rankSearchStore" [ngModelOptions]="{standalone: true}" class="keyword-store" value="제주농부">
                        <input type="search" [(ngModel)]="rankSearchKeyword" [ngModelOptions]="{standalone: true}" class="keyword-searching" value="망고">
                        <button type="submit" (click)="onSubmitRankSearch(rankSearchStore, rankSearchKeyword)">
                            <img src="assets/images/svg/ic_search_purple_48.svg" alt="검색">
                        </button>
                    </form>
                </div>
                <div class="ranking-search-result">
                    <div class="main-contents-title">
                        <h3>상품순위 검색</h3>
                        <span class="title-description" *ngIf="isSampledata">샘플 스토어, 키워드 순위 결과입니다.</span>
                    </div>
                    <tb-goods-infobox-view
                        *ngFor="let data of rankSearchResult;"
                        [data]="data"
                        [isShowTrackingBtn]="true"
                        [alignTackingBtn]="'bottom'"
                    ></tb-goods-infobox-view>
                    <button class="datail-analysis" routerLink="/main/section/ranking-search" [queryParams]="{keyword: searchKeyword}">
                        더 자세한 순위 검색하러 가기
                        <img src="assets/images/svg/ic_arrow_right_black_32.svg" alt="">
                    </button>
                </div>
            </div>
            <!-- //상품순위 검색 end -->
        </div>
        <!-- //탭 컨텐츠 영역 end -->
        </section>
    </div>
    <!--// contents end -->
</div>