<!-- 포인트 내역 -->

<div class="point-history-wrap" *ifDesktop>
    <div class="point-history-box box">
        <point-query-form
            [itemCount]="itemCount"
            (query)="reloadWithQuery($event)">
        </point-query-form>
        <!-- 충전내역리스트 { -->
        <div class="point-table">
            <data-table #bsDatatable
                headerTitle="datatable"
                [header]="false"
                [items]="items"
                [itemCount]="itemCount"
                [isShowItemCount]="false" 
                [indexColumn]="false"
                [selectColumn]="false"
                [tableWidth]="'1160px'"
                [isShowEmptyContent]="true"
                [sortBy] = "'regist_date'"
                [limit]="10"
                (reload)="reloadItems($event)"
                >
                <data-table-column
                    [property]="'regist_date'"
                    [header]="'적용일'"
                    [sortable]="false"
                    [width]="142">
                    <ng-template #dataTableCell let-item="item">
                        <div class="table-td">
                            {{item.regist_date | date: 'yyyy-MM-dd'}}
                        </div>
                    </ng-template>
                </data-table-column>
                    
                <data-table-column
                    [property]="'point_type'"
                    [header]="'구분'"
                    [sortable]="false"
                    [align]="'left'"
                    [width]="116">
                    <ng-template #dataTableCell let-item="item">
                        <div class="table-td">
                            <span *ngIf="item.point_type == 'charge'">충전 포인트</span>
                            <span *ngIf="item.point_type == 'free'">무료 포인트</span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'goods_contents'"
                    [header]="'내용'"
                    [sortable]="false"
                    [width]="612">
                    <ng-template #dataTableCell let-item="item">
                        <div class="table-td keyword-contents">
                            <!-- 사용/취소 -->
                            <div class="keyword-product keyword-buy"  *ngIf="item.state == 'use' || item.state == 'cancel'">
                                <!-- A -->
                                <img *ngIf="item?.product?.product_type == 'A' && item?.product?.product_period == 7" src="assets/images/subscription/ic_product_a_d7_24.png" alt="">
                                <img *ngIf="item?.product?.product_type == 'A' && item?.product?.product_period == 15" src="assets/images/subscription/ic_product_a_d15_24.png" alt="">
                                <img *ngIf="item?.product?.product_type == 'A' && item?.product?.product_period == 30" src="assets/images/subscription/ic_product_a_d30_24.png" alt="">
                                <img *ngIf="item?.product?.product_type == 'A' && item?.product?.product_period == 90" src="assets/images/subscription/ic_product_a_d90_24.png" alt="">
                                <!-- B -->
                                <img *ngIf="item?.product?.product_type == 'B' && item?.product?.product_period == 7" src="assets/images/subscription/ic_product_b_d7_24.png" alt="">
                                <img *ngIf="item?.product?.product_type == 'B' && item?.product?.product_period == 15" src="assets/images/subscription/ic_product_b_d15_24.png" alt="">
                                <img *ngIf="item?.product?.product_type == 'B' && item?.product?.product_period == 30" src="assets/images/subscription/ic_product_b_d30_24.png" alt="">
                                <img *ngIf="item?.product?.product_type == 'B' && item?.product?.product_period == 90" src="assets/images/subscription/ic_product_b_d90_24.png" alt="">
                                <!-- C -->
                                <img *ngIf="item?.product?.product_type == 'C' && item?.product?.product_period == 7" src="assets/images/subscription/ic_product_c_d7_24.png" alt="">
                                <img *ngIf="item?.product?.product_type == 'C' && item?.product?.product_period == 15" src="assets/images/subscription/ic_product_c_d15_24.png" alt="">
                                <img *ngIf="item?.product?.product_type == 'C' && item?.product?.product_period == 30" src="assets/images/subscription/ic_product_c_d30_24.png" alt="">
                                <img *ngIf="item?.product?.product_type == 'C' && item?.product?.product_period == 90" src="assets/images/subscription/ic_product_c_d90_24.png" alt="">
                                <div class="keyword-description">
                                    <strong>키워드 구매</strong>
                                    <p>
                                        <span class="keyword">{{item.product.keyword}}</span>
                                        {{item.product.goods.goods_name}}
                                    </p>
                                </div>
                            </div>
                            <!-- 만료 -->
                            <div class="keyword-product" *ngIf="item.state == 'expired'">
                                <div class="keyword-description">
                                    <strong>기간 만료</strong>
                                    <p>
                                        {{item.memo}} 유효기간 만료
                                    </p>
                                </div>
                            </div>
                            <!-- 적립 -->
                            <div class="keyword-product" *ngIf="item.state == 'charge'">
                                <div class="keyword-description" *ngIf="item.point_type == 'free'">
                                    <strong>적립</strong>
                                    <p>
                                        {{item.memo}}
                                    </p>
                                </div>
                                <div class="keyword-description" *ngIf="item.point_type == 'charge'">
                                    <strong>충전</strong>
                                    <p>
                                        {{item.memo}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'status'"
                    [header]="'상태'"
                    [sortable]="false"
                    [width]="74">
                    <ng-template #dataTableCell let-item="item">
                        <div class="table-td">
                            <strong *ngIf="item.state == 'use'">사용</strong> 
                            <strong *ngIf="item.state == 'charge'">적립</strong>
                            <strong *ngIf="item.state == 'cancel'">취소</strong>
                            <strong *ngIf="item.state == 'expired'">만료</strong>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'point'"
                    [header]="'금액'"
                    [sortable]="false"
                    [width]="118">
                    <ng-template #dataTableCell let-item="item">
                        <div class="table-td">
                            <span class="down" *ngIf="item.action == 'minus'">-{{item.point | number}}P</span>
                            <span class="up" *ngIf="item.state !== 'expired' && item.action == 'plus'">+{{item.point | number}}P</span>
                            <span *ngIf="item.state == 'expired' && item.action == 'plus'">0</span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'point_period'"
                    [header]="'유효기간'"
                    [sortable]="false"
                    [width]="98">
                    <ng-template #dataTableCell let-item="item">
                        <div class="table-td">
                            <span *ngIf="item.point_type == 'charge'">-</span>
                            <div *ngIf="item.point_type == 'free'">
                                <span class="period">1개월</span>
                                <div class="period-description">
                                    <span> ~ {{item.expire_date | date: 'yyyy-MM-dd'}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </data-table-column>
                <ng-template #emptyContentTemplate>
                    <div class="point-history-empty">
                        <img src="assets/images/mypage/img_attention_gray_64.png" alt="">
                        <p>포인트 사용 내역이 없습니다.</p>
                    </div>
                </ng-template>
            </data-table>   
        </div>
    </div>
</div>
<!-- Mobile -->
<div class="mobile" id="wrap" *ifMobile>
    <form [formGroup]="bsForm" (submit)="reloadWithQuery(bsForm.value)">
        <!-- 포인트 내역 start -->
        <div class="point-history-wrap">
            <div class="point-history-contents-wrap">
                <div class="point-history-contents">
                    <div class="point-history-option">
                        <div class="selectbox">
                            <select class="label" formControlName="state" (change)="reloadWithQuery(bsForm.value)">
                                <option value="">전체</option>
                                <option value="use">사용</option>
                                <option value="cancel">취소</option>
                                <option value="charge">적립</option>
                                <option value="expired">만료</option>
                            </select>
                        </div>
                        <button type="button" class="filter-btn" (click)="onClickSearchFilter()">
                            <img src="assets/images/svg/ic_sorting_purple_32.svg" alt="필터">
                        </button>
                    </div>
                    <div class="point-history-empty" *ngIf="isEmpty">
                        <img src="assets/images/svg/img_attention_gray_64.svg" alt="!">
                        <p>포인트 내역이 없습니다.</p>
                    </div>
                    <!-- list item -->
                    <div *ngIf="items && items.length > 0">
                        <div class="point-history-card" *ngFor="let item of items">
                            <div class="point-card-header">
                                <span class="card-date">{{item.regist_date | date: 'yyyy-MM-dd'}}</span>
                                <span class="point-type" *ngIf="item.state == 'use'">사용</span>
                                <span class="point-type" *ngIf="item.state == 'cancel'">취소</span>
                                <span class="point-type" *ngIf="item.state == 'charge'">적립</span>
                                <span class="point-type" *ngIf="item.state == 'expired'">만료</span>
                            </div>

                            <!-- 취소 / 사용 -->
                            <div class="point-card-contents" *ngIf="item.state == 'use' || item.state == 'cancel'">
                                <div class="keyword-purchase">
                                    <div class="keyword-product-wrap">
                                        <span class="point-card-title">키워드 구매</span>
                                        <div class="keyword-product">
                                            <span class="point-card-keyword">{{item.keyword}}</span>
                                            <p>{{item.goods_name}}</p>
                                        </div>
                                    </div>
                                    <!-- A -->
                                    <img *ngIf="item?.product?.product_type == 'A' && item?.product?.product_period == 7" src="assets/images/subscription/ic_product_a_d7_24.png" alt="">
                                    <img *ngIf="item?.product?.product_type == 'A' && item?.product?.product_period == 15" src="assets/images/subscription/ic_product_a_d15_24.png" alt="">
                                    <img *ngIf="item?.product?.product_type == 'A' && item?.product?.product_period == 30" src="assets/images/subscription/ic_product_a_d30_24.png" alt="">
                                    <img *ngIf="item?.product?.product_type == 'A' && item?.product?.product_period == 90" src="assets/images/subscription/ic_product_a_d90_24.png" alt="">
                                    <!-- B -->
                                    <img *ngIf="item?.product?.product_type == 'B' && item?.product?.product_period == 7" src="assets/images/subscription/ic_product_b_d7_24.png" alt="">
                                    <img *ngIf="item?.product?.product_type == 'B' && item?.product?.product_period == 15" src="assets/images/subscription/ic_product_b_d15_24.png" alt="">
                                    <img *ngIf="item?.product?.product_type == 'B' && item?.product?.product_period == 30" src="assets/images/subscription/ic_product_b_d30_24.png" alt="">
                                    <img *ngIf="item?.product?.product_type == 'B' && item?.product?.product_period == 90" src="assets/images/subscription/ic_product_b_d90_24.png" alt="">
                                    <!-- C -->
                                    <img *ngIf="item?.product?.product_type == 'C' && item?.product?.product_period == 7" src="assets/images/subscription/ic_product_c_d7_24.png" alt="">
                                    <img *ngIf="item?.product?.product_type == 'C' && item?.product?.product_period == 15" src="assets/images/subscription/ic_product_c_d15_24.png" alt="">
                                    <img *ngIf="item?.product?.product_type == 'C' && item?.product?.product_period == 30" src="assets/images/subscription/ic_product_c_d30_24.png" alt="">
                                    <img *ngIf="item?.product?.product_type == 'C' && item?.product?.product_period == 90" src="assets/images/subscription/ic_product_c_d90_24.png" alt="">
                                </div>
                                <div class="point-card-con-list">
                                    <span class="point-card-title" *ngIf="item.point_type == 'charge'">충전 포인트</span>
                                    <span class="point-card-title" *ngIf="item.point_type == 'free'">무료 포인트</span>
                                    <strong class="point-reduction" *ngIf="item.action == 'minus'">
                                        <span>-{{item.point | number}}</span> P
                                    </strong>
                                    <strong class="point-increase" *ngIf="item.action == 'plus'">
                                        <span>+{{item.point | number}}</span> P
                                    </strong>
                                </div>
                            </div>

                            <!-- 만료 -->
                            <div class="point-card-contents" *ngIf="item.state == 'expired'">
                                <div class="point-card-con-list">
                                    <span class="point-card-title">기간 만료</span>
                                    <p>{{item.memo}}</p>
                                </div>
                                <div class="point-card-con-list">
                                    <span class="point-card-title">무료 포인트</span>
                                    <strong class="point-reduction" *ngIf="item.action == 'minus'">
                                        <span>-{{item.point | number}}</span> P
                                    </strong>
                                    <strong class="point-increase" *ngIf="item.action == 'plus'">
                                        <span>+{{item.point | number}}</span> P
                                    </strong>
                                </div>
                            </div>

                            <!-- 적립 -->
                            <div class="point-card-contents" *ngIf="item.state == 'charge'">
                                <div *ngIf="item.point_type == 'free'">
                                    <div class="point-card-con-list">
                                        <span class="point-card-title">적립</span>
                                        <p>{{item.memo}}</p>
                                    </div>
                                    <div class="point-card-con-list">
                                        <span class="point-card-title">무료 포인트</span>
                                        <strong class="point-increase" *ngIf="item.action == 'plus'">
                                            <span>+{{item.point | number}}</span> P
                                        </strong>
                                    </div>
                                    <div class="point-card-con-list">
                                        <span class="point-card-title">유효기간</span>
                                        <p class="expiration-date"> ~ {{item.expire_date | date: 'yyyy-MM-dd'}}</p>
                                    </div>
                                </div>
                                <div *ngIf="item.point_type == 'charge'">
                                    <div class="point-card-con-list">
                                        <span class="point-card-title">충전</span>
                                        <p>{{item.memo}}</p>
                                    </div>
                                    <div class="point-card-con-list">
                                        <span class="point-card-title">충전 포인트</span>
                                        <strong class="point-increase" *ngIf="item.action == 'plus'">
                                            <span>+{{item.point | number}}</span> P
                                        </strong>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="point-more-btn" (click)="onClickLoad10MoreItems()" *ngIf="itemCount > items.length">
                        <span>10개 더 보기</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- 포인트 내역 end -->
        <!-- 필터 팝업 start -->
        <div class="m-popup filter-popup" [ngClass]="{active: isShowSearchFilter}">
            <div class="m-popup-box">
                <div class="popup-header">
                    <h3>필터</h3>
                    <button class="close-btn" (click)="isShowSearchFilter = false">
                        <img src="assets/images/svg/ic_close_bold_purple_40.svg" alt="닫기 버튼">
                    </button>
                </div>
                <div class="filter-calendar-wrap">
                    <h3>조회 기간</h3>
                    <bo-period-query [formGroup]="bsForm" [name]="'period'" [hasButtons]="true" [hasTodayBtn]="false" [has3DaysBtn]="false" [has3MonthBtn]="true">
                        <bo-period-query-option-config [value]="'regist_date'" [label]="'유효기간'">
                        </bo-period-query-option-config>
                    </bo-period-query>
                </div>
                <div class="filter-btn-wrap">
                    <button type="button" class="filter-reset-btn" (click)="onClickResetFilter()">초기화</button>
                    <button class="filter-application-btn" (click)="onSubmit(bsForm.value)">적용</button>
                </div>
            </div>
        </div>
        <!-- //필터 팝업 end -->
    </form> 
</div>
