<!-- <div class="modal-dialog modal-lg custom ns-regular">
    <div class="modal-content"> -->
<div  *ifDesktop class="dialog custom">
    <div class="modal-header ns-regular custom">
        {{title}}
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true"><img src="/assets/img/LP_X.png" /></span>
        </button>
    </div>
    <div class="modal-body ns-regular custom">
        <ng-container *ngTemplateOutlet="template"></ng-container>
        <div class="type-btn-area" *ngIf="btnCancelText != null">
            <div class="my-horizontal normal-btn">
                <button class="black-btn" type="submit" (click)="onOk()">{{btnOkText}}</button>
            </div>
            <div class="my-horizontal normal-btn">
                <button class="white-btn" type="button" (click)="onCancel()">{{btnCancelText}}</button>
            </div>
        </div>
        <div class="type-btn-area" *ngIf="btnCancelText == null">
            <div class="my-horizontal normal-btn full-btn">
                <button class="black-btn" type="submit" (click)="onOk()">{{btnOkText}}</button>
            </div>
        </div>
    </div>
</div>

    <!-- </div>
</div> -->

<div  *ifMobile class="mobile dialog custom">
    <div class="modal-header ns-regular custom">
        {{title}}
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true"><img src="/assets/img/X_bold.png" /></span>
        </button>
    </div>
    <div class="modal-body ns-regular" >
        <ng-container *ngTemplateOutlet="template"></ng-container>
        <div class="type-btn-area" *ngIf="btnCancelText != null">
            <div class="my-horizontal normal-btn">
                <button class="white-btn" type="button" (click)="onCancel()">{{btnCancelText}}</button>
            </div>
            <div class="my-horizontal modal-btn" *ngIf="btnOkText != null">
                <button class="black-btn red" type="submit" (click)="onOk()">{{btnOkText}}</button>
            </div>
        </div>
        <div class="type-btn-area" *ngIf="btnCancelText == null">
            <div class="my-horizontal modal-btn full-btn" *ngIf="btnOkText != null">
                <button class="black-btn" type="submit" (click)="onOk()">{{btnOkText}}</button>
            </div>
        </div>
    </div>
</div>

