<div class="dialog">
    <div class="modal-content" style="width:400px;">
        <div class="modal-header ns-regular custom">
            {{title}}
            <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
                <span aria-hidden="true"><img src="/assets/img/LP_X.png" /></span>
            </button>
        </div>
        <div class="modal-body ns-regular">
            <form [formGroup]="form" class="form-area" >
                <div class="form-box">
                    <div class="form-item" style="padding-left:20px;">
                        <div class="form-title" style="vertical-align: text-bottom;">템플릿 선택</div>
                        <bs-select *ngIf="type == 'order'" [name]="'seq'"
                            [formGroup]="form"
                            [optionApiUrl]="'admin/media/download/exceldownload?gb=ORDER'"
                            [optionValueField]="'seq'"
                            [optionLabelField]="'name'"
                            [allowUnselected]="false">
                        </bs-select>
                        <bs-select *ngIf="type == 'export'" [name]="'seq'" [formGroup]="form" [allowUnselected]="false">
                            <bs-option-config [value]="'EXPORT'" [label]= "'출고번호별 목록'"></bs-option-config>
                            <bs-option-config [value]="'ITEM'" [label]= "'상품별 목록'"></bs-option-config>
                        </bs-select>
                    </div>
                </div>
                <div class="type-btn-area" *ngIf="btnCancelText != null">
                    <div class="my-horizontal">
                        <button class="black-btn" type="submit" (click)="onOk()">{{btnOkText}}</button>
                        <button class="white-btn" type="button" (click)="onCancel()">{{btnCancelText}}</button>
                    </div>
                </div>
                <div class="type-btn-area" *ngIf="btnCancelText == null">
                    <div class="my-horizontal modal-btn">
                        <button class="black-btn" type="submit" (click)="onOk()">{{btnOkText}}</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
