
/* 도움말 툴팁 */
.help-tool-tip.telegram-token::after {
    content: "텔레그램으로 이용 중인 상품의 안내 메시지를\A 실시간으로 받으실 수 있습니다.\A 메시지를 받으시려면 텔레그램 봇을 생성해주시고,\A 생성 완료 시에 발행되는 API 토큰값을 입력해주세요.\A 한 번 생성된 토큰값은 /mybots 명령어를 통해\A 다시 확인할 수 있습니다.";
    transform: translateX(-43%);
}

.help-tool-tip.telegram-token {
    z-index: 999;
}


/* 셀렉트 박스 스타일 */
.selectbox {
    float: right;
    position: relative;
}
.selectbox .label {
    width: 131px;
    height: 40px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: #3e4259;
    background: #fff url('assets/images/mypage/ic_unfold_black_24.png') 100px center no-repeat;
    border-radius: 8px;
    border: 1px solid #dcdee8;
    padding-left: 16px;
}
.selectbox.active .label {
    background: #fff url('assets/images/mypage/ic_fold_black_24.png') 100px center no-repeat;
}
.selectbox ul {
    display: none;
    position: absolute;
    left: 0;
    top: 39px;
    width: 131px;
    border: 1px solid #dcdee8;
    border-radius: 8px;
    box-shadow: 0 3px 13px 0 rgba(36, 51, 179, 0.1);
    background: #fff;
    z-index: 10;
}
.selectbox.active ul {
    display: block;
}
.selectbox ul li {
    width: 100%;
    height: 40px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: #3e4259;
    line-height: 40px;
    padding-left: 16px;
    cursor: pointer;
}
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* 컨텐츠 타이틀 영역 */
.title-area {
    align-items: center;
    margin-top: 172px;
}
.title-area .title {
    background: url('assets/images/mypage/ic_setting_purple_40.png') left center no-repeat;
}
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* 비밀번호 확인 */
.web .password-confirm-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1240px;
    height: 435px;
}
.web .password-confirm-area .password-request {
    font-size: 22px;
    font-weight: 500;
    color: #3f37c9;
}
.web .password-confirm-area .password-explanation {
    font-size: 18px;
    font-weight: normal;
    color: #3e4259;
    margin-top: 18px;
    margin-bottom: 56px;
}
.web .password-confirm-area form {
    position: relative;
}
.web .password-confirm-area form label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #3e4259;
    padding-left: 24px;
    margin-bottom: 11px;
}
.web .password-confirm-area form input {
    width: 438px;
    height: 54px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    border-radius: 16px;
    box-shadow: 0 6px 6px 0 rgba(36, 51, 179, 0.1);
    background: #fff;
    outline: 0;
    border: 0;
    padding: 16px 64px 16px 24px;
    box-sizing: border-box;
}
.web .password-confirm-area form input::placeholder {
    color: #b8b6c4;
}
.web .password-confirm-area form button[type="submit"] {
    display: block;
    width: 438px;
    height: 54px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 16px;
    background: #3f37c9;
    margin-top: 40px;
}
.web .password-confirm-area form .password-look {
    position: absolute;
    right: 16px;
    top: 39px;
    width: 32px;
    height: 32px;
    background: url('assets/images/mypage/ic_hide_gray_32.png') center no-repeat;
}
.web .password-confirm-area form .password-look.on {
    background: url('assets/images/mypage/ic_view_gray_32.png') center no-repeat;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* 비밀번호 변경 폼 */
.password-change-area {
    width: 1240px;
    padding: 97px 268px 0;
}
.password-change-area form > div {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 48px;
}
.password-change-area form > div:nth-child(5) {
    margin-bottom: 56px;
}
/* .password-change-area form > div:nth-child(2) label {
    margin-top: -29px;
}
.password-change-area form > div:nth-child(5) label {
    margin-top: -29px;
} */
.password-change-area form label {
    font-size: 18px;
    font-weight: 500;
    color: #3e4259;
    padding-top: 18px;
}
.password-change-area .telegram label {
    display: flex;
    align-items: center;
    padding-top: 0;
    height: 54px;
}
.password-change-area form input {
    width: 504px;
    height: 54px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    color: #3e4259;
    outline: 0;
    background: #fff;
    border: 0;
    border-radius: 16px;
    padding: 16px 24px;
    box-sizing: border-box;
    box-shadow: 0 6px 6px 0 rgba(36, 51, 179, 0.1);
}
.password-change-area form input::placeholder {
    color: #b8b6c4;
}
.password-change-area form span {
    display: block;
    font-size: 14px;
    color: #b8b6c4;
    padding-left: 24px;
    margin-top: 16px;
}
.password-change-area form .required label {
    position: relative;
}

/* .password-change-area form .required label::before {
    content: "";
    display: block;
    position: absolute;
    right: -18px;
    top: 23px;
    width: 8px;
    height: 8px;
    background: #e62e6b;
    border-radius: 50%;
} */
.password-change-area form .dis input {
    border: 1px solid #dcdee8;
    background: #f2f3fa;
}
.password-change-area form .required .password-look {
    position: absolute;
    right: 15px;
    top: 11px;
    width: 32px;
    height: 32px;
    background: url('assets/images/mypage/ic_hide_gray_32.png') center no-repeat;
}
.password-change-area form .required .password-look.on {
    background: url('assets/images/mypage/ic_view_gray_32.png') center no-repeat;
}
.password-change-area form .btn-wrap .cancel-btn {
    width: 340px;
    height: 54px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 54px;
    border-radius: 16px;
    background: #b8b6c4;
}
.password-change-area form .btn-wrap .modify-btn {
    width: 340px;
    height: 54px;
    font-family: 'Spoqa Han Sans Neo';
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    color: #fff;
    background: #3f37c9;
}
.password-change-area form .btn-wrap .modify-btn:disabled {
    color: #b8b6c4;
    background: #dcdee8;
}
.password-change-area form .required input.valid,
.password-change-area form .email input.valid,
.password-change-area form .telegram input.valid {
    border: 1px solid #1cd9b9;
}
.password-change-area form input.invaild {
    border: 1px solid #de3c33;
}
.password-change-area form span.error-description {
    color: #de3c33;
}

/* ================================================================== */
/* ================================================================== */
/* Mobile CSS */

/* 툴팁 스타일 */
.mobile .help-tool-tip {
    position: relative;
    width: 2.0rem;
    height: 2.0rem;
}
.mobile .help-tool-tip::before {
    content: "";
    display: none;
    position: absolute;
    left: -9.5rem;
    top: 2.7rem;
    width: 0px;
    height: 0px;
    border-bottom: 0.8rem solid #3e4259d5;
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
}
.mobile .help-tool-tip::after {
    display: none;
    position: absolute;
    left: 0;
    top: 3.5rem;
    width: max-content;
    padding: 1.0rem 1.6rem;
    background: #3e4259d5;
    font-size: 1.2rem;
    text-align: left;
    font-weight: normal;
    color: #fff;
    line-height: 1.29;
    white-space:pre;
    transform: translateX(-41%);
    border-radius: 12px;
    z-index: 10;
}
.mobile .help-tool-tip:hover::before,
.mobile .help-tool-tip:hover::after {
    display: block;
}
.mobile .help-tool-tip.telegram-api-tip::after {
    content: "텔레그램으로 이용 중인 상품의 안내 메시지를 \A 실시간으로 받으실 수 있습니다. 메시지를 \A 받으시려면 텔레그램 봇을 생성해주시고, \A 생성 완료 시에 발행되는 API 토큰값을 입력해주세요. \A 한 번 생성된 토큰값은 /mybots 명령어를 통해 \A 다시 확인할 수 있습니다.";
}

/* 비밀번호 확인 */
.mobile .password-confirm-wrap {
    padding: 0 1.6rem;
}
.mobile .password-confirm-wrap .guide-title {
    font-size: 1.6rem;
    font-weight: 500;
    color: #3f37c9;
    text-align: center;
    margin-top: 5.0rem;
    margin-bottom: 1.6rem;
}
.mobile .password-confirm-wrap .guide-text {
    font-size: 1.4rem;
    font-weight: normal;
    color: #b8b6c4;
    line-height: 1.29;
    text-align: center;
    margin-bottom: 4.0rem;
}

/* 비밀번호 입력창 */
.mobile .password-confirm-area {
    position: relative;
}
.mobile .password-confirm-area label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: #3e4259;
    padding-left: 1.6rem;
}
.mobile .password-confirm-area input {
    width: 100%;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: normal;
    color: #04021f;
    line-height: 4.4rem;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 6.4rem 0 1.6rem;
    box-shadow: 0 3px 6px 0 rgba(36, 51, 179, 0.1);
    box-sizing: border-box;
    margin-top: 1.0rem;
}
.mobile .password-confirm-area input::placeholder {
    color: #b8b6c4;
}
.mobile .password-confirm-area .security-btn {
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    right: 1.4rem;
    top: 3.0rem;
    background: url('assets/images/svg/ic_visible_off_gray_32.svg') center no-repeat;
}
.mobile .password-confirm-area .confirm-btn {
    width: 100%;
    height: 4.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    line-height: 4.4rem;
    background: #3f37c9;
    border-radius: 8px;
    margin-top: 2.4rem;
}
/* 비밀번호 확인 */
.mobile .my-info-edit-wrap {
    position: relative;
    margin-top: 3.4rem;
    padding: 0 1.6rem;
}
.mobile .my-info-edit-wrap form > div {
    position: relative;
    margin-top: 1.8rem;
}
.mobile .my-info-edit-wrap form > div label {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #3e4259;
    margin-bottom: 1.0rem;
    padding-left: 1.6rem;
}
.mobile .my-info-edit-wrap form > div label img {
    width: 2.0rem;
    height: 2.0rem;
    margin-left: 0.2rem;
}
.mobile .my-info-edit-wrap form > div input {
    width: 100%;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: normal;
    color: #04021f;
    line-height: 4.4rem;
    background: #fff;
    border: none;
    outline: none;
    padding: 0 1.6rem;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(36, 51, 179, 0.1);
    box-sizing: border-box;
}
.mobile .my-info-edit-wrap form > div input[type="password"] {
    padding: 0 5.4rem 0 1.6rem;
}
.mobile .my-info-edit-wrap form > div input:disabled {
    color: #3e4259;
    background: #f2f3fa;
    border: 1px solid #dcdee8;
}
.mobile .my-info-edit-wrap form > div input::placeholder {
    color: #b8b6c4;
}
.mobile .my-info-edit-wrap form > div .explanation {
    font-size: 1.2rem;
    font-weight: normal;
    color: #b8b6c4;
    margin-top: 0.8rem;
    padding-left: 1.6rem;
}
.mobile .my-info-edit-wrap form .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.8rem;
    margin-bottom: 6.4rem;
}
.mobile .my-info-edit-wrap form .btn-wrap button {
    width: 15.6rem;
    height: 4.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 4.4rem;
    border-radius: 8px;
    padding: 0;
}
.mobile .my-info-edit-wrap form .btn-wrap button.cancel-btn {
    color: #fff;
    background: #b8b6c4;
    margin-right: 1.6rem;
}
.mobile .my-info-edit-wrap form .btn-wrap button.modify-btn {
    color: #fff;
    background: #3f37c9;
}
.mobile .my-info-edit-wrap form .btn-wrap button.modify-btn:disabled {
    color: #b8b6c4;
    background: #dcdee8;
}

.mobile .my-info-edit-wrap .security-btn {
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    right: 1.4rem;
    top: 3.0rem;
    background: url('assets/images/svg/ic_visible_off_gray_32.svg') center no-repeat;
}
.mobile .password-confirm-area .security-btn.on,
.mobile .my-info-edit-wrap .security-btn.on {
    background: url('assets/images/mypage/ic_view_gray_32.png') center no-repeat;
}

/* error 스타일 */
.my-info-edit-wrap .my-password input.invaild,
.my-info-edit-wrap .my-password-confirm input.invaild,
.my-info-edit-wrap .my-email input.invaild,
.my-info-edit-wrap .telegram-api input.invaild {
    border: 1px solid #de3c33;
}
/* .my-info-edit-wrap .my-password p.error-description,
.my-info-edit-wrap .my-password-confirm p.error-description,
.my-info-edit-wrap .my-email p.error-description,
.my-info-edit-wrap .telegram-api p.error-description {
    color: #de3c33;
} */

.mobile .my-info-edit-wrap form > div input.valid {
    border: 1px solid #1cd9b9;
}
.mobile .my-info-edit-wrap form > div input.invaild {
    border: 1px solid #de3c33;
}
.mobile .my-info-edit-wrap form > div p.error-description {
    color: #de3c33;
}