<div class="web" *ifDesktop>
    <!-- 컨텐츠 타이틀 영역 start -->
    <div class="title-area">
        <div class="title-wrap">
        <h2 class="title">회원 정보 수정</h2>
        </div>
        <nav>
        <ol class="location-history">
            <li routerLink="/main">HOME</li>
            <li routerLink="/main/section/mypage/home/point">마이페이지</li>
            <li>회원 정보 수정</li>
        </ol>
        </nav>
    </div>
    <!-- //컨텐츠 타이틀 영역 end -->

    <!-- 비밀번호 확인 start -->
    <div class="password-confirm-area" *ngIf="!confirmPw">
        <strong class="password-request">비밀번호를 한번 더 입력해주세요.</strong>
        <p class="password-explanation">회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인합니다.</p>
        <form>
            <div>
                <label for="password">비밀번호</label>
                <input [type]="isShowPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" id="password" placeholder="비밀번호">
                <button type="button" class="password-look" [ngClass]="{on:isShowPassword}" (click)="onClickShowPassword('bascic')"></button>
            </div>
            <button type="submit" (click)="onClickPasswordCheckBtn()" >확인</button>
        </form>
    </div>
    <!-- //비밀번호 확인 end -->

    <!-- phone 비밀번호 변경 폼 start -->
    <div class="password-change-area" *ngIf="confirmPw">
        <form [formGroup]="editProfileForm" (submit)="onSubmit()" autocomplete="off">
            <div class="dis">
                <label for="phone">아이디</label>
                <input type="number" name="phone" id="phone" [value]="userInfo.userId" autocomplte="nofill" readonly>
            </div>
            <div class="required">
                <label for="password-change">비밀번호 변경</label>
                <div>
                    <input [type]="isShowPassword ? 'text' : 'password'" id="password-change" 
                        autocomplete="new-password"
                        [ngClass]="{'invaild': fieldState['password_new']==FIELD_STATE_TYPE.INVALID, 'valid': fieldState['password_new']==FIELD_STATE_TYPE.VALID}"       
                        (keyup)="onKeyup('password_new', editProfileForm.value.password_new)"        
                        formControlName="password_new" 
                        placeholder="비밀번호" required>
                    <span class="description" 
                        *ngIf="fieldState['password_new'] !== FIELD_STATE_TYPE.VALID"
                        [ngClass]="{'error-description': fieldState['password_new']==FIELD_STATE_TYPE.INVALID}">8~15자 영문, 숫자, 특수문자(!, @, #, $, %,&,*)가 포함된 조합을 사용해주세요.</span>
                    <button type="button" class="password-look"  [ngClass]="{on: isShowPassword}" (click)="onClickShowPassword('bascic')"></button>
                </div>
            </div>
            <div class="required">
                <label for="password-change-confirm">비밀번호 변경 확인</label>
                <div>
                    <input [type]="isShowPasswordCheck ? 'text' : 'password'" 
                    autocomplete="new-password"
                    [(ngModel)]="passwordCheck" [ngModelOptions]="{standalone: true}"
                    (keyup)="onKeyup('passwordCheck', passwordCheck)"        
                    [ngClass]="{'invaild': fieldState['passwordCheck']==FIELD_STATE_TYPE.INVALID, 'valid': fieldState['passwordCheck']==FIELD_STATE_TYPE.VALID}"
                    id="password-change-confirm" placeholder="비밀번호 재입력" required>
                    <span class="error-description" *ngIf="fieldState['passwordCheck']==FIELD_STATE_TYPE.INVALID">비밀번호가 일치하지 않습니다.</span>
                    <button type="button" class="password-look" [ngClass]="{on: isShowPasswordCheck}" (click)="onClickShowPassword('check')"></button>
                </div>
            </div>
            <div class="email" *ngIf="loginIdType == 'phone'">
                <label for="email">이메일</label>
                <div>
                    <input type="email" formControlName="email" id="email" 
                        autocomplete="new-password"
                        [ngClass]="{'invaild': fieldState['email']==FIELD_STATE_TYPE.INVALID, 'valid': fieldState['email']==FIELD_STATE_TYPE.VALID}"
                        (keyup)="onKeyup('email', editProfileForm.value.email)"
                        placeholder="toprank@toprank.co.kr" required>
                    <span class="error-description" *ngIf="fieldState['email']==FIELD_STATE_TYPE.INVALID">올바른 이메일 형식이 아닙니다.</span>
                </div>
            </div>
            <div class="dis">
                <label for="nickname">프로필명</label>
                <input type="text" name="nickname" id="nickname" [value]="userInfo.userNickName" disabled>
            </div>
            <div class="dis">
                <label for="recommended-code">추천인 코드</label>
                <div>
                <input type="text" name="recommended-code" id="recommended-code" placeholder="추천인 코드" disabled>
                <span class="description">추천인 코드 입력 및 변경은 관리자에게 문의해주세요.</span>
                </div>
            </div>
            <div class="telegram">
                <label for="profile-name">
                    텔레그램 API 토큰값
                    <div class="help-tool-tip telegram-token">
                        <img src="assets/images/home/ic_help_gray_32.png" alt="도움말">
                    </div>      
                </label>
                <div>
                    <input type="text" class="telegram" formControlName="zipcode" placeholder="텔레그램 봇 생성 완료 시 발행되는 API 토큰값"
                        [ngClass]="{'invaild': fieldState['zipcode']==FIELD_STATE_TYPE.INVALID, 'valid': fieldState['zipcode']==FIELD_STATE_TYPE.VALID}"
                        (keyup)="onKeyup('zipcode', editProfileForm.value.zipcode)" id="profile-name">
                        <span class="error-description" *ngIf="fieldState['zipcode']==FIELD_STATE_TYPE.INVALID">올바른 텔레그램API 토큰값이 아닙니다.</span>
                </div>
            </div>
            <div class="btn-wrap">
                <a href="" routerLink="/main/section/mypage/home" class="cancel-btn">취소</a>
                <button class="modify-btn" [disabled]="!validCheck()">수정</button>
            </div>
        </form>
    </div>
    <!-- //비밀번호 변경 폼 end -->
</div>

<div class="mobile" *ifMobile>
    <!-- contents header start -->
    <div class="contents-header">
        <div class="contents-title">
            <img src="assets/images/svg/ic_setting_purple_40.svg" alt="">
            <h2>회원 정보 수정</h2>
        </div>
    </div>
    <!-- //contents header end -->
    <!-- 비밀번호 확인 start -->
    <div class="password-confirm-wrap" *ngIf="!confirmPw">
        <p class="guide-title">비밀번호를 한번 더 입력해주세요.</p>
        <p class="guide-text">
            회원님의 정보를 안전하게 보호하기 위해 <br>
            비밀번호를 다시 한번 확인합니다.
        </p>

        <!-- 비밀번호 입력창 start -->
        <div class="password-confirm-area">
            <form>
                <label for="password-confirm">비밀번호</label>
                <input [type]="isShowPassword ? 'text' : 'password'" [(ngModel)]="password"  id="password-confirm" name="password-confirm" placeholder="비밀번호">
                <button type="button" class="security-btn"  [ngClass]="{on:isShowPassword}" (click)="onClickShowPassword('bascic')"></button>
                <button type="submit" class="confirm-btn" (click)="onClickPasswordCheckBtn()" >확인</button>
            </form>
        </div>
        <!-- //비밀번호 입력창 end -->
    </div>
    <div class="my-info-edit-wrap" *ngIf="confirmPw">
        <form [formGroup]="editProfileForm" (submit)="onSubmit()" autocomplete="off">
            <div class="my-id">
                <label for="my-phone">아이디</label>
                <input type="number" id="my-phone" name="my-phone"  placeholder="" [value]="userInfo.userId" autocomplte="nofill" disabled>
            </div>
            <div class="my-password">
                <label for="my-password">비밀번호 변경</label>
                <input [type]="isShowPassword ? 'text' : 'password'"  id="my-password"
                    autocomplete="new-password" formControlName="password_new" 
                    [ngClass]="{'invaild': fieldState['password_new']==FIELD_STATE_TYPE.INVALID, 'valid': fieldState['password_new']==FIELD_STATE_TYPE.VALID}"       
                    (keyup)="onKeyup('password_new', editProfileForm.value.password_new)"        
                    name="my-password"  placeholder="비밀번호" >
                <button type="button" class="security-btn" [ngClass]="{on: isShowPassword}" (click)="onClickShowPassword('bascic')"></button>
                <p class="explanation" 
                    *ngIf="fieldState['password_new'] !== FIELD_STATE_TYPE.VALID"
                    [ngClass]="{'error-description': fieldState['password_new']==FIELD_STATE_TYPE.INVALID}">
                    8~15자 영문, 숫자, 특수문자(!, @, #, $, %,&,*)가 포함된 조합을 사용해주세요.
                </p>
            </div>
            <div class="my-password-confirm">
                <label for="my-password-confirm">비밀번호 변경 확인</label>
                <input [type]="isShowPasswordCheck ? 'text' : 'password'" 
                    [(ngModel)]="passwordCheck" 
                    [ngModelOptions]="{standalone: true}"
                    (keyup)="onKeyup('passwordCheck', passwordCheck)"        
                    [ngClass]="{'invaild': fieldState['passwordCheck']==FIELD_STATE_TYPE.INVALID, 'valid': fieldState['passwordCheck']==FIELD_STATE_TYPE.VALID}"
                    id="my-password-confirm" name="my-password-confirm"  placeholder="비밀번호 재입력">
                    <p class="explanation error-description" *ngIf="fieldState['passwordCheck']==FIELD_STATE_TYPE.INVALID">비밀번호가 일치하지 않습니다.</p>
                <button type="button" [ngClass]="{on: isShowPasswordCheck}" (click)="onClickShowPassword('check')" class="security-btn"></button>
            </div>
            <div class="my-email" *ngIf="loginIdType == 'phone'">
                <label for="my-email">이메일</label>
                <input type="email" id="my-email" name="my-email" 
                    formControlName="email"
                    [ngClass]="{'invaild': fieldState['email']==FIELD_STATE_TYPE.INVALID, 'valid': fieldState['email']==FIELD_STATE_TYPE.VALID}"
                    (keyup)="onKeyup('email', editProfileForm.value.email)"
                    placeholder="toprank@toprank.co.kr">
                    <p class="explanation error-description" *ngIf="fieldState['email']==FIELD_STATE_TYPE.INVALID">올바른 이메일 형식이 아닙니다.</p>
            </div>
            <div class="my-name">
                <label for="my-name">프로필 명</label>
                <input type="text" id="my-name" name="my-name"  placeholder="" [value]="userInfo.userNickName"  disabled>
            </div>
            <div class="my-recommended">
                <label for="my-recommended">추천인 코드</label>
                <input type="text" id="my-recommended" name="my-recommended"  placeholder="추천인 코드" value="" disabled>
                <p class="explanation">추천인 코드 입력 및 변경은 관리자에게 문의해주세요.</p>
            </div>
            <div class="telegram-api">
                <label for="telegram-api">
                    텔레그램 API 토큰값
                    <div class="help-tool-tip telegram-api-tip">
                        <img src="assets/images/svg/ic_help_gray_24.svg" alt="도움말">
                    </div>
                </label>
                <input type="text" id="telegram-api" formControlName="zipcode" 
                    placeholder="텔레그램 봇 생성 완료 시 발행되는 API 토큰값"
                    [ngClass]="{'invaild': fieldState['zipcode']==FIELD_STATE_TYPE.INVALID, 'valid': fieldState['zipcode']==FIELD_STATE_TYPE.VALID}"
                    (keyup)="onKeyup('zipcode', editProfileForm.value.zipcode)"  autocomplete='off'>
                <p class="explanation error-description" *ngIf="fieldState['zipcode']==FIELD_STATE_TYPE.INVALID">올바른 텔레그램API 토큰값이 아닙니다.</p>
            </div>

            <div class="btn-wrap">
                <button class="cancel-btn" routerLink="/main/section/mypage/home">취소</button>
                <button class="modify-btn" [disabled]="!validCheck()">수정</button>
            </div>
        </form>
    </div>
    <!-- //비밀번호 확인 end -->
</div>
