<div class="bo-header">
    <div class="crm-logo">
      <span>고객CRM</span>
      <div class="crm-bottom-line"></div>
    </div>
    <div class="header-icon">
      <img src={{imgUrl}}>
    </div>
    <div class="header-title">
      {{title}}
    </div>

    <div class="crm-header-btn" >
          <select class="form-selectbox header-selectbox search-input                                                        `   ">
          <option ></option>
          </select>
          <div class="item-horizontal">
              <input type="text" class="form-control crm-search-input item-horizontal" placeholder="이름, 아이디, 전화번호, 휴대폰, 이메일">
          </div>
          <button class="item-horizontal crm-btn"><img src="assets/img/crm/crm-header-search.svg"/></button>
    </div>
  </div> 